<div class="data-title"><h5 class="m-0">Change password</h5></div>

<div class="data-content">
  <div class="form-wrap">
    {% form 'reset_customer_password' %}
      <div class="form-fields">
        <label class="full-size">
          <input name="customer[old_password]" placeholder="Old password" type="password">
        </label>
        <label class="full-size">
          <input name="customer[new_password]" placeholder="New password" type="password">
        </label>
        <label class="full-size">
          <input name="customer[password_confirmation]" placeholder="Re-enter new password " type="password">
        </label>
      </div>

      <div class="submit-wrap">
        <div class="submit-form">
          <button class="main-btn" type="submit">Save</button>
        </div>
      </div>
    {% endform %}
  </div>
</div>