{% if isFlash %}
  {% assign linkAdd = '/products/curalin-pack?sale-handle=flash' %}
{% else %}
  {% assign linkAdd = '/products/curalin-pack' %}
{% endif %}

<div class="floating-cta">
  <a href="{{ linkAdd }}"><button class="btn-cta">Try Curalin</button></a>
</div>

<style>
  .btn-cta {
    border: none;
    background: {% if isFlash %}#FDD246 {% else %} #404733{% endif %};
    color: white;
    font-weight: 400;
    padding: 30px 60px;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 0 10px 20px #0000004d;
    transition: all var(--transition);
  }

  .btn-cta b {
    font-weight: 700;
  }

  .floating-cta {
    position: fixed;
    left: 20px;
    right: 0;
    bottom: 1.25rem;
    z-index: 20;
    pointer-events: none;
    transition: opacity var(--transition), visibility var(--transition)
  }

  .floating-cta .btn-cta {
    max-width: 18.375rem;
    font-size: 2.5rem;
    pointer-events: auto
  }

  .floating-cta:not(.show) {
    opacity: 0;
    visibility: hidden
  }

  .floating-cta:not(.show) .btn-cta {
    pointer-events: none
  }

  @media screen and (max-width: 991px) {
    .btn-cta {
      max-width: 29.0625rem;
      font-size: 1.375rem
    }

    .floating-cta .btn-cta {
      max-width: 15.625rem;
      font-size: 1.875rem
    }
  }

  @media screen and ( max-width: 768px) {

    .btn-cta {
      max-width: 19.25rem;
      padding: .5625rem .625rem;
      font-size: 1.125rem;
      font-weight: 400
    }

    .btn-cta b {
      font-weight: 700
    }
  }
</style>

  <!-- Floating CTA Style -->
<style>
      .btn-cta {
          border: none;
          background: {% if regColor %}#FDD246{% elsif isFlash %}#FFB22D {% else %} #404733 {% endif %};
          color: {% if regColor %}black {% else %}white {% endif %} ;
          font-weight: 400;
      }

      @media screen and (max-width: 768px) {

        .floating-cta {
          text-align: left
        }

        .floating-cta .btn-cta {
          font-weight: 600;
          border-radius: .625rem
        }

          .floating-cta .btn-cta {
              max-width: calc(100vw - 40px);
          }

      }
</style>


<script>
  (function () {
      /*count-effect*/
      const counters = document.querySelectorAll('.satisfaction-survey .success-list ul li .percentage p span');
      const countingSpeed = 6000;
      let animateCounters = true;
      /*count-effect*/

      window.addEventListener('scroll', (e) => {
          // var btn = $('#wisepops-root');
          let last_known_scroll_position = window.scrollY;
          if (counters && animateCounters && window.innerHeight > document.querySelector('.satisfaction-survey .data-wrap').getBoundingClientRect().top && window.innerHeight < document.querySelector('.satisfaction-survey .data-wrap').getBoundingClientRect().top + document.querySelector('.satisfaction-survey .survey-button').getBoundingClientRect().top) {
              animateCounters = false;
              counters.forEach(counter => {
                  const animate = () => {
                      const value = parseFloat(+counter.getAttribute('data-count'));
                      const dataLine = counter.closest('li').querySelector('.line span');
                      const data = +counter.innerText;

                      const time = value / countingSpeed;
                      if (data < value) {
                          counter.innerText = Math.ceil(data + time);
                          dataLine.style.width = Math.ceil(data + time) + '%';
                          setTimeout(animate, 0.1);
                      } else {
                          counter.innerText = value;
                          dataLine.style.width = value + '%';
                      }
                  }
                  animate();
              });
          }

          if ((document.querySelector('.real-changes').getBoundingClientRect().top < -(document.querySelector('.life-changes .survey-button .btn-cta').getBoundingClientRect().height / 2) || document.querySelector('.body-formula').getBoundingClientRect().top < -(document.querySelector('.life-changes .survey-button .btn-cta').getBoundingClientRect().height / 2)) &&
              window.innerHeight < document.querySelector('.satisfaction-survey .survey-button .btn-cta').getBoundingClientRect().top) {
              document.querySelector('.floating-cta').classList.add('show');
              // btn.addClass('hide');
          } else if (document.querySelector('.satisfaction-survey .survey-button .btn-cta').getBoundingClientRect().top < -document.querySelector('.satisfaction-survey .survey-button .btn-cta').getBoundingClientRect().height && !document.querySelector('.floating-cta').classList.contains("active")) {
              document.querySelector('.floating-cta').classList.add('show');
              // btn.addClass('hide');
          } else {
              document.querySelector('.floating-cta').classList.remove('show');
              // btn.removeClass('hide');
          }
      });
  })();
</script>
