<button id="toggle" type="button"><i class="fa-regular fa-bell"></i></button>

<script>
   const toggle = document.getElementById("toggle");

   toggle.onclick = function(){
      braze.toggleContentCards();
   }
</script>