<button id="toggle" type="button">Toggle Cards Feed</button>

<div id="feed"></div>

<script>
   const toggle = document.getElementById("toggle");
   const feed = document.getElementById("feed");

   toggle.onclick = function(){
      braze.toggleContentCards(feed);
   }
</script>