<span class="breadcrumb-separator px-2"> &gt; </span>
<span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  {% if link %}
    <a href="{{ link }}" itemprop="item"><span itemprop="name">{{ title }}</span></a>
  {% else %}
    <span itemprop="name" class="{% if is_current %}current-page{% endif %}">{{ title }}</span>
  {% endif %}
  <meta itemprop="position" content="{{ position }}" />
</span>