<div class="buy-with-prime-button">
  <script defer src='https://code.buywithprime.amazon.com/default.variant.selector.shopify.js'></script>
  <script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>

  <div id="amzn-buy-now" data-site-id="vgi1gktcrd" data-widget-id="w-9AFp3mUw0t1xcJ0LkU4hT0" data-sku="Curalin-FBA"></div>
</div>
