{% assign siteID = 'vgi1gktcrd' %}
{% assign widgetID = 'w-9AFp3mUw0t1xcJ0LkU4hT0' %}
{% assign productSKU = 'Curalin180' %}

<div class="buy-with-prime-button">
  <script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>

  <div id="amzn-buy-now" data-site-id="{{ siteID }}" data-widget-id="{{ widgetID }}" data-sku="{{ productSKU }}"></div>
</div>

<style>.buy-with-prime-button{opacity: 0;}</style>

<script>
  function activateBuyWithPrime() {
    if (window.GOExperiment['optimize_exp_fI18oBe5QB-HZ5uwCnQ_WQ'] == '1') {
      console.log("Buy With Prime Activated On Page");
      $(".product-actions .variant-box").click(function() {
        if ($(this).find('input[name=pack]:checked').attr('data-sku') == "Curalin180") {
          $(".buy-with-prime-button").fadeIn(300);
        }
        else {
          $(".buy-with-prime-button").fadeOut(300);
        }
      });
    }
  }
</script>