<div class="modal-content notice-group" id="logout-modal">
        <div class="modal-bg">
            <div class="data-wrap">
                <div class="modal-scroll">
                    <div class="modal-icon">
                        <span class="icon-user"></span>
                    </div>
                    <div class="modal-text">
                        <p>{{settings.logut_desc}}</p>
                    </div>
                    <div class="modal-btn">
                        <a href="/account/logout" class="main-btn" >{{settings.logutbtn_titl}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


   