<section class="hero-banner">
  <div class="gradient"></div>
  <div class="container">
    <div class="content">
      <img class="logo" src="{{ 'logo-white.png' | asset_url }}" alt="chef icon" loading="lazy">
      <div class="pre-title">Take the</div>
      <div class="main-title">CuraLin 7 Day</div>
      <div class="main-title-addition">Challenge</div>
      <div class="sub-title">Want to Step Up Your Blood Sugar Maintenance Game?</div>
    </div>
  </div>
</section>

<section class="sub-hero-banner">
  <div class="container">
    <div class="result-text">
      <div class="main-title"> <span>7</span>Days. <span>1</span>Routine.</div> 
      <div class="sub-title">Get results, or your money back</div>     
    </div>
  </div>
</section>

<style>
  .hero-banner {
    background-image: url("{{ 'page.aio-first-page-challenge-woman-holding-bottle.png' | file_url }}");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vw;
    min-height: 380px;
    max-height: 500px;
    position: relative; 
  }

  .hero-banner .container {
    position: relative;
  }

  .hero-banner .gradient {
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, rgba(14, 52, 64, 0.8) 0%, rgba(5, 47, 61, 0) 100%);
    width: 33%;
    height: 100%;
  }

  .hero-banner .content {
    padding: 10px 30px;
    max-width: 450px;
  }

  .hero-banner .logo {
    max-width: 40vw;  
  }

  .hero-banner .pre-title {
    margin-top: 50px;
    font-weight: 300;
    font-size: 32px;    
    color: #FFFFFF;
  }

  .hero-banner .main-title {
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
  }

  .hero-banner .main-title-addition {
    font-weight: 700;
    font-size: 67px;
    color: #FFFFFF;
  }

  .hero-banner .sub-title {
    margin-top: 20px;
    font-size: 28px;
    color: #FFFFFF;
  } 

  .sub-hero-banner {
    background-color: #FDD246;
    padding: 10px;
  }

  .result-text {
    display: flex;
    flex-direction: column;  
    text-align: center;
    font-weight: 400;  
  }

  .sub-hero-banner .main-title {   
    font-size: 60px;
    letter-spacing: -4px;
  }

  .sub-hero-banner .main-title span {
    font-size: 100px;
  }

  .sub-hero-banner .sub-title {
    font-size: 20px;  
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .hero-banner {
      background-position: -152vw -43vw;
      background-size: cover;
      height: 175vw;
      margin-bottom: -43vw;
      max-height: unset;
    }

    .hero-banner .gradient {
      width: 60%;
      height: 132vw;
    }

    .hero-banner .content {
      padding: 4vw 0;
      max-width: 75vw;
    }

    .hero-banner .pre-title {
      margin-top: 25vw;
      font-size: 5vw;
    }

    .hero-banner .main-title {
      font-size: 9vw;
    }

    .hero-banner .main-title-addition {
      font-size: 12vw;
    }

    .hero-banner .sub-title {
      margin-top: 3vw;
      font-size: 6vw;
    } 

    .sub-hero-banner .main-title {
      font-size: 8vw;
      letter-spacing: -0.5vw;
    }

    .sub-hero-banner .main-title span {
      font-size: 13vw;
    }

    .sub-hero-banner .sub-title {
      font-size: 3.5vw;
    }
  } 
</style>