<section class="community-education">
  <img class="section-badge" src="{{ "lp-community-section-badge-education.png" | file_url }}" alt="community people">
  <img class="main-image" src="{{ "lp-community-education-main-image.png" | file_url }}" alt="community mealplans">
  <div class="container">
    <h2>Education To help You Along The Way</h2>
    <div class="content">
      <p>More than a community, we put together some of the world’s best free resources and tools to help you maintain healthy blood sugar levels.</p>
      <p class="options-title">Just check what you want us to send you:</p>
      
      <form action="">
        <div class="option">
          <input type="checkbox" name="infographic" class="check">
          <label for="infographic">Understand diabetes from the ground up. This is the education we wished our loved ones got when they were diagnosed. We answer it all from "What fruit can I eat? Can I eat out?" And a whole lot more.</label>
        </div>
        <div class="option">
          <input type="checkbox" name="newsletter" class="check">
          <label for="newsletter">You're a part of our community, so we'll send you short weekly emails that keep you up to date on the latest research, and the tastiest recipes!</label>
        </div>
        <div id="education-form">
          <input type="email" id="education-input" placeholder="Type your email">
          <button id="education-submit" disabled>Submit</button>
        </div>
      </form>
      <div class="_form_5"></div><script src="https://marketing.curalife.com/f/embed.php?id=5" type="text/javascript" charset="utf-8"></script>
      <div class="_form_9"></div><script src="https://marketing.curalife.com/f/embed.php?id=9" type="text/javascript" charset="utf-8"></script>      
      <p class="unsubscribe">your data is safe and you can unsubscribe at any time</p>
    </div>
  </div>
</section>

<style>
  label {
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
    margin-left: 20px;
  }

  .community-education #education-submit:disabled {
    background-color: gray;
  }

  .community-education .main-image {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: contain;
    object-position: right;
  }

  .community-education .content {
    text-align: start;
    width: 50%;
  }

  .community-education .content .options-title {
    font-weight: bold;
  }

  .community-education .option .option-title {
    font-weight: normal;
  }

  .community-education .option {
    display: flex;
    margin-bottom: 30px;
    align-items: baseline;
  }

  .community-education input[type=checkbox] {
    all: unset;
    -webkit-appearance: auto;
    transform: scale(1.5);
    min-width: 15px;
  }

  .community-education input[type=email], .community-education button {
    width: 400px;
  }

  .community-education form.sign-form {
    width: 700px;
  }

  .community-education .unsubscribe {
    color: #A6A2A2;
    font-size: 20px;
  }

  @media screen and (max-width: 991px) { 
    label div {
      font-size: 5.5vw !important;
      font-weight: bold !important;
      margin-right: unset !important;
    }

    .community-education .main-image {
      display: none;
    }

    .community-education .content {
      width: unset;
    }

    label p {
      width: 75vw;
    }

    .community-education input[type=email], .community-education button, .community-education form.sign-form {
      width: 100%;
    }

    .community-education .unsubscribe {
      text-align: center;
      font-size: 3vw;
    }
  }
</style>

<script>
  let formsInputs = $(".community-education ._field-wrapper input");
  let showedThankYou = false;
  
  $(".community-education ._form").each(function() {$(this).hide()});

  $('.check').change(function() {
      if ($('.check:checked').length) {
          $('#education-submit').removeAttr('disabled');
      } else {
          $('#education-submit').attr('disabled', 'disabled');
      }
  });

  $("#education-submit").click(function() {
    event.preventDefault()

    $("#education-form").hide();

    if ($("input[name='infographic']").is(':checked')) {
      formsInputs.eq(0).val($("#education-input").val());
      formsInputs.eq(0).closest("._form-content").find("._submit").click();
      formsInputs.eq(0).closest("._form").delay(5000).show();
      showedThankYou = true;
    }

    if ($("input[name='newsletter']").is(':checked')) {
      formsInputs.eq(1).val($("#education-input").val());
      formsInputs.eq(1).closest("._form-content").find("._submit").click();
      if (!showedThankYou) {
        formsInputs.eq(1).closest("._form").delay(5000).show();
      }
    }
  })
</script>