<section class="community-mealplans">
  <img class="section-badge" src="{{ "lp-community-section-badge-mealplans.png" | file_url }}" alt="community mealplans">
  <img class="main-image" src="{{ "lp-community-mealplans-main-image.png" | file_url }}" alt="community mealplans">
  <div class="container">
    <div class="content">
      <h2>Diabetes Meal Plans</h2>
      <p>Food affects our diabetes, so let’s be smart about what we eat. Meal planning can keep you on track. 
        <br><br>
      We’re working with nutritionists and chefs to create a meal plan to help you get started
        <br><br>
      The meal plan app is being designed for your phone so that you always have your recipes and shopping list in your pocket! We’ll send a text to your phone when it’s available.</p>
    </div>
  </div>
  <img class="main-image-mobile" src="{{ "lp-community-mealplans-main-image-mobile.png" | file_url }}" alt="community mealplans">
  <div class="container">
    <div class="klaviyo-form-YtEaBa"></div>
  </div>
</section>

<style>
  .community-mealplans {
    position: relative;
    z-index: 1;
  }

  .community-mealplans .main-image {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: left;
  }

  .community-mealplans .main-image-mobile {
    display: none;
  }

  .community-mealplans .content {
    text-align: start;
    width: 50%;
  }

  .community-mealplans h2 {
    text-align: start;
  }

  .klaviyo-form {
    padding: 0 !important;
    min-height: 100px;
  }

  #downshift-0-menu {
    border-bottom: 1px solid black;
  }

  @media screen and (max-width: 991px) {
    .community-mealplans .main-image {
      display: none;
    }

    .community-mealplans .main-image-mobile {
      display: block;
      width: 100%;
    }

    .community-mealplans .content {
      width: unset;
    }
  }
</style>