<<<<<<< HEAD
<section id="newsletter" class="bg-[--beige] p-0 md:px-8">
  <div class="container">
    <div class="subscribe-section flex flex-row-reverse flex-wrap items-center justify-between text-center">
      <div class="text-wrap md:w-full text-center">
        <div class="intro-text">
          <h2>The CuraLife Newsletter</h2>
          <p>Our newsletter is packed with valuable insights, including expert guidance on managing chronic health conditions, tips for maintaining a healthy lifestyle, and updates on the latest breakthroughs in medical research.</p>
        </div>

        <div class="subscribe-form md:pt-4">
          <div class="klaviyo-form-WpUY8s"></div>
          <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TgAiGu"></script>
          {% comment %} <div class="_form_3"></div> {% endcomment %}
          {% comment %} <script src="https://marketing.curalife.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script> {% endcomment %}
        </div>
      </div>

      <div class="img-wrap desktop">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/newsletter-image.png?v=1694095786" class="relative h-[350px] object-cover overflow-visible" alt="newsletter subscriber" loading="lazy">
      </div>
    </div>
  </div>
</section>

<style>
  ._form-content {
    max-width: 440px;
  }

  ._submit {
    min-width: 130px;
    border-radius: 4px !important;
  }

  ._field-wrapper input {
    border: 0 !important;
  }

  .subscribe-section .text-wrap {
      width: 60%;
  }

  .subscribe-section .img-wrap {
    width: 30%;
  }

  @media screen and (max-width: 1200px) {
    .subscribe-section .text-wrap {
      margin: auto;
      padding: 50px 0;
    }

    .subscribe-section .img-wrap {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .subscribe-section {
        padding: 15px;
    }

    .subscribe-section .img-wrap {
        width: 100%;
        padding-top: 50px;
        padding-left: 0;
        text-align: center;
    }
  }
</style>

<style>
  ._form {
    margin: unset !important;
    padding: unset !important;
    line-height: unset !important;
  }

  ._submit {
    background-color: var(--blue) !important;
    min-height: 44px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-family: "DM Sans" !important;
=======
<div id="newsletter" class="gray-bg offset-top bottom-line">
  <div class="container">
    <div class="white-bg">
      <div class="mini-wrap">
        <div class="subscribe-section">
          <div class="text-wrap">
            <div class="intro-text">
              <div class="sub-title">
                <h2>The CuraLife Newsletter</h2>
                <p>Get 5% off your next order when you sign up today for the latest advice, research and exclusive offers.</p>
              </div>
            </div>
            <div class="subscribe-form">
              <div class="_form_3"></div>
              <script src="https://marketing.curalife.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script>
            </div>
          </div>
          <div class="img-wrap">
            <img src="{{ 'newsletter-form-img.png' | file_url }}" alt="" width="265" height="auto" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  ._form {
    margin: unset;
    padding: unset;
    margin: 0 !important;
  }

  ._submit {
    min-height: 44px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
  }

  ._field-wrapper input#email {
    width: 300px !important;
    font-size: 16px;
<<<<<<< HEAD
    border: 1px solid var(--grey);
    padding: 12px !important;
  }

  ._form_element {
    margin-bottom: unset !important;
=======
    border: 1px solid var(--gray);
    margin-right: 10px;
    padding: 12px !important;
  }

  .form-content {
    align-items: center;
    display: flex;
  }

  ._form_element {
    margin-bottom: unset !important;
    margin-left: unset !important;
  }

  ._inline-style {
    display: unset !important;
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
  }

  ._button-wrapper {
    margin: 0 !important;
  }

  ._form-label {
    display: none !important;
  }

<<<<<<< HEAD
  @media screen and (max-width: 768px) {
    ._field-wrapper input#email,
    ._submit
    {
      width: 100% !important;
      text-align: center !important;
    }

    .button-wrapper {
      margin: 0 !important;
=======
  @media screen and (max-width: 760px) {
    ._field-wrapper input#email,
    ._submit 
    {
      width: 100% !important;
      margin-bottom: 10px;
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
    }
  }
</style>

<script>
<<<<<<< HEAD
  document.addEventListener('DOMContentLoaded', function() {
    const targetParent = document.getElementById("newsletter");

    const observer = new MutationObserver(() => {
      const subscribeButton = targetParent.querySelector('.go2198125486');
      if (subscribeButton) {
        observer.disconnect();
        addSubscribeEventListener(subscribeButton);
      }
    });

    observer.observe(targetParent, { childList: true, subtree: true });

    function addSubscribeEventListener(button) {
      button.addEventListener('click', handleNewsletterSubscribe, { once: true });
    }

    function handleNewsletterSubscribe() {
      const emailInput = document.getElementById('email_87364185');
      if (emailInput) {
        trackNewsletterSubscribe(emailInput.value);
      } else {
        console.error('Email input not found');
      }
    }

    function trackNewsletterSubscribe(email) {
      // Tracking logic
      woopra.identify({'email': email});
      woopra.track('newsletter subscribe', {}, { queue: true });
    }
  });
</script>

{% comment %} <script>
  window.addEventListener("klaviyoForms", function(e) {
    console.log("Klaviyo form event", e.detail);
    if (e.detail.type == 'open' || e.detail.type == 'embedOpen') {
      gtag('event', 'form_open', {'form': 'Klaviyo form', 'form_id': e.detail.formId});
    }
    if (e.detail.type == 'submit') {
      gtag('event', 'form_submit', {'form': 'Klaviyo form', 'form_id': e.detail.formId});
    }
    if (e.detail.type == 'stepSubmit') {
      gtag('event', 'form_step_submit', {'form': 'Klaviyo form', 'step_name': e.detail.metaData.$step_name});
    }
    if (e.detail.type == 'redirectedToUrl') {
      gtag('event', 'form_url_redirect', {'form': 'Klaviyo form', 'form_id': e.detail.formId});
    }
    if (e.detail.type == 'close') {
      gtag('event', 'form_close', {'form': 'Klaviyo form', 'form_id': e.detail.formId});
    }
  });
</script> {% endcomment %}
=======
  function getGeo() {
    $.get("https://geo.curalife.com/", function(data) {
      let country = JSON
        .parse(data)
        .country;
      $('[data-name="lead_geo"]').val(country);
    });
  }

  function getOperatingSys() {
    var os = 'unknown';
    if (navigator.userAgent.indexOf("Win") != -1) os = "Windows";
    if (navigator.userAgent.indexOf("Mac") != -1) os = "MacOS";
    if (navigator.userAgent.indexOf("X11") != -1) os = "UNIX";
    if (navigator.userAgent.indexOf("Linux") != -1) os = "Linux";
    return os;
  }

  const getDeviceType = () => {
    let ua = navigator.userAgent;
    if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
      return "tablet";
    }
    if (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
      return "mobile";
    }
    return "desktop";
  };

  window.onload = function() {
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    $('[data-name="lead_source"]').val("NewsLetter");
    $('[data-name="lead_utm_source"]').val(urlParams.get('utm_source'));
    $('[data-name="lead_utm_medium"]').val(urlParams.get('utm_medium'));
    $('[data-name="lead_utm_campaign"]').val(urlParams.get('utm_campaign'));
    $('[data-name="lead_utm_term"]').val(urlParams.get('utm_term'));
    $('[data-name="lead_utm_content"]').val(urlParams.get('utm_content'));
    $('[data-name="lead_source_date"]').val(new Date().toUTCString());
    $('[data-name="lead_os"]').val(getOperatingSys());
    $('[data-name="lead_device"]').val(getDeviceType());
    $('[data-name="lead_url"]').val(window.location.href);
    getGeo();
  }

  // Woopra Subscribe Event Tracking
  document.addEventListener('submit', function(e) {
    const form = e.target;
    const formData = new FormData(form);
    const entries = formData.entries();
    const data = Object.fromEntries(entries);
    for (var key in data) {
      var fieldEl = form.querySelector(`[name="${key}"]`);
      if (fieldEl.type === 'password') {
        delete data[key];
      }
    }
    
    if (form.className.indexOf('_form_3') !== -1) {
      woopra.identify({
      'email': data["email"]
      });
      woopra.track('newsletter subscribe', {}, {
        queue: true
      });
    }
  });
</script>
>>>>>>> c372cdfdfaf78cd37a0845387093097b741a0011
