{% assign array = article.content | split: "|" %}

<section id="progress-bar-section">
  <div class="container">
    <div class="bar-container">
      <div class="progress">
        <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
        </div>
      </div>

      <ul class="steps">
        {% for step in progress_steps %}
        <li class="step {% if array[0] >= step %}active{% endif %}">
            <div class="icon">
              <i class="icofont-ui-press"></i>
              <i class="icofont-check-alt"></i>
            </div>
            <p class="text">Day {{ step }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<style>
  #progress-bar-section {
    padding: unset;
  }


  #progress-bar-section.sticky {
    position: fixed;
    left: 0;
    top: 50px; /* Set to a fixed value that works well with your design */
    width: 100%;
    z-index: 999999;
    background: rgba(255,255,255,.8);
    backdrop-filter: blur(7px);
    margin: unset;
  }

  #progress-bar-section .progress {
    position: absolute;
    top: 27px;
    width: 100%;
    z-index: 0;
  }

  #progress-bar-section .progress-container {
    background-color: rgba(156, 163, 175, 0.6);
    height: 5px;
    width: 100%;
  }

  #progress-bar-section .progress-bar {
    background-color: #5E8F8F;;
    height: 5px;
    width: 0%;
  }

  #progress-bar-section .bar-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
  }

  #progress-bar-section .steps {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #progress-bar-section .steps .step {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15px;
  }

  #progress-bar-section .steps .step .text {
    font-family: 'DM Sans';
    font-size: 18px;
    text-align: center;
    margin: unset;
    margin-bottom: 20px;
    width: max-content;
    color: #5E8F8F;
  }

  #progress-bar-section .steps .step.active .text {
   
    color: black;
    font-weight: 700;
  }


  #progress-bar-section .steps .step .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #5E8F8F;;
    margin: 14px 40px;
    display: grid;
    place-items: center;
    color: #5E8F8F;;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
  }

  #progress-bar-section .steps .step.active .icon {
    border-color:#5E8F8F;;
    background-color: #5E8F8F;;
  }

  #progress-bar-section .steps .step .icon .icofont-check-alt {
    display: none;
  }

  #progress-bar-section .steps .step .icon .active {
    background-color: #5E8F8F;;
    border: none;
    display: grid;
    place-items: center;
    color:#fff;
  }

  

  #progress-bar-section .steps .step.active .icofont-check-alt {
    font-size: 20px;
    color: white;
    display: flex;
  }

  #progress-bar-section .steps .step .icofont-ui-press {
    font-size: 10px;
    margin-top: 2px;
  }

  #progress-bar-section .steps .step.active .icofont-ui-press {
    display: none;
  }

  @media (max-width: 768px) {
    #progress-bar-section {
        margin: 10vw 0 0;
    }

    #progress-bar-section.sticky {
      padding: 2vw 0;
    }

    #progress-bar-section .bar-container {
      margin: 20% auto;
      width: 85%;
    }

    #progress-bar-section .progress {
      top: 7px;
    }

    #progress-bar-section .steps .step.active .text {
      font-size: 3vw;
    }

    #progress-bar-section .steps .step .text {
      font-size: 3vw;
    }


    #progress-bar-section .steps .step .icon {
      margin: 0 15px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #progress-bar-section .steps .step.active .icofont-check-alt {
      font-size: 17px;
    }

    #progress-bar-section .steps .step.active i {
      font-size: 17px;
    }

    #progress-bar-section .steps .step .icofont-ui-press {
      font-size: 6px;
      margin-top: 0;
    }
    #progress-bar-section .bar-container {
      margin: 10vw auto 0;
    }
  }


</style>
