<section id="best-results-section">
  <div class="container">
    <h2>How to get the best results with Curalin after Day 5+</h2>
    <div class="daily-routine">
      <div class="routine">
        <img src="{{ 'onboarding-best-results-step-icon-1.png' | asset_url }}" width="150" height="121" alt="" loading="lazy">
        <div class="title-capsules">
          <b>Capsules</b><br>
          <p>Take 2 capsules 30 minutes after every meal</p>
        </div>
      </div>
      <div class="routine">
        <img src="{{ 'onboarding-best-results-step-icon-2.png' | asset_url }}" width="150" height="121" alt="" loading="lazy">
        <div class="title-capsules">
          <b>Routine</b><br>
          <p>Be sure to take your Curalin consistently for the best results</p>
        </div>
      </div>
      <div class="routine">
        <img src="{{ 'onboarding-best-results-step-icon-3.png' | asset_url }}" width="150" height="121" alt="" loading="lazy">
        <div class="title-capsules">
          <b>Track</b><br>
          <p>Track and adjust your progress to find the daily amount that works for you</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #best-results-section {
    margin-bottom: 3%;
  }

  #best-results-section .container h2 {
    margin: unset;
    padding: 1% 0 5%;
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #424733;
  }

  #best-results-section .daily-routine {
    display: flex;
    justify-content: space-evenly;
  }

  #best-results-section .routine {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #best-results-section img {
    width: 150px;
    object-fit: contain;
  }

  #best-results-section .title-capsules {
    margin-top: 10px;
    text-align: center;
  }

  #best-results-section .title-capsules b {
    font-weight: bold !important;
    font-size: 20px;
  }

  #best-results-section .title-capsules p {
    margin-top: 10px;
    font-size: 18px;
  }

  @media screen and (max-width: 999px) {
    #best-results-section .container h2 {
      padding: 5vw 0;
    }
  }

  @media screen and (max-width: 768px) {
    #best-results-section .container h2 {
      font-size: 7vw;
      text-align: left;
      line-height: 1.2em;
    }

    #best-results-section .daily-routine {
      flex-direction: column;
      align-items: center;
      gap: 10vw;
    }

    #best-results-section .routine {
      max-width: 100%;
    }

    #best-results-section .title-capsules {
      font-size: 5vw;
      text-align: center;
    }
  }
</style>