<section id="how-to-section">
  <div class="container">
    <div class="curalin-first-timers">
      Curalin for first timers
      <div class="days">
        <div class="day">
          <div class="day-with-capsule">
            <div class="day-title">Day 1+2
            </div>
            <div class="capsule"><img src="{{ 'onboarding-capsule.png' | asset_url }}" alt="" width="37" height="39" loading="lazy"></div>
          </div>
          <p>1 capsule, WITH every meal</p>
        </div>
        <div class="day">
          <div class="day-with-capsule">
            <div class="day-title">Day 3+4
            </div>
            <div class="capsule"><img src="{{ 'onboarding-capsule.png' | asset_url }}" alt="" width="37" height="39" loading="lazy"></div>
          </div>
          <p>1 capsule, 30 minutes AFTER every meal</p>
        </div>
        <div class="day">
          <div class="day-with-capsule">
            <div class="day-title">Day 5+</div>
            <div class="capsule"><img src="{{ 'onboarding-capsule.png' | asset_url }}" alt="" width="37" height="39" loading="lazy"><img src="{{ 'onboarding-capsule.png' | asset_url }}" alt="" width="37" height="39" loading="lazy"></div>
          </div>
          <p>2 capsules 30 minutes AFTER every meal</p>
        </div>
      </div>
    </div>
    <div class="curalin-reviews">
      <h3>Customer reviews of CuraLin</h3>
      {% render 'onboarding-video-reviews' %}
    </div>
  </div>
</section>

<style>
  #how-to-section {
    padding: 50px 0;
  }

  #how-to-section .container {
    display: flex;
  }

  #how-to-section .best-results-mobile {
    display: none;
    margin-bottom: 10vw;
  }

  #how-to-section .curalin-first-timers {
    width: 40%;
    padding: 3% 0;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 34px;
    color: #424733;
  }

  #how-to-section .curalin-reviews {
    width: 60%;
    background: #F6F9EC;
    padding: 3%;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 34px;
    color: #424733;
    max-height: 540px;
  }

  #how-to-section .curalin-reviews h3 {
    font-family: 'PP Radio Grotesk';
    color: #424733;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: unset;
  }

  #how-to-section .days {
    text-align: left;
    padding-top: 50px;
  }

  #how-to-section .day-with-capsule {
    display: flex;
    justify-content: flex-start;
    gap: 6%;
  }

  #how-to-section .day {
    font-family: 'Open Sans';
    font-size: 26px;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 30px;
  }

  #how-to-section .day p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.8);
  }

  @media screen and (max-width: 999px) {
    #how-to-section {
      padding: 5vw 0;
    }

    #how-to-section .container {
      flex-direction: column;
    }

    .best-results-desktop {
      display: none;
    }

    #how-to-section .best-results-mobile {
      display: block;
    }

    #how-to-section .curalin-reviews h3 {
      font-size: 6vw;
      margin-top: 6vw;
    }

    #how-to-section .curalin-reviews {
      max-height: unset;
    }

    #how-to-section .how-to-take-curalin {
      padding: unset;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    #how-to-section .curalin-first-timers {
      width: 100%;
      font-size: 7vw;
    }

    #how-to-section .curalin-reviews {
      padding: 0;
      width: 100%;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }

    #how-to-section .days {
      padding-top: 5vw;
    }

    #how-to-section .day-title {
      background-color: #EFBC73;
      padding: 0 1vw;
      font-size: 7vw;
    }

    #how-to-section .day p {
      margin: 3vw 0;
      font-size: 4.5vw;
    }
  }
</style>