{% assign brands = "cnn|bbc|msn|usa-today|yahoo|the-sun|daily-mail|daily-express" | split: '|'%}

<section class="featured-section">
  <div class="container" data-aos="fade-up">
    <div class="data-wrap">
      <div class="sub-title">
        <h4>As featured on:</h4>
      </div>
      <div class="partners-wrapper">
        <div class="ticker-wrap swiper" id="ticker-wrap">
          <div class="ticker-col swiper-wrapper">
            {% for brand in brands %}
              <div class="partner-col swiper-slide">
                <div class="partner-item">
                  <img src="{{ 'brands-' | append: brand | append: ".svg" | asset_url }}" alt="featured in {{ brand }}">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .featured-section {
    background-color: var(--brown-lighter);
    padding: 50px 0;
  }
  
  .featured-section .sub-title {
    text-align: center;
  }
  
  .featured-section .sub-title h4 {
    font-size: 1.5rem;
    letter-spacing: -0.03em;
    opacity: .6;
    font-weight: 400;
    line-height: 1.29;
  }
  
  .featured-section .partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1.1875rem;
  }
  
  .partners-wrapper .ticker-wrap {
    display: flex;
    margin: 0 -0.9375rem;
    padding: 0 0.9375rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .partners-wrapper .ticker-wrap:before {
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--brown-lighter) 100%);
  }
  
  .partners-wrapper .ticker-wrap:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--brown-lighter) 100%);
  }
  
  .partners-wrapper .ticker-wrap:before,
  .partners-wrapper .ticker-wrap:after {
    content: "";
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none;
  }
  
  .partners-wrapper .ticker-wrap .ticker-col {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition-timing-function: linear;
  }
  
  .partners-wrapper .partner-col {
    max-width: max-content;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  
  .partners-wrapper .partner-item {
    opacity: .5;
  }

  .partners-wrapper .partner-item img {
    max-width: 200px;
    max-height: 30px;
  }
  
  @media screen and(max-width:760px) {
    .featured-section {
      padding: 5vw 0;
    }
  
    .featured-section .sub-title h4 {
      font-size: 1.125rem;
      letter-spacing: normal;
    }
  
    .partners-wrapper {
      margin: 0 -15px;
    }
  
    .partners-wrapper .ticker-wrap {
      margin: 0;
      padding: 0;
    }
  
    .partners-wrapper .partner-col {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>

<script>
  let brandsTicker = new Swiper('.partners-wrapper #ticker-wrap', {
    spaceBetween: 0,
    centeredSlides: true,
    speed: 6000,
    autoplay: {
    delay: 0,
    },
    loop: true,
    slidesPerView:'auto',
    allowTouchMove: false,
    disableOnInteraction: true
    });
</script>