
<header>
  <div class="container">
    <div class="main-links d-mobile">
      <ul>
        <li><a href="javascript:void(0)" class="open-menu"><i class="icon-menu"></i></a></li>
      </ul>
    </div>
    <div class="logo">
      <a href="#hero-section"><img src="{{ 'logo-new.svg' | asset_url }}" alt="logo"></a><span>For Partners</span>
    </div>
    <div class="main-menu">
      <ul>
        <li><a class="scroller" href="#info-section">About Us</a></li>
        <li><a class="scroller" href="#scientific-section">Science</a></li>
        <li><a class="scroller" href="#curalin-section">Nutraceuticals</a></li>
        <li><a class="scroller" href="#technology-section">Technology</a></li>
        <li><a class="scroller" href="#program-cta-section">PSP</a></li>
        <li><a class="scroller" href="#contact-section">Contact us</a></li>
      </ul>
    </div>
  </div>
</header>
<style>
  header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100001;
  }

  header .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .main-links.d-mobile {
      display: none;
  }

  .main-links ul {
      display: flex;
  }

  .main-links ul li:last-child {
      padding-right: 0;
  }

  .main-links ul li {
      display: flex;
      padding: 5px;
  }

  .main-links ul li a {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      color: var(--black);
      transition: color var(--transition);
      position: relative;
      z-index: 1;
      flex-direction: row-reverse;
      gap: 5px;
  }

  [class^=icon-] {
      font-family: icoFont;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: greyscale;
  }

  .main-links ul li a i {
      display: block;
  }

  .main-links ul li a.open-menu i.icon-menu {
      position: relative;
  }

  .main-links ul li a.open-menu i.icon-menu {
      color: white;
  }

  .icon-menu:before {
      content: "\efa2";
  }

  .main-links ul li a.open-menu i.icon-menu:after {
      content: "\eee1";
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }

  .logo {
      display: flex;
      align-items: end;
      gap: 10px;
      font-size: 20px;
  }

  .logo img {
      width: 120px;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(105%) contrast(101%);
  }

  .logo span {
      position: relative;
      top: 4px;
  }
  .main-menu ul {
      display: flex;
      align-items: center;
  }

  .main-menu ul li {
      display: flex;
      padding: 9px 20px;
      position: relative;
  }
  .main-menu ul li a {
      display: flex;
      gap: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--black);
      transition: color var(--transition);
  }

  @media screen and (max-width: 1590px){
    .main-links ul li {
        padding: 6px 10px;
    }
    .main-links ul li a {
        font-size: 15px;
    }
    .main-links ul li a i, .main-search form button {
        font-size: 18px;
    }

    .main-menu ul li {
        padding: 6px 16px;
    }
    .main-menu ul li a {
        font-size: 16px;
    }
  }

  @media screen and (max-width: 1430px){
    .main-links ul li a {
        font-size: 13px;
    }
    .main-links ul li a i {
        padding-left: 9px;
        font-size: 17px;
    }
    .main-menu ul li {
        padding: 4px 14px;
    }
    .main-menu ul li a {
        font-size: 14px;
    }
  }
  

  @media screen and (max-width: 1270px){
    .main-menu ul li, .main-links ul li {
        padding: 4px 7px;
    }
    .main-menu ul li, .main-links ul li {
        padding: 4px 7px;
    }

  }
 

@media screen and (max-width: 768px) {
  header {
      height: 70px;
  }

  header .container {
      justify-content: center;
  }
  .main-menu ul {
      display: flex;
      align-items: unset;
      flex-direction: column;
  }

  .main-links {
      width: 100%;
      max-width: 90px;
      z-index: 100;
  }

  .main-links.d-mobile {
      display: block;
  }

  .main-links.d-mobile {
      position: absolute;
      left: 3vw;
  }

  .main-links.d-mobile ul {
      justify-content: flex-start;
  }
  .main-links ul li {
      padding: 0 5px;
  }
  .main-links ul li a i {
      padding-left: 0;
      font-size: 20px;
  }
  .main-menu {
      display: flex;
      flex-direction: column;
      padding: 61px 10px 30px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      transition: transform var(--transition),opacity var(--transition),visibility var(--transition);
  }
  
}
 
</style>


<style>
  header {
    background-color: var(--green-dark);
    height: 80px;
    color: white;
  }

  header:before {
    content: unset !important;
  }

  header .container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: end;
    gap: 10px;
    font-size: 20px;
  }

  .logo img {
    width: 120px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(105%) contrast(101%);
  }

  .logo span {
    position: relative;
    top: 4px;
  }

  .main-menu ul li a {
    text-transform: unset;
    color: #ffffff;
  }

  .main-menu ul li a:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .main-links ul li a.open-menu i.icon-menu  {
    color: white;
  }

  .main-links ul li a:hover {
      color: #ffffff;
  }

  .scroller {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .main-links ul li a.open-menu i.icon-menu:after {
      content: "\eee1";
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }

  .main-links ul li a.open-menu.active i.icon-menu:after {
      opacity: 1;
      visibility: visible;
  }

  .main-links ul li a.open-menu.active i.icon-menu:before {
      opacity: 0;
      visibility: hidden;
  }

  @media screen and (max-width: 768px) {
    header .container {
      justify-content: center;
    }

    .main-menu {
      padding: 70px;
      padding-left: 5vw;
      padding-top: 70px;
    }

    .main-menu {
      background-color: #404733;
    }

    header {
      height: 70px;
    }

    .main-links.d-mobile {
      position: absolute;
      left: 3vw;
    }
    .main-menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
  }
</style>

<script>
  $(".scroller").click(function() {
    if (window.matchMedia("only screen and (max-width: 768px)").matches) {
      $(".open-menu").trigger("click");
    }
  });
</script>


