<footer>
    <div class="container">
        <div class="menus">
            <div class="column"> 
                <div class="menu">
                    <h4>Navigation</h4>
                    <a href="#hero-section"><p><span>></span> Home</p></a> 
                    <a href="#info-section"><p><span>></span> About Us</p></a>
                    <a href="#curalin-section"><p><span>></span> Nutraceuticals</p></a>
                    <a href="#scientific-section"><p><span>></span> Science</p></a>
                    <a href="#app-section"><p><span>></span> Technology</p></a> 
                    <a href="#program-cta-section"><p><span>></span> PSP</p></a>
                </div>
            </div>
            <div class="column">
                <div class="menu">
                    <h4>Contact us</h4>
                    <a href="mailto:parnetships@curalife.com"><p><i class="icofont-email"></i> partnerships@curalife.com</p></a>
                </div>

                <div class="menu">
                    <h4>Find us on</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/curalife"><i class="icofont-facebook"></i></a>
                        <a href="https://www.instagram.com/curalife"><i class="icofont-instagram"></i></a>
                        <a href="https://www.twitter.com/curalife"><i class="icofont-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/curalife-ltd"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyrights">© 2022 CuraLife Global</p>
            <div class="policies">
                <a class="policy" href="/pages/privacy-policy">Privacy Policy</a>
                <a class="policy" href="/pages/terms-of-service">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--green-dark);
        padding: 130px 0 0 0;
    }

    footer i {
        color: var(--orange);
    }

    footer .menus {
        display: flex; 
        justify-content: space-between;
        padding-bottom: 100px;
    }

    footer .menu h4 {
        color: white;
        font-size: 30px;
        margin-bottom: 10px;
    }

    footer .menu p span {
        color: var(--orange);
        font-weight: 800;
    }

    footer .menu a,
    footer .menu p {
        font-family: 'DMSans';
        font-size: 17px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    footer .social-links {
        display: flex;
        gap: 20px;
    }

    footer .social-links a {
        font-size: 30px;
    }

    footer .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 15px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }

    footer .policies {
        display: flex;
        gap: 15px;
    }

    footer .policy,
    footer .copyrights {
        color: white;
        font-size: 18px;
        font-family: 'DM Sans';
        font-weight: 400;
        color: #FFFFFF;
    }

    @media screen and (max-width: 768px){
        footer {
            padding: 5vw 5vw 0;
        }

        footer .menus {
            flex-direction: column;
        }

        footer .policy {
            font-size: 2vw;
        }
    }
</style>