<section id="partnership-footer">
    <div class="container">
  <div class="footer-main-menu">
    <div class="part"> <h2>Navigation</h2>
        <a href="#"><p> <span>> </span>&nbsp;Home </p></a> 
        <a href="#"><p> <span>> </span>&nbsp;About Us </p></a>
        <a href="#"><p> <span>> </span>&nbsp;Nutraceuticals </p></a>
        <a href="#"><p> <span>> </span>&nbsp;Science </p></a>
        <a href="#"><p> <span>> </span>&nbsp;Technology </p></a> 
        <a href="#"><p> <span>> </span>&nbsp;PSP </p></a>
    </div>
    <div class="part"><h2>Contact us</h2>
        <a href="#"><p> <i class="icofont-location-pin" style="color: #FFB22D;"></i> &nbsp; Address </p></a> 
        <a href="#"><p> <i class="icofont-email" style="color: #FFB22D;"></i> &nbsp; parnetships@curalife.com </p></a> <br>
    <div class="part"><h2>Find us on</h2>
        <div class="icons">
            <div class="icon"><a href="https://www.facebook.com/curalife/"><i class="icofont-facebook" style="color: #FFB22D;"></i></a></div>
            <div class="icon"><a href="https://www.instagram.com/curalife/"><i class="icofont-instagram" style="color: #FFB22D;"></i></a></div>
            <div class="icon"><a href="https://twitter.com/curalife"><i class="icofont-twitter" style="color: #FFB22D;"></i></a></div>
            <div class="icon"><a href="https://www.linkedin.com/company/curalife-ltd"><i class="icofont-linkedin" style="color: #FFB22D;"></i></a></div>
        </div>
    </div>
    </div>
    
    </div>
    <div class="divider"></div>
    <div class="copyright-etc">
    <div class="copy">© 2022 CuraLife Global</div>
    <div class="privacy-terms">
        <div class="copy" id="copy-1">Privacy Policy</div>
        <div class="copy" id="copy-1">Terms of Service</div>
    </div>
    </div>
</div>
</section>

<style>
    #partnership-footer {
        width: 100%;
        min-height: 30vw;
        background-color: var(--green-dark);
    }

    .footer-main-menu {
        padding-top: 6vw;
    display: flex; 
    justify-content: space-between;
    }

    .part h2 {
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
    }


    .part p span {
        color: var(--orange);
        font-weight: 800;
        
    }

    .part a p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 17px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .icons {
        margin-left: -1vw;
        display: flex;
        gap: 3vw
    }

    .icon {
        font-size: 30px;
    }

    .divider {
        margin-top: 12vw;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }


    .copyright-etc {
        display: flex;
        justify-content: space-between;
    }


    .copy {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 15px;
    }

    .privacy-terms {
        display: flex;
    }

    @media screen and (max-width: 768px){
        .footer-main-menu {
            flex-direction: column;
        }

        .privacy-terms {
            gap: 5px;
        }

        #copy-1:before {
            content: " • ";
            color:#FFFFFF;
        }

        .copy {
            font-size: 11px;
            line-height: 24px;
            padding: 15px 0;
        }
    }
</style>