
<header>
  <div class="container">
    <div class="main-toolbar">
      <div class="main-links d-mobile">
        <ul>
          <li><a href="javascript:void(0)" class="open-menu"><i class="icon-menu"></i></a></li>
        </ul>
      </div>
      <div class="main-logo">
        <img src="{{ 'partnerships-nav-logo-new-white.png' | asset_url }}" alt="logo">
        <a class="partners" href="#">For Partners</a>
      </div>
      <div class="main-menu">
        <div class="menu-scroll">
          <ul>
          <li><a class="scroller" href="#" goto="about">About Us</a></li>
          <li><a class="scroller" href="#" goto="nutraceuticals">Nutraceuticals</a></li>
          <li><a class="scroller" href="#" goto="science">Science</a></li>
          <li><a class="scroller" href="#" goto="technology">Technology</a></li>
          <li><a class="scroller" href="#" goto="psp">PSP</a></li>
          <li><a class="scroller" href="#" goto="contact">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    height: 80px;
  }

  header:before {
    background-color: #404733;
    opacity: 1;
    visibility: visible;
  }

  .main-toolbar {
    padding: 15px 0;
  }

  .main-logo {
    display: flex;
    align-items: center;
    
  }
  .main-logo a {
      max-width: unset;
  }

  .main-logo img {
    margin-top: -5px;
  }

  .main-menu ul li a {
    text-transform: unset;
    color: #ffffff;
  }

  .main-menu ul li a:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .main-links ul li a.open-menu i.icon-menu  {
    color: white;
  }

  .main-links ul li a:hover {
      color: #ffffff;
  }

  .scroller {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .partners {
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
  }

  @media screen and (max-width: 991px) {
    .main-menu {
        padding: unset;
    }

    .main-menu ul li a {
        padding-left: 10px;
    }
    .main-menu .menu-scroll {
      background-color: #404733;
    }

    .menu-scroll {
      margin-top: 10px;
    }

    header {
      height: unset;
    }

    .main-logo img {
      max-height: 10vw;
    }

    .main-toolbar {
      justify-content: center;
    }

    .main-links.d-mobile {
      position: absolute;
      left: 0;
    }
  }

  @media screen and (max-width: 425px) {
    .main-logo img {
        max-height: 8vw;
    }
    .main-logo a {
        max-width: 135px;
    }
    .partners {
        margin-top: unset;
        /* margin-left: 5px; */
        font-size: 20px;
    }
  }
</style>

<script>
  $(".scroller").click(function() {
    let goto = $(this).attr("goto")
    $('html, body').animate({
      scrollTop: $(".community-" + goto).offset().top
    }, 2000);

    if (window.matchMedia("only screen and (max-width: 760px)").matches) {
      $(".open-menu").trigger("click");
    }
  });
</script>


