 <div class="modal-content notice-group" id="password-modal">
        <div class="modal-bg">
            <div class="data-wrap">
                <div class="modal-scroll">
                    <div class="modal-icon">
                        <span class="icon-success"></span>
                    </div>
                    <div class="modal-text">
                        <p>{{settings.pwd_desc}}</p>
                    </div>
                    <div class="modal-btn">
                        <button type="button" class="main-btn" data-fancybox-close>{{settings.pwdbtn_titl}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>