{% if productType == "variant" %}
  {% assign original_item_cap = prod.metafields.custom.original_item.value.compare_at_price %}
  {% assign quantity = prod.metafields.my_fields.pack_bottles_quantity %}
{% else %}
  {% assign original_item_cap = prod.metafields.my_fields.original_item.value.compare_at_price %}
  {% assign quantity = prod.metafields.my_fields.pack_items_quantity %}
{% endif %}

{% assign item_price = prod.price | divided_by: quantity %}
<div class="price-wrapper">
  <p>
    {% if prod.compare_at_price > prod.price %}<strike class="no-letters rounded">{{ original_item_cap | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike>{% endif %}
    <span class="new-price rounded">{{ item_price | money | replace: ".00", "" | replace: "GBP", "" }}</span>
    {% if quantity > 1 %}<span class="per-bottle"> PER<br>BOTTLE</span>{% endif %}
  </p>
</div>

{% if isLastRender %}
  <style>
    .price-wrapper {
      padding-bottom: unset !important;
    }

    .price-wrapper strike {
      color: var(--dark-grey);
      font-size: 14px;
    }

    .price-wrapper p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-bottom: 3px;
      line-height: 1;
    }

    .price-wrapper .new-price {
      font-weight: bold;
    }

    .price-wrapper .per-bottle {
      font-size: 10px;
      text-align: start;
    }
  </style>
{% endif %}