<div class="prime-day-banner">
  <img class="confetti left" src="{{ 'prime-day-banner-confetti.png' | asset_url }}" alt="confetti" loading="lazy">
  <img class="title" src="{{ 'prime-day-banner-title.png' | asset_url }}" alt="confetti" loading="lazy">
  <img class="confetti right" src="{{ 'prime-day-banner-confetti.png' | asset_url }}" alt="confetti" loading="lazy">
</div>

<style>
  .prime-day-banner {
    background: #FF9900;
    text-align: center;
  }

  .prime-day-banner .confetti {
    width: 30vw;
  }

  .prime-day-banner .title {
    padding: 10px;
    max-width: 20vw;
  }

  .product-slider .discount p {

      background: #FF9900;
      border: 1px solid #FF9900;

  }

  @media screen and (max-width: 768px) {
    .prime-day-banner {
      height: 17vw;
    }

    .prime-day-banner .confetti {
      width: 95vw;
    }

    .prime-day-banner .title {
      position: absolute;
      width: 70%;
      left: 15%;
      max-width: unset;
      padding-top: 3vw;
    }
  }
</style>

<style>
  .main-btn {
    background: #5FA8DD;
    border-color: #5FA8DD;
  }

  .main-btn:hover {
   background: #5FA8DD;
   border-color: #5FA8DD;
  }

  .prime-day-badge {
    max-width: 300px;
  }

  @media screen and (max-width: 768px) {
    .prime-day-badge {
      max-width: unset;
      width: 80%;
      position: relative;
      left: 10%;
    }
  }
</style>