{% assign ingredients = 'ingredients-1.png*Turmeric:Also known as Curcuma Longa, Turmeric has been used in Eastern medicinal systems for hundreds of years to help people maintain healthy glucose levels though healthy insulin tolerance.
|ingredients-2.png*Swertia Chirata:The active ingredients help the pancreatic cells release insulin, reduce absorption of glucose from the digestive system and improve the intracellular metabolism of glucose.
|ingredients-3.png*Bitter Melon:Also known as Karela or Momordica Charantia, Bitter Melon is traditionally used in Eastern medicinal systems to promote healthy physiological function in pancreatic cells, supports glucose absorption, and the sensitivity of the muscle cells to insulin.
|ingredients-4.png*Gymnema Sylvestre:Gymnema Sylvestre has many active compounds including Saponin, which is known to help manage cravings for carbohydrates. Metabolically, it promotes healthy insulin release.
|ingredients-5.png*Picrorhiza Kurroa:The active compounds in Pirorhiza Kurroa act as an anti-oxidant and promotes healthy liver function (protecting it from toxins). This supports healthy glucose tolerance and helps people maintain a healthy weight.
|ingredients-6.png*Amla:Also known as Indian gooseberry or Emblica Officinalis, the active property in Amla is Tannoid, which helps support the physiological function of pancreatic cells.
|ingredients-7.png*Syzygium Cumini:Also known as Eugenia Jambolana, the active components in Syzygium Cumini supports a healthy physiological function in the liver, creating a reservoir of glucose macromolecules, thereby helping maintain healthy fasting blood glucose levels.
|ingredients-8.png*Fenugreek:Also known as Trigonella Foenum Graecum, Fenugreek contains fibers that promotes insulin production, release & sensitivity. Fenugreek also helps support a healthy rate of carbohydrate absorption in the digestive system.
|ingredients-9.png*Cinnamomum Zeylanicum:Cinnamon has many benefits, including supporting healthy glucose absorption & metabolism, promoting healthy insulin release, circulation & sensitivity, and maintaining healthy levels of gluconeogenesis. It also supports healthy weight loss, promotes healthy HbA1c and fasting blood sugar, healthy cholesterol levels, and promotes a healthy nervous system.
' | split: '|' %}

<div class="ingredients-main-slider swiper">
<div class="swiper-button-prev swiper-nav"></div>
<div class="ingredients swiper-wrapper">
    {% for ingredient in ingredients %}
  <div class="swiper-slide">
    <div class="ingredient">
      <img src="{{ ingredient | asset_url | split: "*" | first }}" width="316" height="296" alt="" loading="lazy">
      <div class="ingredient-content">
        <p class="ingredient-title">{{ ingredient | split: "*" | last | split: ":" | first }}</p>
        <p class="ingredient-description">{{ ingredient | split: "*" | last | split: ":" | last }}</p>
      </div>
      </div>
      </div>
    {% endfor %}
 </div>
        <div class="swiper-button-next swiper-nav"></div>
        </div>



        <style>
           .swiper-button-prev,
         .swiper-button-next {
              color: grey;
              transition: opacity .5s
          }

            .ingredient-title {
                font-size: clamp(28px, 1vw, 40px);
                line-height: 2.0rem !important;
            }
        </style>