{% if section.settings.rtlbtm_desc != blank %}
<div class="retail-text gray-bg">
    <div class="container">
        <div class="mini-wrap">
            <div class="text-wrap">
                <p>{{section.settings.rtlbtm_desc}}</p>
            </div>
        </div>
    </div>
</div>
{% endif %}