<section class="nav">
  <div class="container">
    <div class="container-text">

    <div class="summer-sale">
      <img src="{{ 'product-template-summer-sale-banner.png' | asset_url }}" alt="" loading="lazy">
    </div>
    <div class="summer-sale-mobile">
      <img src="{{ 'product-template-summer-sale-banner-mobile.png' | asset_url }}" alt="" loading="lazy">
    </div>
    </div>
  </div>
</section>

<style>
    .nav {
      background: #FDCB3B;
    }

    .container-text {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      max-height: 80px;
    }

    .summer-sale {
      margin: auto;
      z-index: 5;
      position: relative;
      top: -20px;
    }

    .summer-sale-mobile {
      display: none;
    }

    @media screen and (max-width: 760px) {
        .container-text {
            justify-content: space-around;
            max-height: 15vw;
        }

    .summer-sale {
        display: none;
    }

    .summer-sale-mobile {
        display: flex;
        position: relative;
        bottom: -4vw;
        height: 25vw;
        z-index: 2;
    }
}
</style>