<div class="taste">
    <div class="container">
        <div class="taste-title">
            Here's a taste of Winning Type 2
        </div>
        <div class="taste-page">
            <img class="taste-img" src="{{'rebranding-winning-type-2.png' | asset_url }}" width="1215"  alt="1242">
        </div>
    </div>
</div>


<style>
    .taste {
        position: relative;
    }

    .taste-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 45px;
        line-height: 41px;
        letter-spacing: -0.01em;
        color: #404733;
    }

    .taste-img-mb {
        display: none;
    }


    @media screen (max-width: 768px) {
        .taste-title {
            font-size: 35px;
            line-height: 36px;
            
        }

        .taste-img {
            display: none;
        }
    }

    
</style>