<section class="say-goodbye-section">
  <div class="container">
    <div class="say-goodbye">
      <div class="say-goodbye-content">
        <div class="goodbye">Say goodbye to <br> 
        unpredictable blood sugar levels</div>
        <div class="say-hello">and hello to a happier, healthier you. </div>
      </div>
    </div>
  </div>
</section>


<style>

 .say-goodbye-section {
    
    padding: 15px 0;
}

 .say-goodbye-section .say-goodbye {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: center;
    padding: 35px 0;
}


 .say-goodbye-section .say-goodbye .say-goodbye-content .goodbye {
  font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--dark-green);
}

 .say-goodbye-section .say-goodbye .say-goodbye-content .say-hello {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 70px;
    line-height: 65px; 
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--light-green);
    padding-top: 20px;
  
}

 
   .say-goodbye-section .say-goodbye {
      display: flex;
      justify-content: center;
      max-width: 800px;
      margin: auto;
      align-items: center
  }


  @media screen and (max-width: 768px) {


 .say-goodbye-section .say-goodbye .say-goodbye-content .goodbye {
      font-size: 32px;
      line-height: 35px;
    }

    .say-goodbye-section .say-goodbye .say-goodbye-content .say-hello {  
        font-size: 45px;
        line-height: 45px;
    }
  }
</style>