{% if announcement %}
  {% if shop.name == "CuraLife Global" and is_hide_announcement_on_global %}
    {% assign renderAnnouncment = false %}
  {% else %}
    {% assign renderAnnouncment = true %}
  {% endif %}
{% endif %}

<style>
  .top-header a {
    font-family: 'PP Radio Grotesk';
  }

  .top-header .links-list a::after {
    content: '|';
    font-family: 'DM Sans';
    padding: 0 1rem;
  }

  .top-header .links-list a:last-child::after {
    content: '';
    padding: unset;
  }
</style>

<div class="top-header h-[30px] bg-[#F1F1F1] text-[14px] tracking-widest flex md:hidden">
<div class="container flex items-center {% if renderAnnouncment %}justify-between{% else %}justify-end{% endif %}">
    {% if renderAnnouncment %}
      {% if announcement_link %}<a href="{{ announcement_link }}" class="contents" {% if is_announcement_new_tab %}target="_blank"{% endif %}>{% endif %}
        <div class="announcement no-global flex-grow text-center text-[16px] {% if announcement_link %}underline{% endif %}">{{ announcement }}</div>
      {% if announcement_link %}</a>{% endif %}
    {% endif %}

    <div class="links-list flex flex-shrink-0">
      <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">{% if customer %}My Account{% else %}Customer? Log in{% endif %}</a>
      {% unless shop.name == "CuraLife Global" %}
        <a href="/pages/store-locator" class="no-global">Find a Store</a>
      {% endunless %}
      <a href="https://help.curalife.com" target="_blank">Help</a>
    </div>
  </div>
</div>