<style>
  .top-header a {
    font-family: 'PP Radio Grotesk';
  }

  .top-header .links-list a::after {
    content: '|';
    font-family: 'DM Sans';
    padding: 0 1rem;
  }

  .top-header .links-list a:last-child::after {
    content: '';
    padding: unset;
  }
</style>

{% if customer.email == 'yotam@curalife.com' %}
  <div class="top-header h-[30px] bg-[#F1F1F1] text-[14px] flex desktop">
    <div class="container flex items-center justify-between">
      {% if announcement_link %}<a href="{{ announcement_link }}" class="contents">{% endif %}
    <div class="announcement flex-grow font-bold text-center text-[16px] {% if announcement_link %}underline{% endif %}">{{ announcement }}</div>
      {% if announcement_link %}</a>{% endif %}

      <div class="links-list flex flex-shrink-0">
        <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">{% if customer %}My Account{% else %}Customer? Log in{% endif %}</a>
        <a href="/pages/store-locator">Find a Store</a>
        <a href="help.curalife.com">Help</a>
      </div>
    </div>
  </div>
{% endif %}