{% if shop.name == "CuraLife" %}
  {% assign shipping_worldwide = 'FREE US SHIPPING' %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign shipping_worldwide = 'Free Shipping Above £99' %}
{% endif %}

<section id="trust-badges-widget">
  {% if badgesContent contains "free-shipping" %}
    <div class="trust-badge"><i class="fa-thin fa-truck-fast"></i></i>{{ shipping_worldwide }}</div>
  {% endif %}

  {% if badgesContent contains "money-back" %}
    <div class="trust-badge"><i class="fa-thin fa-badge-check"></i>60 Day Money Back Guarantee</div>
  {% endif %}

  {% if badgesContent contains "secure-checkout" %}
    <div class="trust-badge"><i class="fa-thin fa-shield-check"></i>100% Secure Checkout</div>
  {% endif %}
</section>

<style>
  #trust-badges-widget {
    display: flex;
    justify-content: center;
    gap: {% if isMiniVersion %}30px{% else %}50px{% endif %};
    font-size: {% if isMiniVersion %}14px{% else %}16px{% endif %};
    line-height: 1.2rem;
    {% if isMiniVersion %}padding: 0;{% endif %}
  }

  #trust-badges-widget .trust-badge {
    {% if isColumn %}flex-direction: column;{% endif %}
    display: flex;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 14px;
    gap: 5px;
    width: 100%;
  }

  #trust-badges-widget .trust-badge svg {
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    #trust-badges-widget {
      gap: 5vw;
      justify-content: space-around;
      padding: 3vw;
    }

    #trust-badges-widget .container {
      border-bottom: unset;
      gap: unset;
      justify-content: space-between;
    }

    #trust-badges-widget .trust-badge {
      font-size: 2vw;
      flex-direction: column;
      padding-bottom: unset;
    }

    #trust-badges-widget .trust-badge i {
      width: 40px;
      margin-right: unset;
    }
  }

  @media screen and (max-width: 500px) {
    #trust-badges-widget .trust-badge {
      font-size: 3vw;
      line-height: 3vw;
    }
  }

</style>