{% unless shop.name == "CuraLife Global" %}
  <section class="collections-catalog md:pb-4">
    <div class="container md:p-0">
      <div class="collections flex-nowrap md:flex-wrap flex justify-center">
        {% for collection in section.settings.collections_list %}
          <div class="collection md:w-45% w-1/4 p-1">
            <a href="/collections?cat={{ collection.handle }}">
              <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}" loading="lazy">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endunless %}

{% schema %}
{
  "name": "Collections Catalog",
  "enabled_on": {
    "templates": ["index"]
  },
  "settings": [
    {
      "type": "collection_list",
      "id": "collections_list",
      "label": "Collections",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "Collection Catalog"
    }
  ]
}
{% endschema %}