{% if checkout.email %}
  {% assign user_email = checkout.email %}
{% elsif customer.email %}
  {% assign user_email = customer.email %}
{% else %}
  {% assign user_email = 'Did not find customer email' %}
{% endif %}

<section id="quiz-section">
  <div class="container">
<button data-tf-popup="E2sTfAPl" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=P1 Onboarding - Website - Tip Preference" data-tf-open="load" data-tf-transitive-search-params data-tf-medium="snippet" data-tf-hidden="utm_source=,utm_medium=,utm_campaign=,utm_term=,utm_content=,email={{ user_email }},lead_source={{ request.path }},order_id={% if checkout.order.id %}{{ checkout.order.id }}{% else %}{{ order.id }}{% endif %}" style="all:unset;font-family:PP Radio Grotesk;display:inline-block;max-width:100%;text-align:center;margin:auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:var(--dark-green);color:#fff;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Start Your Curalin Journey Here!</button>
    <script src="//embed.typeform.com/next/embed.js"></script>
  </div>
</section>

<style>
  {% comment %} #quiz-section {
    height: 750px;
    border: 4px solid var(--orange);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  } {% endcomment %}

  #quiz-section .container {
    text-align: center;
  }

  #quiz-section h2 {
    margin-bottom: 20px;
    color: #424733;
    font-family: 'PP Radio Grotesk';
    font-size: 34px;
    font-weight: 700;
    text-align: center;
  }
</style>

<script>
  function submit(event) {
    $("#quiz-section").css("visibility", "hidden").animate({ opacity: 0.0 }, 1000);
    $("#quiz-section").height(0);
    woopra.track('Finished Onboarding Quiz', {});
  }
</script>