<div id="floating-cta">{{ section.settings.cta_title }}</div>



<style>

    #floating-cta {
      position: fixed;
      right: 0;
      bottom: 0;
      cursor: pointer;
      width: 100%;
      height: 35px;
      background-color: {{ section.settings.background_color }};
      z-index: 10;
      display: none;
      color: {{ section.settings.text_color }} ;
      padding: 5px;
      font-weight: 600;
      font-size: 30px;
      text-align: center;
      display: none;
    }
  </style>
  <script>
    $("#floating-cta").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#product-catalog-section").offset().top + 130
      }, 2000);
    });

    if ($(window).width() < 761) {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 800 && $(this).scrollTop() < ($("#product-catalog-section").offset().top - 1000)) {
          $('#floating-cta').fadeIn();
        } else {
          $('#floating-cta').fadeOut();
        }
      });
    }
  </script>

  {% schema %}
    {
      "name":"Floating CTA",
      "tag":"section",
      "class":"floating-cta no-padding",
      "disabled_on":{
         "groups":[
            "header",
            "footer"
         ]
      },
      "settings":[
         {
            "type":"text",
            "id":"cta_title",
            "label":"CTA Title",
            "default": "ORDER NOW"
         },
        
         {
            "type":"color",
            "id":"background_color",
            "label":"CTA color",
            "default": "#404733"
         },
         {
            "type":"color",
            "id":"text_color",
            "label":"Text Color",
            "default": "#fff"
         }
      ],
      "presets":[
         {
            "name":"Floating CTA"
         }
      ]  
    }
  {% endschema %}