<section class="how-to-sections no-padding">
  

    <img src="{{ section.settings.desktop_image | img_url: 'master' }}" width="1884" height="999" alt="" class="desktop-full" loading="lazy">
    <img src="{{ section.settings.mobile_image | img_url: 'master' }}"  width="658" height="376" alt="" class="mobile-515" loading="lazy">
 
</section>

<style>
 .desktop-full {
  display: block;
 }
 .mobile-515 {
  display: none;
 }

 @media screen and (max-width: 515px) {
  .desktop-full {
   display: none;
  }
  .mobile-515 {
   display: block;
  }
 }
</style>

{% schema %}
{
  "name": "Just Image Section",
  "tag": "section",
  "class": "how-to-image-text no-padding",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }      
  ],
  "presets": [
    {
      "name": "Just Image Section"
    }
  ]
}
{% endschema %}