<section class="research-sources">
    <div class="container">
        <div class="data-wrap">
            <h2>{{ section.settings.title1 }}<br>
                {{ section.settings.title2 }}</h2>
            <p>{{ section.settings.text_description }}</p>
        </div>
    </div>
</section>

<style>
.research-sources {
    background: {{ section.settings.background_color }};
    padding-top: 10px;
}

.research-sources h2 {
    text-align: center;
    font-weight: bold;
}

.research-sources .data-wrap p {
    margin: 0;
    padding-bottom: 0.9375rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.29;
    margin-top: 20px;
}
    @media screen and (max-width:768px) {

    }
</style>

{% schema %}
    {
      "name": "LPS Sources",
      "tag": "section",
      "class": "lps-sources no-padding",
      "disabled_on":{
         "groups":[
            "header",
            "footer"
         ]
      },
      "settings":[
         {
            "type":"color",
            "id":"background_color",
            "label":"Background Color",
            "default": "#F0F0F0"
         },
         {
            "type":"text",
            "id":"title1",
            "label":"Title 1",
            "default": "Research and Science"
         },
         {
            "type":"text",
            "id":"title2",
            "label":"Title 2",
            "default": "Referenced Studies"
         },
         {
            "type":"text",
            "id":"text_description",
            "label":"Text"
         }
      ],
      "presets":[
         {
            "name":"LPS Sources"
         }
      ]

    }
{% endschema %}