
  <div class="container">
    <div class="return-policy">
      <img src="{{ section.settings.image_policy | img_url: 'master' }}" width="147" height="147" alt="" loading="lazy">
      <div class="return-policy-content">
        <p class="title">{{ section.settings.title }}</p>
        <p class="description">{{ section.settings.description }}</p>
      </div>
    </div>
  </div>


<style>
  .return-policy-section {
      background-color: {{ section.settings.bg_color }}
  }

  .return-policy-section .return-policy {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: center
  }

  .return-policy-section .return-policy img {
    width: 100px;
    height: 100px;
    object-fit: contain
  }

  .return-policy-section .return-policy .return-policy-content {
    margin-left: 30px;
  }

  .return-policy-section .return-policy .return-policy-content .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .return-policy-section .return-policy .return-policy-content .description {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .return-policy-section .return-policy img {
      width: 23vw;
    }

    .return-policy-section .return-policy .return-policy-content {
      margin-left: 6vw;
    }

    .return-policy-section .return-policy .return-policy-content .title {
      font-size: 24px;
    }
  }
</style>

{% schema %}
    {
        "name": "Return Policy",
        "tag": "section",
        "class": "return-policy-section",
        "disabled_on":{
           "groups":[
              "header",
              "footer"
           ]
        },
        "settings": [
           {
              "type":"color",
              "id":"bg_color",
              "label":"Background Color",
              "default": "#e7f2f1"
           },
           {
            "type": "image_picker",
            "id": "image_policy",
            "label": "Image"
           },
           {
            "type": "text",
            "id": "title",
            "label": "Title"
           },
           {
            "type": "text",
            "id": "description",
            "label": "Description"
           }
        ],
        "presets":[
           {
              "name":"Return Policy"
           }
        ]
    }
{% endschema %}