.vscode
.vscode/settings.json
.DS_Store
.liquidrc
.husky
node_modules
package-lock.json
yarn.lock
mix-manifest.json
Curalife-Theme-Build
.shopify
# lighthouse-local-tests # Original path
testing/lighthouse/lighthouse-local-tests/
# .lighthouseci # Original path
testing/lighthouse/.lighthouseci/
testing/lighthouse/lighthouse-local-testing/
tmp_eslint
**/tmp_*

testing/lighthouse/performance-reports/