{
	"plugins": [
		"@shopify/prettier-plugin-liquid",
		"prettier-plugin-tailwindcss"
	],
	"htmlWhitespaceSensitivity": "strict",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"quoteProps": "as-needed",
	"requirePragma": false,
	"printWidth": 150,
	"proseWrap": "preserve",
	"semi": true,
	"liquidIndentScriptAndStyle": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"indentSchema": true
}