<section class="collection-menu">
	<div class="container">
		<ul>
			{% if section.settings.is_all %}
				<li><a href="#" data-collection-handle="all" class="active">All</a></li>
			{% endif %}

			{% for collection in section.settings.collections %}
				<li>
					<a
						href="/collections?cat={{ collection.handle }}"
						{% if request.path contains collection.handle %}
							class="active"
						{% endif %}>
						{{ collection.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<style>
	.collection-menu ul {
		display: flex;
		flex-wrap: wrap;
		gap: 35px 10px;
		padding: 10px 0;
		justify-content: space-between;
	}

	.collection-menu ul li a {
		color: var(--light-green);
		padding: 10px 20px;
		border-radius: 20px;
		font-size: 20px;
		transition: all 0.3s ease-in-out;
	}

	.collection-menu ul li a.active {
		background: var(--vomit);
		color: var(--dark-green);
	}

	@media screen and (max-width: 768px) {
		.collection-menu.slide .container {
			--scrollbar-width: 0px;
			--mask-width: 20px;
			overflow-y: auto;
			width: 90vw;
			padding-right: var(--mask-width);
			--mask-image-content: linear-gradient(to right, transparent, white var(--mask-width), white calc(100% - var(--mask-width)), transparent);
			--mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
			--mask-image-scrollbar: linear-gradient(white, white);
			--mask-size-scrollbar: var(--scrollbar-width) 100%;
			-webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
			-webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
			-webkit-mask-position: 0 0, 100% 0;
			-webkit-mask-repeat: no-repeat, no-repeat;
			mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
			mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
			mask-position: 0 0, 100% 0;
			mask-repeat: no-repeat, no-repeat;
		}

		.collection-menu ul {
			gap: 3vw;
			justify-content: center;
		}

		.collection-menu.slide ul {
			width: max-content;
		}

		.collection-menu ul li a {
			padding: 1vw 4vw;
			font-size: 5vw;
		}
	}
</style>

{% schema %}
	{
		"name": "Collection Menu",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "collection_list",
				"id": "collections",
				"label": "Collections"
			},
			{
				"type": "checkbox",
				"id": "is_all",
				"label": "Show All Tab"
			}
		],
		"presets": [
			{
				"name": "Collection Menu"
			}
		]
	}
{% endschema %}
