<section class="collection-page">
  <div class="container flex">
    <ul class="collections-menu side-menu">
      {% for collectionItem in section.settings.collection_list %}
        <li class="menu-item {% if collectionItem.handle == collection.handle %}active{% endif %}"><a href="{{ collectionItem.url }}">{{ collectionItem.title }}</a></li>
      {% endfor %}
    </ul>

    {% render 'collection', collection_handle: collection.handle, isDescription: true, isNoTitle: false, isNoPrices: false, isLinkToCollection: false, isCentered: customer.b2b?, isNoBundles: false, isLastCollectionRender: isLastCollectionRender %}
  </div>
</section>

{% schema %}
  {
      "name": "Collection Page",
      "disabled_on": {
        "groups": [
          "header",
          "footer"
        ]
      },
      "settings": [
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections"
        }
      ],
      "presets": [
      {
        "name": "Collection Page"
      }
    ]
  }
  {% endschema %}