<div class="modal-content" id="thanks-modal">
  <div class="container">
    <div class="modal-bg">
      <div class="modal-scroll">
        <h1>{{settings.thnk_titl}}</h1>
        <img src="{{ 'thank-you-main-image.jpg' | asset_url }}" alt="404">
        <div class="modal-text">
          <p id="thank-you-description">{{settings.thnk_desc}}</p>
        </div>
        <div class="modal-btn">
          <a href="/" class="main-btn">CONTINUE TO HOMEPAGE</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-content{
    max-width: 100% !important;
  }
  .modal-content .modal-btn .main-btn{
    max-width: 285px !important;
  }

  #thanks-modal {
    text-align: center;
    padding: 50px 0;
  }

  #thanks-modal h1 {
    font-size: 40px;
  }

  #thanks-modal img {
    width: 500px;
  }

  #thanks-modal .modal-btn {
    padding-top: 20px;
  }
</style>

<script>
  const urlParams = new URLSearchParams(window.location.search);

  if (urlParams.get('type') == 'contact-us') {
    $("#thank-you-description").text("Our team will get back to you shortly!");
  }
</script>