<script src="https://cdn.jsdelivr.net/npm/shikwasa@2.2.1/dist/shikwasa.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/shikwasa@2.2.1/dist/style.min.css" rel="stylesheet">

  <div class="audio-player mb-4"></div>

  <script>
    const { Player } = window.Shikwasa
    const player = new Player({
      container: () => document.querySelector('.audio-player'),
      audio: {
        title: '{{ title }}',
        artist: 'Curalife FM',
        cover: '{{ cover_image }}',
        src: '{{ audio_file }}',
      },
      theme: 'light',
      themeColor: '#3A7684'
    })
  </script>