<span class="breadcrumb-separator px-2">&gt;</span>
<span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
	{% if link %}
		<a href="{{ link }}" itemprop="item">
			<span itemprop="name">
				{% assign words_array = title | split: ' ' %}
				{% for word in words_array %}
					{{ word | capitalize }}
				{% endfor %}
			</span>
		</a>
	{% else %}
		<span itemprop="name" class="{% if is_current %}current-page text-primary{% endif %}">
			{% assign words_array = title | split: ' ' %}
			{% for word in words_array %}
				{{ word | capitalize }}
			{% endfor %}
		</span>
	{% endif %}

	<meta itemprop="position" content="{{ position }}">
</span>
