<div class="spinner-wrapper">
  <div class="spinner"></div>
</div>

<script>
  let spinnerWrapper = document.querySelector('.spinner-wrapper');
  let body = document.querySelector('body');

  body.addEventListener('load', function(){
    spinnerWrapper.style.opacity = '0';
    setTimeout(function() {
      spinnerWrapper.style.display = 'none';
    }, 500); // match the duration of the fade-out transition
  });
</script>

<style>
  .spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .spinner::before,
  .spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  .spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, var(--orange) 0%, var(--blue) 100% );
    animation: spin .5s infinite linear;
  }

  .spinner:after {
    width: 90%;
    height: 90%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
</style>