<div class="subscription-details relative underline text-[12px] cursor-pointer hover:color-[]">Subscription Details
  <div id="tooltip" style="display: none;">
    <h6 class="text-[18px]">{{ title }}</h6>
    <p class="description">{{ description }}</p>
    <ul class="features">
      {% for feature in features %}
        <li>{{ feature }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<style>
  #tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    z-index: 10;
    top: 20px;
  }

  .features {
    list-style: none;
    padding: 0;
    margin-bottom: 3px;
  }

  .features li {
    display: flex;
    align-items: flex-start;
  }

  .features li::before {
    content: '✓';
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 13px;
    min-height: 13px;
    border-radius: 50%;
    background-color: var(--dark-green);
    color: white;
    margin-right: 10px;
    font-size: 9px;
  }
</style>

<script>
  const subscriptionDetails = document.querySelector(".subscription-details");
  const tooltip = document.querySelector("#tooltip");

  // Flag to keep track of whether the tooltip should stay open
  let shouldStayOpen = false;

  // Show/hide tooltip on hover
  subscriptionDetails.addEventListener("mouseover", function() {
    if (!shouldStayOpen) {
      tooltip.style.display = "block";
    }
  });
  subscriptionDetails.addEventListener("mouseout", function() {
    if (!shouldStayOpen) {
      tooltip.style.display = "none";
    }
  });

  // Toggle tooltip on click
  subscriptionDetails.addEventListener("click", function() {
    shouldStayOpen = !shouldStayOpen;
    tooltip.style.display = shouldStayOpen ? "block" : "none";
  });
</script>