
<section class="comunity-page">
 <div class="community-header">
    <div class="container">
      <div class="pover"></div>
    </div>
 </div>
 
</section>

<style>
  .community-header {
    background-image: url("{{ 'rebranding-hero-banner-community.png' | asset_url }}");
    background-size: cover;
    width: 100%;
    height: 656px;
  }

  .comunity-page .community-header .container {
    max-width: 1200px;
  }


</style>

