<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>



<section class="comunity-page">
 
 
</section>

<style>
  .community-page {
    background-image: url("{{ 'rebranding-hero-banner-community.png' | asset_url }}");
    background-size: cover;
  }
   .container {
    max-width: 1200px !important;
  }

</style>

