
<section class="comunity-page">
 <div class="community-header">

 </div>
 
</section>

<style>
  .community-header {
    background-image: url("{{ 'rebranding-hero-banner-community.png' | asset_url }}");
    background-size: cover;
    width: 100%;
    height: 656px;
  }


</style>

