
<section class="comunity-page">
 <div class="community-header">
    <div class="container">
      <div class="power">
        <h1>Discover 
        the power of community</h1>
      </div>
    </div>
 </div>
 
</section>

<style>
  .community-header {
    background-image: url("{{ 'rebranding-hero-banner-community.png' | asset_url }}");
    background-size: cover;
    width: 100%;
    height: 656px;
  }

  .comunity-page .community-header .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

  .comunity-page .community-header .container .power h1 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 86px;
    line-height: 72px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-shadow: 0px 4px 15px #5E8F8F;
    max-width: 600px;
    padding-top: 120px;
    padding-left: 100px;
  }

  @media screen and (max-width: 768px) {
    .comunity-page .community-header .container .power h1 {
      font-size: 12vw;
      line-height: 10vw;
      padding-left: 4vw;
    }
  }

</style>

