
<div class="health-glucome">
    <div class="container">
        <div class="glucome-wrapper">

        </div>
    </div>
</div>


<style>
    .glucome-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    } 


    @media screen and ( max-width: 768px ) {
        
    }  
</style>





{% schema %}
{
    "name": "Health04",
    "tag": "section",
    "class": "health-04",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Title"
    },

    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
    },
    {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
    },  
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "subtitle2",
      "label": "Subtitle 2"
    },
    {
        "type": "text",
        "id": "main_content",
        "label": "Content"
    },
    {
        "type": "text",
        "id": "main_content2",
        "label": "Content 2"
    }
],
    "presets": [{
        "name": "Health04"
    }]
}
{% endschema %}