<div class="health-page">
    <div class="container">
        <h1>{{ section.settings.title }}</h1>
    </div>
    <div class="img-egg">
        <img src="{{  }}" alt="">
    </div>
</div>


<style>
   .container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }
</style>






{% schema %}
{
    "name": "Health",
    "tag": "section",
    "class": "health",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Heading"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
      "type": "text",
      "id": "sutitle",
      "label": "Subtitle"
    },
    {
        "type": "richtext",
        "id": "main_content",
        "label": "Content"
    }
],
    "presets": [{
        "name": "Health"
    }]
}
{% endschema %}