<div class="health-one-page">
   
    <div class="container">
        <div class="glucometer-wrapper">

        <div class="img-glucometer">
            <img src="{{ section.settings.image_1 | image_url }}" width="1178" height="722" alt="">
        </div>
           
           <div class="glucometer-titles">
            <div class="glucometer-subtitle">{{ section.settings.subtitle }}</div>
            <div class="content-glucometer">
                {{ section.settings.main_content }}
            </div>
             </div>
           
          
        </div>
       
       
    </div>
   
</div>


<style>
   .container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }
</style>


<style>
    .health-one-page {
        position: relative;
        overflow: hidden;
        background: {{ section.settings.bg_color }};
    }

   
    .glucometer-wrapper {
        max-width: unset;
        display: flex;
        align-items: center;
    }

    .glucometer-titles {
        max-width: 527px;
        display: flex;
        flex-direction: column;
    }

    .glucometer-subtitle {
        font-family: 'PP Radio Grotesk';
        font-weight: 400;
        font-size: 30px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #404733;
    }

    .img-glucometer {
        margin-bottom: -25px;
    }

    .content-glucometer {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        letter-spacing: -0.01em;
        padding: 20px 0;
    }


    @media screen and (max-width: 768px) {
        .glucometer-wrapper {
            flex-direction: column-reverse;
        }

        .img-glucometer {
            
        }

        .glucometer-titles {
            max-width: unset !important;
            padding-top: 1em;
            padding-left: unset;
        }

      

        .glucometer-subtitle {
            font-size: 10vw;
            line-height: 10vw;
        }

        .content-glucometer {
            max-width: unset;
            font-size: 6vw;
            line-height: 7vw;
            padding: 2vw 0 0;
        }
    }


 

    
</style>



{% schema %}
{
    "name": "Health01",
    "tag": "section",
    "class": "health-01",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },

    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
    },
  
   
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "main_content",
        "label": "Content"
    }
],
    "presets": [{
        "name": "Health01"
    }]
}
{% endschema %}