<section class="hero-banner">
  <div class="container">
    <h1>
      There’s a science to healthy blood sugar and we cracked it.<br>
      <span>Because you deserve health that lasts</span>
    </h1>
  </div>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "class": "hero-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg-image"
    },
    {
      "type": "text",
      "id": "small_header"
    },
    {
      "type": "text",
      "id": "big-header"
    }
  ]
}
{% endschema %}