<section class="ingredients-section">
  <div class="no-padding container">
    <div class="ingredients-sliders">
      <div class="ingredients-thumbs-slider swiper">
        <div class="ingredients swiper-wrapper">
          {% for block in section.blocks %}
            <div class="ingredient swiper-slide">
              <img src="{{ block.settings.ingredient_image | img_url }}" width="316" height="296" alt="" loading="lazy">
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="ingredients-main-slider swiper">
        <div class="swiper-button-prev swiper-nav"></div>

        <div class="ingredients swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="ingredient">
                <img src="{{ block.settings.ingredient_image | image_url }}" width="316" height="296" alt="" loading="lazy">
                <div class="ingredient-content">
                    <h3 class="ingredient-title h5">{{ block.settings.ingredient_title }}</h3>
                    <p class="ingredient-description">{{ block.settings.ingredient_description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-button-next swiper-nav"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<style>
  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient {
    cursor: pointer;
    opacity: .7;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient.swiper-slide-thumb-active {
    opacity: 1;
  }

  .ingredients-section .ingredients-sliders .ingredients-thumbs-slider .ingredients .ingredient img {
    width: 120px;
  }

  .ingredients-section .swiper-button-prev.disabled, .ingredients-section .swiper-button-next.disabled {
    opacity: 0;
  }

  .ingredients-section .swiper-button-prev:after, .ingredients-section .swiper-button-next:after {
    font-size: 22px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
  }

  .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    .ingredients-section .ingredients-sliders .ingredients-main-slider .swiper-nav {
      top: 150px;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient {
      flex-direction: column;
      max-width: 80%;
      text-align: center;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: unset;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      margin: 0;
      font-weight: 600;
    }

    .ingredients-section .ingredients-sliders .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
      margin: 10px 0;
    }

    .ingredients-section .swiper {
      overflow: visible;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    loadSwiper(() => {
      window.ingredientsThumbsSliderAllInOne = initializeSwiper('.ingredients-section .ingredients-thumbs-slider.swiper', {
        slidesPerView: 5,
        spaceBetween: 10,
        loop: false,
        breakpoints: {
          760: {
            slidesPerView: 7,
            centeredSlides: false,
          },
          1200: {
            slidesPerView: 9,
            centeredSlides: false,
          }
        }
      });
    });

    loadSwiper(() => {
      window.ingredientsThumbsSliderAllInOne = initializeSwiper('.ingredients-section .ingredients-main-slider.swiper', {
        slidesPerView: 1,
        spaceBetween: 15,
        watchSlidesVisibility: false,
        loop: false,
        grabCursor: true,
        autoHeight: true,
        slideToClickedSlide: true,
        pagination: {
                el: '.ingredients-main-slider .swiper-pagination',
                clickable: 'true',
                type: 'bullets',
              },
        navigation: {
          nextEl: '.ingredients-section .swiper-button-next',
          prevEl: '.ingredients-section .swiper-button-prev',
          disabledClass: 'disabled'
        },
        breakpoints: {
          760: {
            pagination: {}
          }
        },
        thumbs: {swiper: ingredientsThumbsSliderAllInOne}
      });
    });
  });
</script>

{% schema %}
{
  "name": "Ingredients",
  "class": "ingredients-section-wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks":[
    {
      "name":"Ingredient",
      "type":"ingredient-type",
      "settings":[
        {
          "type": "image_picker",
          "id": "ingredient_image",
          "label": "Ingredient Image"
        },
        {
          "type": "text",
          "id": "ingredient_title",
          "label": "Ingredient Title"
        },
        {
          "type": "text",
          "id": "ingredient_description",
          "label": "Ingredient Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ingredients"
    }
  ]
}
{% endschema %}