<a id="opn_thanks" href="javascript:void(0)" class="open-modal" data-fancybox="" data-src="#thanks-modal">
                        <span>thanks</span></i></a>
<div class="login-page">
    <div class="container">
        <div class="mini-wrap">
            <div class="page-title">
                <div class="sub-title">
                    <h1>{{section.settings.lgn_titl}}</h1>
                </div>
            </div>
            <div class="login-form">
                {% if section.settings.lgn_img != blank %}
                <div class="picture">
                    <div class="img-wrap">
                        <img src="{{ section.settings.lgn_img | image_url: width: 610 }}" width="600px" height="750px" alt="" loading="lazy">
                    </div>
                </div>
                {% endif %}
                <div class="form-wrap">
                    <div class="main-action">
                        <div class="sub-title">
                            <h4>{{section.settings.lgn_sbtitl}}</h4>
                        </div>
                        {% form 'customer_login' %}
                            {{ form.errors | default_errors }}
                            <input id="redirect_url" type="hidden" name="return_to" value="/">
                            <div class="form-fields">
                                <label for="customerEmail" class="full-size">
                                    <input type="email" placeholder="E-mail" name="customer[email]"
                                    id="customerEmail"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email">
                                </label>
                                <label for="customerPassword" class="full-size">
                            <input type="password" placeholder="Password"  name="customer[password]" id="customerPassword">
                                </label>
                            </div>
                            <div class="submit-form">
                                <button type="submit" class="main-btn" id="login-submit">Submit</button>
                                <a href="/account/register" class="main-btn blank">Create Account</a>
                            </div>
                        {% endform %}
                    </div>
                    <div class="extra-action">
                        <div class="text">
                            <p>Forgot your password?</p>
                        </div>
                        <div class="btn">
                            <a href="/pages/reset-password" class="main-btn blank">Reset your password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Login",
        "settings": [
             
            {
                "type": "text",
                "id": "lgn_titl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
                "type": "header", 
                "content": "Image Section Start" 
            },
            {
                "type": "image_picker",
                "id": "lgn_img",
                "label": "Select Image"
            },
            {
                "type": "header", 
                "content": "form Section Start" 
            },
            {
                "type": "text",
                "id": "lgn_sbtitl",
                "label": "Title",
                "default": "Enter Title"
            }
            
            
        ],    
            
        "presets":[
            {
                "name": "Login",
                "category": "Account"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

$("#login-btn").click(function() {
    // Identify customer
    woopra.identify({
        email: $("#customerEmail").text()
    });
  });



{% endjavascript %}
<style>
   #opn_thanks{
    opacity: 0;
   }
   
</style>
<script>
   
   
      $(document).ready(function() {
    
     var  x = localStorage.getItem("reset_password");
      if (x=='true') {
       localStorage.setItem("reset_password", false);
       $("#opn_thanks").click();

     }
         
    
        });
      </script>
<script>
      $(document).ready(function() {
           var url =  window.location.href; 
           $("#redirect_url").val(url);
        });
      </script>