<div class="page-intro">
    <div class="container">
        <div class="mini-wrap">
            <div class="intro-wrap">
                <div class="data-wrap">
                    <div class="intro-text">
                        <div class="sub-title">
                            <h1>Our Story</h1>
                        </div>
                    </div>
                </div>
               
                <div class="data-wrap">
                    <div class="img-wrap">
                        <img src="{{ 'intro-03.png' | asset_url }}" width="600px" height="504px" alt="">
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Our Story Banner",
    "settings": [
     
       {
        "type": "textarea",
        "id": "strbnr_desc",
        "label": "Description",
        "default": "Enter Description"
       }
       
    ],
    "presets":[
      {
      "name": "Our Story Banner",
      "category": "image"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}