<div class="connection">
   <div class="container">
    <div class="both-connection-wrapper">

    </div>
   </div>
</div>


<style>
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>

<style>
    .connection {
        width: 700px;
        background: {{ section.settings.bg_color }};
    }

</style>




{% schema %}
{
    "name": "Connection I&T",
    "tag": "section",
    "class": "connection-i-t",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle_1",
            "label": "Subtitle 1"
        },

        {
            "type": "text",
            "id": "subtitle_2",
            "label": "Subtitle 2"
        },

        {
            "type": "richtext",
            "id": "main_content_1",
            "label": "Content 1"
        },

        {
            "type": "richtext",
            "id": "main_content_2",
            "label": "Content 2"
        }

    ],
    "presets": [{
        "name": "Connection I&T"
    }]
}
{% endschema %}