

{% assign index = forloop.index %}


<div class="suppliments">
     <div class="container" >
  <div class="suppliment-tech-wrapper">
      <div class="button-container">
          <button id="button1" class="active-button" onclick="showScreen('screen1')"><span class="supl">Supplement</span></button>
          <button id="button2" onclick="showScreen('screen2')"><span class="tech">Tech</span></button>
      </div>

      <div id="screen1" class="screen">
        <div class="tabbed-content desktop-version">
          <nav class="tabs">
            <ul>
              <li><a href="#tab1" class="active">1 Start with a need</a></li>
              <li><a href="#tab2">2 Driven by research</a></li>
              <li><a href="#tab3">3 Our commitment to excellence</a></li>
              <li><a href="#tab4">4 What you see is what you get </a></li>   
            </ul>
          </nav>
          <div class="content">
            <div id="tab1" class="item active">
              <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
            </div>
            <div id="tab2" class="item">
              <p>We believe in the power of nature and ancient knowledge to provide healing and wellness. We are constantly exploring the natural world for potent ingredients and incorporating ancient techniques and remedies into our products and formulations. While some of the scientific terms and concepts may be unfamiliar to some, we trust in the expertise and research from our team to bring you the most effective and natural solutions possible.</p>
            </div>
            <div id="tab3" class="item">
              <p>There are no hidden secrets or surprises in our formulas - what you see is exactly what you get. We prioritize transparency so you can feel confident and comfortable with what you're putting into your body. We're proud to offer ingredients that are clinically tested, non-GMO, vegan, vegetarian, and gluten-free, so you can feel at ease.</p>
            </div>
            <div id="tab4" class="item">
              <p>We take pride in the quality and safety of our products. Our products are manufactured in facilities that meet the highest requirements for transparency and traceability and have been regulated by the FDA and certified by third parties to be in compliance with current Good Manufacturing Practices (cGMPs). Each capsule is carefully formulated to meet our specifications for purity, and potency, and is rigorously tested to ensure that it meets all label claims and free from contaminants. We prioritize the quality and safety of our products, and are committed to providing our customers with the best possible health and wellness solutions.</p>
            </div>
          </div>
        </div>

        <div class="tabbed-content mobile-version">
          <nav class="tabs">
            <ul>
              <li><a href="#tab11" class="active"><span>1</span> Start with a need</a></li>
             <div class="content">
             <div id="tab11" class="item active">
               <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
             </div>
             </div>
             
              <li><a href="#tab12"><span>2</span> Driven by research</a></li>
             <div class="content">
                <div id="tab12" class="item">
                  <p>We believe in the power of nature and ancient knowledge to provide healing and wellness. We are constantly exploring the natural world for potent ingredients and incorporating ancient techniques and remedies into our products and formulations. While some of the scientific terms and concepts may be unfamiliar to some, we trust in the expertise and research from our team to bring you the most effective and natural solutions possible.</p>
                </div>
             </div>
              <li><a href="#tab13"><span>3</span> Our commitment to excellence</a></li>
             <div class="content">
                <div id="tab13" class="item">
                  <p>There are no hidden secrets or surprises in our formulas - what you see is exactly what you get. We prioritize transparency so you can feel confident and comfortable with what you're putting into your body. We're proud to offer ingredients that are clinically tested, non-GMO, vegan, vegetarian, and gluten-free, so you can feel at ease.</p>
                </div>
             </div>
              <li><a href="#tab14"><span>4</span> What you see is what you get </a></li> 
             <div class="content">
                <div id="tab14" class="item">
                  <p>We take pride in the quality and safety of our products. Our products are manufactured in facilities that meet the highest requirements for transparency and traceability and have been regulated by the FDA and certified by third parties to be in compliance with current Good Manufacturing Practices (cGMPs). Each capsule is carefully formulated to meet our specifications for purity, and potency, and is rigorously tested to ensure that it meets all label claims and free from contaminants. We prioritize the quality and safety of our products, and are committed to providing our customers with the best possible health and wellness solutions.</p>
                </div>  
             </div>
            </ul>
          </nav>   
          
        </div>

      </div>
     

      <div id="screen2" class="screen" style="display:none">
        <div class="tabbed-content desktop-version">
            <nav class="tabs">
              <ul>
                <li><a href="#tab5" class="active">1 Start with a need</a></li>
                <li><a href="#tab6">2 How we do what we do</a></li>
                <li><a href="#tab7">3 Technology</a></li>
                <li><a href="#tab8">4 Innovation</a></li>
                <li><a href="#tab9">5 Human Experience</a></li>
                <li><a href="#tab10">6 Your data is secured</a></li>
              </ul>
            </nav>
            <div class="content">
              <div id="tab5" class="item active">
                <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
              </div>
              <div id="tab6" class="item">
                <p>Healthcare should be an empowering experience for patients. That's why we've created a platform that puts patients in control of their healthcare decisions and uses engaging techniques like gamification to make the process enjoyable. We are passionate about innovation that makes healthcare more accessible, affordable, and convenient for all. By empowering patients as customers, we can revolutionize the healthcare industry and improve the lives of people everywhere.</p>
              </div>
              <div id="tab7" class="item">
                <p>We're on a mission to bring healthcare within reach for everyone. Equality in care is at the base of everything we do. We know that superior clinical outcomes are rooted in personalizing care programs that actually work for people. Why? Because getting patients involved in their own care makes all the difference. And the best part? By doing all this, we are partnering with patients and providers, making this whole thing called health actually work ;)</p>
              </div>
              <div id="tab8" class="item">
                <p>Healthcare is expensive. It’s expensive for those without insurance, of course, but also for those who don't have enough coverage and even those with ‘good’ coverage. We use digital first innovation to cut costs, and connect between therapeutics and digital therapeutics that form habits that stick, and health that lasts. We aren't shy with reinventing and challenging the status quo, working with patients, providers and medical professionals alike.</p>
              </div>
              <div id="tab9" class="item">
                <p>Technology can be as disruptive, as advanced as going to mars, but when it's about your health, you first need tech that you understand and that understands you. That you can use comfortably without asking your grandson’s help. We make sure the screens you see, the buttons you press and the overall experience you have with our tech is awesome.</p>
              </div>
              <div id="tab10" class="item">
                <p>Patient data security is of the utmost importance. We follow all HIPAA and GDPR regulations to ensure that your personal information is kept confidential. In addition, we have implemented robust cyber protocols to protect against any unauthorized access or breaches. Rest assured that your data is in good hands and we take every precaution to keep it secure. Your trust is important to us, and we are committed to upholding the highest standards of data protection.</p>
              </div>
            </div>
          </div>
         <div class="tabbed-content mobile-version">
           <nav class="tabs">
             <ul>
               <li><a href="#tab15" class="active"><span>1</span> Start with a need</a></li>
              <div class="content">
              <div id="tab15" class="item active">
                <p>Personalized care, patient engagement and habit forming are crucial for successfully managing chronic metabolic disorders, yet the current healthcare system is failing to deliver on these fronts. By fostering greater engagement and empowerment and by approaching patients as people first, we can help them effectively manage their conditions and improve their quality of life.</p>
              </div>
              </div>

               <li><a href="#tab16"><span>2</span> How we do what we do</a></li>
              <div class="content">
                 <div id="tab16" class="item">
                   <p>Healthcare should be an empowering experience for patients. That's why we've created a platform that puts patients in control of their healthcare decisions and uses engaging techniques like gamification to make the process enjoyable. We are passionate about innovation that makes healthcare more accessible, affordable, and convenient for all. By empowering patients as customers, we can revolutionize the healthcare industry and improve the lives of people everywhere.</p>
                 </div>
              </div>
               <li><a href="#tab17"><span>3</span> Technology</a></li>
              <div class="content">
                 <div id="tab17" class="item">
                   <p>We're on a mission to bring healthcare within reach for everyone. Equality in care is at the base of everything we do. We know that superior clinical outcomes are rooted in personalizing care programs that actually work for people. Why? Because getting patients involved in their own care makes all the difference. And the best part? By doing all this, we are partnering with patients and providers, making this whole thing called health actually work ;)</p>
                 </div>
              </div>
               <li><a href="#tab18"><span>4</span> Innovation</a></li> 
              <div class="content">
                 <div id="tab18" class="item">
                   <p>Healthcare is expensive. It’s expensive for those without insurance, of course, but also for those who don't have enough coverage and even those with ‘good’ coverage. We use digital first innovation to cut costs, and connect between therapeutics and digital therapeutics that form habits that stick, and health that lasts. We aren't shy with reinventing and challenging the status quo, working with patients, providers and medical professionals alike.</p>
                 </div>
                 </div>
                 
            <li><a href="#tab19"><span>5</span> Human Experience</a></li> 
            <div class="content">
               <div id="tab19" class="item">
                 <p>Technology can be as disruptive, as advanced as going to mars, but when it's about your health, you first need tech that you understand and that understands you. That you can use comfortably without asking your grandson’s help. We make sure the screens you see, the buttons you press and the overall experience you have with our tech is awesome.</p>
               </div>  
              </div>
              <li><a href="#tab20"><span>6</span> Your data is secured</a></li> 
              <div class="content">
                 <div id="tab20" class="item">
                   <p>Patient data security is of the utmost importance. We follow all HIPAA and GDPR regulations to ensure that your personal information is kept confidential. In addition, we have implemented robust cyber protocols to protect against any unauthorized access or breaches. Rest assured that your data is in good hands and we take every precaution to keep it secure. Your trust is important to us, and we are committed to upholding the highest standards of data protection.</p>
                 </div>  
                </div>
             </ul>
           </nav>   

         </div>
       </div>
     </div>
   </div>
 </div>
 

  
<style>
    .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }
    .suppliment-tech-wrapper {
        margin: 50px auto;
        background: #FFFFFF;
        border: 1px solid #E8E8B0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        max-width: 510px;
        margin: 20px auto;
    }

    .button-container button {
        position: relative;
        width: 100%;
        padding: 2px 40px;
        background: #FFFFFF;
        border: 1px solid #404733;
        border-radius: 80px;  
        cursor: pointer;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 30px;
        line-height: 69px;
        letter-spacing: -0.01em;
        color: #404733;
        text-align: right;
    }


    .button-container button.active-button {
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 20%;
        position: absolute;
        z-index: 1;
        background-color: #404733;
        color: #FFFFFF;

    }

    .tech {
        position: relative;
        left: -66px;
    }

    .button-container button.active-button .tech {
        position: unset;
    }

    .supl {
        
    }

    @media screen and ( max-width: 900px ) {
       .button-container button.active-button {
        min-width: 27vw;
       }
    }

   

    @media screen and ( max-width: 768px ) {
        .suppliment-tech-wrapper {
            margin: 2vw 0;
            box-shadow: unset;
            border-radius: 10px;
        }

        .button-container button {
            font-size: 3vw;
            line-height: 4vw;
            padding: 1vw 4vw;
        }

        .button-container button.active-button {
            max-width: 37vw;
        }
    }


    @media screen and (max-width: 740px) {
        .supl {
            position: relative;
            left: -2vw;
        }

        .button-container button.active-button .supl {
            position: unset;
        }

    }

    @media screen and (max-width: 700px) {
        .supl {
            position: relative;
            left: -4vw;
        }


    }


    @media screen and (max-width: 670px) {
        .supl {
            position: relative;
            left: -6vw;
        }

    }

    @media screen and (max-width: 630px) {
        .supl {
            position: relative;
            left: -8vw;
        }

    }

    @media screen and (max-width: 590px) {
        .supl {
            position: relative;
            left: -10vw;
        }

        .tech {
            position: relative;
            left: -15vw;
        }

    }


</style>

<style>
    .tabbed-content.desktop-version {
      display: flex;
    }

    .tabbed-content.mobile-version {
        display: none;
    }

    .tabs {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;
      position: relative;
    }

    .tabs li {
      list-style: none;
      
      
    }

    .tabs li.active {
       
    }

    .tabs a {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem 0.25rem 0 0;
      text-decoration: none;
      margin-right: 1rem;

      font-family: 'PP Radio Grotesk';
      font-style: normal;
      font-weight: 700;
      font-size: 30.3323px;
      line-height: 69px;
      letter-spacing: -0.01em;  
      color: #404733;
    }

    .tabs a.active {
        color: #9EB069;
    }

    .content .item {
      display: none;
      padding: 1rem;
      border: 1px solid #ccc;
    }

    .content .item.active {
      display: flex;
    }


    @media screen and (max-width: 768px) {
        .tabbed-content.desktop-version {
            display: none;
        }

        .tabbed-content.mobile-version {
            display: flex;
        }
        .tabbed-content {
            flex-direction: column;
        }

        .tabs a {
            display: flex;
            font-size: 5vw;
            line-height: 5vw;
           
        }

        .tabs a span {
          color: #9EB069;
          padding-right: 4vw;
        }
        .tabs a::after{
            position: absolute;
            right: 1vw;
            content: "+";
            font-size: 6vw;
            color: #404733;
        }

        .tabs a.active::after {
            content: "-";
            color: #9EB069;
        }
      
    }

</style>
  

{% schema %}
{
    "name": "Suppliments",
    "tag": "section",
    "class": "suppliments",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
   
     "blocks": [
        {
          "type": "slides",
          "name": "Slides",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title"
              },

              {
                  "type": "richtext",
                  "id": "content",
                  "label": "Content"
              }

          ]
        }
      ],
    "presets": [{
        "name": "Suppliments"
    }]
}
{% endschema %}


<script>
   function showScreen(screenId) {
       var screens = document.getElementsByClassName("screen");
       for (var i = 0; i < screens.length; i++) {
           screens[i].style.display = "none";
       }
       document.getElementById(screenId).style.display = "flex";

       var buttons = document.getElementsByTagName("button");
       for (var i = 0; i < buttons.length; i++) {
           if (buttons[i].id == "button1" && screenId == "screen1") {
               buttons[i].classList.add("active-button");
           } else if (buttons[i].id == "button2" && screenId == "screen2") {
               buttons[i].classList.add("active-button");
           } else {
               buttons[i].classList.remove("active-button");
           }
       }
   }
    
</script>

{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function() {
      const tabs = document.querySelectorAll(".tabs a");

      tabs.forEach(function(tab) {
        tab.addEventListener("click", function(event) {
          event.preventDefault();
          const target = this.getAttribute("href");
          const items = document.querySelectorAll(".content .item");

          tabs.forEach(function(tab) {
            tab.classList.remove("active");
          });

          items.forEach(function(item) {
            item.classList.remove("active");
          });

          this.classList.add("active");
          document.querySelector(target).classList.add("active");
        });
      });
    });

  

</script> {% endcomment %}



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tabs = document.querySelectorAll(".tabs a");

    tabs.forEach(function(tab) {
      tab.addEventListener("click", function(event) {
        event.preventDefault();
        const target = this.getAttribute("href");
        const items = document.querySelectorAll(".content .item");

        tabs.forEach(function(tab) {
          tab.classList.remove("active");
        });

        items.forEach(function(item) {
          item.classList.remove("active");
        });

        if (window.innerWidth <= 768) { // Check screen size
          if (this.classList.contains("active")) { // Check if already active
            this.classList.remove("active");
            document.querySelector(target).classList.remove("active");
          } else {
            this.classList.add("active");
            document.querySelector(target).classList.add("active");
          }
        } else {
          this.classList.add("active");
          document.querySelector(target).classList.add("active");
        }
      });

      if (window.innerWidth <= 768) { // Check screen size
        // Add toggle functionality for mobile
        tab.addEventListener("touchstart", function(event) {
          if (this.classList.contains("active")) {
            // Prevent touchstart event from triggering click event
            event.preventDefault();

            // Remove active class
            this.classList.remove("active");
            document.querySelector(this.getAttribute("href")).classList.remove("active");
          }
        });
      }
    });
  });
</script>








 