<section id="curaeats-section">
  <div class="container">
    <div class="content-wrapper">
      <img class="main-image" src="{{ 'curaeats-section-main-img.png' | asset_url }}" width="413" height="482" alt="" loading="lazy">
      <div class="titles">
        <p class="upper-title">Limited Time Bonus!</p>
        <div class="main-titles">
          <p class="title">CuraEats Meal Plan!<span>*</span></p>
          <p class="subtitle">96 recipes you’ll love making and devouring</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #curaeats-section {
    background: white;
  }

  #curaeats-section .container {
    font-weight: bold;
    position: relative;
  }

  #curaeats-section h2 {
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-size: 48px;
    color: var(--dark-green);
  }

  #curaeats-section {
    position: relative;
    text-align: center;
  }

  #curaeats-section .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    top: {% if shop.name == "Curalife" %} 18px{% endif %};
    position: relative;
  }

  #curaeats-section .content-wrapper p.upper-title {
    font-size: 40px;
    margin: 10px 0;
    color: #FFB22D;
  }

  #curaeats-section .content-wrapper .titles {
    font-family: "PP Radio Grotesk";
  }

  #curaeats-section .content-wrapper .main-titles {
    border-top: 1px solid #FFB22D;
    border-bottom: 1px solid #FFB22D;
    padding: 1.5em 0;
  }

  #curaeats-section .content-wrapper .main-titles p.title {
    font-size: 60px;
    margin: 0;
  }

  #curaeats-section .content-wrapper .main-titles p.title {
    color: var(--dark-green);
  }

  #curaeats-section .content-wrapper .main-titles p.title span {
    color: #FFB22D;
  }

  #curaeats-section .content-wrapper .main-titles p.subtitle {
    font-size: 30px;
    font-weight: 100;
    max-width: 650px;
    margin: 0 auto;
  }

  #curaeats-section p.notice {
    font-size: 1.5em;
    margin: 20px 0 0;
  }

  @media screen and (max-width: 768px) {
    #curaeats-section .container {
      padding: 0 15px;
    }

    #curaeats-section .content-wrapper {
      flex-direction: column;
      gap: 5vw;
    }

    #curaeats-section .content-wrapper .main-image {
      margin: auto;
      max-width: 70%;
      margin-top: 10vw;
    }

    #curaeats-section .content-wrapper .titles {
      width: 100%;
    }

    #curaeats-section .content-wrapper .titles p.upper-title {
      font-size: 1.3em;
    }

    #curaeats-section .content-wrapper .titles .main-titles {
      width: 100%;
      padding: 0.7em 0;
    }

    #curaeats-section .content-wrapper .titles .main-titles .title {
      font-size: 10vw;
      gap: 0.2em;
    }

    #curaeats-section .content-wrapper .titles .main-titles p.subtitle {
      font-size: 5vw;
      padding: 0.2em 0;
    }

    #curaeats-section p.notice {
        font-size: 0.65em;
    }
  }
</style>