<section id="curaeats-upgrade-section">
  <div class="container">
    <h2>Upgrade to get access to 14 or 28 days of recipes and a complete grocery list.</h2>
    <a href="/products/curaeats-subscription"><button>Upgrade Now</button></a>
  </div>
</section>

<style>
  #curaeats-upgrade-section {
    padding: 50px 0;
  }

  #curaeats-upgrade-section .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #curaeats-upgrade-section .container h2 {
    font-family: 'PP Radio Grotesk';
    font-size: 48px;
    font-weight: normal;
    max-width: 960px;
    margin: auto;
    margin-bottom: 30px;
  }

  #curaeats-upgrade-section .container button {
    background: #E09167;
    color: #fff;
    font-size: 34px;
    padding: 20px 40px;
    border: none;
    border-radius: 150px;
  }

  @media screen and (max-width: 768px) {
    #curaeats-upgrade-section .container h2 {
      font-size: 6vw;
    }

    #curaeats-upgrade-section .container button {
      font-size: 5vw;
      padding: 4vw 8vw;
    }
  }
</style>