<div class="real-changes">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3>Are you ready for real change?</h3>
                <div class="description-overlay">
                    <h4>
                        When keeping your blood sugar healthy is easy, your life is truly on your terms. You are
                        back in
                        control.
                        Just take CuraLin as part of your diet to help support a healthy blood sugar level!
                    </h4>
                </div>
            </div>
            <div class="real-changes-wrapper">
                {% for realChange in realChanges %}
                <div class="rw-item-col">
                    <div class="rw-item-box">

                        <div class="rw-item-thumbnail">
                            <img src="{{ realChange | file_url | split: "*" | first }}" alt="">
                        </div>
                        <div class="rw-item-description">
                            <h4>{{ realChange | split: "*" | last | split: ":" | first }}</h4>
                            <p>{{ realChange | split: "*" | last | split: ":" | last }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Real_Changes Section from General Page Style -->
<style>

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
  }


  .description-overlay {
    margin-top: .375rem;
    max-width: 58.3125rem
  }

  .description-overlay h4 {
    font-weight: 300;
    font-size: 1.3rem;
  }
  .real-changes {
    font-family: "Poppins", sans-serif;
  }
    .real-changes .data-wrap {
      padding: 0 1.5rem
    }

    .real-changes .sub-title {
      padding-top: 3.375rem;
      border-top: 1px solid #DCD9D9
    }

    .real-changes .description-overlay {
      max-width: 69.5rem
    }

    .rw-item-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
      padding-right: .625rem;
      padding-left: .625rem
    }

    .real-changes-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 1.125rem;
      margin: 0 -2.1875rem
    }

    .real-changes-wrapper .rw-item-col {
      padding-top: 2rem;
      padding-bottom: 2rem
    }

    .rw-item-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
    }

    .rw-item-thumbnail {
      width: 32.86%
    }

    .rw-item-description {
      width: 67.14%;
      padding-left: .9375rem
    }

    .rw-item-description h4 {
      margin: 0;
      font-weight: 700;
      font-size: 1.13145rem;
      line-height: 1.29;
      color: #000
    }

    .rw-item-description p {
      margin: 0;
      font-weight: 300;
      font-size: 1.1rem;
      line-height: 1.29;
      color: #000000b3
    }

    @media screen and (min-width: 992px) {
      .real-changes-wrapper .rw-item-col:nth-child(3n+1) {
        -webkit-box-flex: 34.4%;
        -ms-flex: 34.4%;
        flex: 34.4%;
        max-width: 34.4%
      }

      .real-changes-wrapper .rw-item-col:nth-child(3n+1) .rw-item-box {
        padding-right: .3125rem
      }

      .real-changes-wrapper .rw-item-col:nth-child(3n+2) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32.6%;
        flex: 0 0 32.6%;
        max-width: 32.6%
      }

      .real-changes-wrapper .rw-item-col:nth-child(3n+3) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%
      }

      .real-changes-wrapper .rw-item-col:nth-child(3n+3) .rw-item-box {
        padding-right: .3125rem
      }

      @media screen and (max-width: 991px) {
        .real-changes .data-wrap {
          padding: 0
        }

        .real-changes .sub-title {
          padding-top: 2.1875rem
        }

        .description-overlay h4 {
          font-size: 1.125rem
        }

        .real-changes-wrapper {
          padding-top: 2.1875rem;
          margin: 0
        }

        .rw-item-col {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%
        }
      }
    }


    @media screen and (max-width: 768px) {
      .rw-item-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
      }

      .rw-item-description h4 {
        font-size: .875rem
      }

      .rw-item-description p {
        padding-top: .25rem;
        font-size: .875rem;
        line-height: 1.28
      }

      .real-changes-wrapper .rw-item-col {
        padding: 0 0 1.6875rem
      }

      .real-changes-wrapper .rw-item-col:nth-child(3) .rw-item-thumbnail {
        margin-top: -1.5625rem
      }

      .rw-item-thumbnail {
        width: 30%
      }

      .rw-item-description {
        width: 70%
      }

      .real-changes-wrapper {
        padding-top: 2.4375rem
      }
      .real-changes .sub-title h3 {
          font-size: 6vw;
          line-height: unset;
      }


      .real-changes .sub-title h4 {
        font-size: 1.06rem
      }



    }

</style>


<style>
    .real-changes .sub-title {
        border-top: unset !important;
    }

    .rw-item-box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .rw-item-description {
        width: unset;
        max-width: 350px;
    }

    .rw-item-description h4 {
        margin: 5px;
    }

</style>