<section id="contact-section">
    <div class="container">
        <h2 class="center">Don't miss the opportunity to <span class="title-decoration"></span>get in touch with our partnerships team today!</h2>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
            hbspt.forms.create({
                region: "na1",
                portalId: "5928648",
                formId: "f59f58be-8b35-4dc3-8f50-7c23ca0b3e45"
            });
        </script>
    </div>
</section>

<style>
    #contact-section {
        scroll-margin-top: 200px;
    }

    #contact-section .container {
        position: relative;
        margin-top: -400px;
        bottom: -200px;
        background: white;
        z-index: 1;
        padding: 30px;
    }

    #contact-section h2 {
        margin: auto;
        margin-bottom: 50px;
        position: relative;
    }

    #contact-section h2 .title-decoration {
        background-image: url("{{ 'partnerships-title-decoration.svg' | asset_url }}");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -1;
        margin-left: -5px;
        width: 210px;
        height: 47px;
    }

    .sproket {
        display: none;
    }

    @media screen and (max-width: 768px) {
        #contact-section .container {
            margin-top: -50px;
            bottom: 0;
        }

        #contact-section h2 {
            font-size: 6vw;
        }

        #contact-section h2 .title-decoration {
            width: 35vw;
            height: 8vw;
            left: 14vw;
            top: 7vw;
        }
    }
</style>