<div class="our-story-curalife">
    <div class="container">
        <div class="curalife-text">
            <div class="curalife-title">
                <h1>Cura &#x2022; life</h1>
            </div>
        </div>
    </div>
</div>


<style>

.curalife-title h1 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 98px;
    line-height: 134px;
    letter-spacing: -0.02em;
    color: #404733;
}
</style>