<div class="son-father">
    <div class="container">
        <div class="our-story-title">Our <span>Story</span></div>
        <div class="son-father-text">begins with a son and his father.</div>
        <div class="text-about">
            When my father was diagnosed with type 2 diabetes, it was a turning point for both of us. As I watched my father struggle to maintain a high quality of life despite the constraints of his condition, I knew I had to find a way to help him. <br><br>

            <b>That’s how CuraLife was born.</b><br><br>

            Curalife’s goal is empowering people to take charge of their own health and well-being, just as I wanted to do for my dad.<br><br>
            We are a platform, brand, and community that provides support, guidance, technology and natural, holistic health solutions that create health that lasts.<br><br>
            The Curalife team and I are inspired by the impact of our work, driven by the challenge to reinvent healthcare, and obsessed to make human lives better.<br><br>
            We are scaling a movement to disrupt health in a new way and empower people and providers to achieve greatness.<br><br>

            <b>Join us on our mission.</b><br><br>
        </div>
    </div>
    <img class="father-son-img" src="{{ 'our-story-son-father.png' | asset_url }}" width="1020" height="556" alt="">
</div>


<style>
    .son-father {
        position: relative;
        padding: 20px 0;
    }

    .father-son-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .father-son-img-mb {
        display: none;
    }
    .our-story-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 57px;
        line-height: 69px;
        display: flex;
        justify-content: center;
        color: #404733;
    }

    .our-story-title span {
        background-image: url("{{ 'our-story-son-father-swoosh.png' | asset_url }}");
    }

    .son-father-text {
        padding: 10px 0 30px;
        font-family: 'PP Radio Grotesk';
        font-weight: 400;
        font-size: 34px;
        line-height: 41px;
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        color: #404733;
    }

    .text-about {  
        position: relative;
        z-index: 1;
        max-width: 472px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #000000;

    }

    @media screen and (max-width: 1440px) {
        .father-son-img {
            max-width: 62vw;
        }
    }


    @media screen and (max-width: 768px) {
        .father-son-img {
            max-width: unset;
            top: 28vw;
            right: -40vw
        }

     
        .our-story-title {
            font-size: 13vw;
            line-height: 1.2em;
        }

        .text-about {
            max-width: unset;
            padding-top: 80vw;
        }

    
    }

    @media screen and (max-width: 740px) {
        .father-son-img {
           
            right: -33vw
        }

    }

    @media screen and (max-width: 700px) {
        .father-son-img {

            right: -39vw
        }

        .text-about {  
            padding-top: 97vw;
        }


    }
</style>