<div class="son-father">
    <div class="container">
        <div class="our-story-title">Our <span>Story</span></div>
    </div>
</div>


<style>
    .our-story-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 57px;
        line-height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #404733;
    }

    .our-story-title span {
        background-image: url("{{ 'our-story-son-father-swoosh.png' | asset_url }}");
    }


    @media screen and (max-width: 768px) {
        .our-story-title {
            font-size: 57px;
            line-height: 69px;
        }
    }
</style>