<div class="product-actions">
  <p class="cta-title">{{ title }}</p>

  <div class="variants">
    {% for var in product.variants %}
      {% if forloop.last %}
        {% render 'product-all-in-one-cta-section-actions-variant-box', ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, isPricePerUnit: isPricePerUnit, challenge_value: challenge_value, curaeats_value: curaeats_value, isLastRender: true %}
      {% else %}
        {% render 'product-all-in-one-cta-section-actions-variant-box', ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, var: var, index: forloop.index, isHighlightSubtitle: isHighlightSubtitle, isUpdateSaveTitle: true, isPricePerUnit: isPricePerUnit, challenge_value: challenge_value, curaeats_value: curaeats_value %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="submit-wrap">
    {% if isBuyQuantity %}
      <div class="qty-data">
        <div class="qty-control">
          <a data-act="-" href="javascript:void(0)"><span class="icon-minus"></span></a>
          <label><input maxlength="4" name="quantity" type="number" value="1"></label>
          <a data-act="+" href="javascript:void(0)"><span class="icon-plus"></span></a>
        </div>
      </div>
    {% endif %}

    {% if product.handle contains 'curalin-bogo' %}
      {% assign purchased = false %}

      {% for order in customer.orders %}
        {% for line_item in order.line_items %}
          {% if line_item.product_id == product.id %}
            {% assign purchased = true %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% if customer.email == 'yotam@curalife.com' %}
        {% assign purchased = true %}
      {% endif %}
    {% endif %}

    {% if purchased %}
      <div style="text-align:center">You cannot buy this deal more than once.</div>
    {% else %}
      <button class="main-btn" id="buy-button"><span>{% if isRetention %}Start Checkout{% else %}Shop Now{% endif %}</span>{% if ctaTextType %}<span class="save" id="save"></span>{% endif %}</button>
    {% endif %}
  </div>

  {% if badgesContent %}
    {% render 'trust-badges-widget', badgesContent: badgesContent, colors: "#5c5c5c", isMiniVersion: true %}
  {% endif %}
</div>

{% render 'script.round-converted-currency' %}

<style>
  .product-actions {
    grid-area: 2/2/3/3;
    max-width: 450px;
  }

  .product-actions .cta-title {
    font-size: 18px;
    padding: 10px 0;
    margin: unset;
  }

  .product-actions .variants {
    display: flex;
    flex-direction: {% if isReversed %}column-reverse{% else %}column{% endif %};
  }

  .product-actions .submit-wrap {
    display: flex;
  }

  .product-actions .submit-wrap button {
    background-color: {{ ctaColor }};
    border: 0;
    color: white;
    width: 100%;
    height: unset;
  }

  .product-actions .submit-wrap:hover {
    border-color: #ea9f1c;
  }

  .product-actions .submit-wrap:hover button {
    background-color: #ea9f1c;
  }

  .product-actions .submit-wrap button span {
     width: {% unless isRetention %} 50% {% endunless %};
  }

  .product-actions .submit-wrap button span:first-child {
    font-size: {% if isRetention %}100% {% else %} 130% {% endif %};
    padding-right: {% if isRetention %}10px{% endif %};
  }

  .product-actions .submit-wrap button span.save {
    font-weight: 100;
    border-left: 1px solid white;
    padding-left: {% if isRetention %}10px{% endif %};
  }

  .product-actions .submit-wrap .qty-data .qty-control {
    border: 0;
    background: white;
  }

  @media screen and (max-width: 768px) {
    .product-actions {
      grid-area: unset;
      grid-row: 3;
      max-width: unset
    }

    .product-actions .submit-wrap button span:first-child {
      font-size: 5vw;
    }

    .submit-wrap .qty-data .qty-control {
      border: 1px solid #ffb22d
    }
  }
</style>

<script>
  $( document ).ready(function() {
      $(".variant-box").{% if defaultSelectionIndex %}eq({{ defaultSelectionIndex | minus: 1 }}){% else %}last(){% endif %}.trigger( "click" );
  });

  // On Quantity Change
  $(document).on("click", ".submit-wrap .qty-control a", function (e) {
    e.preventDefault();
    let newVal, $button = $(this),
      inputObj = $button.closest(".qty-control").find("input"),
      oldValue = inputObj.val();
    if ($button.attr('data-act') === "+") {
      newVal = parseInt(oldValue) + 1;
    }
    else {
      newVal = parseInt(oldValue) - 1;
    }

    inputObj.val(newVal);
  });

  $(document).on("click", "#buy-button", function () {
    let checkedPack = $('input[name=pack]:checked').val();
    let checkedQuantity = 1;
    let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
    window.location.href = checkoutLink;
  });
</script>