<section class="real-changes">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3>Are you ready for real change?</h3>
                <div class="description-overlay">
                    <h4>
                        When keeping your blood sugar healthy is easy, your life is truly on your terms. You are
                        back in
                        control.
                        Just take CuraLin as part of your diet to help support a healthy blood sugar level!
                    </h4>
                </div>
            </div>
            <div class="real-changes-wrapper">
                {% for realChange in realChanges %}
                <div class="rw-item-col">
                    <div class="rw-item-box">

                        <div class="rw-item-thumbnail">
                            <img src="{{ realChange | file_url | split: "*" | first }}" alt="">
                        </div>
                        <div class="rw-item-description">
                            <h4>{{ realChange | split: "*" | last | split: ":" | first }}</h4>
                            <p>{{ realChange | split: "*" | last | split: ":" | last }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Real_Changes Section from General Page Style -->
<style>
  .data-wrap .sub-title h3 {
    text-align: center;
  }
  .description-overlay {
    margin-top: .375rem;
    max-width: 58.3125rem;
    margin: auto;
  }

  .description-overlay h4 {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
  }

    .real-changes-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .real-changes-wrapper .rw-item-col {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .rw-item-box {
      display: flex;
    }

    .rw-item-description h4 {
      font-size: 20px;
    }

    .rw-item-description p {
      line-height: 1.3;
      color: #000000b3
    }

    .rw-item-box {
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 350px;
    }

    .rw-item-description h4 {
        margin: 5px;
    }
</style>