{% if isFlash %}
  {% assign linkAdd = '/products/curalin-pack?sale-handle=flash' %}
{% else %}
  {% assign linkAdd = '/products/curalin-pack' %}
{% endif %}

<section class="satisfaction-survey">
  <div class="satisfaction-survey-bg">
    <div class="container">
      <div class="data-wrap">
        <div class="sub-title">
          <h3><b>Satisfaction Survey</b> of Curalin Customers</h3>
        </div>
        <div class="success-list">
          <ul>
            <li>
              <div class="percentage">
                <p><span data-count="88.5">0</span>%</p>
              </div>
              <div class="title">
                <h4>Are satisfied with Curalin</h4>
              </div>
              <div class="line">
                <span></span>
              </div>
            </li>
            <li>
              <div class="percentage">
                <p><span data-count="98.1">0</span>%</p>
              </div>
              <div class="title">
                <h4>Feel safe using Curalin</h4>
              </div>
              <div class="line">
                <span></span>
              </div>
            </li>
            <li>
              <div class="percentage">
                <p><span data-count="84">0</span>%</p>
              </div>
              <div class="title">
                <h4>Saw a big impact in their lives</h4>
              </div>
              <div class="line">
                <span></span>
              </div>
            </li>
            <li>
              <div class="percentage">
                <p><span data-count="89">0</span>%</p>
              </div>
              <div class="title">
                <h4>Would recommend Curalin to a friend</h4>
              </div>
              <div class="line">
                <span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="data-wrap">
      <div class="survey-button">
        <div class="button-hide-in-mobile">
         <a href="{{ linkAdd }}" class="btn-cta"><b>Yes,</b> I want to try Curalin <br>
         for glucose support</a>
         </div>
      </div>
    </div>
  </div>
</section>


<style>
  .button-hide-in-mobile a {
    display: {% if isLP %} none {% endif %};
  }
  button {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0;
  }

  .btn-cta {
    background: {% if isFlash %}#FFB22D {% else %} #404733{% endif %};
    box-shadow: .625rem .625rem .825rem #0000004d;
    border-radius: 1.25rem;
    padding: .875rem;
    max-width: 39.1875rem;
    display: inline-block;
    font-weight: 700;
    font-size: 1.867375rem;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    width: 100%;
    transition: all var(--transition)
  }

  .btn-cta b {
    font-weight: 700
  }

  .floating-cta {
    position: fixed;
    left: 20px;
    right: 0;
    bottom: 1.25rem;
    z-index: 20;
    pointer-events: none;
    -webkit-transition: opacity var(--transition), visibility var(--transition);
    -o-transition: opacity var(--transition), visibility var(--transition);
    transition: opacity var(--transition), visibility var(--transition)
  }

  .floating-cta .btn-cta {
    max-width: 18.375rem;
    font-size: 2.5rem;
    pointer-events: auto
  }

  .floating-cta:not(.show) {
    opacity: 0;
    visibility: hidden
  }

  .floating-cta:not(.show) .btn-cta {
    pointer-events: none
  }

  @media screen and (max-width: 991px) {
    .btn-cta {
    max-width: 29.0625rem;
    font-size: 1.375rem
    }

    .floating-cta .btn-cta {
    max-width: 15.625rem;
    font-size: 1.875rem
    }

  }

  @media screen and ( max-width: 768px) {


    .btn-cta {
    max-width: 19.25rem;
    padding: .5625rem .625rem;
    font-size: 1.125rem;
    font-weight: 400
    }

    .btn-cta b {
    font-weight: 700
    }


  }
  </style>

  <!-- Floating CTA Style -->
  <style>
    .btn-cta {
      border: none;
      background: {% if regColor %}#FDD246 {% else %} #404733 {% endif %};
      color: {% if regColor %}black {% else %}white {% endif %} ;
      font-weight: 400;
    }

    @media screen and (max-width: 768px) {

    .floating-cta {
      text-align: left
    }

    .floating-cta .btn-cta {
      font-weight: 600;
      border-radius: .625rem
    }

      .floating-cta .btn-cta {
        max-width: calc(100vw - 40px);
      }

    }
</style>

<style>
.satisfaction-survey .sub-title h3 {
  font-size:  clamp(1.4rem, 2vw, 2.4rem);
  font-weight: normal;
}

  .satisfaction-survey {
    padding-bottom: {% unless isLP %}6.8125rem{% endunless %};
  }

  .satisfaction-survey .satisfaction-survey-bg {
    position: relative;
    padding-top: 2.0625rem;
    padding-bottom: 10rem;
    overflow: hidden
  }

  .satisfaction-survey .satisfaction-survey-bg:before,
  .satisfaction-survey .satisfaction-survey-bg:after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    position: absolute;
    z-index: -1
  }

  .satisfaction-survey .satisfaction-survey-bg:before {
    background-image:url({{'lp-aio-green-area.png' | file_url }});
    background-size: contain;
    top: 0;
    max-width: 66%;
    width: 100%;
    height: 40.875rem;
    max-height: 100%
  }

  .satisfaction-survey .satisfaction-survey-bg:after {
    background-image:url({{'lp-aio-vector-dynamical.png' | file_url }});
    background-size: contain;
    background-position: left bottom;
    left: 0;
    bottom: 4.9375rem;
    max-width: 52%;
    width: 100%;
    height: 15.3125rem
  }

  .satisfaction-survey .data-wrap {
    padding-left: .9375rem
  }

  .satisfaction-survey .sub-title {
    padding-bottom: 3.6875rem
  }

  .satisfaction-survey .survey-button {

    width: 100%;
    max-width: 100%;
    text-align: center
  }


  .satisfaction-survey .success-list {
    max-width: 48.9375rem;
    margin: 0 auto
  }

  .satisfaction-survey .success-list ul li {
    padding-left: 10.25rem;
    margin-bottom: 3.375rem;
    position: relative;
    z-index: 1
  }

  .satisfaction-survey .success-list ul li:last-child {
    margin-bottom: 0
  }

  .satisfaction-survey .success-list ul li .percentage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: .5rem;
    left: 0;
    bottom: 0;
    overflow: hidden
  }

  .satisfaction-survey .success-list ul li .percentage p {
    margin: 0;
    font-weight: 500;
    font-size: 2.8125rem;
    line-height: 1;
    text-transform: uppercase;
    color: #222
  }

  .satisfaction-survey .success-list ul li .title {
    padding-bottom: .25rem
  }

  .satisfaction-survey .success-list ul li .title h4 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #222
  }

  .satisfaction-survey .success-list ul li .line {
    height: 1.4375rem;
    position: relative;
    overflow: hidden
  }

  .satisfaction-survey .success-list ul li .line span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: -o-linear-gradient(359.95deg, rgba(238, 208, 195, .5) 0%, rgba(208, 125, 91, .5) 100%);
    background: linear-gradient(90.05deg, rgba(238, 208, 195, .5) 0%, rgba(208, 125, 91, .5) 100%);
    border-radius: 0 .9375rem .9375rem 0;
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out
  }

  @media screen and (max-width: 991px) {
    .satisfaction-survey {
      padding-bottom: {% unless isLP %}2.8125rem{% endunless %};
      margin-top: 1.875rem
    }

    .satisfaction-survey-bg {
      padding-top: 2.8125rem
    }

    .satisfaction-survey .success-list ul li .percentage p {
      font-size: 2rem
    }

    .satisfaction-survey .sub-title {
      padding-bottom: 1.875rem
    }

    .satisfaction-survey .success-list ul li .title h4 {
      font-size: 1.1875rem
    }

    .satisfaction-survey .success-list ul li {
      padding-left: 7.5rem;
      margin-bottom: .9375rem
    }

    .satisfaction-survey .satisfaction-survey-bg:after {
      display: none
    }

    .satisfaction-survey .satisfaction-survey-bg {
      padding-bottom: 6.25rem
    }
    .satisfaction-survey .data-wrap {
      padding: 0
    }
  }

  @media screen and (max-width: 768px) {

    .satisfaction-survey .satisfaction-survey-bg {
      padding-top: 0
    }

    .satisfaction-survey {
      margin-top: .6875rem;
    }

    .satisfaction-survey .success-list ul li .percentage p {
      font-size: 1.25rem
    }

    .satisfaction-survey .success-list ul li .percentage {
      position: static;
      min-width: 4.375rem
    }

    .satisfaction-survey .success-list ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: .8125rem;
      margin-bottom: 2.4375rem
    }

    .satisfaction-survey .success-list ul li .title {
      padding-bottom: 0
    }

    .satisfaction-survey .success-list ul li .title h4 {
      font-size: .875rem;
      font-weight: 400
    }

    .satisfaction-survey .success-list ul li .line {
      width: 100%;
      height: 1rem;
      margin-top: .375rem
    }

    .satisfaction-survey .success-list {
      margin-right: -.9375rem
    }

    .satisfaction-survey .sub-title {
      padding-bottom: 1.375rem
    }

    .satisfaction-survey .satisfaction-survey-bg {
      padding-bottom: {% if isLP %}0.375rem{% else %}3.375rem{% endif %};
    }

    .satisfaction-survey .satisfaction-survey-bg:before {
      background-size: 100% 100%;
      left: unset;
      right: 2.75rem;
      top: 0;
      bottom: 0;
      max-width: unset;
      width: 47.3125rem;
      max-height: 100%
    }
  }
</style>

<style>
  .satisfaction-survey .success-list ul li .line span {
    background: {% if isLP %}linear-gradient(90.05deg ,rgba(238,208,195,.5) 0%,rgba(208,125,91,.5) 100%) {% else %} linear-gradient(90.05deg, #DCEFEB 0%, #1F8B8D 100%){% endif %};
  }

</style>

<script>

const counters = document.querySelectorAll('.satisfaction-survey .success-list ul li .percentage p span');
const countingSpeed = 6000;
let animateCounters = true;

window.addEventListener('scroll', (e) => {
  let last_known_scroll_position = window.scrollY;
   if (counters && animateCounters && window.innerHeight > document.querySelector('.satisfaction-survey .data-wrap').getBoundingClientRect().top && window.innerHeight < document.querySelector('.satisfaction-survey .data-wrap').getBoundingClientRect().top + document.querySelector('.satisfaction-survey .survey-button').getBoundingClientRect().top) {
    animateCounters = false;
    counters.forEach(counter => {
      const animate = () => {
        const value = parseFloat(+counter.getAttribute('data-count'));
        const dataLine = counter.closest('li').querySelector('.line span');
        const data = +counter.innerText;

        const time = value / countingSpeed;
        if (data < value) {
          counter.innerText = Math.ceil(data + time);
          dataLine.style.width = Math.ceil(data + time) + '%';
          setTimeout(animate, 0.1);
        } else {
          counter.innerText = value;
          dataLine.style.width = value + '%';
        }
      }
      animate();
    });
  }
});

</script>

