<img class="curalife-swoosh" src="{{'our-story-curalife-swoosh.svg' | asset_url }}" width="891" height="449" alt="">

<div class="container">
  <div class="curalife-text">
    <h1>{{ section.settings.title }}</h1>
    <div class="curalife-small-text">Our brand name, <strong>Curalife</strong>, is derived from the Latin word <strong>"cura"</strong>, meaning care and attention and <strong>"life"</strong> representing our commitment to not only helping you live healthy, but to fully live.</div>
  </div>
</div>

<style>
  .our-story-curalife-section {
    position: relative;
    padding-top: unset;
  }

  .our-story-curalife-section .curalife-swoosh {
    position: absolute;
  }

  .our-story-curalife-section .curalife-text {
    position: relative;
    padding: 200px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .our-story-curalife-section h1 {
    font-size: clamp(50px, 5vw, 98px);
  }

  .our-story-curalife-section h1 span {
    font-family: 'DM Sans';
  }

  .our-story-curalife-section .curalife-text strong {
    background-image: url('{{ 'title-swoosh-grey.svg' | asset_url }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
  }

  .our-story-curalife-section .curalife-small-text {
    max-width: 440px;
    font-size: 25px;
    line-height: 37px;
    color: #404733;
    border-inline-start: 2px solid black;
  }

  .our-story-curalife-section .curalife-text::after {
    content: "";
    width: 70%;
    height: 10px;
    background: black;
    position: absolute;
    bottom: 0;
  }

  .our-story-curalife-section .curalife-small-text b {
    background-color: #D9D9D9;
    padding: 2px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
  }

  @media screen and (max-width: 1800px) {
    .our-story-curalife-section .curalife-swoosh {
      max-width: 70vw;
    }
  }

  @media screen and (max-width: 768px) {
    .our-story-curalife-section .curalife-text {
      flex-direction: column;
      padding: 17vw 2vw;
      align-items: unset;
    }

    .our-story-curalife-section .curalife-text::after {
      width: 100%;
    }

    .our-story-curalife-section h1 {
      text-decoration: underline;
      margin-bottom: 10px;
      text-underline-offset: 17px;
    }

    .our-story-curalife-section .curalife-small-text {
      border-inline-start: unset;
    }
  }
</style>

{% schema %}
  {
    "name": "Hero Banner 2",
    "tag": "section",
    "class": "our-story-curalife-section",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [{
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "presets": [{
    "name": "Hero Banner 2"
  }]
}
{% endschema %}