<div id="curalin-info-section">
  <img class="back-image" src="{{ "curalin-info-section-vector.png" | asset_url }}" width="896" height="501" alt="swoosh" loading="lazy">
  <div class="container">
    <div class="curalin-content">
      <div class="curalin-title">{{ product.metafields.custom.info_section_title }}</div>
      <p class="description">{{ product.metafields.custom.info_section_description }}</p>
    </div>
    <img class="main-image" src="{{ "curalin-info-section-men.png" | asset_url }}" width="362" height="839" alt="Joint Info" loading="lazy">
  </div>
</div>

<style>

  #curalin-info-section {
    position: relative;
    background: #ECF2F2;
    padding: 50px 0;
  }

  #curalin-info-section .back-image {
    position: absolute;
    top: 0;
  }

  #curalin-info-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #curalin-info-section .curalin-content {
    max-width: 500px;
  }

  #curalin-info-section .curalin-title {
    color: #5E8F8F;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(70px, 3vw, 88px);
    line-height: 88px;
    display: flex;
    text-transform: capitalize;
  }




  #curalin-info-section .description   {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #5E8F8F;
  }

  @media screen and (max-width: 768px) {

  #curalin-info-section .back-image {
      display: none;
    }
    #curalin-info-section .container {
        flex-direction: column;
    }
    #curalin-info-section .curalin-content {
      max-width: 100%;
    }

    #curalin-info-section .curalin-title  {
      text-align: center;
      font-size: 8vw;
      line-height: 36px;
      justify-content: center;
    }

    #curalin-info-section .description {
      text-align: center;
      font-size: 6vw;
      padding-top: 0.5em;
    }
  }
</style>