{% layout 'theme.aio-lp01' %}

<div class="page-overflow">
    {% section 'lps-aio-lp01-header' %}
    {% section 'lps-aio-lp01-hero' %}
    {% section 'lps-featured-on' %}
    {% section 'lps-video-reviews' %}
    {% section 'lps-instructions' %}
    {% section 'lps-satisfaction-survey' %}
    {% section 'lps-trusted-by-doctors' %}
    {% section 'lps-doctors-testimonials' %}
    {% section 'lps-clinically-tested' %}
    {% section 'lps-ingredients' %}
    {% section 'lps-supported-community' %}
    {% section 'lps-products-catalog' %}
    {% section 'lps-return-policy' %}
    {% section 'lps-badges' %}
    {% section 'lps-faq' %}
    {% section 'lps-contact-us' %}
    {% section 'lps-sources' %}
    
    <div id="floating-cta">ORDER NOW</div>
</div>

<style>
    .real-changes .sub-title {
        border-top: unset !important;
    }

    .featured-section {
        border-bottom: 1px solid #DCD9D9;
    }

    #floating-cta {
    position:fixed;
    right:0;
    bottom:0;
    cursor:pointer;
    width:100%;
    height:60px;
    background-color:#C78263;
    z-index: 10;
    display:none;
    color: white;
    padding: 5px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
</style>

<script>
    $("#floating-cta").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#product-section").offset().top + 130
    }, 2000);
});

if ($(window).width() < 761) {
    $(window).scroll(function(){ 
            if ($(this).scrollTop() > 800 && $(this).scrollTop() < ($("#product-section").offset().top - 1000)) { 
                $('#floating-cta').fadeIn(); 
            } else { 
                $('#floating-cta').fadeOut(); 
            } 
        });
}
</script>

<script>
  const urlParams = new URLSearchParams(window.location.search);

  if (urlParams.has('shipping')) {
    console.log("shipping")
    $("#shipping-badge-text").text("Free Worldwide Shipping Above $99")
    $("#shipping-badge-text-2").text("Free Worldwide Shipping Above $99")
    $("#shipping-line").hide();
    $("#shipping-line-above").show();
  }
</script>