@import "tailwindcss" source("../../src");
@config "../../tailwind.config.js";

@theme {
	/* Screens (Breakpoints) */
	--breakpoint-sm: (max-width: 640px);
	--breakpoint-md: (max-width: 768px);
	--breakpoint-lg: (max-width: 1024px);
	--breakpoint-xl: (max-width: 1200px);
	--breakpoint-mbl: (max-width: 768px);
	--breakpoint-dsk: (min-width: 768px);

	/* Colors */
	--primary-color: var(--primary-color); /* Replace with your actual primary color variable */
}
