@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transition: .3s ease-in-out;
    --main-font: 'PP Radio Grotesk','DM Sans',sans-serif;
    --sub-font: 'DM Sans',sans-serif;
    --white: #ffffff;
    --black: #000000;
    --dark: #222222;
    --dark-grey: #838383;
    --grey: #C4C4C4;
    --darker-green: #2d3224;
    --dark-green: #404733;
    --green: #4B643D;
    --dark-turquoise: #5D8F8F;
    --light-turquoise: #F9FFFF;
    --light-green: #9EB069;
    --lighter-green: #E1E8CF;
    --vomit: #E8E8B0;
    --light-vomit: #FAFAEF;
    --dark-purple: #897389;
    --purple: #D6C7D6;
    --light-purple: #FCF9FC;
    --dark-brown: #a86129;
    --brown: #C0956B;
    --light-brown: #F0D4A6;
    --lighter-brown: #FFFAF5;
    --dark-orange: #E58638;
    --orange: #FFB22D;
    --red: #ED073E;
    --dark-peach: #CC6F4F;
    --peach: #F59E80;
    --light-peach: #f6cdbf;
    --lighter-peach: #FFF6F8;
    --light-pink: #FFF1E8;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "DM Sans", sans-serif;
    font-display: swap;
    line-height: 1.2;
    font-size: 18px;
  }

  main {
    overflow: hidden;
  }

  .container {
    position: relative;
    height: auto;
    width: auto;
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 15px;
  }

  section {
    padding: 50px 0;
    overflow: hidden;
    position: relative;

    &.no-padding {
      padding: unset;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "PP Radio Grotesk", sans-serif;
    font-weight: bold;
    line-height: 1;
    color: var(--dark-green);
    margin-bottom: 0.5em;
    text-wrap: balance;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  small {
    font-weight: 300;
  }

  img {
    margin: auto;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  section button {
    padding: 20px;
    color: white;
    background-color: var(--dark-green);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    min-width: 300px;
  }

  .swiper-pagination-bullet {
    background: var(--light-brown);
    opacity: 1;
  }

  .locale-selectors__content {
    margin: auto !important;
  }

  .shopify-policy__container {
    max-width: 1200px !important;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      font-size: 30px !important;
    }
  }

  @media (max-width: 768px) {
    body {
      font-size: 5vw;
    }

    section {
      padding: 10vw 0;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.2;
    }

    h1 {
      font-size: 10vw;
    }

    h2 {
      font-size: 8vw;
    }

    h3 {
      font-size: 7vw;
    }

    section button {
      font-size: 5vw;
      width: 90vw;
      min-width: -webkit-fill-available;
      max-width: -webkit-fill-available;
      padding: 15px 40px;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}