/* @import "tailwindcss" source("../../src");
@config "../../tailwind.config.js"; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles can be added below this line */

@theme {
	/* Screens (Breakpoints) */
	--breakpoint-sm: (max-width: 640px);
	--breakpoint-md: (max-width: 768px);
	--breakpoint-lg: (max-width: 1024px);
	--breakpoint-xl: (max-width: 1200px);
	--breakpoint-mbl: (max-width: 768px);
	--breakpoint-dsk: (min-width: 768px);

	/* Colors */
	--primary-color: var(--primary-color);
	--primary: var(--primary-color);
}
