<div class="trusted-doctors">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>Trusted by 700+ Doctors</b></h3>
                {% unless noDescription %}
                <div class="description-overlay">
                      <h4>
                          Over 700 doctors and pharmacists recommend CuraLin to their patients. These include top
                          endocrinologists and faculty members of medical universities. Many of these doctors also
                          take
                          CuraLin themselves! Here are just a few of the doctors working with CuraLin:
                      </h4>
                  </div>
                {% endunless %}
               
            </div>
            <div class="doctors-boxes-wrapper">
           {% for doctor in doctors %}
                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ doctor | file_url | split: "*" | first }}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>{{ doctor | split: "*" | last | split: ":" | first }}</h4>
                            <p>{{ doctor | split: "*" | last | split: ":" | last }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if isLP %}
  <style>
      .sub-title h3 {
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 1.5;
  }

  .sub-title h4 {
      font-weight: 300;
      font-size: 1.375rem;
      line-height: 1.45;
  }

  .sub-title h3 b, .sub-title h4 b {
      font-weight: 600;
  }

  .doctors-boxes-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 0 2.75rem 0 0.75rem;
      width: 100%;
      max-width: 100%;
  }

  .doctor-box-col {
      margin-top: 4.25rem;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      flex: 0 0 25%;
      max-width: 25%;
  }

  .doctor-item-box {
      width: 100%;
      max-width: 100%;
      position: relative;
      text-align: center;
  }

  .doctor-thumbnail {
      max-width: 15.375rem;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
  }

  .doctor-thumbnail:before {
      content: "";
      display: block;
      padding-bottom: 100%;
      pointer-events: none;
      border: 1px solid var(--green);
      border-radius: 50%;
      background: #FFF;
  }

  .doctor-thumbnail span {
      display: block;
      position: absolute;
      top: 0.375rem;
      left: 0.375rem;
      right: 0.375rem;
      bottom: 0.375rem;
      background: linear-gradient(.43deg,rgba(196,196,196,.52) .31%,#C4C4C4 99.57%);
      border-radius: 50%;
      overflow: hidden;
  }

  .doctor-thumbnail span img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .doctor-informative {
      margin-top: 1.5625rem;
      padding-top: 1.375rem;
      position: relative;
  }

  .doctor-informative:after {
      content: "";
      position: absolute;
      background: var(--green);
      width: 100%;
      height: 1px;
      max-width: 6.5625rem;
      top: 0;
      left: 50%;
      transform: translate(-50%);
  }

  .doctor-informative h4 {
      font-weight: 700;
      font-size: 1.3125rem;
      line-height: 1.57;
      letter-spacing: -.3px;
      color: #000;
      margin: 0;
  }

  .doctor-informative p {
      font-weight: 400;
      font-size: .8125rem;
      line-height: 1.35;
      margin: 0;
      color: #000;
  }

  @media screen and (max-width:768px) {
      .sub-title h3 {
      font-size: 1.5rem;
  }

  .trusted-doctors .description-overlay {
      margin-top: 0.1875rem;
      padding-right: 0.875rem;
  }

  .sub-title h4 {
      font-size: 1.0625rem;
  }

  .doctors-boxes-wrapper {
      justify-content: center;
      padding: 0;
  }

  .doctor-box-col {
      margin-top: 1.875rem;
      flex: 0 0 50%;
      max-width: 15.625rem;
  }

  .doctor-thumbnail {
      max-width: 7.0625rem;
  }

  .doctor-thumbnail span {
      top: 0.1875rem;
      left: 0.1875rem;
      right: 0.1875rem;
      bottom: 0.1875rem;
  }

  .doctor-informative {
      margin-top: 0.5625rem;
      padding-top: 0.5rem;
  }

  .doctor-informative:after {
      height: 2px;
      max-width: 3rem;
  }

  .doctor-informative h4 {
      font-size: .875rem;
  }

  .doctor-informative p {
      font-size: .75rem;
      line-height: 1.17;
  }
  }
  </style>

  {% else %}

<style>

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
  }


   .trusted-doctors {
    font-family: "Poppins", sans-serif;
  }

  .trusted-doctors .sub-title h3 {
    font-size:  clamp(1.4rem, 2vw, 2.4rem);
  }

  .trusted-doctors .sub-title h4 {
    font-size:  clamp(1.1rem, 2vw, 1.5rem);
  }
    .doctor-thumbnail {
      max-width: 15.375rem;
      margin: 0 auto;
      position: relative;
      overflow: hidden
    }

    .doctor-thumbnail:before {
      content: "";
      display: block;
      padding-bottom: 100%;
      pointer-events: none;
      border: 1px solid var(--green);
      border-radius: 50%;
      background: #FFF
    }

    .doctor-thumbnail span {
      display: block;
      position: absolute;
      top: .375rem;
      left: .375rem;
      right: .375rem;
      bottom: .375rem;
      background: -o-linear-gradient(89.57deg, rgba(196, 196, 196, .52) .31%, #C4C4C4 99.57%);
      background: linear-gradient(.43deg, rgba(196, 196, 196, .52) .31%, #C4C4C4 99.57%);
      border-radius: 50%;
      overflow: hidden
    }

    .doctor-thumbnail span img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover
    }

    .doctor-box-col {
      margin-top: 4.25rem;
      padding-left: .9375rem;
      padding-right: .9375rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%
    }

    .doctors-boxes-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 2.75rem 0 .75rem
    }

    .doctor-item-box {
      width: 100%;
      max-width: 100%;
      position: relative;
      text-align: center
    }

    .trusted-doctors {
      padding: 5.5rem 0 2.625rem
    }

    .trusted-doctors .data-wrap {
      padding: 0 1.375rem
    }


    .trusted-doctors .description-overlay {
      max-width: 74.125rem;
      margin-top: .6875rem
    }

    .doctors-boxes-wrapper {
      width: 100%;
      max-width: 100%
    }

    @media screen and (max-width: 991px) {
        .trusted-doctors {
          padding: 2.8125rem 0 2.1875rem
        }

        .doctor-box-col {
          margin-top: 1.875rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 15.625rem
        }

        .doctors-boxes-wrapper,
        .trusted-doctors .data-wrap {
          padding: 0
        }

        .doctors-boxes-wrapper {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center
        }
    }

    @media screen and (max-width: 768px){
        .trusted-doctors {
          padding: 1.5rem 0
        }

        .trusted-doctors .description-overlay {
          margin-top: .1875rem;
          padding-right: .875rem
        }

        .doctor-thumbnail {
          max-width: 7.0625rem
        }

        .doctor-informative h4 {
          font-size: .875rem
        }

        .doctor-informative p {
          font-size: .75rem;
          line-height: 1.17
        }

        .doctor-thumbnail span {
          top: .1875rem;
          left: .1875rem;
          right: .1875rem;
          bottom: .1875rem
        }

        .doctor-informative {
          margin-top: .5625rem;
          padding-top: .5rem
        }

        .doctor-informative:after {
          height: 2px;
          max-width: 3rem
        }

    }
</style>


<style>
    .doctor-informative {
      margin-top: 1.5625rem;
      padding-top: 1.375rem;
      position: relative
    }

    .doctor-informative:after {
      content: "";
      position: absolute;
      background: var(--green);
      width: 100%;
      height: 1px;
      max-width: 6.5625rem;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%)
    }

    .doctor-informative h4 {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.3;
      letter-spacing: -.3px;
      color: #000;
      margin: 0
    }

    .doctor-informative p {
      font-weight: 400;
      font-size: .8125rem;
      line-height: 1.35;
      margin: 0;
      color: #000
    }

</style>

{% endif %}