<div class="community-statistics">
  <div class="container">
    <h3>You're part of something great...</h3>
    <div class="statistics">
      <div class="stat"><p class="value">#1</p><p class="title">Largest Community</p></div>
      <div class="stat"><p class="value">100K+</p><p class="title">Group Members</p></div>
      <div class="stat"><p class="value">500K</p><p class="title">Monthly Reactions</p></div>
      <div class="stat"><p class="value">140+</p><p class="title">Daily Posts</p></div>
    </div>
  </div>
</div>

<style>
  .community-statistics h3 {
    text-align: center;
    font-size: 30px;
    color: #475993;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .community-statistics .statistics {
    display: flex;
    justify-content: space-evenly;
  }

  .community-statistics .statistics .stat {
    text-align: center;
    width: 25%;
  }
  .stat {
    color: #475993;
  }

  .community-statistics .statistics .stat .value {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  .community-statistics .statistics .stat .title {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    opacity: 0.6;
    text-align: center;
  }

  @media screen and (max-width: 991px) {
    .community-statistics .statistics .stat .value {
      font-size: 7vw;
    }

    .community-statistics .statistics .stat .title {
      font-size: 3vw;
      line-height: 4vw;
    }

    .community-statistics h3 {
      font-size: 5vw;
      margin-bottom: 20px;
    }
  }
</style>