{% assign isTimer = false %}

<header>
  <div class="container">
    <div class="main-logo">
      <img src="{{ 'logo-white-black-friday.png' | asset_url }}" alt="logo">
    </div>
    {% if isTimer %}
      {% render 'countdown-timer', timerAlreadyRun: false, isHideTitles: true, timerColor: '#FFE746' %}
    {% else %}
      <div class="animated-logo blink">
        <i class="icofont-star"></i>
        <div class="animated-yellow-desk">CYBER MONDAY</div>
        <i class="icofont-star"></i>
      </div>
    {% endif %}
    <div class="off-container">
      <div class="up-to">UP TO</div>
      <div class="percents-off"> 20% OFF</div>
    </div>
  </div>
</header>

<style>
  @-webkit-keyframes blinker {
   0%{
       color: #D9D9D9;
       opacity: 1;
       filter:blur(5px);
   }

   50% {
       color: #D9D9D9
       opacity: 0.0;
   }

   100% {
       opacity: 1.0;
       color: #FFE746;
   }
  }

  .blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: alternate;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  header .main-logo {
    padding: 10px 0 15px;
  }

  header .main-logo {
    display: inline-block;
    padding: 4px 0;
    max-width: 181px;
  }

  header .main-logo img {
    width: 150px;
  }

  header .main-logo img {
    margin-top: unset !important;
  }

  header .container {
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .animated-logo {
    display: flex;
    align-items: center;
    color: #FFE746;
    gap: 0.3rem;
    font-size: clamp(15px, 3vw, 35px);
  }

  header .animated-logo .animated-yellow-desk  {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px 	hsl(52, 100%, 64%);
    filter: drop-shadow(0px 2px 2px hsl(0deg 0% 0% / 0.5)) drop-shadow(0px 0px 4px hsl(59deg 100% 50% / 0.5)) drop-shadow(0px 0px 10px hsl(50deg 100% 40% / 0.5)) drop-shadow(0px 0px 50px hsl(52deg 100% 30% / 1));
    color: #FFE746;
    font-weight: 700;
    font-family: 'PP Radio Grotesk';
    letter-spacing: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: clamp(20px, 3vw, 53px);
    padding: 2vw;
  }

  .off-container {
    gap: 1em;
    display: flex;
  }

  .up-to {
    width: 20px;
    color: #FFFFFF;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  .percents-off {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  @media screen and (max-width: 886px) {
    .percents-off {
      font-size: 3.5vw;
      line-height: unset;
    }

    .up-to {
      width: 1vw;
      font-size: 1.3vw;
    }
  }

  @media screen and (max-width: 807px) {
    .percents-off {
      font-size: 5vw;
      min-width: 14vw;
    }
  }

  @media screen and (max-width: 768px) {
    header .container  {
        gap: 4vw;
      }

    header .main-logo  img {
      width: 22vw;
    }

    header .animated-logo {
      gap: unset;
    }

    header .main-logo {
      padding: unset;
    }

    .off-container {
      {% if isTimer %}
        display: none;
      {% else %}
        min-width: 20vw;
        gap: unset;
        flex-wrap: wrap;
        flex-direction: column;
      {% endif %}
    }

    .up-to {
      display: flex;
      width: unset;
      max-width: 20vw;
      font-size: 3.5vw;
      line-height: unset;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>