
<div class="hero-banner">
    <div class="ribbons">
        {% for i in (1..4) %}
        <div class="ribbon swiper {% cycle 'left', 'right' %}">
            <div class="titles swiper-wrapper">
                {% for i in (1..20) %}
                <div class="title swiper-slide">
                    <p>CYBER MONDAY</p>
                    <i class="icofont-star"></i>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="curlife-img"><img src="{{ 'logo-white-black-friday.png' | asset_url }}" alt="logo" loading="lazy">
        </div>
        <div class="black-friday">
                <div class="titles">
                    <p class="main-title bigger blink_text2">CYBER</p>
                    <div class="shop-now-hero">
                        <p class="up-to">UP TO 30% OFF</p>
                        <a class="main-btn" id='main-cta-btn' href="#product-catalog-section">SHOP NOW</a>
                        </div>
                    <p class="main-title blink_text3">MONDAY</p>
                </div>

            <img class="main-img" src="{{ 'black-friday-hero-bottle.png' | asset_url }}" alt="bottle" loading="lazy">
        </div>
    </div>
</div>



<script>
            brandsTicker = new Swiper('.hero-banner .ribbon.right', {
        speed: 5000,
        autoplay: {
            delay: 0,
            disableOnInteraction: false
        },
        loop: true,
        slidesPerView: '4',
        allowTouchMove: false,
        disableOnInteraction: true
    });

            brandsTicker = new Swiper('.hero-banner .ribbon.left', {
                speed: 5000,
                autoplay: {
                    delay: 0,
                    disableOnInteraction: true,
                    reverseDirection: false
                },
                loop: true,
                slidesPerView: '4',
                allowTouchMove: false,
                grabCursor: true
    });
</script>


<style>
    .curlife-img {
        display: none;
    }
    .hero-banner {
        margin-top: 20px;
        position: relative;
        background-image: url("{{ 'bfcm-homepage-desktop.png' | asset_url }}");
        background-size: cover;
        background-position: bottom;
        overflow: hidden;

    }

    .hero-banner .container {
        height: 100%;
        position: relative;
        z-index: 5;
    }

    .ribbon {
        background: white;
        width: 1000px;
        position: absolute;
        overflow: hidden;
    }

    .ribbon .titles {
        display: flex;
        align-items: center;
        transition-timing-function: linear !important;
    }

    .ribbon .titles .title {
        display: flex;
        align-items: center;
        gap: 8%;
    }

    .ribbon .titles .title p {
        margin: unset;
        font-weight: bold;
        font-size: clamp(18px, 2vw, 26px);
    }

    .ribbon:nth-child(1) {
        bottom: 0;
        right: -40px;
        transform: rotate(350deg);
        z-index: 10;
    }

    .ribbon:nth-child(2) {
        top: 50px;
        right: -40px;
        transform: rotate(15deg);
        opacity: 0.3;
        filter: blur(2px);
    }

    .ribbon:nth-child(3) {
        bottom: 0;
        left: -200px;
        transform: rotate(10deg);
        opacity: 0.5;
    }

    .ribbon:nth-child(4) {
        top: 50px;
        transform: rotate(345deg);
        right: 65vw;
    }

   .blink_text2 {
       animation-name: blinker;
       animation-duration: 1s;
       animation-timing-function: ease-in;
       animation-iteration-count: 1;
   }

   .blink_text3 {
       animation-name: blinker;
       animation-duration: 2s;
       animation-timing-function: ease-in;
       animation-iteration-count: 1;
   }

   @keyframes blinker {
    0%{
          color: #D9D9D9;
          opacity: 1;
          filter:blur(5px);

      }

      50% {
          color: #D9D9D9
          opacity: 0.5;
      }

      100% {
          opacity: 1.0;
          color: #FFE746;

      }
   }

    .hero-banner .container .black-friday {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .hero-banner .container .black-friday .titles {
        display: flex;
        flex-direction: column;
    }

    .container .black-friday .titles .main-title {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 4px hsl(52, 100%, 64%);
        filter: drop-shadow(0px 2px 2px hsl(0deg 0% 0% / 0.5)) drop-shadow(0px 0px 4px hsl(59deg 100% 50% / 0.5)) drop-shadow(0px 0px 10px hsl(50deg 100% 40% / 0.5)) drop-shadow(0px 0px 50px hsl(52deg 100% 30% / 1));
        color: #FFE746;
        font-weight: 900;
        font-family: 'PP Radio Grotesk';
        letter-spacing:  0.8rem;
        margin: unset;
        text-align: center;
        font-size: clamp(50px, 10vw, 200px);
    }

    .container .black-friday .titles .main-title.bigger {
        letter-spacing: 2rem;
        font-size: clamp(50px, 13vw, 240px);
    }

    .container .black-friday .titles .shop-now-hero {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        border-top: 3px solid #ffffff8f;
        border-bottom: 3px solid #ffffff8f;
        padding: 10px 0;

    }



    .container .black-friday .titles .shop-now-hero .up-to {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin: unset;
        font-size: clamp(30px, 4vw, 60px);
    }

    .container .black-friday .titles .shop-now-hero .main-btn {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        background: #FFFFFF;
        text-align: center;
        color: #222222;
        border: none;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 12px 4vw;
        box-shadow: 0px 0px 42px 0px rgb(255 255 255 / 80%);
        border-bottom: 2px solid #0000008f;
        font-size: clamp(0px, 2vw, 33px);
    }

    .container .black-friday .main-img {
        width: 30vw;
        margin-top: 25px;
        max-width: 450px;
    }

   @media screen and (max-width: 768px){
    .hero-banner{
        margin-top: unset;
    }
   }


    @media screen and (max-width: 768px) {
        .curlife-img {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .curlife-img img {
            max-width: 40% !important;
        }
        .hero-banner {
            margin-top: unset;
            background-image: url("{{ 'bfcm-homepage-mobile.png' | asset_url }}");
            height: calc(100vh - 15vw);
        }

        .hero-banner .container {
            padding: unset;
        }

        .ribbon .titles .title {
            display: flex;
            align-items: center;
            gap: 7vw;

        }

        .ribbon:nth-child(1) {
            bottom: 6vw;
            transform: rotate(350deg);
        }

        .ribbon:nth-child(2) {
            transform: rotate(5deg);
            top: 70vw;
        }

        .ribbon:nth-child(3) {
            transform: rotate(60deg);
            left: -96vw;
        }

        .ribbon:nth-child(4) {
            display: none;
        }

        .container .black-friday .titles .shop-now-hero {
            justify-content: center;
            padding: 0;
            border-width: 1px;
        }

        .container .black-friday .titles .main-title {
            font-size: clamp(50px, 14vw, 200px);
        }

        .container .black-friday .titles .shop-now-hero .main-btn {
            display: none;
        }



        .container .black-friday .titles .main-title {
                font-size: 20vw;
                -webkit-text-stroke: 2px hsl(52, 100%, 64%);
                letter-spacing: 1.5vw;
            }

        .container .black-friday .titles .main-title.bigger {
            letter-spacing: 3vw;
            font-size: 26vw;
    }

        .hero-banner .container .black-friday {
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            padding: 10vw 0;
            padding-top: 2vw;
        }

        .container .black-friday .main-img {
            top: 55vw;
            position: absolute;
            width: unset;
            object-fit: cover;
            max-width: 100vw;
        }
    }

</style>