<section id="video-reviews-section">
  <div class="container">
    <div class="swiper-button swiper-button-prev"></div>
    <div class="video-reviews swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe id="review-video-1" src="https://player.vimeo.com/video/662207384?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'onboarding-icon-quote.png' | asset_url }}" alt="" width="84" height="68" loading="lazy">
              <p class="quote-content">I now feel that I’m being rewarded for my hard work. I am now a permanent customer. Just give it a try. You’ll be delighted.</p>
              <p class="quote-author">Jo R.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe id="review-video-2" src="https://player.vimeo.com/video/562754760?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'onboarding-icon-quote.png' | asset_url }}" alt="" width="84" height="68" loading="lazy">
              <p class="quote-content">Curalin sounded too good to be true. But it works. Oh man, it works.</p>
              <p class="quote-author">D’Gaye</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe id="review-video-3" src="https://player.vimeo.com/video/365492409?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'onboarding-icon-quote.png' | asset_url }}" alt="" width="84" height="68" loading="lazy">
              <p class="quote-content">This is the best product I found for glucose support and I tried them all in the past.</p>
              <p class="quote-author">Carol S.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-review">
            <div class="review-video">
              <iframe id="review-video-4" src="https://player.vimeo.com/video/562754846?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
            </div>
            <div class="review-quote">
              <img src="{{ 'onboarding-icon-quote.png' | asset_url }}" alt="" width="84" height="68" loading="lazy">
              <p class="quote-content">The biggest thing that Curalin has done for me is interrupt my mindset of hopelessness. It’s a wonderful tool in my toolbox.</p>
              <p class="quote-author">Denise R.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button swiper-button-next"></div>
  </div>
</section>

<script>
  videoReviewsSliderAllInOne = new Swiper('#video-reviews-section .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 8,
    centeredSlides: true,
    grabCursor: true,
    slideToClickedSlide: true,
    loop: false,
    navigation: {
      nextEl: '#video-reviews-section .swiper-button-next',
      prevEl: '#video-reviews-section .swiper-button-prev',
      disabledClass: 'disabled'
    }
  });
</script>

<style>
  #video-reviews-section {
    position: relative;
  }

  #video-reviews-section .video-reviews {
    overflow: hidden;
    max-width: 100%;
  }

  #video-reviews-section .swiper-button {
    transition: opacity 0.5s;
    background: #424733;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
  }

  #video-reviews-section .swiper-button.swiper-button-prev {
    left: -8.5%;
  }

  #video-reviews-section .swiper-button.swiper-button-next {
    right: -8.5%;
  }

  #video-reviews-section .swiper-button-prev.disabled,
  #video-reviews-section .swiper-button-next.disabled {
    opacity: 0;
  }

  #video-reviews-section .swiper-button-prev::after,
  #video-reviews-section .swiper-button-next::after {
    font-size: 28px;
  }

  #video-reviews-section .video-reviews .video-review {
    display: flex;
    align-items: center;
  }

  #video-reviews-section .video-reviews .video-review .review-video {
    height: 320px;
  }

  #video-reviews-section .video-reviews .video-review .review-video iframe {
    width: 100% !important;
    height: 100% !important;
  }

  #video-reviews-section .video-reviews .video-review .review-quote {
    padding: 50px;
    width: 50%;
    font-size: 22px;
    position: relative;
    line-height: 1.5em;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 19px;
  }
}

#video-reviews-section .video-reviews .video-review .review-quote img {
  opacity: .1;
  width: 70px;
  position: absolute;
  left: 50px;
  object-fit: contain;
}

#video-reviews-section .video-reviews .video-review .review-quote .quote-author {
  font-size: 18px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #video-reviews-section .video-reviews {
    margin-top: 30px;
  }

  #video-reviews-section .video-reviews .video-review {
    flex-direction: column;
    max-width: 80%;
    margin: auto;
  }

  #video-reviews-section .video-reviews .video-review .review-video {
    width: unset;
    margin-left: unset;
    height: 300px;
    margin-bottom: 10px;
  }

  #video-reviews-section .video-reviews .video-review .review-quote {
    width: 100%;
    font-size: 4vw;
    padding: 5vw;
  }

  #video-reviews-section .swiper-button.swiper-button-prev {
    left: -3%;
  }

  #video-reviews-section .swiper-button.swiper-button-next {
    right: -3%;
  }

  #video-reviews-section .video-reviews .video-review .review-quote img {
    width: 40px;
    left: -10px;
    top: 0;
    height: auto;
  }

  #video-reviews-section .video-reviews .video-review .review-quote .quote-author {
    font-size: 3vw;
  }
}
</style>