<section id="doctors-section">
  <div class="bg"></div>
  <div class="container">
    <h2 data-aos="fade-up">Trusted By More Than 700 Doctors</h2>

    {% assign doctors = "Dr. Michael Binder:Functional doctor, author of Cracking The Diabetic Code
              |Dr. Nancy Russell:Internal Medicine Specialist, <br>North Kansas City Hospital
              |Dr. Renee Plummer:Naturopathic Primary Care Physician at Health Moves in Woodinville, WA
              |Dr. Sarah Brewer:Functional doctor, diabetes expert, and author of over 60 books on personal health"
              | split: '|'%}

    <div class="doctors">
      {% for doctor in doctors %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <div class="doctor" data-aos="flip-{%if thecycle == 'odd'%}right{%else%}left{%endif%}">
          <img src="{{ 'partnerships-doctors-doctor-' | append: forloop.index | append: ".png" | asset_url }}" alt="curalife info" loading="lazy">
          <div class="line"></div>
          <h3 class="name">{{ doctor | split: ":" | first }}</h3>
          <p class="description">{{ doctor | split: ":" | last }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #doctors-section .bg {
    position: absolute;
    top: 360px;
    z-index: -1;
    background-color: var(--brown);
    height: 700px;
    width: 100%;
  }

  #doctors-section .doctors {
    display: flex;
    justify-content: space-between;
  }

  #doctors-section .doctors .doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
    color: white;
  }

  #doctors-section .doctors .doctor .line {
    width: 120px;
    height: 1px;
    background-color: white;
    margin: 30px 0;
  }

  #doctors-section .doctors .doctor h3 {
    white-space: nowrap;
  }

  #doctors-section .doctors .doctor p {
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    #doctors-section .bg {
      top: 60vw;
      height: 200vw;
    }

    #doctors-section .doctors {
      flex-wrap: wrap;
      margin-top: 13vw;
    }

    #doctors-section .doctors .doctor {
      width: 45vw;
      margin-bottom: 10vw;
    }

    #doctors-section .doctors .doctor .line {
      width: 20vw;
      margin: 5vw 0;
    }

    #doctors-section .doctors .doctor h3 {
      font-size: 5vw;
      margin-bottom: 1vw;
    }

    #doctors-section .doctors .doctor {
      font-size: 3vw;
    }
  }
</style>