<section id="scientific-section">
  <div class="container" data-aos="zoom-in">
    <h2>Our Medical-Scientific Advisory Board</h2>

    {% assign people = "PROF. ITAMAR RAZ:CuraLife’s medical advisory board chairman is Professor Itamar Raz, one of the top diabetologists in the world, the head of the Israel National Council of Diabetes and is the founder and head of the National Diabetes Prevention and Care Plan in Israel. Professor Raz has over 320 publications in peer-reviewed journals and headed the Diabetes Unit at Hadassah University Hospital from 2000-2015.
                        |MR. AMIR MALKA:President and Co-Founder at Bioforum. His career spans nearly 20 years, encompassing biomedical entrepreneurship, business development and leadership. Mr. Amir Malka is a member of several life sciences and clinical trials associations
                        |DR. SARAH KAPLAN:Head of the Department of Human Nutrition and Diet for a leading national private healthcare provider in Israel. Dr. Sarah Kaplan has over 30 years experience as a leading diet expert and clinical dietitian. She holds a Ph.D in Clinical Epidemiology from Tel-Aviv University."
                        | split: '|'%}

    <div class="swiper-button-prev swiper-nav"></div>
    <div class="swiper">
      <div class="people swiper-wrapper">
        {% for person in people %}
          <div class="person swiper-slide">
            <img src="{{ 'partnerships-scientific-person-' | append: forloop.index | append: ".png" | asset_url }}" alt="curalife scientific" loading="lazy">
            <div class="person-content">
              <h3>{{ person | split: ":" | first }}</h3>
              <p>{{ person | split: ":" | last }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next swiper-nav"></div>
  </div>
  <a href="#contact-section"><button>Learn More</button></a>
</section>

<style>
  #scientific-section {
    background-color: var(--green-light);
  }

  #scientific-section .container {
    overflow: visible;
  }

  #scientific-section .people {
    max-width: 1200px;
    overflow: visible;
  }

  #scientific-section .person {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  #scientific-section .person .person-content {
    padding: 0 50px;
    max-width: 800px;
    color: var(--grey);
  }

  #scientific-section .swiper-pagination-bullets {
    bottom: -30px;
    left: -93px;
  }

  #scientific-section .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    border-radius: 10%;
    background-color: var(--brown);
    margin-right: 10px;
  }

  #scientific-section .swiper-nav {
    color: var(--grey);
    top: 65%;
  }

  #scientific-section .swiper-nav.disabled {
    opacity: 0.1;
  }

  #scientific-section a {
    display: block;
    text-align: center;
    margin-top: 100px;
  }

  @media screen and (max-width: 768px) {
    #scientific-section .swiper {
      max-width: 80%;
    }

    #scientific-section .swiper-nav {
      top: 60vw;
    }

    #scientific-section .swiper-nav:after {
      font-size: 7vw;
    }

    #scientific-section .people {
      max-width: 60%;
    }

    #scientific-section .people .person {
      flex-direction: column;
      gap: 50px;
    }

    #scientific-section .people .person img {
      width: 100%;
    }

    #scientific-section .people .person .person-content {
      padding: unset;
    }

    #scientific-section .swiper-pagination-bullets {
      position: relative;
      bottom: -50px;
      left: unset;
    }
  }
</style>

<script>
  peopleSlider = new Swiper('#scientific-section .swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    grabCursor: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '#scientific-section .swiper-button-next',
      prevEl: '#scientific-section .swiper-button-prev',
      disabledClass: 'disabled'
    },
    pagination: {
      el: "#scientific-section .swiper-pagination"
    }
  });
</script>