<section class="money-back-section">
  <div class="trust-badge"><i class="icofont-badge"></i>60 Day Money Back Guarantee</div>
 
</section>




<style>
  .money-back-section {
    display: flex;
    justify-content: center;
  }

  .money-back-section .trust-badge {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    color: #404733;

  }

  @media screen and (max-width: 768px) {
    .money-back-section .trust-badge {
      text-align: center;
      padding: 0 3vw;
      font-size: 18px;
      line-height: 22px;
    }

  }
</style>