<section class="return-policy-section">
  <div class="container">
    <div class="return-policy">
      <img src="{{ "icon-money-back-60-days.png" | asset_url }}" alt="" loading="lazy">
      <div class="return-policy-content">
        <p class="title">Return Policy:</p>
        <p class="description">You get 100% of your money back if you are not 100% satisfied. Yes, even if the bottls are opened, or if you order more than on bottle. Every order is covered by this guarantee, making your purchase risk-free.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .return-policy-section {
      background-color: #e7f2f1
  }

   .return-policy-section .return-policy {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: center
  }

   .return-policy-section .return-policy img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain
  }

   .return-policy-section .return-policy .return-policy-content {
    margin-left: 30px
  }

   .return-policy-section .return-policy .return-policy-content .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px
  }

   .return-policy-section .return-policy .return-policy-content .description {
    margin: 0;
    font-size: 16px
  }

   .free-shipping-section img {
    width: 100%
  }
</style>

<style>

 .return-policy-section {
    background-color: #e7f2f1;
    padding: 15px 0;
}

 .return-policy-section .return-policy {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: center
}

 .return-policy-section .return-policy img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain
}

 .return-policy-section .return-policy .return-policy-content {
    margin-left: 30px
}

 .return-policy-section .return-policy .return-policy-content .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px
}

 .return-policy-section .return-policy .return-policy-content .description {
    margin: 0;
    font-size: 16px
}

   .return-policy-section {
      background-color: #e7f2f1
  }

   .return-policy-section .return-policy {
      display: flex;
      justify-content: center;
      max-width: 800px;
      margin: auto;
      align-items: center
  }
 .return-policy-section .return-policy img {
      width: 100px;
      height: 100px;
      -o-object-fit: contain;
      object-fit: contain
  }

  .return-policy-section .return-policy .return-policy-content {
      margin-left: 30px
  }

 .return-policy .return-policy-content .title {
      font-size: 30px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px
  }

   .return-policy-section .return-policy .return-policy-content .description {
      margin: 0;
      font-size: 16px
  }

  @media screen and (max-width: 768px) {


 .return-policy-section .return-policy img {
      width: 23vw
  }

  .return-policy-section .return-policy .return-policy-content {
      margin-left: 6vw
  }

 .return-policy-section .return-policy .return-policy-content .title {
      font-size: 24px
  }

  .return-policy-section .return-policy img {
      width: 23vw
  }

  .return-policy-section .return-policy .return-policy-content {
      margin-left: 6vw
  }

 .return-policy-section .return-policy .return-policy-content .title {
      font-size: 24px
  }

    .return-policy-section .return-policy img {
      width: 23vw
  }

   .return-policy-section .return-policy .return-policy-content {
      margin-left: 6vw
  }
  .return-policy-section .return-policy .return-policy-content .title {
      font-size: 24px
  }

  }
</style>