<section id="info-section">
  <div class="container">
    <img class="main-image" src="{{ "product-supplement-info-section-main-image.png" | asset_url }}" width="925" height="688" alt="Joint Info" loading="lazy">

    <div class="content">
      <h2 class="title">{{ product.metafields.custom.info_section_title }}</h2>
      <div class="line"></div>
      <p class="description">{{ product.metafields.custom.info_section_description }}</p>
    </div>
  </div>
</section>

<style>
  #info-section {
    background: #ECF2F2;
    padding: 50px 0;
  }

  #info-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #info-section .content {
    max-width: 500px;
  }

  #info-section .main-image {
    margin-left: -300px;
  }

  #info-section h2 {
    color: {{ titleColor }};
    white-space: unset !important;
  }

  #info-section h3 {
    margin: 30px 0;
    font-size: 24px;
  }

  #info-section .line {
    width: 100px;
    margin: 30px 0;
    border-bottom: 1px solid black;
  }

  #info-section p {
    white-space: pre-line;
  }

  #info-section .description  {
    white-space: pre-wrap;
  }

  @media screen and (max-width: 768px) {
    #info-section .main-image {
      display: none;
    }



    #info-section .content {
      max-width: 100%;
    }
  }
</style>