{% if product.tags contains "sleep" %}
  {% assign category = "sleep" %}
{% elsif product.tags contains "joint" %}
  {% assign category = "joint-care" %}
{% elsif product.tags contains "immune" %}
  {% assign category = "immune-care" %}
{% elsif product.tags contains "multivitamin" %}
  {% assign category = "multivitamins" %}
{% endif %}

<section id="benefits-section">
  <div class="container">
    <div class="titles md:text-start text-center">
      <h2>{{ product.metafields.custom.benefits_section_title }}</h2>
      <p class="subtitle">{{ product.metafields.custom.benefits_section_desc }}</p>
    </div>

    <div class="health-benefits">
      {% for benefit in product.metafields.custom.benefits_images.value %}
        <div class="health-benefit">
          <img src="{{ benefit.src | image_url }}" alt="health benefit" loading="lazy">
          <p>{{ benefit.alt }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #benefits-section .health-benefits {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  #benefits-section .titles h2 {
    color: {% if isTitleColor %} #404733 {% endif %};
  }

  #benefits-section .health-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    max-width: 250px;
  }

  #benefits-section .health-benefit img {
    max-width: 100px;
  }

  #benefits-section .health-benefit p {
    font-weight: normal;
  }

  #benefits-section .health-benefit p {
    font-weight: normal;
  }

  @media screen and (max-width: 768px) {
    #benefits-section .health-benefits {
      flex-direction: column;
      gap: 15vw;
    }

    #benefits-section .health-benefits .health-benefit {
      flex-direction: row;
      max-width: unset;
      gap: 50px;
    }

    #benefits-section .health-benefits .health-benefit:nth-child(even) {
      flex-direction: row-reverse;
    }

    #benefits-section .health-benefit p {
      text-align: left;
      font-size: 5vw;
    }
  }

  @media screen and (max-width: 550px) {
    #benefits-section section p {
      font-size: 4vw;
    }
  }
</style>