{% assign features = "84 delicious recipes:that are delicious for you and the whole family too!
|Foods you’ll actually want to eat:like banana oat pancakes, Vietnamese crunchy enchiladas, and desserts!
|Detailed shopping lists:organized by weeks so you can get all your shopping done at once"
| split: "|" %}

<section id="product-curaeats-features-section">
  <div class="container">
    <div class="titles">
      <h2>What's included?</h2>
      <p>Curaeats has everything you need to succeed with healthy, glucose-friendly eating...</p>
    </div>

    <div class="features">
      {% for feature in features %}
        <div class="feature">
          <div class="feature-icon"><i class="icofont-check"></i></div>
          <p><b>{{ feature | split: ":" | first }}</b><br>{{ feature | split: ":" | last }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #product-curaeats-features-section {
    background-color: var(--light-vomit);
  }

  #product-curaeats-features-section .features {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #product-curaeats-features-section .features .feature {
    display: flex;
    align-items: center;
  }

  #product-curaeats-features-section .features .feature p {
    margin: unset;
  }

  #product-curaeats-features-section .feature-icon {
    background: var(--light-green);
    color: white;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
</style>