<div id="reviews-widget">
  <div class="flex items-center rating-stars md:justify-center">
    {% for i in (1..5) %}
      {% if i < 5 %}
        <i class="w-6 h-6 text-yellow fa-solid fa-star"></i>
      {% else %}
        <i class="w-6 h-6 text-yellow fa-solid fa-star-half-alt"></i>
      {% endif %}
    {% endfor %}
    
    
    <span class="ml-2 reviews-quantity">3000+ Reviews</span>
  </div>

  {% if isReviewsQuotes %}
    <div class="quotes" style="min-height:50px">
      <p class="hidden my-2 text-base quote pxfont-medium">“It’s completely changed my life” - Paul M.</p>
      <p class="hidden my-2 text-base font-medium quote">“I’m healthier now than I’ve been in years” - D’Gay F.</p>
      <p class="hidden my-2 text-base font-medium quote">“Here’s my proof - my MD is thrilled. I’m a believer!” - Ilyssa E.</p>
    </div>
  {% endif %}
</div>

<script>
  // Fade Quotes
  var quotes = $(".quote");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length)
      .fadeIn(1000)
      .delay(2000)
      .fadeOut(1000, showNextQuote);
  }

  showNextQuote();
</script>