<div id="reviews-widget">
  <div class="rating-stars flex items-center md:justify-center">
    {% for i in (1..5) %}
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2L9 9l-6 1.5 4.5 4-2 6.5L12 17l5.5 3.5-2-6.5 4.5-4-6-1.5z"/>
      </svg>
    {% endfor %}
    <span class="reviews-quantity ml-2">3000+ Reviews</span>
  </div>

  {% if isReviewsQuotes %}
    <div class="quotes" style="min-height:50px">
      <p class="quote pxfont-medium hidden my-2 text-base">“It’s completely changed my life” - Paul M.</p>
      <p class="quote hidden my-2 text-base font-medium">“I’m healthier now than I’ve been in years” - D’Gay F.</p>
      <p class="quote hidden my-2 text-base font-medium">“Here’s my proof - my MD is thrilled. I’m a believer!” - Ilyssa E.</p>
    </div>
  {% endif %}
</div>

<script>
  // Fade Quotes
  var quotes = $(".quote");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length)
      .fadeIn(1000)
      .delay(2000)
      .fadeOut(1000, showNextQuote);
  }

  showNextQuote();
</script>