<section id="effective-challenges">
  <div class="container">
    <div class="effective-background">
      <div class="effective">
        <div class="text-effective">
          <div class="titles">
            <h2>Why are 30 day challenges so effective?</h2>
          </div>

          <div class="grey-border"></div>

          <p>You do! <br><br>

          You already have what it takes inside of you.<br><br>

          But by giving you expertly designed tools, a structure, and a set time frame to work on a goal, you get the extra motivation to finally bring out the best of yourself.</p>
        
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #effective-challenges {
    
    padding: 1% 0;
  }

  #effective-challenges .effective-background {
    {% if border %}border: 2px solid #E1E8CF;{% endif %}
    margin-bottom: 3%;
  }

  #effective-challenges .effective {
    margin: 5%;
    display: flex;
    gap: 5%;
  }

  #effective-challenges .text-effective {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #effective-challenges .text-effective .titles {
    max-width: unset;
    margin: auto;
  }

  #effective-challenges .text-effective h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: left;
    color: #E58638;
  }


  #effective-challenges .grey-border {
    width: 98px;
    border: 1px solid #333333;
    position: relative;
    margin: 10px 0;
  }

  #effective-challenges .text-effective p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin-top: 2%;
    text-align: center;
  }

  #effective-challenges .call-text {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width: 768px) {
    #effective-challenges .effective {
      flex-direction: column;
      gap: 7vw;
    }

    #effective-challenges .text-effective {
      align-items: flex-start;
    }

    #effective-challenges .text-effective .title {
      font-size: 24px;
      line-height: 29px;
    }

  
    #effective-challenges .grey-border {
      width: 98px;
      border: 2px solid #333333;
      top: 5vw;
      margin-bottom: 10%;
    }

    #effective-challenges .call-text {
      gap: 2vw;
    }
  

    #effective-challenges .text-effective p {
      font-size: 18px;
      line-height: 23px;
      padding: 2vw 0;
      text-align: left;
    }

 
  }
</style>

