{% if shop.name == "CuraLife" %}
  {% assign shipping_worldwide = 'FREE WORLDWIDE SHIPPING' %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign shipping_worldwide = 'Free Shipping Above £99' %}
{% endif %}

<div id="trust-badges-widget">
  {% if badgesContent contains "free-shipping" %}
    <div class="trust-badge"><i class="icofont-vehicle-delivery-van" style="font-size:40px"></i>{{ shipping_worldwide }}</div>
  {% endif %}

  {% if badgesContent contains "money-back" %}
    <div class="trust-badge"><i class="icofont-badge" style="font-size:36px"></i>60 Day Money Back Guarantee</div>
  {% endif %}

  {% if badgesContent contains "secure-checkout" %}
    <div class="trust-badge"><i class="icofont-ui-lock"></i>100% Secure Checkout</div>
  {% endif %}
</div>

<style>
  #trust-badges-widget {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: {% if isMiniVersion %}30px{% else %}50px{% endif %};
    font-size: {% if isMiniVersion %}14px{% else %}16px{% endif %};
    line-height: 1.2rem;
  }

  #trust-badges-widget .trust-badge {
    display: flex;
    flex-direction: {% if isColumn %}column {% endif %};
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    {% comment %} max-width: {% if isMiniVersion %}50%{% else %}33%{% endif %}; {% endcomment %}
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 14px;
  }

  #trust-badges-widget .trust-badge i {
    font-size: 30px;
    margin-right: 10px;
    width: 10vw;
    max-width: 40px;
    min-height: 40px;
  }

  @media screen and (max-width:768px) {
    #trust-badges-widget {
      gap: unset;
      justify-content: space-around;
    }

    #trust-badges-widget .container {
      border-bottom: unset;
      gap: unset;
      justify-content: space-between;
    }

    #trust-badges-widget .trust-badge {
      font-size: 2vw;
      flex-direction: column;
      padding-bottom: unset;
    }

    #trust-badges-widget .trust-badge i {
      width: 40px;
      margin-right: unset;
    }
  }

  @media screen and (max-width: 500px) {
    #trust-badges-widget .trust-badge {
      font-size: 3vw;
      line-height: 3vw;
    }
  }

</style>