{% if shop.name == "CuraLife" %}
  {% if product.title contains "3 Pack" or product.title contains "6 Pack" %}
    {% assign shipping_worldwide = 'FREE US expedited shipping' %}
  {% else %}
    {% assign shipping_worldwide = 'Free US Shipping Above $65' %}
  {% endif %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign shipping_worldwide = 'Free Shipping Above £99' %}
{% endif %}

<div id="trust-badges-widget" class="mbl:text-center py-4">
  {% if badgesContent contains "free-shipping" %}
    <div class="trust-badge"><i class="fa-thin fa-truck-fast"></i></i>{{ shipping_worldwide }}</div>
  {% endif %}

  {% if badgesContent contains "money-back" %}
    <div class="trust-badge"><i class="fa-thin fa-badge-check"></i>60 Day Money Back Guarantee</div>
  {% endif %}

  {% if badgesContent contains "secure-checkout" %}
    <div class="trust-badge"><i class="fa-thin fa-shield-check"></i>100% Secure Checkout</div>
  {% endif %}
</div>

<style>
  #trust-badges-widget {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: {% if isMiniVersion %}14px{% else %}16px{% endif %};
    line-height: 1.2rem;
    {% if isMiniVersion %}padding: 0;{% endif %}
  }

  #trust-badges-widget .trust-badge {
    {% if isColumn %}flex-direction: column;{% endif %}
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    gap: 8px;
  }

  #trust-badges-widget .trust-badge svg {
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    #trust-badges-widget .trust-badge {
      font-size: 2vw;
      flex-direction: column;
      padding-bottom: unset;
      text-align: center;
      width: calc(100% / {{ badgesContent | split: ',' | size }});
    }

    #trust-badges-widget .trust-badge i {
      width: 40px;
      margin-right: unset;
    }
  }

  @media screen and (max-width: 500px) {
    #trust-badges-widget .trust-badge {
      font-size: 3vw;
      line-height: 3vw;
    }
  }

</style>