{% comment %}
	Renders a code block.

	Accepts:
	- block: The block object containing settings.

	Usage:
	{% render 'code-block', block: block %}
{% endcomment %}

<div class="code-block-wrapper" {{ block.shopify_attributes }}>
	{{ block.settings.content }}
</div>

{% schema %}
	{
		"name": "Code Block",
		"settings": [
			{
				"type": "textarea",
				"id": "content",
				"label": "Code Content (HTML, Liquid, JS, CSS)",
				"info": "Use with caution. Ensure code is valid and secure."
			}
		],
		"presets": [
			{
				"name": "Code Block"
			}
		]
	}
{% endschema %}
