{% assign weeks = "Week 1 <br>
Mindful Munching:Access your new meal plan with tons of new recipes that don’t compromise flavor!
|Week 2<br> 
Supplement Support:Start adding Curalin to your regime. We’ll guide you through it every step of the way!
|Week 3<br>
Find your Flow:Add in a movement routine that works for YOU! Go at your own pace, from the comfort of your home. It’s doable, maintainable, and even enjoyable!
|Week 4<br>
Small Steps, Big Wins:Set yourself up for success! Build the habits that allow you to maintain your success for the long run. You’re only just beginning.
" | split: "|" %}

<div class="how-work">
    <div class="container">
        
    <div class="sub-title">
         How the 30 day challenge works:         
       </div>
       <div class="sub-text">Each week, we’ll conquer a new health habit together!</div>
        <div class="grid-wrapper">
          <img class="grid-img" src="{{ 'thirty-day-product-grid.png' | asset_url }}" width="891" height="20" alt="">   
        </div>
        <div class="grid-wrapper-mb">
          <img class="grid-img-mb" src="{{ 'thirty-day-product-grid-mb.png' | asset_url }}" width="40" height="1502" alt="">
        
    <div class="how-work-wrapper">
      {% for week in weeks %}
        <div class="how-work-text">
          <div class="week-title">{{ week | split: ":" | first }}</div>
          <div class="border-bottom-week"></div>
          <div class="week-text">{{ week | split: ":" | last }}</div>
        </div>
      {% endfor %}
      
    </div>
    </div>
    </div>
</div>



<style>
  .how-work {
    background: #F4F4DB;
  }
    .how-work .sub-title {
      padding-top: 70px;
    }

    .how-work .sub-title  {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 40px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #404733;
    }

    .how-work .sub-text {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #404733;
      padding-bottom: 30px;
    }

    .grid-wrapper{
      padding: 20px 70px;
    }

    .grid-wrapper-mb {
      position: relative;
    }

    .grid-img-mb {
      display: none;
    }

    .grid-img {
      width: 76%;
    }

    .how-work-wrapper {
        display: flex;
        gap: 1vw;
        padding: 20px 70px;
    }

    .how-work-text {
        display: flex;
        flex-direction: column;
        max-width: 25%;     
    }

    .week-title {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: clamp(20px, 2vw, 30px);
      letter-spacing: -0.01em;
      color: #9EB069;
      max-width: 160px;
      min-height: 80px;
      
    }

    .border-bottom-week {    
      border-bottom: 2px solid #B9C86B;
      max-width: 150px;     
      padding: 10px;
    }

    .week-text {
      padding: 20px 0;
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: clamp(10px, 2vw, 20px);
      line-height: 25px;
      color: #000000;
    }

    @media screen and (max-width: 849px) {
        .grid-wrapper {
          display: none;
        }

        .grid-img-mb {
          display: flex;
          position:absolute;
          padding: 13px;

        }

    
        .how-work .sub-title  {
          font-size: 28px;
          line-height: 30px;
        }

        .how-work .sub-text {
          font-size: 20px;
          line-height: 28px;
          color: #000000;
        }

  
        .how-work-wrapper {
            flex-direction: column;
        }

        .how-work-text {
           
            max-width: unset;     
        }


        .week-title {
          line-height: 22px;
          max-width: unset;
          min-height: unset;
        
        }

        .week-text { 
          font-size: 18px; 
          line-height: unset;    
        }

      
    }
    @media screen and (max-width: 768px) {
      .grid-img-mb {
        padding: 11px;
      }
    }
    @media screen and (max-width: 475px) {
      .grid-img-mb {
        padding: 9px;
      }
    }

    @media screen and (max-width: 350px) {
      .grid-img-mb {
        padding: 7px;
      }
    }
</style>


