<div id="reviews-widget">
  <div class="rating-stars">
    {% for i in (1..5) %}
      <i class="fa-solid fa-star"></i>
    {% endfor %}
    <span class="reviews-quantity">3000+ Reviews</span>
  </div>

  {% if isReviewsQuotes %}
    <div class="quotes">
      <p class="quote">“It’s completely changed my life” - Paul M.</p>
      <p class="quote">“I’m healthier now than I’ve been in years” - D’Gay F.</p>
      <p class="quote">“Here’s my proof - my MD is thrilled. I’m a believer!” - Ilyssa E.</p>
    </div>
  {% endif %}
</div>

<style>
  #reviews-widget .quotes {
    min-height: 50px
  }

  #reviews-widget .quotes .quote {
    display: none;
    margin: 5px 0;
  }

  #reviews-widget .rating-stars svg {
    color: #f5b700;
  }
</style>

<script>
  // Fade Quotes
  var quotes = $(".quote");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length).fadeIn(1000).delay(2000).fadeOut(1000, showNextQuote);
  }

  showNextQuote();
</script>