{% if section.settings.banr_btmimg != blank %}
<div class="bottom-banner bottom-line">
    <div class="container">
        <div class="white-bg">
            <div class="banner-section">
                <img src="{{section.settings.banr_btmimg | img_url: ''}}" alt="" loading="lazy">
            </div> 
        </div>
    </div>
</div>
{% endif %}


{% schema %}
    {
        "name": "Banner Bottom",
        "class": "banner-botm",
        "settings": [
            {
              "type": "image_picker",
              "id": "banr_btmimg",
              "label": "Select Bottom Banner Image"
            }     
            
        ] 
        
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
