<section id="bfcm-hero" class="admin-hidden pb-[150px] md:pb-[10vw]">
  <div class="bg -z-10 absolute top-0 w-full"></div>
  <div class="container flex">
    <div class="left flex flex-col">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877318.png?v=1698850203" alt="sale 40%">
      <a class="pt-8" href="/collections"><button class="revert">SHOP NOW</button></a>
    </div>
    <div class="right">
      <div class="capsule">
        <img class="desktop object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_3.png?v=1698855169" alt="black friday sale">
        <img class="desktop object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_2.png?v=1698855169" alt="black friday sale">
        <img class="desktop object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_1.png?v=1698855169" alt="black friday sale">
        <img class="mobile object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img-mobile_1.png?v=1698919136" alt="black friday sale">
        <img class="mobile object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img-mobile_2.png?v=1698919136" alt="black friday sale">
        <img class="mobile object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img-mobile_3.png?v=16989191369" alt="black friday sale">
        </div>
      <img class="bottle object-cover absolute left-[100px]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalin_bottle.png" alt="curalin bottle">
    </div>
  </div>
</section>

<style>
  #bfcm-hero .bg {
    background-color: var(--blue);
    height: calc(100% - 100px);
  }

  #bfcm-hero .right img.bottle {
    height: 600px;
    top: -100px;
    left: calc(50% - 250px);
    filter: drop-shadow(-21px 22px 21px rgba(0, 0, 0, 0.2));
  }

    #bfcm-hero .capsule img {
      position: absolute;
      height: calc(100% + 100px);
      opacity: 0;
      left: 50%;
      transition: opacity 1s ease-in-out;
    }

    @media screen and (max-width: 768px) {
      #bfcm-hero .bg {
        height: 100%;
      }

      #bfcm-hero .left {
        margin-top: 80vw;
      }

      #bfcm-hero .right img.bottle {
        height: 100vw;
        left: unset;
        right: 43vw;
        top: -60px;
      }

      #bfcm-hero .capsule img {
        height: 70vw;
        left: unset;
        right: 0;
      }
    }
</style>


<script>
  function animateBFCMImages(className) {
    const images = document.querySelectorAll(className);
    let index = 0;

    if (images[index]) {
      images[index].style.opacity = 1;
    }

    setInterval(() => {
      images.forEach(img => img.style.opacity = 0);

      index = (index + 1) % images.length;

      if (images[index]) {
        images[index].style.opacity = 1;
      }

    }, 3000);
  }

  if (window.innerWidth <= 768) {
    animateBFCMImages('.capsule img.mobile');
  } else {
    animateBFCMImages('.capsule img.desktop');
  }
</script>

{% schema %}
{
  "name": "BFCM 23 Hero",
  "settings": [

    ],
    "presets": [
    {
      "name": "BFCM Hero"
    }
  ]
}
{% endschema %}