<section>
  <div class="bg h-[80%] bg-[--blue]"></div>
  <div class="container flex">
    <div class="left flex flex-col">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877318.png?v=1698850203" alt="sale 40%">
      <a href="/products/curalin"><button>SHOP NOW</button></a>
    </div>
    <div class="right">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877324.png?v=1698850249" alt="">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "BFCM 23 Hero",
  "settings": [

    ],
    "presets": [
    {
      "name": "BFCM Hero"
    }
  ]
}
{% endschema %}