<section id="bfcm-hero pb-[100px]">
  <div class="bg absolute top-0 -z-10 w-full bg-[--blue]"></div>
  <div class="container flex">
    <div class="left flex flex-col">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877318.png?v=1698850203" alt="sale 40%">
      <a href="/products/curalin"><button class="revert pt-4">SHOP NOW</button></a>
    </div>
    <div class="right">
      <img class="object-cover" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877324.png?v=1698850249" alt="">
    </div>
  </div>
</section>

<style>
  #bfcm-hero .bg {
    height: calc(100% - 100px);
  }

  #bfcm-hero .right img {
    height: calc(100% + 100px);
  }
</style>

{% schema %}
{
  "name": "BFCM 23 Hero",
  "settings": [

    ],
    "presets": [
    {
      "name": "BFCM Hero"
    }
  ]
}
{% endschema %}