<section id="bfcm-hero" class="pb-[100px]">
  <div class="bg absolute top-0 -z-10 w-full"></div>
  <div class="container flex">
    <div class="left flex flex-col">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877318.png?v=1698850203" alt="sale 40%">
      <a href="/products/curalin"><button class="revert pt-4">SHOP NOW</button></a>
    </div>
    <div class="right relative">
      <div class="capsule">
        <img class="object-cover desktop" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_3.png?v=1698855169" alt="">
        <img class="object-cover desktop" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_2.png?v=1698855169" alt="">
        <img class="object-cover desktop" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/bfcm-hero-img_1.png?v=1698855169" alt="">
      </div>
      <img class="object-cover absolute left-[100px]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877263.png?v=1698855538" alt="curalin bottle">
    </div>
  </div>
</section>

<style>
  #bfcm-hero .bg {
    background-color: var(--blue);
    height: calc(100% - 100px);
  }

  #bfcm-hero .right img {
    height: calc(100% + 100px);
  }

  #bfcm-hero .capsule img {
      position: absolute;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
</style>


<script>
  const animationDelay = 3 * 1000;

  function animateImages(className) {
    const images = document.querySelectorAll(className);
    let index = 0;

    if (images[index]) {
      images[index].style.opacity = 1;
    }

    setInterval(() => {
      images.forEach(img => img.style.opacity = 0);

      index = (index + 1) % images.length;

      if (images[index]) {
        images[index].style.opacity = 1;
      }

    }, animationDelay);
  }

  if (window.innerWidth <= 768) {
    animateImages('.capsule img.mobile');
  } else {
    animateImages('.capsule img.desktop');
  }
</script>

{% schema %}
{
  "name": "BFCM 23 Hero",
  "settings": [

    ],
    "presets": [
    {
      "name": "BFCM Hero"
    }
  ]
}
{% endschema %}