{% assign supplement_options = '' %}

{% for variant in product.variants %}
  {% assign supplement_pack = variant.title | split: ' / ' | last %}

  {% unless supplement_options contains supplement_pack %}
    {% assign supplement_options = supplement_options | append: supplement_pack | append: ',' %}
  {% endunless %}
{% endfor %}

{% assign supplement_options = supplement_options | split: ',' %}

<div class="bogo-gift-section">
  <div class="container">
    <div class="bogo-gift-boxes swiper">
      <div class="swiper-wrapper mb-[50px]">
        <div class="swiper-slide">
          <div class="bogo-gift-box shadow-2xl flex w-[1000px] h-[380px] m-auto p-8">
            <img src="{{ all_products['immune-booster'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img h-[330px]">
            <div class="content w-3/5">
              <h3 class="title">Immune Booster</h3>
              <ul class="benefits">
                <li class="benefit"><b>Powerful mushrooms & fungi</b><br>that support total immune health</li>
                <li class="benefit"><b>Supports daily strength</b><br>cognition, and endurance</li>
                <li class="benefit"><b>Keeps inflammation</b><br>checked by promoting a healthy inflammation response</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="bogo-gift-box shadow-2xl flex w-[1000px] h-[380px] m-auto p-8">
            <img src="{{ all_products['restful-sleep'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img h-[330px]">
            <div class="content w-3/5">
              <h3 class="title">Restful Sleep</h3>
              <ul class="benefits">
                <li class="benefit"><b>Know you’re covered</b><br>with 19 powerful ingredients supporting your sleep</li>
                <li class="benefit"><b>Support muscle function</b><br>with powerful B6 vitamins</li>
                <li class="benefit"><b>Destress and boost</b><br>nervous system health for a restful night’s sleep</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="bogo-gift-box shadow-2xl flex w-[1000px] h-[380px] m-auto p-8">
            <img src="{{ all_products['platinum-joint-care'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img h-[330px]">
            <div class="content w-3/5">
              <h3 class="title">Platinum Joint Care</h3>
              <ul class="benefits">
                <li class="benefit"><b>Formulated for joints</b><br>with 8 synergistic ingredients</li>
                <li class="benefit"><b>Supports flexibility</b><br>and helps with joint stiffness</li>
                <li class="benefit"><b>Keeps inflammation</b><br>checked and promotes healthy blood pressure</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bogo-gift-section ul li:before {
    content: '✓';
    background-color: black;
    color: white;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 50%;
  }
</style>

<script>
  window.giftsSlider = new Swiper('.bogo-gift-boxes', {
    slidesPerView: 1,
    spaceBetween: 30,
    navigation: {
      nextEl: '.bogo-gift-section .swiper-button-next',
      prevEl: '.bogo-gift-section .swiper-button-prev',
    },
  });
</script>

{% schema %}
  {
    "name": "Bogo Gift",
    "settings": [],
    "presets": [
      {
        "name": "Bogo Gift"
      }
    ]
  }
{% endschema %}