<div class="bogo-gift-section">
  <div class="container">
    <div class="bogo-gift-boxes">
      <div class="bogo-gift-box shadow-2xl flex">
        <img src="{{ all_products['immune-booster'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img w-2/5">
        <div class="content">
          <h3 class="title">Immune Booster</h3>
          <div class="benefits">
            <div class="benefit"><b>Powerful mushrooms & fungi</b><br>that support total immune health</div>
            <div class="benefit"><b>Supports daily strength</b><br>cognition, and endurance</div>
            <div class="benefit"><b>Keeps inflammation</b><br>checked by promoting a healthy inflammation response</div>
          </div>
        </div>
      </div>

      <div class="bogo-gift-box shadow-2xl flex">
        <img src="{{ all_products['restful-sleep'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img">
        <div class="content">
          <h3 class="title">Restful Sleep</h3>
          <div class="benefits">
            <div class="benefit"><b>Know you’re covered</b><br>with 19 powerful ingredients supporting your sleep</div>
            <div class="benefit"><b>Support muscle function</b><br>with powerful B6 vitamins</div>
            <div class="benefit"><b>Destress and boost</b><br>nervous system health for a restful night’s sleep</div>
          </div>
        </div>
      </div>

      <div class="bogo-gift-box shadow-2xl flex">
        <img src="{{ all_products['platinum-joint-care'].metafields.custom.bottle_image | image_url }}" alt="" class="supplement-img">
        <div class="content">
          <h3 class="title">Platinum Joint Care</h3>
          <div class="benefits">
            <div class="benefit"><b>Formulated for joints</b><br>with 8 synergistic ingredients</div>
            <div class="benefit"><b>Supports flexibility</b><br>and helps with joint stiffness</div>
            <div class="benefit"><b>Keeps inflammation</b><br>checked and promotes healthy blood pressure</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const giftsSlider = new Swiper('.bogo-gift-boxes', {
    slidesPerView: 1,
    spaceBetween: 30,
    navigation: {
      nextEl: '.bogo-gift-section .swiper-button-next',
      prevEl: '.bogo-gift-section .swiper-button-prev',
    },
  });
</script>

{% schema %}
  {
    "name": "Bogo Gift",
    "settings": [],
    "presets": [
      {
        "name": "Bogo Gift"
      }
    ]
  }
{% endschema %}