{% if template.name != "index" and template.name != "404" %}
  <div class="container">
    <nav class="breadcrumb absolute top-[10px] z-10 text-[14px]" itemscope itemtype="https://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </span>

      {% assign position = 1 %}

      {% if collection %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: collection.title, is_current: true, position: position %}
      {% elsif page %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: page.title, is_current: true, position: position %}
      {% elsif blog and article %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', link: "/blogs/" | append: blog.handle, title: blog.title, position: position %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: article.title, is_current: true, position: position %}
      {% elsif blog %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: blog.title, is_current: true, position: position %}
      {% elsif template.name == 'list-collections' %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: 'Collections', is_current: true, position: position %}
      {% elsif template.name == 'cart' %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: 'Cart', is_current: true, position: position %}
      {% elsif template.name == 'search' %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: 'Search', is_current: true, position: position %}
      {% elsif template.name == 'account' or request.path contains '/tools/recurring/portal' %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', link: "/account", title: 'My Account', position: position %}
        {% if request.path contains '/tools/recurring/portal' %}
          {% assign position = position | plus: 1 %}
          {% render 'breadcrumb-item', title: 'Subscriptions', is_current: true, position: position %}
        {% endif %}
      {% endif %}

      {% if product %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', link: "/collections", title: 'Shop', position: position %}
        {% assign position = position | plus: 1 %}
        {% render 'breadcrumb-item', title: product.title, is_current: true, position: position %}
      {% endif %}
    </nav>
  </div>

  <style>
    .current-page {
      color: {{ section.settings.current_color }};
    }
  </style>
{% endif %}

{% schema  %}
{
  "name": "Breadcrumb",
  "settings": [
    {
      "type": "color",
      "id": "current_color",
      "label": "Current page color"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb",
      "category": "Navigation"
    }
  ]
}
{% endschema %}