<div class="container">
  <h2 class="text-center">{{ section.settings.title }}</h2>

  <div class="collections mb:flex-no-wrap mb:gap-10 flex flex-wrap justify-between">
    {% for collection in section.settings.collections_list %}
      <div class="collection w-1/2 p-1">
        <a href="{{ collection.url }}">
          <img src="{{ collection.image | img_url: 'original' }}" alt="{{ collection.title }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collections Catalog",
  "tag": "section",
  "class": "collections-catalog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection_list",
      "id": "collections_list",
      "label": "Collections",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "Collection Catalog"
    }
  ]
}
{% endschema %}