<div class="container">
  <h1>
    {{ section.settings.small_title }}<br>
    <span>{{ section.settings.big_title }}</span>
  </h1>
</div>

<style>
  .collection-catalog {
    background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display:5flex;
    align-items: center;
    justify-content: center;
  }

  .collection-catalog h1 {
    color: white;
    max-width: 50%;
    margin-inline-start: 50%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
    font-size: 35px;
    font-weight: normal;
  }

  .collection-catalog h1 span {
    font-size: 80px;
    font-weight: bold;
  }
</style>

{% schema %}
{
  "name": "Collections Catalog",
  "tag": "section",
  "class": "collection-catalog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "id": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Catalog"
    }
  ]
}
{% endschema %}