<div class="container">
  <h2 class="text-center">{{ section.settings.title }}</h2>

  <div class="collections">
    {% for collection in section.settings.collections_list %}
      <div class="collection">
        <a href="{{ collection.url }}">
          <img src="{{ collection.image | img_url: '480x480' }}" alt="{{ collection.title }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .collections-catalog h1 {
    color: white;
    max-width: 50%;
    margin-inline-start: 50%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
    font-size: 35px;
    font-weight: normal;
  }

  .collections-catalog h1 span {
    font-size: 80px;
    font-weight: bold;
  }

  .collections-catalog .collections {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
</style>

{% schema %}
{
  "name": "Collections Catalog",
  "tag": "section",
  "class": "collections-catalog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection_list",
      "id": "collections_list",
      "label": "Collections",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "Collection Catalog"
    }
  ]
}
{% endschema %}