<div class="companies-logo">
        <div class="container">
            <div class="logo-list wow fadeInUp">
              {% for block in section.blocks %}
                <span><img src="{{ block.settings.assets | img_url : 'master' }}" alt="" loading="lazy"></span>
              {% endfor %}
            </div>
        </div>
    </div>


{% schema %}
    {
    "name": "Companies Logo",
    "blocks": [
    {
    "type": "team",
    "name": "Logo",
    "settings": [
    {
    "type": "image_picker",
    "id": "assets",
    "label": "Image"
    }
    ]
    }
    ]
    }
{% endschema %}