<section class="ingredients-benefits-capsule-section text-center">
  <div class="container">
    <div class="content">
      <h2>The ultimate glucose support</h2>
      <p>Curalin is a safe and effective glucose support supplement. It’s synergistic formula includes 9 natural ingredients that:</p>
    </div>

    <div class="image-wrapper">
      <img src="{{ 'curalin-capsule.png' | asset_url }}" alt="curalin-capsule">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Curalin Capsule",
    "class": "curalin-capsule-benefits",
    "settings": [],
    "presets": [
      {
        "name": "Curalin Capsule"
      }
    ]
  }
{% endschema %}