<section class="curalin-capsule-section text-center">
  <div class="flex-nowrap container flex items-center">
    <div class="content text-start w-[40%]">
      <h2 class="text-[#3A7684]">The ultimate glucose support</h2>
      <p>Curalin is a safe and effective glucose support supplement. It’s synergistic formula includes 9 natural ingredients that:</p>
    </div>

    <div class="image-wrapper relative w-[60%]">
      <img src="{{ 'curalin-capsule.png' | asset_url }}" alt="curalin-capsule">
      <div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div><div class="point"></div>
    </div>
  </div>
</section>

<style>
  .curalin-capsule-section .point {
    position: absolute;
    transform: translate(-50%, -40%);
    width: 5%;
    aspect-ratio: 1 / 1;
    background: #3A7684;
    border-radius: 50%;
    z-index: 1;
  }

  .curalin-capsule-section .point:nth-child(1) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .point:nth-child(2) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .point:nth-child(3) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .point:nth-child(4) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .point:nth-child(5) {
    top: 12%;
    left: 29%;
  }

  .curalin-capsule-section .point:nth-child(6) {
    top: 12%;
    left: 29%;
  }
</style>

{% schema %}
  {
    "name": "Curalin Capsule",
    "settings": [],
    "presets": [
      {
        "name": "Curalin Capsule"
      }
    ]
  }
{% endschema %}