<section class="customer-reviews overflow-visible">
  <div class="container relative">
    <img class="absolute max-w-[250px] left-[-130px] top-[-80px]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalin_logo.png?v=1695042840" alt="curalin logo">
    <h2 class="text-center text-[#3A7684]">Hear from Our Happy Customers</h2>

    <img class="pb-4 m-auto" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877255.png?v=1695042350" alt="customers avatars" loading="lazy">

    <div class="reviews swiper pb-10 overflow-visible">
      <div class="swiper-wrapper">
        {% for review in section.blocks %}
          <div class="review swiper-slide p-6 bg-[#E7F8EC] border-cyan-700 border shadow-xl rounded-xl min-h-[250px]">
            <div class="stars pb-6 text-center">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[#FFB22D] mr-1"></i>{% endfor %}</div>
            <div class="quote text-black text-[22px]">{{ review.settings.quote }}</div>
            <div class="name absolute bottom-6 text-[#3A7684]">{{ review.settings.name }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  const swiper = new Swiper('.swiper.reviews', {
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 2.3,
    reverseDirection: true,
    loop: true,
    spaceBetween: 30,
    effect: "coverflow",
    coverflowEffect: {
        rotate: 0,
        depth: 400,
        slideShadows: true,
    },
    pagination: {
        el: '.swiper-pagination',
        clickable: true
    },
    autoplay: { delay: 5000 }
  });

  window.onresize = queryResizer;
  queryResizer();
  function queryResizer() {
      if (window.innerWidth < 724) swiper.params.slidesPerView = 2;
      if (window.innerWidth > 501) swiper.params.slidesPerView = 2;
      if (window.innerWidth > 724) swiper.params.slidesPerView = 2.3;
      if (window.innerWidth < 501) swiper.params.slidesPerView = 1;
      swiper.update();
  }
</script>

{% schema %}
{
  "name": "Customer Reviews 2",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews 2"
    }
  ]
}
{% endschema %}