<div class="customers-stories">
        <div class="container">
            <div class="stories-title wow fadeInUp">
                <h2>{{ section.settings.title }}</h2>
            </div>
            <div class="stories-slider wow fadeInUp">
                <div class="swiper">
                    <div class="swiper-wrapper">
                      {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <div class="stories-video">
                                <div class="video-img">
                                    <img src="{{ block.settings.video_bg | img_url : 'master' }}" alt="" loading="lazy">
                                </div>
                                <div class="play-video" data-src="{{ block.settings.link }}">
                                    <button type="button"><i class="icon-play"></i></button>
                                </div>
                            </div>
                            <div class="reviewers-name">
                                <p>{{ block.settings.name }}</p>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="button-prev"><span class="icon-next"></span></div>
                    <div class="button-next"><span class="icon-next"></span></div>
                    <div class="pagination"></div>
                </div>
            </div>
            <div class="btn-wrap wow fadeInUp">
                <a href="#od_now" class="main-btn orange cstmr_stry big radius" data-goto="prod_0"><ls-static-992267>ORDER NOW</ls-static-992267></a>
            </div>
        </div>
    </div>


{% schema %}
    {
    "name": "Customers Stories",
    "settings": [
    {
    "type": "textarea",
    "id": "title",
    "label": "Title"
    }
    ],
    "blocks": [
    {
    "type": "team",
    "name": "Slide",
    "settings": [
    {
    "type": "image_picker",
    "id": "video_bg",
    "label": "Video Background"
    },
{
    "type": "text",
    "id": "link",
    "label": "Video Link"
    },
    {
    "type": "text",
    "id": "name",
    "label": "Name"
    }
    ]
    }
    ]
    }
{% endschema %}