<div class="container">
  <h2>{{ section.settings.title }}</h2>

  <div class="reviews">
    {% for block in section.blocks %}
      <div class="review">
        <div class="image-wrapper">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
        </div>
        <div class="content">
          <p class="name">{{ block.settings.text }}</p>
          <div class="rating text-lightGreen"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
          <p class="content__name">{{ block.settings.name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Customer Reviews",
  "tag": "section",
  "class": "customer-reviews",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}