<div class="container">
  <h2>{{ section.settings.title }}</h2>

  <div class="reviews">
    {% for block in section.blocks %}
      <div class="review">
        <div class="image-wrapper">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
        </div>
        <div class="content">
          <p class="name">{{ block.settings.text }}</p>
          <div class="rating text-lightGreen"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
          <p class="content__name">{{ block.settings.name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Customer Reviews",
  "tag": "section",
  "class": "customer-reviews",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customer Reviews"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Additional Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews"
    }
  ]
}
{% endschema %}