<section class="customer-reviews">
  <h2 class="text-[#3A7684]">Hear from Our Happy Customers</h2>

  <div class="container">
    <div class="reviews swiper">
      <div class="swiper-wrapper">
        {% for review in section.blocks %}
          <div class="review swiper-slide p-4 bg-[#E7F8EC] border-[#3A7684] shadow-xl">
            <div class="stars">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star"></i>{% endfor %}</div>
            <div class="quote">{{ review.quote }}</div>
            <div class="name text-[#3A7684]">{{ review.name }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
  class ReviewsApp {
    constructor() {
      this.reviewTitles = Array.from(document.querySelectorAll('.review-title'));
      this.reviewQuotes = Array.from(document.querySelectorAll('.quote'));
      this.currentActiveIndex = 0;
      this.reviewsSwiper = new Swiper('.swiper.reviews', {
        centeredSlides: true,
        slidesPerView: '1',
        spaceBetween: 30,
        autoHeight: true,
        lazy: true,
        preloadImages: false,
      });
    }
  }

  let reviewsApp;

  document.addEventListener('DOMContentLoaded', () => {
    reviewsApp = new ReviewsApp();
    reviewsApp.init();
  });

  window.addEventListener('beforeunload', () => {
    if (reviewsApp) {
      reviewsApp.destroy();
    }
  });
</script>

{% schema %}
{
  "name": "Customer Reviews 2",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Review Quote"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews 2"
    }
  ]
}
{% endschema %}