<div class="container">
  <h1 class="text-4xl font-normal text-white">
    {{ section.settings.small_title }}<br>
    <span class="text-7xl font-bold">{{ section.settings.big_title }}</span>
  </h1>
</div>

<style>
  .hero-banner {
    background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-banner h1 {
    max-width: 50%;
    margin-inline-start: 50%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
  }
</style>

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}