<div class="container">
  <h1>
    {{ settings.small_header }}<br>
    <span>{{ settings.big_header }}</span>
  </h1>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "class": "hero-banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg-image"
    },
    {
      "type": "text",
      "id": "small_header"
    },
    {
      "type": "text",
      "id": "big-header"
    }
  ]
}
{% endschema %}