<div class="container">
  <h1 class="max-w-1/2 md:max-w-full md:text-xl md:text-center text-2xl font-thin text-left text-white">
    {{ section.settings.small_title }}<br>
    <span class="md:text-3xl text-4xl font-bold" >{{ section.settings.big_title }}</span>
  </h1>
</div>

<style>
  section.hero-banner {
    background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.hero-banner h1 {
    max-width: 50%;
    margin-inline-start: 50%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
    font-weight: 100;
  }

  @media (max-width: 768px) {
    section.hero-banner {
      background-image: url('{{ section.settings.bg_image_mobile | img_url: 'master' }}');
    }

    section.hero-banner h1 {
      max-width: 100%;
      margin-inline-start: unset;
    }
  }
</style>

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image on Mobile"
    },
    {
      "type": "text",
      "id": "small_title",
      "label": "Small Title"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}