<div class="section">
  <div class="container">
    <h1>
      {{ settings.small_header }}<br>
      <span>{{ settings.big_header }}</span>
    </h1>
  </div>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Header",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "small_heading",
          "label": "Small Heading"
        },
        {
          "type": "text",
          "id": "large_heading",
          "label": "Large Heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Preset",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
