<div class="container">
  <h1>
    {{ settings.small_header }}<br>
    <span>{{ settings.big_header }}</span>
  </h1>
</div>

<style>
  .hero-banner {
    background-image: url({{ settings.bg_image | img_url: 'master' }});
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg-image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "small_header",
      "label": "Small Header"
    },
    {
      "type": "text",
      "id": "big-header",
      "label": "Big Header"
    }
  ],
  "presets": [
    {
      "name": "Hero-Banner"
    }
  ]
}
{% endschema %}