<div class="container">
  <div class="swiper-container items overflow-visible" data-swiper-slides-per-view="auto" data-swiper-auto-height="true" data-swiper-space-between="30" data-swiper-navigation="true" data-swiper-pagination="true" data-swiper-pagination-clickable="true" data-swiper-lazy="true">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide item flex flex-col items-center text-center md:max-w-full max-w-30%">
          <img class="max-h-250px object-contain" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}" loading="lazy">
          <h5 class="mt-4">{{ block.settings.title }}</h5>
          <p>{{ block.settings.description }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<style>
  .items {
    --swiper-theme-color: #000;
    --swiper-pagination-bottom: -9%;
    --swiper-navigation-size: 18px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 0;
  }
</style>

{% schema %}
{
  "name": "Items collection",
  "tag": "section",
  "class": "items-collection",
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Items collection"
    }
  ]
}
{% endschema %}

<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    lazy: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>