<div class="container">
  <div class="swiper-container items overflow-visible">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide item flex flex-col items-center text-center md:max-w-full max-w-30%">
          <img class="md:h-64 object-contain h-48" src="{{ block.settings.image | img_url: '900x' }}" alt="{{ block.settings.title }}">
          <h5 class="mt-4 text-lg font-semibold">{{ block.settings.title }}</h5>
          <p class="mt-2">{{ block.settings.description }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

{% schema %}
{
  "name": "Items Collection",
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommend image size: 900x600px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Items Collection",
      "category": "Products"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.items {
  --swiper-theme-color: #000;
  --swiper-navigation-size: 18px;
}

.swiper-container {
  height: 100%;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.swiper-button-prev {
  left: 5%;
}

.swiper-button-next {
  right: 5%;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f104";
}

.swiper-button-next::before {
  content: "\f105";
}
{% endstylesheet %}

{% javascript %}
var swiper = new Swiper('.swiper-container', {
  loop: true,
  lazy: true,
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },
});
{% endjavascript %}