<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;0,800;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

<header class="page-header" id="page-header">
    <div class="container">
        <div class="main-logo">
            <a href="javascript:void(0)"><img src="{{ 'logo-black.png' | asset_url }}" alt="logo"></a>
        </div>
        <div class="buttons-container">
            <div class="off-container">
                <div class="up-to">UP TO</div>
                <div class="thirty-off"> 30% OFF</div>
            </div>
            <div class="buy-btn">
                <a class="main-btn" id='main-cta-btn' href="#">ORDER NOW</a>
            </div>
        </div>
    </div>
</header>

{% style %}
header.page-header {
background-color: #F66E86;
background-image: url("{{ 'lps-aio-header-watermelon.png' | asset_url }}");
background-size: cover;
background-position-x: 20vw;
background-repeat: no-repeat;
box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

header.page-header .main-logo {
padding: 15px 0 10px 0;
}

header.page-header .main-logo a {
display: inline-block;
padding: 4px 0;
max-width: 181px;
}

header.page-header .main-logo a img {
width: 150px;
}

header.page-header .container {
display: flex;
align-items: center;
justify-content: space-between;
}

header.page-header .buy-btn .main-btn {
font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
line-height: 48px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;
color: #000000;

height: 48px;
width: 177px;
background: #FFFFFF;
box-shadow: 0px 5.01961px 12.549px rgba(0, 0, 0, 0.15);
border-radius: 5.01961px;
transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
padding: 10px;
min-height: unset;
}

header.page-header .buy-btn .main-btn:hover {
background-color: #FFFFFF;
}


.buttons-container {
    display: flex;
}

.off-container {
display: flex;
align-items: center;
}

.up-to {

width: 18px;
height: 28px;
margin-right: 10px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #FFFFFF;
}

.thirty-off {
margin-right: 15px;
font-family: 'Montserrat';
font-weight: 600;
font-size: 36px;
line-height: 14px;
display: flex;
align-items: center;
color: #FFFFFF;

}

@media screen and (max-width: 760px) {
header.page-header {
background-image: url("{{ 'lps-aio-header-watermelon-mobile.png' | asset_url }}");
background-position-x: unset;
position: relative;
}

header.page-header .buy-btn {
display: none;
}

.off-container {
display: none;
}

header.page-header .main-logo a img {
width: 120px;
margin-top: -5px;
}
}
{% endstyle %}

<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() < ($("#product-section").offset().top)) {
            $('#page-header').fadeIn();
        } else {
            $('#page-header').fadeOut();
        }
    });

    $("#main-cta-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#product-section").offset().top + 130
        }, 2000);
    });
</script>