<div class="hero-banner">
    <div class="container">
        <h1>Long-Term Blood Sugar Support</h1>
        <p>Keep On Supporting Your Blood Sugar with CuraLin</p>
        <a id="hero-cta" href="#"><button>Order Now</button></a>
<img id="shipping-line" src="{{ 'lps-aio-lp01-hero-free-shipping.png' | asset_url }}" alt="free shipping">
<img id="shipping-line-above" src="{{ 'lps-aio-lp01-hero-free-shipping-above.png' | asset_url }}" alt="free shipping" style="display: none;">
</div>
</div>

<style>
    .hero-banner {
        background-image: url("{{ 'lps-aio-lp01-hero-bg.png' | asset_url }}");
        background-size: cover;
        background-position: bottom;
        height: 40vw;
    }

    .hero-banner .container {
        padding-top: 100px;
        height: 100%;
        position: relative;
    }

    .hero-banner h1 {
        font-weight: 500;
        font-size: 70px;
        line-height: 70px;
        max-width: 650px;
        margin: 10px 0;
    }

    .hero-banner p {
        font-size: 30px;
        line-height: 45px;
        margin: 3vw 0;
        max-width: 400px;
    }

    .hero-banner button {
        background: #C78263;
        color: white;
        box-shadow: 0px 4.625px 4.625px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 0;
        font-size: 37px;
        padding: 10px 80px;
        text-transform: uppercase;
    }

    .hero-banner img {
        display: block;
        margin-top: 20px;
        width: 355px;
    }

    @media screen and (max-width:1430px) {
        .hero-banner {
            height: 60vw
        }

        .hero-banner h1 {
            font-size: 4vw;
        }
    }

    @media screen and (max-width:1440px) {
        .hero-banner {
            height: 45vw
        }
    }

    @media screen and (max-width:1270px) {
        .hero-banner {
            height: 50vw
        }

        .hero-banner h1 {
            font-size: 4vw;
            margin-top: 0vw;
            margin-bottom: 2vw;
            line-height: 5vw;
        }
    }

    @media screen and (max-width: 760px) {
        .hero-banner {
            background-image: url("{{ 'lps-aio-lp01-hero-bg-mobile.png' | asset_url }}");
            height: 100vh;
        }

        .hero-banner h1 {
            font-size: 8vw;
            line-height: unset;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .hero-banner p {
            font-size: 24px;
            line-height: unset;
            max-width: 65%;
        }

        .hero-banner button {
            font-size: 30px;
            width: calc(100% - 30px);
            position: absolute;
            bottom: 70px;
            padding: 10px;
        }

        .hero-banner img {
            width: calc(100% - 30px);
            position: absolute;
            bottom: 15px;
        }

    }
</style>

<script>
    $("#hero-cta").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#product-section").offset().top + 130
    }, 2000);
});
</script>