<script>
  if (window.location.href.indexOf('/blog/') > -1) {
    window.location = "https://curalife.com/blogs/blog";
  }
</script>

{% if request.path contains '/blog/' %}
  {% assign next_page_link = 'https://curalife.com/blogs/blog' %}
  {% assign next_page_title = "Blog" %}
{% else %}
  {% assign next_page_link = '/' %}
  {% assign next_page_title = "Homepage" %}
{% endif %}

<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-margin center container">
  <h1 class="h2 title"><span class="font-normal">Page Not Found,</span><br>But Your Path to Better Health is Still Clear.</h1>
  <div class="links flex items-center gap-8"></div>
  <a href="{{ next_page_link }}"><button>Back to {{ next_page_title }}</button></a>
</div>