

{% if request.path contains '/blog/' %}
  {% if shop.name == "CuraLife Global" %}
    <script>window.location = "https://curalife.com/blogs/blog";</script>
  {% else %}
    {% assign next_page_link = 'https://curalife.com/blogs/blog' %}
    {% assign next_page_title = "Blog" %}
  {% endif %}
{% else %}
  {% assign next_page_link = '/' %}
  {% assign next_page_title = "Homepage" %}
{% endif %}

<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<section class="template-404 page-margin center container">
  <h1 class="h2 title leading-5"><span class="font-normal">Oops! Page Not Found,</span><br>But Your Path to Better Health is Still Clear.</h1>
  <div class="links flex items-center gap-8"></div>
  <a href="{{ next_page_link }}"><button>Back to {{ next_page_title }}</button></a>
</section>