<div class="natural-supplement">
        <div class="container">
            <div class="sub-title wow fadeInUp">
                <h2>{{ section.settings.title }}</h2>
                <p>{{ section.settings.text }}</p>
            </div>
            <div class="badges wow fadeInUp">
              {% for block in section.blocks %}
                <img src="{{ block.settings.logo | img_url : 'master' }}" alt="" loading="lazy">
              {% endfor %}
            </div>
        </div>
    </div>


{% schema %}
    {
    "name": "Natural Supplement",
    "settings": [
    {
    "type": "textarea",
    "id": "title",
    "label": "Title"
    },
{
    "type": "textarea",
    "id": "text",
    "label": "Text"
    }
    ],
    "blocks": [
    {
    "type": "team",
    "name": "Logo",
    "settings": [
    {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo"
    }
    ]
    }
    ]
    }
{% endschema %}