<img class="curalife-swoosh" src="{{'our-story-curalife-section-swoosh.svg' | asset_url  }}" width="891" height="449"  alt="">

<div class="container">
  <div class="curalife-text">
    <div class="curalife-title">
      <h1>{{ section.settings.title }}</h1>
    </div>

    <div class="curalife-small-text">
      {{ section.settings.paragraph }}
    </div>
  </div>
</div>

<style>
  .our-story-curalife-section {
    position: relative;
    padding-bottom: 40px;
  }

  .our-story-curalife-section .curalife-swoosh {
    position: absolute;
  }

  .our-story-curalife-section .curalife-text {
    position: relative;
    padding: 200px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .our-story-curalife-section .curalife-title h1 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(50px, 5vw, 98px);
    line-height: 134px;
    letter-spacing: -0.02em;
    color: #404733;
    min-width: 200px;
  }

  .our-story-curalife-section .curalife-title h1 span {
    font-family: 'DM Sans';
  }

  .our-story-curalife-section .curalife-small-text {
    max-width: 441px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.02em;
    color: #404733;
  }

  .our-story-curalife-section .curalife-text::after {
    content: "";
    width: 70%;
    height: 10px;
    background: black;
    position: absolute;
    bottom: 0;
  }

  .our-story-curalife-section .curalife-small-text b {
    background-color: #D9D9D9;
    padding: 2px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
  }

  .our-story-curalife-section .curaline-border {
    width: 740px ;
    margin: 0 auto;
    border-bottom: 10px solid #404733;
  }

  @media screen and (max-width: 1800px) {
    .our-story-curalife-section .curalife-swoosh {
      max-width: 70vw;
    }
  }

  @media screen and (max-width: 768px) {
    .our-story-curalife-section .curalife-text {
      flex-direction: column;
      padding: 17vw 2vw;
      align-items: unset;
    }

    .our-story-curalife-section .curalife-text::after {
      width: 100%;
    }

    .our-story-curalife-section .curalife-title h1 {
      font-size: 10vw;
      line-height: 1.5em;
      border-bottom: 2px solid black;
      max-width: 44vw;
    }

    .our-story-curalife-section .border-curalife {
      display: none;
    }

    .our-story-curalife-section .curalife-small-text {
      max-width: unset;
      font-size: 7.5vw;
      line-height: 1.3em;
    }
    .our-story-curalife-section .curaline-border {
      width: 300px;
    }
  }
</style>

{% schema %}
  {
    "name": "Hero Banner 2",
    "tag": "section",
    "class": "our-story-curalife-section",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [{
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "presets": [{
    "name": "Hero Banner 2"
  }]
}
{% endschema %}