<div class="page-intro">
    <div class="container">
        <div class="mini-wrap">
            <div class="intro-wrap">
                <div class="data-wrap">
                    <div class="intro-text">
                        <div class="sub-title">
                            <h1>{{section.settings.strbnr_titl}}</h1>
                        </div>
                    </div>
                </div>
                {% if section.settings.strbnr_img != blank %}
                <div class="data-wrap">
                    <div class="img-wrap">
                        <img src="{{ section.settings.strbnr_img | img_url: '' }}" width="600px" height="504px" alt="">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Our Story Banner",
    "settings": [
      {
        "type": "text",
        "id": "strbnr_titl",
        "label": "Title",
        "default": "Enter Yor title"
       },
       {
        "type": "textarea",
        "id": "strbnr_desc",
        "label": "Description",
        "default": "Enter Description"
       },
        {
          "type": "image_picker",
          "id": "strbnr_img",
          "label": "Banner image"
        }
    ],
    "presets":[
      {
      "name": "Our Story Banner",
      "category": "image"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}