<section id="people-collection-section-{{ section.id }}">
  <div class="container">
    <div class="people flex justify-center gap-6 flex-wrap">
      {% for block in section.blocks %}
        {% render 'person-card', section_id: section.id, person_name: block.settings.person_name, person_description: block.settings.person_desc, person_img_src: block.settings.person_img.src, person_link: block.settings.person_link, card_bg_color: section.settings.cards_bg_color %}
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #people-collection-section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }
</style>

{% schema %}
{
  "name": "People Collection",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "cards_bg_color",
      "label": "Cards Background Color"
    }
  ],
  "blocks": [
    {
      "type": "person_card",
      "name": "Person Card",
      "settings": [
        {
          "type": "text",
          "id": "person_name",
          "label": "Person Name"
        },
        {
          "type": "richtext",
          "id": "person_desc",
          "label": "Person Description"
        },
        {
          "type": "image_picker",
          "id": "person_img",
          "label": "Person Image"
        },
        {
          "type": "url",
          "id": "person_link",
          "label": "Person Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "People Collection"
    }
  ]
}
{% endschema %}