<section class="people-collection-section">
  <div class="people flex">
    {% for block in section.blocks %}
      {% render 'person-card', person_name: block.settings.person_name, person_description: block.settings.person_description, person_img_src: block.settings.person_img.src, person_link: block.settings.person_link, bg_color: block.settings.cards_bg_color %}
    {% endfor %}
  </div>
</section>

<style>
  .people-collection-section {
    background-color: {{ section.settings.bg_color }};
  }
</style>

{% schema %}
{
  "name": "People Collection",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "cards_bg_color",
      "label": "Cards Background Color"
    }
  ],
  "blocks": [
    {
      "type": "person_card",
      "name": "Person Card",
      "settings": [
        {
          "type": "text",
          "id": "person_name",
          "label": "Person Name"
        },
        {
          "type": "text",
          "id": "person_description",
          "label": "Person Description"
        },
        {
          "type": "image_picker",
          "id": "person_img",
          "label": "Person Image"
        },
        {
          "type": "url",
          "id": "person_link",
          "label": "Person Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "People Collection"
    }
  ]
}
{% endschema %}