<div class="mini-wrap">
  <div class="ingredients-section" id="powerful-ingredients">
    <div class="sub-title">
      <h2>{{section.settings.pwing_ntrtitl}}</h2>
    </div>
    <div class="ingredients-slider">
      <div class="prev-slide nav-slide">
        <span class="icon-arrow"></span>
      </div>
      <div class="thumbs-slider">
        <div class="swiper" data-swiper="{'observer': true}">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.type == 'natural_ingred' %}
                {%if block.settings.pwing_img != blank %}
                  <div class="swiper-slide">
                    <div class="ingredient-item">
                      <div class="img-wrap">
                        <img src="{{ block.settings.pwing_img | img_url: '316x296' }}" width="432px" height="378px" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="main-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.type == 'natural_ingred' %}
                <div class="swiper-slide">
                  <div class="ingredient-item">
                    <div class="text-wrap">
                      <div class="name">
                        <h4>{{block.settings.pwing_sldtitl}}</h4>
                      </div>
                      <div class="description">
                        <p>{{block.settings.pwing_desc}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="next-slide nav-slide">
        <span class="icon-arrow"></span>
      </div>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div> 
    </div>
  </div>
</div>

<style>
.nav-wrap {
  bottom: unset;
  position: unset;
  justify-content: start;
  margin-bottom: 20px;
}
</style>

<script>
  ingredientThumbs = new Swiper('.ingredients-slider .thumbs-slider .swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
    watchSlidesVisibility: true,
    grabCursor: false,
    loop: false,
    touchRatio: 0,
    pagination: {
      el: '.pagination',
      type: 'fraction',
      currentClass: 'pagination-current',
      totalClass: 'pagination-total',
      renderFraction: function (currentClass, totalClass) {
        return '<p><span class="' + currentClass + '"></span> of <span class="' + totalClass + '"></span></p>';
      }
    },

  });

  ingredientSlider = new Swiper('.ingredients-slider .main-slider .swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: true,
    loop: false,
    slideToClickedSlide: false,
    thumbs: {swiper: ingredientThumbs},

    navigation: {
      nextEl: '.next-slide',
      prevEl: '.prev-slide',
      disabledClass: 'disabled'
    },
    pagination: 
    {
      el: '.swiper-pagination',
      clickable: 'true',
      type: 'bullets',
    },
  });
</script>

{% schema %}
{
  "name": "Natural Ingredients",
  "settings": [
    {
      "type": "text",
      "id": "pwing_ntrtitl",
      "label": "Title",
      "default": "Enter title"
    }
  ],
  "blocks": [
    {
      "type": "natural_ingred",
      "name": "Natural Ingredients",
      "settings": [
        {
          "type": "text",
          "id": "pwing_sldtitl",
          "label": "Title",
          "default": "Enter title"
        }, {
          "type": "textarea",
          "id": "pwing_desc",
          "label": "Description",
          "default": "Enter Description"
        }, {
          "type": "image_picker",
          "id": "pwing_img",
          "label": "Select Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Natural Ingredients",
      "category": "slider"
    }
  ]
}
{% endschema %}