

    <div id="replo-section-a77c9ebb-026c-4c28-8f4e-b445ad69a5b7" data-runtime-version="add80a40-6359-11ee-bf8b-761e6aa966bb" style="display:block !important;">

     {% render 'product-cta',
        product: all_products["curalin-buy-with-prime"],
        bgColor: false,
        ctaColor: "#FFB22C",
        multiplierColor: "#9EB069",
        multiplierTextColor: "white",
        mainTitle: "Curalin",
        title: "Select your supply:",
        pricePer: "dont_split",
        ctaTextType: false,
        badgeImage: false,
        defaultSelectionIndex: 2,
        isHighlightSubtitle: true,
        isReversed: false,
        isReviews: true,
        isReviewsQuotes: false,
        isSaveTitle: true,
        isHideThumbs: true,
        isBuyQuantity: false
      %}
</div>

    {% schema %}
    {
    "name": "Replo CTA Section",
        "presets":[{
            "name": "Replo CTA Section"
        }]
    }
    {% endschema %}

