<div class="science">
  <div class="container">
    <div class="science-title">{{ section.settings.title }}</div>
  </div>
</div>

<style>
  .science {
    position: relative;
    background-image: url("{{ section.settings.image | image_url }}");
    background-size: cover;
    height: 700px;
  }
  .science-title {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(44px, 9vw, 86px);
    line-height: 72px;
    letter-spacing: -0.01em;
    color: #404733;
    max-width: 372px;
    position: absolute;
    bottom: 50px;
    left: 20px;
  }

  @media screen and (max-width: 1500px) {
    .science-title {
      bottom: 4vw;
      left: 20vw;
    }
  }

  @media screen and ( max-width: 800px){
    .science-title {
      max-width: 56vw;
      bottom: 60vw;
      left: 4vw;
    }
  }



  @media screen and ( max-width: 768px) {
    .science {
      height: 76vw;
    }
    .science-title {
      bottom: 6vw;
      left: 19vw;
      max-width: 36vw;
      font-size: 8vw;
      line-height: 9vw;
    }
  }
</style>

{% schema %}
{
  "name": "Science I&T",
  "tag": "section",
  "class": "science-i-t",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [{
    "name": "Science I&T"
  }]
}
{% endschema %}