<div class="container">
  <h1>{{ section.settings.title }}</h1>
</div>

<style>
  .science-hero {
    position: relative;
    background-image: url("{{ section.settings.image | image_url }}");
    background-size: cover;
    height: 500px;
    background-position: bottom;
  }

  .science-hero .container {
    display: flex;
    align-items: center;
  }

  .science-hero h1 {
    max-width: 550px;
  }

  @media screen and ( max-width: 800px){
    h1 {
      max-width: 56vw;
      bottom: 60vw;
      left: 4vw;
    }
  }

  @media screen and ( max-width: 768px) {
    .science-hero {
      height: 76vw;
    }

    h1 {
      text-align: start;
    }
  }
</style>

{% schema %}
{
  "name": "Science I&T",
  "tag": "section",
  "class": "science-hero",
  "disabled_on": {
  "groups": [
    "header",
    "footer"
  ]
  },
  "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  }
  ],
  "presets": [{
  "name": "Science I&T"
  }]
}
{% endschema %}