<style>
    .store-locator .locations-wrap {
    padding-top: 30px;
}
    @media screen and (max-width: 1430px){
.store-locator .locations-wrap {
    padding: 20px;
}
}
     @media only screen and (max-width: 760px){
        .store-locator .locations-wrap .photo{
            display:none;
        }
    }
</style>
<div class="store-locator">
    {% if section.settings.strltr_titl !=blank %}
    <div class="sub-title">
        <h2>{{section.settings.strltr_titl}}</h2>
    </div>
    {% endif %}
    <div class="locations-wrap">
                    <div class="locations-list">
                        <ul>
                            {% for block in section.blocks %}
                            {% if block.type == 'stor_locator' %}
                            <li>
                                <h4>{{block.settings.str_loctitl}}</h4>
                                <a href="{{block.settings.str_loc_url}}" target="_blank"><p>{{block.settings.str_locsubtitl}}</p></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
</div>



{% schema %}
    {
        "name": "Stor Locator",
        "settings": [
            {
                "type": "text",
                "id": "strltr_titl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
            "type": "image_picker",
            "id": "loc_img",
            "label": "Image"
        }   
           
        ],
        "blocks": [
            {
                "type": "stor_locator",
                "name": "Stor Locator Content",
                "settings": [ 
                    {
                    "type": "text",
                    "id": "str_loctitl",
                    "label": "Country Name",
                    "default": "Enter Country Name"
                },
                {
                    "type": "text",
                    "id": "str_locsubtitl",
                    "label": "Title",
                    "default": "Enter Title"
                },
                {
                    "type": "url",
                    "id": "str_loc_url",
                    "label": "Link"
                }
                
                ]    
            }  
    
        ],
        "presets":[
            {
                "name": "Stor Locator",
                "category": "text"
            }
        ]
    } 
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}