    <div class="studies-section">
        <div class="container">
            <div class="sub-title wow fadeInUp">
                <h2>{{ section.settings.title }}</h2>
                <p>{{ section.settings.text }}</p>
            </div>
            <div class="info-links wow fadeInUp">
                <ol>
                  {% for block in section.blocks %}
                    <li>{{ block.settings.text }}</li>
                  {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% schema %}
    {
    "name": "Studies List",
    "settings": [
    {
    "type": "textarea",
    "id": "title",
    "label": "Title"
    },
{
    "type": "textarea",
    "id": "text",
    "label": "Text"
    }
    ],
    "blocks": [
    {
    "type": "team",
    "name": "List",
    "settings": [
    {
    "type": "textarea",
    "id": "text",
    "label": "Text"
    }
    ]
    }
    ]
    }
{% endschema %}