<div class="container">
  <div class="titles">
    <h2>{{ title }}</h2>
    <p>{{ subtitle }}</p>
  </div>

  <div class="banners">
    {% for block in section.blocks %}
      {% render 'text-image', main_image: section.settings.image, title: section.settings.title, content: section.settings.content, button_title: section.settings.button_title, button_link: section.settings.button_link, button_link: section.settings.button_link %}
    {% endfor %}
  </div>
</div>

<style>
  section.text-image-section {
    background-color: {{ section.settings.bg_color }};
  }
</style>

{% schema %}
{
  "name": "Text with Image Group",
  "tag": "section",
  "class": "text-image-group-section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Main Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Text with Image Block",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title"
        },
        {
          "type": "text",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with Image Group"
    }
  ]
}
{% endschema %}