<div class="titles border-b-lightGreen container !pb-10 text-center border-b">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.subtitle }}</p>
</div>

<div class="banners">
  {% for block in section.blocks %}
    {% render 'text-image',
      bg_color: block.settings.bg_color,
      main_image: block.settings.image,
      title: block.settings.title,
      content: block.settings.content,
      button_title: block.settings.button_title,
      button_link: block.settings.button_link,
      button_color: block.settings.button_color,
      link_url_1: block.settings.link_url_1,
      link_title_1: block.settings.link_title_1,
      link_url_2: block.settings.link_url_2,
      link_title_2: block.settings.link_title_2,
      mobile_alignment: block.settings.mobile_alignment,
      is_flip: block.settings.is_flip,
      is_mobile_reverse: block.settings.is_mobile_reverse,
      block_index: forloop.index %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Text with Image Sections",
  "tag": "section",
  "class": "text-image-group-section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Main Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Text with Image Block",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "link_title_1",
          "label": "Link Title 1"
        },
        {
          "type": "url",
          "id": "link_url_1",
          "label": "Link URL 1"
        },
        {
          "type": "text",
          "id": "link_title_2",
          "label": "Link Title 2"
        },
        {
          "type": "url",
          "id": "link_url_2",
          "label": "Link URL 2"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button Color"
        },
        {
          "type": "header",
          "content": "More Options"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Mobile Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "start"
        },
        {
          "type": "checkbox",
          "id": "is_flip",
          "label": "Flip Section"
        },
        {
          "type": "checkbox",
          "id": "is_mobile_reverse",
          "label": "Reverse On Mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with Image Sections"
    }
  ]
}
{% endschema %}