<div class="container">
  <h2 class="text-center">{{ section.settings.title }}</h2>

</div>

{% schema %}
{
  "name": "Text with Image",
  "tag": "section",
  "class": "text-with-image",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Text with Image"
    }
  ]
}
{% endschema %}