<div class="titles container text-center">
  <{{ title_tag }}>{{ section.settings.title }}</{{ title_tag }}>
  <p>{{ section.settings.subtitle }}</p>
</div>

{% schema %}
{
    "name": "Title",
    "tag": "section",
    "class": "title-section",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag"
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "presets": [
    {
        "name": "Title"
    }
  ]
}
{% endschema %}