<section>
  <div class="container">
    <div class="products flex">
      {% for prod in section.settings.wholesale_products %}
        <div class="product flex">
          <div class="left">
            <img src="{{ prod.featured_image | img_url: 'medium' }}" alt="{{ prod.title }}">
          </div>
          <div class="right">
            <h3>{{ prod.title }}</h3>
            <p>{{ prod.price | money }}</p>
            {% render 'buy-buttons', product: prod, product_form_id: '', section_id: prod.id %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Multiple Products CTA",
    "settings": [
      {
        "type": "product_list",
        "id": "wholesale_products",
        "label": "Select Wholesale Products"
      }
    ],
    "presets": [
      {
        "name": "Wholesale Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}