{% if product.handle == 'curalin-wholesale' %}
  <section>
    <div class="container">
      <div class="products flex justify-center gap-8">
        {% for prod in section.settings.wholesale_products %}
          <div class="product flex w-[400px]">
            <div class="left">
              <img src="{{ prod.featured_image | img_url: 'medium' }}" alt="{{ prod.title }}">
            </div>
            <div class="right">
              <h6>{{ prod.title }}</h6>
              <p>{{ prod.price | money }}</p>
              {% render 'buy-buttons', product: prod, product_form_id: '', section_id: prod.id %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Multiple Products CTA",
    "settings": [
      {
        "type": "product_list",
        "id": "wholesale_products",
        "label": "Select Wholesale Products"
      }
    ],
    "presets": [
      {
        "name": "Wholesale Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}