<section class="cookbook-page">
  <div class="container">
    <h1 class="main-title m-0 text-center">Curalife's CookBook</h1>

    <div class="cookbook-content">
      <div class="content text-center">
        <div class="description">Download our e-book for a healthy & delicious blood sugar friendly diet!</div>
        {% if customer or page.content == 'open' %}
          <button class="download-cta"><a class="download-cookbook" href="{{ 'curalifes-cookbook.pdf' | file_url }}" download>Click Here to Download</a></button>
          <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" style="border: 1px solid lightgrey; width: 100%; height: 400px;" src="https://heyzine.com/flip-book/d16c9bace2.html"></iframe>
        {% else %}
          <button class="download-cta disabled"><a href="javascript:void(0)" class="open-modal" data-fancybox data-src="#login-modal">Please Login To Download</a></button>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  .cookbook-page .container .cookbook-content .content .description {
    font-size: 20px;
  }

  @media(max-width: 768px) {
    .cookbook-page .container .cookbook-content .content .description {
      font-size: 20px;
      padding: 10px;
      padding-bottom: 30px;
    }
  }

  .cookbook-page .container .cookbook-content .content .download-cta {
    width: fit-content;
    margin: 30px auto;
    font-weight: bold;
  }

  .cookbook-page .container .cookbook-content .content .download-cta.disabled {
    background-color: grey;
    color: white;
  }

  @media(max-width: 768px) {
    .cookbook-page .container .cookbook-content .content .download-cta {
      margin: 0;
    }
  }
</style>

{% schema %}
  {
    "name": "Cookbook Page",
    "settings": []
  }
{% endschema %}