<section class="cookbook-page">
  <div class="container">
    <h1 class="main-title text-center">Curalife's CookBook</h1>

    <div class="cookbook-content">
      <div class="content">
        <div class="description">Download our e-book for a healthy & delicious blood sugar friendly diet!</div>
        {% if customer or page.content == 'open' %}
        <div class="download-cta"><a class="download-cookbook" href="{{ 'curalifes-cookbook.pdf' | file_url }}" download><p class="download-cookbook">Click Here to Download</p></a></div>
        <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" style="border: 1px solid lightgrey; width: 100%; height: 400px;" src="https://heyzine.com/flip-book/d16c9bace2.html"></iframe>
        {% else %}
        <div class="download-cta disabled"><a href="javascript:void(0)" class="open-modal" data-fancybox data-src="#login-modal"><p class="download-cookbook">Please Login To Download</p></a></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  body .cookbook-page {
    padding-bottom: 40px
  }

  @media(max-width: 768px) {
    body .cookbook-page {
      padding-bottom: 0;
    }
  }

  @media(max-width: 768px) {
    body .cookbook-page .container .cookbook-content {
      flex-direction: column;
      text-align: center;
      margin-top: unset
    }
  }

  body .cookbook-page .container .cookbook-content .image-container {
    position: relative
  }

  body .cookbook-page .container .cookbook-content .image-container .cookbook-image {
    max-width: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  }

  @media(max-width: 720px) {
    body .cookbook-page .container .cookbook-content .image-container .cookbook-image {
      max-width: 70%;
      margin-top: 10px
    }
  }

  body .cookbook-page .container .cookbook-content .image-container .pen {
    position: absolute;
    bottom: -30px;
    left: -60px;
    z-index: 1;
    width: 230px
  }

  @media(max-width: 768px) {
    body .cookbook-page .container .cookbook-content .image-container .pen {
      bottom: -10px;
      left: 30px;
      width: 100px
    }

    body .cookbook-page .container .header .title-container {
      margin-top: -50px;
    }
  }

  body .cookbook-page .container .cookbook-content .content iframe {
    height: 35vw !important;
    border-color: #29824f !important;
  }

  @media(max-width: 720px) {
    body .cookbook-page .container .cookbook-content .content iframe {
      height: 120vw !important;
    }
  }

  body .cookbook-page .container .cookbook-content .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  @media(max-width: 720px) {
    body .cookbook-page .container .cookbook-content .content {
      margin-left: 0
    }
  }

  body .cookbook-page .container .cookbook-content .content .description {
    font-size: 30px;
    max-width: 700px;
    margin: 0 auto
  }

  @media(max-width: 768px) {
    body .cookbook-page .container .cookbook-content .content .description {
      font-size: 20px;
      padding: 10px;
      padding-bottom: 30px;
    }
  }

  body .cookbook-page .container .cookbook-content .content .download-cta {
    background: var(--dark-green);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-weight: 300;
    font-size: 30px
  }

  body .cookbook-page .container .cookbook-content .content .download-cta.disabled {
    background-color: grey;
    color: white;
  }

  body .cookbook-page .container .cookbook-content .content .download-cta p {
    margin: 0;
  }

  @media(max-width: 768px) {
    body .cookbook-page .container .cookbook-content .content .download-cta {
      margin: 0;
      width: 100%;
    }
  }

  body .cookbook-page .container .cookbook-content .content .download-cta a {
    color: #fff
  }

  body .cookbook-page .container .cookbook-content .content .download-cta a p {
    margin: 0
  }

  body .cookbook-page .container .cookbook-content .content .gallery {
    display: flex;
    justify-content: space-between
  }

  @media(max-width: 768px) {
    body .cookbook-page .container .cookbook-content .content .gallery {
      margin-top: -120px
    }
  }

  body .cookbook-page .container .cookbook-content .content .gallery img {
    max-width: 32%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  }

</style>

{% schema %}
  {
  "name": "Page Content",
  "settings": [
{
      "type": "image_picker",
      "id": "background-image",
      "label": {"en":"Background Image"}
    },
{
      "type": "image_picker",
      "id": "spoon-image",
      "label": {"en":"Spoon Image"}
    },
{
      "type": "image_picker",
      "id": "pot-image",
      "label": {"en":"Pot Image"}
    },
{
      "type": "image_picker",
      "id": "chef-icon",
      "label": {"en":"Chef Icon"}
    },
{
      "type": "image_picker",
      "id": "cookbook-image",
      "label": {"en":"CookBook Image"}
    },
{
      "type": "image_picker",
      "id": "pen-image",
      "label": {"en":"Pen Image"}
    },
{
      "type": "image_picker",
      "id": "gallery-image-1",
      "label": {"en":"Gallery Image 1"}
    },
{
      "type": "image_picker",
      "id": "gallery-image-2",
      "label": {"en":"Gallery Image 2"}
    },
{
      "type": "image_picker",
      "id": "gallery-image-3",
      "label": {"en":"Gallery Image 3"}
    }]
  }
{% endschema %}