<section>
  <div class="container">
    <div class="h2">Your current weight is [XXX lbs]!</div>

    <div class="goals">
      <h5>Your Goals:</h5>
    </div>

    <p><b>That's an within-reach goal,</b><br>and with us by your side, you can achieve it without exhausting routines.</p>

    <div class="h2">You can reach at list<br>[XXX lbs]<br>in 3 months with Curaslim</div>

  </div>
</section>

{% schema %}
  {
    "name": "Quiz Results",
    "class": "quiz-results-section",
    "settings": [

    ],
    "presets": [
      {
        "name": "Quiz Results"
      }
    ]
  }
{% endschema %}