<button id="toggle" type="button" style="font-size: 23px;margin-right:15px;"><i class="fa-thin fa-bell"></i></button>

<script>
   const toggle = document.getElementById("toggle");

   toggle.onclick = function(){
      braze.toggleContentCards();
   }
</script>