<section id="bundles-section">
  {% if shop.name == "Curalife" %}
    <h2>Everything you need to keep your blood sugar happy!</h2>

    {% if isArrow %}<div class="icon-arrow"><i class="fas fa-angle-down"></i></div>{% endif %}

    {% render 'challenge-section' %}

   <div class="plus-class"> <i class="fas fa-plus"></i></div>
  {% endif %}

  {% render 'curaeats-section' %}
</section>

<style>
    .plus-class {
        color: var(--dark-green);
        font-size: 150px;
        position: absolute;
        z-index: 1;
        margin-top: -110px;
        left: calc(50% - 0.5em);
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        line-height: unset !important;
    }

  #bundles-section {
    font-size: 20px;
  }

  #bundles-section h2 {
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-size: 48px;
    color: var(--dark-green);
    margin-bottom: 30px;
  }

  #bundles-section i.plus {
    color: var(--dark-green);
    font-size: 150px;
    position: absolute;
    z-index: 1;
    margin-top: -110px;
    left: calc(50% - 0.5em);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    line-height: unset !important;
  }

  #bundles-section .icon-arrow {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: var(--dark-green);
    font-size: 100px;
  }

  @media screen and (max-width: 768px) {
    #bundles-section {
      font-size: 5.4vw;
    }

    #bundles-section h2 {
      font-family: 'Poppins';
      font-size: 9vw;
    }

    #bundles-section i.plus {
      font-size: 40vw;
      margin-top: -30vw;
    }

    #bundles-section .icon-arrow {
      font-size: 18vw;
    }
  }
</style>