{% if shop.name == "Curalife" %}
  {% assign collection_subtitle = "+ 30 Day Life Changing Program (Valued $99) & CuraEats Meal Plan App (Valued $29)" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign collection_subtitle = "+ CuraEats Meal Plan App (Valued £24)" %}
{% endif %}

<section id="collection-titles-section">
  <div class="titles container">
    <h2 id="catalog-anchor" class="main-title">Choose Your Curalin Bundle</h2>
    {% comment %} <div class="subtitle">{{ collection_subtitle }}</div> {% endcomment %}
  </div>
</section>

<style>
  #collection-titles-section {
    padding: 45px 0;
  }
  #collection-titles-section .titles {
    font-family: "PP Radio Grotesk";
    font-size: 50px;
    text-align: center;
  }

  #collection-titles-section h2.main-title {
    font-size: inherit;
    margin: unset;
  }

  #collection-titles-section .subtitle {
    font-size: 0.5em;
  }

  @media screen and (max-width: 768px) {
    {% comment %} #collection-titles-section {
      margin-top: 30px;
    } {% endcomment %}

    #collection-titles-section .titles {
      font-size: 8vw;
    }

    #collection-titles-section .subtitle {
      font-size: 0.6em;
    }
  }
</style>