
<div class="comunity-page">
 <div class="community-hero">
    <div class="container">
      <div class="power">
        <h1>Discover 
        the power of community</h1>
      </div>
    </div>
    <div class="hero-img">
      <img src="{{ 'rebranding-hero-banner-community.png' | asset_url }}" width="1920" height="656" alt="">
    </div>
 </div>
 
</div>

<style>

 .community-page {
    margin-bottom: 100px;
}
  .community-hero {
    position: relative;
    background: #94AAA7;
    max-height: 656px;  
  }

  .comunity-page .community-hero .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

  .comunity-page .community-hero .container .power h1 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 74px;
    line-height: 72px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-shadow: 0px 4px 15px #5E8F8F;
    max-width: 605px;
    padding: 120px 100px 0;
  }

  .comunity-page .hero-img {

  } 

  @media screen and (max-width: 768px) {
    .community-page {
        margin-bottom: unset;
    }
    .comunity-page .community-hero .container .power h1 {
      font-size: 8vw;
      line-height: 8vw;
      max-width: 54vw;
      padding: 4vw 5vw 0;
    }

    .comunity-page .community-hero .hero-img {

    } 
  }

</style>

