
<div class="community-thousand">
  <div class="container">
    <div class="thousand-text-img">
      <img src="{{'rebranding-community-thousands.png' | asset_url}}" width="796" height="392" alt="">
      <div class="thousand-text">
        <p>
          You just got diagnosed and you’re feeling alone. You don’t know who to turn to. <br><br>

          Or you diagnosed for many years, but your friends and family don’t really understand what you’re going through.,<br><br>

          You start scrolling the internet and find the world's largest support group for metabolic health. You decide to join.
        </p>
        <h3>Suddenly, you’re not alone.</h3>
        <p>You’re in a community of over 100 thousand people, the largest community online, sharing similar experiences, swapping questions and answers, and just generally being there for one another.</p>
      </div>
    </div>
  </div>
</div>

<style>

.community-thousand {
  margin-top: 20px;
}

  .thousand-text-img {
    display: flex;
    gap: 10px;
  }

  .thousand-text-img img {
    max-width: 50%;
    object-fit: contain;
  }

  .thousand-text {
    max-width: 50%;
  }

.thousand-text p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.thousand-text h3 {
  font-family: 'PP Radio Grotesk';
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
}



  @media screen and (max-width: 768px) {
    .thousand-text-img {
      flex-direction: column-reverse;
    }

    .thousand-text-img img {
      max-width: 100%;
    }

    .thousand-text {
      max-width: unset;
    }
  

    .thousand-text h3 {
      font-size: 7vw;
      line-height: 10vw;
    }


  }

</style>

