<div class="community-what">
    <div class="container">
        <div class="what-text">
            That’s what community is. <br><br>

            That’s what companionship is. <br><br>

            That’s what friendship is.
        </div>
    </div>
</div>




<style>
.community-what {
    position: relative;
    background: #FFF1E8;
    position: relative;
    padding: 50px 0;
}

.what-text {
    display: flex;
    justify-content: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 768px) {

.community-what  {

}
    .what-text {
        font-size: 6vw;
        line-height: 6vw;
    }
}
</style>