<div class="container">
  <div class="swood-css-logo-container xlg-logo on-dark-bg live-color-border typewriter pulse">
    <div class="swood-css-logo-capsule-border">
      <div class="swood-css-logo-capsule">
        <span class="swood-css-logo-main-text">
          <span>C</span><span>U</span><span>R</span><span>A</span><span>L</span><span>I</span><span>N</span>

        </span>
      </div>
    </div>
    <div class="swood-css-logo-subtext">
      <span class="swood-css-logo-by-text">by</span>
      <span class="swood-css-logo-eficad-text">CuraLife</span>
    </span>
  </div>
</div>

<style>
  body {
  font-family: 'Maven Pro', sans-serif;
  padding: 0px;
  margin: 0px;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #222;
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.swood-css-logo-container {
  margin: auto;
  width: auto;
  color: white;
  display: inline-block;
  user-select: none;
}

.swood-css-logo-container.lg-logo {
  font-size: 2em;
}

.swood-css-logo-container.xlg-logo {
  font-size: 4em;
}

.swood-css-logo-capsule-border {
  background: #f6c029;
  border-radius: 10em;
  padding: 0.25em;
}

.swood-css-logo-capsule {

  width: auto;
  padding: 0.25em;
  padding-left: 0.3em;
  padding-right: 0.2em;
  padding-bottom: 0.35em;
  border-radius: 4em;
  line-height: 1em;
  background: #373535;
}

.swood-css-logo-main-text {
  display: inline-block;
  letter-spacing: 0.2em;
}


.swood-css-logo-container .swood-css-logo-subtext,
.swood-css-logo-container.on-light-bg .swood-css-logo-subtext {
  color: #373535;
}

.swood-css-logo-container.on-dark-bg .swood-css-logo-subtext {
  color: #ffffff;
}

.swood-css-logo-subtext {
  font-size: 0.6em;
  text-align: right;
}

.swood-css-logo-by-text {
  font-size: 0.8em;
}
}

.swood-css-logo-eficad-text {
}

.typewriter.swood-css-logo-container .swood-css-logo-capsule {
  transition: all 0.25s;
}
.typewriter.swood-css-logo-container .swood-css-logo-main-text span {
  opacity: 0;
  display: inline-block;
  width: 0;
  transition: all 0.25s;
  text-align: center;
}

.typewriter .swood-css-logo-main-text span:nth-child(1) {
  animation: swoodspawn 0.25s linear 0s forwards;
}

.typewriter .swood-css-logo-main-text span:nth-child(2) {
  animation: swoodspawn 0.5s linear 0s forwards;
}

.typewriter .swood-css-logo-main-text span:nth-child(3) {
  animation: swoodspawn 0.75s linear 0s forwards;
}

.typewriter .swood-css-logo-main-text span:nth-child(4) {
  animation: swoodspawn 1s linear 0s forwards;
}

.typewriter .swood-css-logo-main-text span:nth-child(5) {
  animation: swoodspawn 1.25s linear 0s forwards;
}

.typewriter .swood-css-logo-main-text span:nth-child(6) {
  animation: swoodspawn 1.5s linear 0s forwards;
}

.typewriter .swood-css-logo-main-text span:nth-child(7) {
  animation: swoodspawn 1.75s linear 0s forwards;
}

@keyframes swoodspawn {
  0%  {
    width: 0;
    opacity: 0;
  }
  70% {
    width: 0.9em;
    opacity: 0;
  }
  100% {
    width: 1em;
    opacity: 1;
  }
}

.live-color-border .swood-css-logo-capsule-border {
  transition: background 1s;

  position: relative;
  overflow: hidden;
  background: transparent;
}

.live-color-border .swood-css-logo-capsule {
  position: relative;
  z-index: 1;
}

.live-color-border .swood-css-logo-capsule-border::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -4em;
  left: -2em;
  width: 10em;
  height: 10em;
  background: conic-gradient(#ee421b, #f6c029, #f6c029, #f6c029, #ee421b);
  animation: live-color-anim 3s linear forwards normal infinite;
  transform-origin: 50% 50%;
  border-radius: 5em;
}

.pulse .swood-css-logo-capsule {
  animation: pulse-animation 1s ease-in alternate infinite;
}

@keyframes live-color-anim {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(180deg)
  }
  75% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: #0008 0 0 0px 0px inset;
  }
  50% {
    box-shadow: #0008 0 0 6px 0px inset;
  }
  100% {
    box-shadow: #0008 0 0 10px 0px inset;
  }
}
</style>