{% if customer.b2b? %}
	{% assign collectionsLink = '/collections/wholesale' %}
{% else %}
	{% assign collectionsLink = '/collections/all' %}
{% endif %}

<div class="dropdown">
	<a href="{{ collectionsLink }}" class="xl:text-[1.5vw] xl:py-[2vw] prerender"><button class="dropbtn">Shop</button></a>

	{% unless request.path contains '/blogs/blog' %}
		{% unless customer.b2b? %}
			<div class="dropdown-content">
				{% for selected_collection in selected_collections %}
					{% assign collection_products_amount = selected_collection.products | size %}
					{% assign product_title = selected_collection.title %}

					{% case selected_collection.handle %}
						{% when 'glucose-support' %}
							{% assign linkURL = '/products/curalin' %}
						{% when 'weight-loss' %}
							{% assign linkURL = '/products/curaslim' %}
						{% else %}
							{% assign linkURL = selected_collection.url %}
					{% endcase %}

					<a href="{{ selected_collection.url }}">
						<div class="img-card">
							{% render 'image', image: selected_collection.image, force_original: true, lazy: false, preload: true, alt: selected_collection.image.alt %}
						</div>

						<span>{{ selected_collection.title }}</span>
					</a>
				{% endfor %}
			</div>
		{% endunless %}
	{% endunless %}
</div>

<style>
	.dropdown .dropbtn {
	  display: inline-block;
	  position: relative;
	  color: black;
	  padding: 0;
	  border: none;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	}

	.dropdown .dropbtn:after {
	  content: '';
	  position: absolute;
	  width: 100%;
	  transform: scaleX(0);
	  height: 3px;
	  bottom: -3px;
	  left: 0;
	  background-color: var(--blue);
	  transform-origin: bottom right;
	  transition: transform 0.25s ease-out;
	}

	.dropdown .dropbtn:hover:after {
	  transform: scaleX(1);
	  transform-origin: bottom left;
	}

	.dropdown {
	  display: inline-block;
	}

	/* Change background color on hover */
	.dropbtn:hover {
	  z-index: 1;
	}

	/* Style the dropdown menu content (hidden by default) */
	.dropdown-content {
	  position: absolute;
	  z-index: 1;
	  top: 0;
	  background-color: #fff;
	  transition: all 0.3s ease-in-out;
	  max-height: 0;
	  overflow: hidden;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  box-shadow: 0px 10px 15px -7px rgba(0,0,0,0.2);
	  border-radius: 8px;
	  {% if shop.name == "Curalife" %}
	    width: 100%;
	  {% else %}
	    margin-left: 170px;
	  {% endif %}
	}

	.dropdown-content a {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  padding: 15px;
	  text-decoration: none;
	}

	.dropdown-content a .img-card img {
	transition: 0.4s ease;
	}

	.dropdown-content a .img-card {
	  overflow: hidden;
	  border-radius: 5px;
	max-width: 200px;
	}

	/* Add a hover effect on links inside the dropdown */
	.dropdown-content a .img-card img:hover {
	  transform: scale(1.08);
	  z-index: 1;
	}

	.dropdown-content a span {
	  padding-top: 10px;
	  font-size: 16px;
	}

	/* Show the dropdown menu when the button is clicked or hovered */
	.dropdown:hover .dropdown-content {
	  max-height: 400px;
	}

	/* Animate the dropdown menu when shown or hidden */
	.dropdown .dropdown-content {
	  top: 80px;
	  left: 0;
	}

	/* Add the active class to the dropdown element */
	.dropdown.active .dropdown-content {
	  pointer-events: auto;
	}
</style>
