{% if customer.b2b? %}
	{% assign collectionsLink = '/collections/wholesale' %}
{% else %}
	{% assign collectionsLink = '/collections/all' %}
{% endif %}

<div class="dropdown">
	<a href="{{ collectionsLink }}" class="xl:text-[1.5vw] xl:py-[2vw] prerender">
		<button class="dropbtn">
			Shop
			<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="margin-left: 4px; display: inline-block; vertical-align: middle;">
				<path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>
	</a>

	{% unless request.path contains '/blogs/blog' %}
		{% unless customer.b2b? %}
			<div class="dropdown-content">
				{% for selected_collection in selected_collections %}
					{% assign collection_products_amount = selected_collection.products | size %}
					{% assign product_title = selected_collection.title %}

					{% if selected_collection.metafields.custom.is_collection_of_single_product %}
						{% assign firstProduct = selected_collection.products | first %}
						{% assign linkURL = firstProduct.url %}
					{% else %}
						{% assign linkURL = selected_collection.url %}
					{% endif %}

					<a href="{{ linkURL }}">
						<div class="img-card">
							{% render 'image', image: selected_collection.image, force_original: true, lazy: false, preload: true, alt: selected_collection.image.alt %}
						</div>

						<span>{{ selected_collection.title }}</span>
					</a>
				{% endfor %}
			</div>
		{% endunless %}
	{% endunless %}
</div>

<style>
	.dropdown {
			display: inline-block;
			padding: 2rem 0;
	}
	.dropdown .dropbtn {
			display: inline-block;
			position: relative;
			color: black;
			padding: 0;
			border: none;
			cursor: pointer;
			-webkit-transition: background-color 0.3s ease;
			transition: background-color 0.3s ease;
	}
	.dropdown .dropbtn:after {
			content: '';
			position: absolute;
			width: 100%;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			height: 3px;
			bottom: -3px;
			left: 0;
			background-color: #007bff; /* Fallback color */
			background-color: var(--blue);
			-webkit-transform-origin: bottom right;
			transform-origin: bottom right;
			-webkit-transition: -webkit-transform 0.25s ease-out;
			transition: transform 0.25s ease-out;
	}
	.dropdown .dropbtn:hover:after {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transform-origin: bottom left;
			transform-origin: bottom left;
	}
	.dropdown .dropdown-content {
			position: absolute;
			z-index: 1;
			top: 80px;
			left: 0;
			background-color: #fff;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			max-height: 0;
			overflow: hidden;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
			box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.2);
			border-radius: 8px;
			/* Liquid logic output from your conditions */
			/* width: 100%; OR margin-left: 170px; */
	}
	.dropdown .dropdown-content a {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
			padding: 15px;
			text-decoration: none;
	}
	.dropdown .dropdown-content a .img-card {
			overflow: hidden;
			border-radius: 5px;
			width: 200px;
	}
	.dropdown .dropdown-content a .img-card img {
			-webkit-transition: 0.4s ease;
			transition: 0.4s ease;
	}
	.dropdown .dropdown-content a .img-card img:hover {
			-webkit-transform: scale(1.08);
			transform: scale(1.08);
			z-index: 1;
	}
	.dropdown .dropdown-content a span {
			padding-top: 10px;
			font-size: 16px;
	}
	.dropdown:hover .dropdown-content {
			max-height: 400px;
	}
	.dropdown.active .dropdown-content {
			pointer-events: auto;
	}

</style>
