{{ 'lp-community-statistics.css' | asset_url | stylesheet_tag }}

<div class="community-statistics">
  <div class="container">
    <h3>You're part of something great...</h3>
    <div class="statistics">
      <div class="stat"><p class="value">#1</p><p class="title">Largest Community</p></div>
      <div class="stat"><p class="value">100K+</p><p class="title">Group Members</p></div>
      <div class="stat"><p class="value">500K</p><p class="title">Monthly Reactions</p></div>
      <div class="stat"><p class="value">140+</p><p class="title">Daily Posts</p></div>
    </div>
  </div>
</div>
