<section class="how-to-section">
    <div class="container">
        <h2><b>How to get the best results with CuraLin</b></h2>
        <img src="{{ 'product-aio-how-to.png' | asset_url }}" alt="" loading="lazy">
        <img src="{{ 'product-aio-how-to-mobile.png' | asset_url }}" alt="" class="mobile-version" loading="lazy">
    </div>
</section>

<style>
    .how-to-section {
        text-align: center;
    }

    .how-to-section .container img {
        max-width: 1000px;
        width: 100%;
    }

    .how-to-section .container img.mobile-version {
        display: none;
    }

    @media screen and (max-width: 760px) {
        .how-to-section .container img {
            margin-top: unset;
            display: none;
        }

        .how-to-section .container img.mobile-version {
            display: block;
            width: 100%;
        }
    }
</style>