<section class="trusted-doctors">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-titles">
                <h2><b>Trusted by 700+ Doctors</b></h2>
                <div class="description-overlay">
                    <h3>
                        Over 700 doctors and pharmacists recommend CuraLin to their patients. These include top
                        endocrinologists and faculty members of medical universities. Many of these doctors also
                        take
                        CuraLin themselves! Here are just a few of the doctors working with CuraLin:
                    </h3>
                </div>
            </div>
            <div class="doctors-boxes-wrapper">

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ 'lp-aio-michel.png' | file_url}}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Dr. Michael Binder</h4>
                            <p>Functional doctor, author of Cracking The Diabetic Code.</p>
                        </div>
                    </div>
                </div>

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                            <img src="{{ 'lp-aio-nancy.png' | file_url}}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Dr. Nancy Russell</h4>
                            <p>Internal Medicine Specialist, North Kansas City Hospital</p>
                        </div>
                    </div>
                </div>

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                            <img src="{{ 'lp-aio-raz.png' | file_url}}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Prof. Itamar Raz</h4>
                            <p>World renouned diabetes expert with over 400 published peer-reviewed studies.</p>
                        </div>
                    </div>
                </div>

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                            <img src="{{ 'lp-aio-sarah.png' | file_url}}" alt="" width="234" height="234">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Dr. Sarah Brewer</h4>
                            <p>Functional doctor, diabetes expert, and author of over 60 books on personal
                                health.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .sub-title h3 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
}

.sub-title h4 {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.45;
}

.sub-title h3 b, .sub-title h4 b {
    font-weight: 600;
}

.doctors-boxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.75rem 0 0.75rem;
    width: 100%;
    max-width: 100%;
}

.doctor-box-col {
    margin-top: 4.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    flex: 0 0 25%;
    max-width: 25%;
}

.doctor-item-box {
    width: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
}

.doctor-thumbnail {
    max-width: 15.375rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.doctor-thumbnail:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    pointer-events: none;
    border: 1px solid #C78263;
    border-radius: 50%;
    background: #FFF;
}

.doctor-thumbnail span {
    display: block;
    position: absolute;
    top: 0.375rem;
    left: 0.375rem;
    right: 0.375rem;
    bottom: 0.375rem;
    background: linear-gradient(.43deg,rgba(196,196,196,.52) .31%,#C4C4C4 99.57%);
    border-radius: 50%;
    overflow: hidden;
}

.doctor-thumbnail span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doctor-informative {
    margin-top: 1.5625rem;
    padding-top: 1.375rem;
    position: relative;
}

.doctor-informative:after {
    content: "";
    position: absolute;
    background: #C78263;
    width: 100%;
    height: 1px;
    max-width: 6.5625rem;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.doctor-informative h4 {
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.57;
    letter-spacing: -.3px;
    color: #000;
    margin: 0;
}

.doctor-informative p {
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.35;
    margin: 0;
    color: #000;
}

@media screen and (max-width:760px) {
    .sub-title h3 {
    font-size: 1.5rem;
}

.trusted-doctors .description-overlay {
    margin-top: 0.1875rem;
    padding-right: 0.875rem;
}

.sub-title h4 {
    font-size: 1.0625rem;
}

.doctors-boxes-wrapper {
    justify-content: center;
    padding: 0;
}

.doctor-box-col {
    margin-top: 1.875rem;
    flex: 0 0 50%;
    max-width: 15.625rem;
}

.doctor-thumbnail {
    max-width: 7.0625rem;
}

.doctor-thumbnail span {
    top: 0.1875rem;
    left: 0.1875rem;
    right: 0.1875rem;
    bottom: 0.1875rem;
}

.doctor-informative {
    margin-top: 0.5625rem;
    padding-top: 0.5rem;
}

.doctor-informative:after {
    height: 2px;
    max-width: 3rem;
}

.doctor-informative h4 {
    font-size: .875rem;
}

.doctor-informative p {
    font-size: .75rem;
    line-height: 1.17;
}
}
</style>