<section id="newsletter" class="bg-[--beige] md:px-2">
  <div class="container">
    <div class="subscribe-section flex flex-row-reverse flex-wrap items-center justify-between text-center">
      <div class="text-wrap w-[60%] md:w-full text-center">
        <div class="intro-text">
          <h2>The Curalife Newsletter</h2>
          <p>Our newsletter is packed with valuable insights, including expert guidance on managing chronic health conditions, tips for maintaining a healthy lifestyle, and updates on the latest breakthroughs in medical research.</p>
        </div>

        <div class="subscribe-form md:pt-4">
          <div class="klaviyo-form-WpUY8s"></div>
          <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TgAiGu"></script>
          {% comment %} <div class="_form_3"></div> {% endcomment %}
          {% comment %} <script src="https://marketing.curalife.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script> {% endcomment %}
        </div>
      </div>

      <div class="img-wrap desktop">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/newsletter-image.png?v=1694095786" class="relative h-[350px] mb-[-50px] object-cover overflow-visible" alt="newsletter subscriber" loading="lazy">
      </div>
    </div>
  </div>
</section>

<style>
  .klaviyo-form input {
    padding: 1rem !important;

    @media screen and (max-width: 768px) {
      text-align: center !important;
    }
  }

  @media screen and (max-width: 768px) {
    .klaviyo-form .kl-private-reset-css-Xuajs1 {
      margin: 0 !important;
      padding: 0 !important;
    }

    .klaviyo-form .kl-private-reset-css-Xuajs1[data-testid="form-row"] {
      flex-direction: column !important;
    }

    .klaviyo-form button {
      width: 100% !important;
    }
  }
</style>

<style>
  ._form-content {
    max-width: 440px;
  }

  ._submit {
    min-width: 130px;
    border-radius: 4px !important;
  }

  ._field-wrapper input {
    border: 0 !important;
  }

  .subscribe-section .img-wrap {
    width: 30%;
  }

  @media screen and (max-width: 1200px) {
    .subscribe-section .text-wrap {
      margin: auto;
    }

    .subscribe-section .img-wrap {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .subscribe-section .img-wrap {
        width: 100%;
        padding-top: 50px;
        padding-left: 0;
        text-align: center;
    }
  }
</style>

<style>
  ._form {
    margin: unset !important;
    padding: unset !important;
    line-height: unset !important;
  }

  ._submit {
    background-color: var(--blue) !important;
    min-height: 44px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-family: "DM Sans" !important;
  }

  ._field-wrapper input#email {
    width: 300px !important;
    font-size: 16px;
    border: 1px solid var(--grey);
    padding: 12px !important;
  }

  ._form_element {
    margin-bottom: unset !important;
  }

  ._button-wrapper {
    margin: 0 !important;
  }

  ._form-label {
    display: none !important;
  }

  @media screen and (max-width: 768px) {
    ._field-wrapper input#email,
    ._submit
    {
      width: 100% !important;
      text-align: center !important;
    }

    .button-wrapper {
      margin: 0 !important;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const targetParent = document.getElementById("newsletter");

    const observer = new MutationObserver(() => {
      const subscribeButton = targetParent.querySelector('.go2198125486');
      if (subscribeButton) {
        observer.disconnect();
        addSubscribeEventListener(subscribeButton);
      }
    });

    observer.observe(targetParent, { childList: true, subtree: true });

    function addSubscribeEventListener(button) {
      button.addEventListener('click', handleNewsletterSubscribe, { once: true });
    }

    function handleNewsletterSubscribe() {
      const emailInput = document.getElementById('email_87364185');
      if (!emailInput) {
        console.error('Email input not found');
      }
    }
  });
</script>