{%- comment -%}Rating stars component - test change{%- endcomment -%}
<div class="Stars" style="--rating: {{ rating | default: '5' }};" aria-label="Rating of this product is 2.3 out of 5."></div>

<style>
	:root {
		--star-size: 24px;
		--star-color: #fff;
		--star-background: var(--orange);

		@media (max-width: 768px) {
			--star-size: 6vw;
		}
	}

	.Stars {
		--percent: calc(var(--rating) / 5 * 100%);

		display: inline-block;
		font-size: var(--star-size);
		font-family: Times;
		line-height: 1;

		&::before {
			content: '★★★★★';
			background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
</style>
