<div id="healthier-life">
  <div class="background-container">
  <div class="container">
    <div class="life-wrapper">
      <div class="life-title">Start a healthier life today</div>
      <a class="cta" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
    </div>

    <div class="life-img">
      {% assign prod = all_products['curalin'] %}
      <img class="main-img" src="{{ prod.metafields.custom.bottle_image | image_url }}" width="976" height="976" alt="bottle-hand-mask">
    </div>
  </div>
  </div>
</div>

<style>
  #healthier-life {
    overflow: visible;
  }

  #healthier-life .background-container .container {
    min-height: 190px;
    display: flex;
  }

  #healthier-life .background-container  {
    background: #E8E8B0;
    position: relative;
  }

  #healthier-life .background-container .life-img {
    max-width: 25%;
    position: absolute;
    right: 0;
    top: -80px;
    }


  #healthier-life .background-container .container .life-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  #healthier-life .background-container .container .life-wrapper .life-title {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 54px;
    line-height: 1.2em;
    color: #404733;
  }

  #healthier-life .background-container .container .life-wrapper .cta {
    background: var(--orange);
    border-radius: 5px;
    text-align: center;
    padding: 10px 50px;
    box-shadow: 0px 5px 12.5px rgb(0 0 0 / 15%);
  }

  #healthier-life .background-container .container .life-wrapper .cta-btn:hover {
    background: #e9a735;
    border-color: #e9a735;
  }

  @media screen and (max-width: 1100px) {
    #healthier-life .background-container .container .life-wrapper {
      flex-direction: column;
      align-items: flex-start;
      max-width: 45%;
    }

    #healthier-life .background-container .container .life-wrapper .life-title {
        font-size: 6vw;
        line-height: 7vw;
        padding-top: 3vw;
      }

      #healthier-life .background-container .life-img {
        max-width: 43%;
        top: -6vw;
      }

      #healthier-life .background-container .container .life-wrapper .cta-btn {
        padding: 1vw 2vw;
        width: 50vw;
      }
  }

  @media screen and (max-width: 768px) {
    #healthier-life .background-container .container .life-wrapper .cta {
      padding: 2vw 4vw;
    }
    #healthier-life .background-container .life-img {
      max-width: 53%;
    }
  }
</style>