<div class="modal-content" id="thanks-modal">
        <div class="modal-bg">
            <div class="data-wrap">
                <div class="modal-scroll">
                    <div class="modal-title">
                        <h3>{{settings.thnk_titl}}</h3>
                    </div>
                    <div class="modal-icon">
                        <span class="icon-done"></span>
                    </div>
                    <div class="modal-text">
                        <p>{{settings.thnk_desc}}</p>
                    </div>
                    <div class="modal-btn">
                        <button type="button" class="main-btn" data-fancybox-close>{{settings.thnkbtn_titl}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>