<div class="reward-points-widget text-center flex m-auto justify-center gap-1 text-[14px] mbl:text-[13px] py-2">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" height="18" width="18">
		<defs><style>.cls-1{fill:#201602}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="layer_1-2" data-name="layer 1"><path class="cls-1" d="M15 24c-8.55 0-15-3-15-7s6.45-7 15-7 15 3 15 7-6.45 7-15 7zm0-12c-7.66 0-13 2.63-13 5s5.34 5 13 5 13-2.63 13-5-5.34-5-13-5z"/><path class="cls-1" d="M15 30c-8.55 0-15-3-15-7v-6a1 1 0 0 1 2 0c0 2.37 5.34 5 13 5s13-2.63 13-5a1 1 0 0 1 2 0v6c0 4-6.45 7-15 7zM2 20.6V23c0 2.37 5.34 5 13 5s13-2.63 13-5v-2.4c-2.55 2.07-7.31 3.4-13 3.4S4.55 22.67 2 20.6z"/><path class="cls-1" d="M15 36c-8.55 0-15-3-15-7v-6a1 1 0 0 1 2 0c0 2.37 5.34 5 13 5s13-2.63 13-5a1 1 0 0 1 2 0v6c0 4-6.45 7-15 7zM2 26.6V29c0 2.37 5.34 5 13 5s13-2.63 13-5v-2.4c-2.55 2.07-7.31 3.4-13 3.4S4.55 28.67 2 26.6z"/><path class="cls-1" d="M15 42c-8.55 0-15-3-15-7v-6a1 1 0 0 1 2 0c0 2.37 5.34 5 13 5s13-2.63 13-5a1 1 0 0 1 2 0v6c0 4-6.45 7-15 7zM2 32.6V35c0 2.37 5.34 5 13 5s13-2.63 13-5v-2.4c-2.55 2.07-7.31 3.4-13 3.4S4.55 34.67 2 32.6z"/><path class="cls-1" d="M15 48c-8.55 0-15-3-15-7v-6a1 1 0 0 1 2 0c0 2.37 5.34 5 13 5s13-2.63 13-5a1 1 0 0 1 2 0v6c0 4-6.45 7-15 7zM2 38.6V41c0 2.37 5.34 5 13 5s13-2.63 13-5v-2.4c-2.55 2.07-7.31 3.4-13 3.4S4.55 40.67 2 38.6zM20 16h2v2h-2zM8 16h2v2H8zM16 20h-2v-4h-1v-2h2a1 1 0 0 1 1 1zM38 6h2v2h-2zM26 6h2v2h-2zM34 10h-2V6h-1V4h2a1 1 0 0 1 1 1z"/><path class="cls-1" d="M33 14a32.94 32.94 0 0 1-4.13-.26l.26-2A30.58 30.58 0 0 0 33 12c7.66 0 13-2.63 13-5s-5.34-5-13-5-13 2.63-13 5a2.17 2.17 0 0 0 .57 1.37L19 9.64A4.08 4.08 0 0 1 18 7c0-4 6.45-7 15-7s15 3 15 7-6.45 7-15 7zM33 26c-.7 0-1.39 0-2.06-.06l.12-2c.63 0 1.28.06 1.94.06 7.66 0 13-2.63 13-5v-2.4c-2.55 2.07-7.31 3.4-13 3.4-.7 0-1.39 0-2.06-.06l.12-2c.63 0 1.28.06 1.94.06 7.66 0 13-2.63 13-5a1 1 0 0 1 2 0v6c0 4-6.45 7-15 7zM33 38c-.7 0-1.39 0-2.06-.06l.12-2c.63 0 1.28.06 1.94.06 7.66 0 13-2.63 13-5v-2.4c-2.55 2.07-7.31 3.4-13 3.4-.7 0-1.39 0-2.06-.06l.12-2c.63 0 1.28.06 1.94.06 7.66 0 13-2.63 13-5a1 1 0 0 1 2 0v6c0 4-6.45 7-15 7z"/><path class="cls-1" d="M46 19h2v6h-2zM46 7h2v6h-2z"/></g></g>
	</svg>
	<span>
		This purchase would earn you
		<span class="font-bold">
			<span class="current-price">xx</span>
			curapoints!
		</span>
	</span>
</div>

<script>
	document.querySelectorAll('#shopify-section-{{ section.id }} .product-actions .variant-box').forEach(function (variantBox) {
		variantBox.addEventListener('click', function () {
			let currentPrice = this.querySelector('.real-price').textContent;
			currentPrice = currentPrice.substring(1);

			if (currentPrice.includes('.')) {
				currentPrice = currentPrice.split('.')[0];
			}

			let currentPriceElement = document.querySelector('.current-price');
			currentPriceElement.style.display = 'none';

			currentPriceElement.innerHTML = currentPrice;
			currentPriceElement.style.display = '';
		});
	});
</script>
