{% comment %}
	<div class="reward-points-widget text-center flex m-auto justify-center gap-1 text-[14px] mbl:text-[13px] py-2">
		<span>
			🪙 This purchase would earn you
			<span class="font-bold">
				<span class="current-price">xx</span>
				curapoints!
			</span>
		</span>
	</div>

	<script>
		document.querySelectorAll('#shopify-section-{{ section.id }} .product-actions .variant-box').forEach(function (variantBox) {
			variantBox.addEventListener('click', function () {
				let currentPrice = this.querySelector('.real-price').textContent;
				currentPrice = currentPrice.substring(1);

				if (currentPrice.includes('.')) {
					currentPrice = currentPrice.split('.')[0];
				}

				let currentPriceElement = document.querySelector('.current-price');
				currentPriceElement.style.display = 'none';

				currentPriceElement.innerHTML = currentPrice;
				currentPriceElement.style.display = '';
			});
		});
	</script>
{% endcomment %}
