<style>
  .yotpo-pdp {
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }

  .yotpo-pdp .yotpo-title {
    font-family: PP Radio Grotesk,sans-serif !important;
    font-weight: 700 !important;
    color: #3A7684 !important;
    font-size: 29px;
    line-height: 35px;
  }
</style>

<div class="yotpo-pdp">
  {% comment %} <span class="yotpo-title">curapoints</span><br> {% endcomment %}
  <i class="fa-duotone fa-coins"></i>
  <span>This purchase would earn you </span>
  <span
    class="swell-product-helper font-bold"
    data-mode="display-points"
    data-product-id="{{ product.id }}"
    data-price-cents="{{ product.price }}">xx </span>
  <span class="font-bold">curapoints!</span>
</div>