<div class="reward-points-widget text-center flex m-auto justify-center gap-1 text-[14px] py-2">
  <i class="fa-duotone fa-coins"></i>
  <span>This purchase would earn you <span class="font-bold"><span class="current-price">xx</span> curapoints!</span></span>
</div>

<script>
  $("#shopify-section-{{ section.id }} .product-actions .variant-box").click(function() {
    let currentPrice = $(this).find(".real-price").text();
    currentPrice = currentPrice.substring(1, currentPrice.length);
    if (currentPrice.includes('.')) {currentPrice = currentPrice.split('.')[0];}
    $(".current-price").fadeOut(function() {$(this).html(currentPrice).fadeIn();});
  });
</script>
