<div class="reviews">
  <p class="reviews-title"><span>Customers Reviews</span></p>
  <div class="review">
    <div class="review-info">
      <img class="review-thumbnail" src="{{ 'checkout-review-thumbnail-1.png' | asset_url }}" alt="" loading="lazy">
      <div class="review-details">
        <p class="reviewer">Jo. R</p>
        <div class="review-stars">
          <img src="{{ 'checkout-reviews-stars.png' | asset_url }}" alt="" loading="lazy">
        </div>
      </div>
      <div class="review-date">
        <p>01/01/2020</p>
      </div>
    </div>
    <div class="review-title">Give it a try</div>
    <p class="review-content">“I now feel that I’m being rewarded for my hard work. I am now a permanent
      customer. Just give it a try. You’ll be delighted.”</p>
  </div>

  <div class="review">
    <div class="review-info">
      <img class="review-thumbnail" src="{{ 'checkout-review-thumbnail-2.png' | asset_url }}" alt="" loading="lazy">
      <div class="review-details">
        <p class="reviewer">D’Gaye</p>
        <div class="review-stars">
          <img src="{{ 'checkout-reviews-stars.png' | asset_url }}" alt="" loading="lazy">
        </div>
      </div>
      <div class="review-date">
        <p>01/01/2020</p>
      </div>
    </div>
    <div class="review-title">Amazing product</div>
    <p class="review-content">“Curalin sounded too good to be true. But it works. Oh man, it works.”</p>
  </div>
</div>

<style>
  .review-stars i {
    color: #FFB22D;
  }

  .reviews-title {
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 20px;
  }

  .reviews-title span {
    background: #F5F5F5;
    padding: 0 10px;
    font-size: 18px;
  }

  .review {
    padding: 20px;
    margin-bottom: 30px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 10px 19px -17px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  }

  .review .review-info {
    display: flex;
    gap: 10px;
    position: relative;
  }

  .review .review-info .review-thumbnail {
    height: 55px;
  }

  .review .review-info .review-details .reviewer {
    font-size: 20px;
    font-weight: 500;
  }

  .review .review-info .review-date {
    position: absolute;
    right: 0;
  }

  .review .review-stars img {
    height: 20px;
  }

  .review .review-title {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 5px;
  }

  .review-content {
    font-size: 17px;
    font-weight: 300;
  }
</style>