<section class="taste">
  <img class="winning-leaf-swoosh" src="{{ 'winning-type-leaf-swoosh.png' | asset_url }}" width="214" height="217" alt="">
  <img class="winning-big-swoosh" src="{{ 'winning-type-big-swoosh.png' | asset_url }}" width="761" height="638" alt="">
  <div class="container">
    <div class="taste-title">
      Here's a taste of Winning Type 2
    </div>

    <div class="taste-page">
      <img class="taste-img" src="{{'rebranding-winning-type-2.png' | asset_url }}" width="1215" height="1242"  alt="1242">
      <img class="taste-img-mb" src="{{'rebranding-winning-type-2-mb.png' | asset_url }}" width="364" height="3079"  alt="3079">
    </div>
  </div>
</section>

<style>
  .taste {
    position: relative;
  }

  .winning-big-swoosh {
    position: absolute;
    right: 0;
    top: 300px;
  }

  .winning-leaf-swoosh {
    position: absolute;
    width: 120px;
    bottom: 170px;
    left: 270px;
  }

  .taste-title {
    position: relative;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 45px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #404733;
  }

  .taste-page {
    position: relative;
    margin: 20px auto;
  }


  .taste-img-mb {
    display: none;
  }


  @media screen and ( max-width: 1890px) {
    .winning-leaf-swoosh {
      left: 170px;
    }
  }

  @media screen and ( max-width: 1700px) {
    .winning-leaf-swoosh {
       left: 9vw;
    }
  }

  @media screen and ( max-width: 1640px) {
    .winning-leaf-swoosh {
       left: 3vw;
    }
  }




  @media screen and (max-width: 768px) {
    .winning-leaf-swoosh {
      display: none;
    }
    .winning-big-swoosh {
      display: none;
    }
    .taste-title {
      text-align: center;
      font-size: 35px;
      line-height: 36px;

    }

    .taste-img {
      display: none;
    }

    .taste-img-mb {
      margin: 0 auto;
      display: flex;
    }
  }


</style>