{% if shop.name == "CuraLife" %}
  {% assign sale_subtitle = "30 Day Life Changing Program (Valued $99) & CuraEats Meal Plan App (Valued $29)" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign sale_subtitle = "CuraEats Meal Plan App (Valued £24)" %}
{% endif %}

<section id="sale-titles-section">
  <div class="container titles">
    <h1 class="main-title">Enter The Raffle With Extra Holiday Bonuses!</h1>
    <p class="plus">+</p>
    <div class="subtitle">{{ sale_subtitle }}</div>
  </div>
</section>

<style>
  #sale-titles-section .plus {
    margin: 0;
    font-size: 25px;
  }

  #sale-titles-section .titles {
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
  }

  #sale-titles-section h1.main-title {
    font-size: inherit;
    margin: unset;
  }

  #sale-titles-section .subtitle {
    font-size: 0.5em;
  }

  @media screen and (max-width: 768px) {
    #sale-titles-section .titles {
      font-size: 8vw;
    }
  }
</style>