.{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign yotpo_rewards_widget_id = "584162" %}
  {% assign yotpo_rewards_raf_widget_id = "35419" %}
  {% assign rewards_signup_modal_id = "VbQeKW" %}
  {% assign rewards_signup_sms_modal_id = "UXbHiM" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign yotpo_rewards_widget_id = "578292" %}
  {% assign yotpo_rewards_raf_widget_id = "73923" %}
  {% assign rewards_signup_modal_id = "Svgepi" %}
  {% assign rewards_signup_sms_modal_id = "Xtwmbf" %}
{% endif %}

<div class="rewards-wrapper" style="min-height: 4244px;">
  <h1 style="display:none">Rewards</h1>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ yotpo_rewards_widget_id }}"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ yotpo_rewards_raf_widget_id }}"></div>
</div>

<script>
  window._klOnsite = window._klOnsite || [];

  function openRewardsModal(modalId) {
    window._klOnsite.push(['openForm', modalId]);
  }

  const urlParams = new URLSearchParams(window.location.search);
  const signup = urlParams.get('signup');
  const signupSMS = urlParams.get('signup_sms');

  if (signup === 'true') {
    openRewardsModal('{{ rewards_signup_modal_id }}');
  } else if (signupSMS === 'true') {
    openRewardsModal('{{ rewards_signup_sms_modal_id }}');
  }
</script>