<div class="body-formula">
  <div class="container">
    <div class="data-wrap">
      <h3><b>10 Years of research</b> <span>identifies</span></h3>
      <p class="subtitle">18 key body functions formula</p>
      <div class="formula-wrapper">
        <div class="formula-image">
          <picture>
            <source srcset="{{ 'lp-aio-humen-body.png' | file_url }}" width="516" height="590" media="(min-width: 641px)">
            <source srcset="{{ 'lp-aio-humen-body-mb.png' | file_url }}" width="332" height="370">
            <img srcset="{{ 'lp-aio-humen-body-mb.png' | file_url }}" width="332" height="370" alt="human body">
          </picture>
        </div>
        <div class="formula-text">
          <p>A good glucose support supplement is both effective and holistic. Here, CuraLin sets a new
            standard for innovation.</p>

          <p>Unlike other formulas, CuraLin targets a holistic set of <strong>18 cellular functions so
              that
              your body can NATURALLY</strong> keep your blood sugar healthy.</p>

          <p>Your body naturally burns glucose to power your life. Many cellular processes work together
            for
            this to happen. <strong>These include insulin secretion and sensitivity,</strong> plus
            functions
            in your pancreas, liver, spleen, and muscles. CuraLin’s doctor developed formula targets
            these
            processes together.</p>

          <p>The 10 years of innovation and research it took to create this holistic formula are yours to
            enjoy in every capsule of CuraLin. <strong>Now your body can keep doing what it
              loves...</strong> Keeping your healthy, happy and active.</p>


        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .body-formula {
    padding: 2.3125rem 0;
    background: rgba(234, 234, 234, .5);
    font-family: "Poppins", sans-serif;
  }

  .body-formula .data-wrap {
    padding: 0 1.375rem
  }

  .body-formula h3,
  .body-formula p.subtitle {
    font-size: 40px;
    margin: unset;
  }

  .formula-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.125rem;
    padding: 0 1.0625rem
  }

  .formula-image {
    width: 39.94%
  }

  .formula-text {
    padding: 1.3125rem 2.1875rem 0 1.5rem;
    width: 60.06%;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.45;
    color: #000
  }

  .formula-text p {
    margin: 0;
    padding-bottom: 2rem;
  }

  .formula-text p:last-child {
    padding-bottom: 0;
  }

  .formula-text b,
  .formula-text strong {
    font-weight: 700
  }

  @media screen and (max-width: 991px) {
    .body-formula .data-wrap {
      padding: 0
    }

    .formula-image {
      width: 100%;
      text-align: center
    }

    .formula-text {
      width: 100%;
      padding: 1.25rem 0 0;
      font-size: 1.25rem;
    }

    .formula-wrapper {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .body-formula {
      padding: 1.5625rem 0
    }

    .body-formula h3 {
      font-size: 7vw;
    }

    .body-formula p.subtitle {
      font-size: 5vw;
    }

    .formula-wrapper {
      margin-top: 1rem
    }

    .formula-text {
      padding: 1.625rem 1rem 0 0;
      font-size: 1.0625rem
    }

    .formula-text p {
      padding-bottom: 1.25rem
    }
  }
</style>

