
<div class="supported-community">
  <div class="container">
    <div class="data-wrap">
      <div class="sub-title">
        <h3>Supported by a community of <b>100,000 people</b></h3>
        <div class="description-overlay">
          <h4>
            CuraLin gives you access to the world’s largest blood sugar peer-support community. It will
            be
            one of the most valuable resources to help you along your health journey.
          </h4>
        </div>
      </div>
      <div class="community-wall">
        <picture>
          <source srcset="{{ 'lp-aio-image-community.png' | file_url }}" width="1400" height="402" media="(min-width: 641px)">
          <source srcset="{{ 'lp-aio-image-community-mb.png' | file_url }}" width="446" height="316">
          <img srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}" width="446" height="316" alt="Community">
        </picture>
      </div>
    </div>
    {% if isNoIndex %}
    <div class="link-button">
     <a href="https://www.facebook.com/groups/winningtype2diabetestogether" class="btn-cta">JOIN NOW</a>     
  </div>
{% endif %}
</div>
<style>
  .link-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
   
  .btn-cta {
    background: #404733;
    -webkit-box-shadow: .625rem .625rem .825rem rgba(0, 0, 0, .3);
    box-shadow: .625rem .625rem .825rem #0000004d;
    border-radius: 1.25rem;
    padding: .875rem;
    max-width: 39.1875rem;
    display: inline-block;
    font-weight: 700;
    font-size: 1.867375rem;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    width: 100%;
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
    transition: all var(--transition)
  }


  .btn-cta:hover {
    background-color: #404733;
    color: white;
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
    transition: all var(--transition)
  }
</style>
{% if isLP %}
  <style>
  .supported-community {
    padding: 30px 0 0;
  }
    .supported-community .data-wrap {
    padding: 0 1.875rem;
  }

  .supported-community .community-wall {
    text-align: center;
  }

  .supported-community .community-wall img {
    width: 100vw;
  }

  .supported-community .description-overlay {
    margin-bottom: 30px;
  }

  .supported-community .sub-title h3 {
  font-size:  clamp(27px, 3vw, 45px);
  }

  @media screen and (max-width:768px) {
    .supported-community .data-wrap {
    padding: 0;
  }
  }
  </style>
{% else %}

<style>
  .supported-community {
    background: #F0F0F0;
    padding-top: 2.5625rem;
    padding-bottom: 4.0625rem;
    font-family: "Poppins", sans-serif;
  }

  .supported-community .sub-title h3 {
    font-size:  clamp(1.4rem, 2vw, 2.4rem);
  }

  .supported-community .sub-title h4 {
    font-size:  clamp(1.1rem, 2vw, 1.5rem);
  }

  .supported-community .sub-title {
    padding-bottom: 2.8125rem
  }

  .supported-community .sub-title h3 {
    font-weight: 400
  }

  .supported-community .sub-title .description-overlay {
    margin-top: .75rem
  }

  .supported-community .data-wrap {
    padding: 0 1.875rem
  }

  .supported-community .community-wall {
    margin: .1875rem -2.8125rem;
    text-align: center
  }

  .supported-community .container .data-wrap .sub-titles h2 {
    font-size: clamp(27px, 3vw, 44px)
  }

  @media screen and (max-width: 991px) {
    .supported-community .data-wrap {
      padding: 0
    }

    .supported-community {
      padding-top: 2.1875rem;
      padding-bottom: 3.125rem
    }

    .supported-community .community-wall {
      margin: 0 -.9375rem
    }

  }

  @media screen and (max-width: 768px) {
    .supported-community {
      padding-top: 2.125rem;
      padding-bottom: 2.125rem;
      background: none
    }

    .supported-community .sub-title h3 {
      line-height: 1.25
    }

    .supported-community .sub-title .description-overlay {
      margin-top: .4375rem
    }

    .supported-community .sub-title {
      padding-bottom: 1.875rem
    }

    .supported-community .community-wall {
      margin: 0 -3.125rem
    }
  }

</style>


{% endif %}
