<div class="container">
    <div class="featured-products">
        <div class="featured-title">Featured Products</div>
        <a class="link-to-collection" href="{{ ctaButtonLink }}">Shop All</a>
    </div>
</div>

{% render 'curalin-new-features-list', ctaButtonLink: "/collections" %}

<style>
.bottom-line {
    position: unset !important;
}
.white-bg {
  background: unset !important;
  box-shadow: unset !important;
}
    .featured-products {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    .featured-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 48px;
        line-height: 53px;
        color: #222222;
    }

    .link-to-collection {
        font-family: 'PP Radio Grotesk';
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        text-align: right;
        text-decoration-line: underline;
        color: #222222;
    }

    @media screen and (max-width: 768px) {

        .featured-title {
            font-size: 6vw;
            line-height: 35px;
        }

        .link-to-collection {
            font-size: 5vw;
            line-height: 26px;
        }


    }
</style>