
<div class="making-headlines">
  <div class="container">
    <div class="sub-title">
      <h3>We're making headlines...</h3>
    </div>
    <div class="logo-list">
      <ul>
        {% for logoImage in logoImages %}
          <li><img src="{{ logoImage | file_url | split: "|" | first }}" alt="" loading="lazy"></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>