
<header>
    <div class="container">
        <div class="main-logo">
            <img src="{{ 'logo-black-friday.svg' | asset_url }}" width="308" height="92" alt="logo">
        </div>

        {% if isTimer %}
            {% render 'countdown-timer', timerAlreadyRun: false, isHideTitles: true %}
        {% endif %}

        <div class="buttons-container">
            {% unless isTimer %}
                <div class="off-container">
                    <div class="up-to">UP TO</div>
                    <div class="percents-off">30% OFF</div>
                </div>
            {% endunless %}
            <div class="buy-btn">
                <a class="main-btn" id='main-cta-btn' href="#product-catalog-section">ORDER NOW</a>
            </div>
        </div>
    </div>
</header>

<style>
    header {
        background-color: #FFE746;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        padding: 10px 0;
    }

    header .main-logo {
        padding: 15px 0 10px 0;
    }

    header .main-logo img {
        margin-top: unset !important;
    }

    header .main-logo  {
        display: inline-block;
        padding: 15px 0;
        max-width: 181px;
    }

    header .main-logo img {
        width: 150px;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .buy-btn .main-btn {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        border: 1px solid #000000 !important;
        background: #000000;
        box-shadow: 0px 5.01961px 12.549px rgb(0 0 0 / 15%);
        border-radius: 5.01961px;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
        padding: 10px;
    }

    header .buy-btn .main-btn:hover {
        background-color: #000000;
    }

    header .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .off-container {
        display: flex;
        align-items: center;
        font-family: 'PP Radio Grotesk';
        gap: 10px;
        margin-right: 10px;
    }

    header .up-to {
        font-size: 25px;
    }

    header .percents-off {
        font-size: 35px;
        font-weight: bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        header {
            position: static;
        }

        header.sticky {
            position: fixed;
            top: 0;
        }

        {% unless isTimer %}
            header .buttons-container {
                width: 100%;
            }
        {% endunless %}

        header .off-container {
            flex-direction: column;
            gap: unset;
        }

        header .main-logo  {
            display: none;
        }

        header .up-to {
            font-size: 4vw;
        }

        header .percents-off {
            font-size: 7vw;
            line-height: 7vw;
        }
        header .buy-btn .main-btn {
            font-size: 4vw;
            padding: 2vw;
        }
    }
</style>

<script>
    $( document ).ready(function() {
        if(screen.width <= 768) {
            $('header').insertAfter('.hero-banner');
            var hero_bottom = $('.hero-banner').offset().top + $('.hero-banner').outerHeight(true);

            $(window).scroll(function () {
                var window_top = $(window).scrollTop();
                let height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                if (window_top >= hero_bottom) {
                    if (!$('header').is('.sticky')) {
                        $('header').addClass('sticky');
                        $('.hero-banner').css("margin-bottom", $('header').outerHeight(true) + "px");
                    }
                }
                else {
                    $('header').removeClass('sticky');
                    $('.hero-banner').css("margin-bottom", 0);
                }
            });
        }
    });
</script>