<section class="research-sources">
    <div class="container">
        <div class="data-wrap">
            <h2>Research and Science<br>
                Referenced Studies</h2>
            <p>[1]https://www.idf.org/aboutdiabetes/what-is-diabetes/facts-figures.html<br>
                [2]Opinion Matters (2018) CCD PR Diabetes
                https://curalife.com/wp-content/uploads/2018/10/Survey-results.pptx Accessed 23 October 2018.<br>
                [3]https://www.idf.org/aboutdiabetes/what-is-diabetes/facts-figures.html<br>
                [4]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7146037/#:~:text=The%20results%20of%20meta%2Danalysis,world%2C%20which%20was%20statistically%20significant<br>
                [5]https://www.mayoclinic.org/diseases-conditions/diabetes/in-depth/diabetes-management/art-20047963<br>
                [7]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4880159/<br>
                [8]https://pubmed.ncbi.nlm.nih.gov/18475058/<br>
                [9]https://pubmed.ncbi.nlm.nih.gov/20809668/<br>
                [11]https://www.diabetes.co.uk/features/diabetes-medication-side-effects.html<br>
                [12]https://www.mayoclinic.org/diseases-conditions/diabetes/in-depth/diabetes-management/art-20047963#:~:text=Stick%20to%20your%20diabetes%20meal,make%20sure%20you%20stay%20hydrated<br>
                [13]Opinion Matters (2018) CCD PR
                Diabetes.https://curalife.com/wp-content/uploads/2018/10/Survey-results.pptx Accessed 23 October
                2018.<br>
                [14]https://www.researchgate.net/publication/328833996_Effect_of_Bitter_Melon_Extracts_on_Lipid_Levels_in_Japanese_Subjects_A_Randomized_Controlled_Study<br>
                [15]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1752016/<br>
                [16]Wild bitter gourd improves metabolic syndrome: a preliminary dietary supplementation trial.
                Nutrition Journal, vol. 11, no. 1, article<br>
                [17]Momordica charantia and type 2 diabetes: from in vitro to human studies Curr Diabetes Rev. 2014
                Jan;10(1): 48-60..Habicht SD, Ludwig C, Yang RY, Krawinkel MB.<br>
                [18]https://pubmed.ncbi.nlm.nih.gov/15927932/<br>
                [19]https://pubmed.ncbi.nlm.nih.gov/17392113/<br>
                [20]Traditional Indian medicines used for the management of diabetesmellitus. J Diabetes Res. 2013.
                Syed
                Ibrahim Rizvi et al<br>
                [21]Beneficial effect and mechanism of action of Momordica Charantia in the treatment of diabetes
                mellitus: a mini review. INt J Diabetes & Metabolism (2003) 11: 46-55. Celia Garau et al.<br>
                [23]Curcumin and diabetes: a systematic review. Evid Base Complement Alternate Med. 2013 Nov 24.
                Zhang
                DW et al.<br>
                [24]Curcumin extract for prevention of type 2 diabetes: Diabetes Care. 2012 Nov;35(11):2121-7.
                Chuengsamarn S et al.<br>
                [25]https://pubmed.ncbi.nlm.nih.gov/17211725/<br>
                [26]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5877632/<br>
                [27]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5954247/<br>
                [28]Effect of Trigonella Foenum-Graecum (fenugreek) seeds on glycaemic control and insulin
                resistance in
                type 2 diabetes mellitus: a double blind placebo controlled study. J Assoc Physicians India. 2001
                Nov;49:1057-61. Gupta A et al.<br>
                [29]Antidiabetic Activity of Emblica Officinalis Seed Extract in Streptozotocin induced Type 2
                Diabetes
                mellitus in Rat. Parminder N. et al. International Journal of Natural Product Science 2012: Spl
                Issue
                1:135.<br>
                [30]Anti-diabetic activity of Emblica Officinalis in animal models:<br>
                http://informahealthcare.com/doi/abs/10.3109/13880200902991532<br>
                [31]Swertia Chirayita- an overview P. Joshi1,* and V. Dhawan, CURRENT SCIENCE, VOL. 89, NO. 4, 25
                AUG2005<br>
                [32]Experimental Evaluation of antidiabetic activity of Swertia Chirata - Aqueous Extract. J Pub
                Health
                Med Res 2013;1(2):71-75.2 Kavitha K.N. et al.<br>
                [33]BLOOD_SUGAR_LOWERING_ACTIVITY_OF_SWERTIA_CHIRAYTIA_ROXB._EX._FLEM_KARST_IN_DIFFERENT_EXPERIMENTAL_RAT_
                MODELS:<br>
                [www.academia.edu/465211)<br>
                [34]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3592606/<br>
                [35]https://pubmed.ncbi.nlm.nih.gov/24166097/<br>
                [36]http://www.diabetesincontrol.com/effect-of-extended-release-gymnema-sylvestre-leaf-extract-beta-fast-gxr/<br>
                [37]An overview on the advances of Gymnema Sylvestre: chemistry, pharmacology and patents.
                Pharmazie.
                2003 Jan;58(1):5-12. Porchezian E et al.<br>
                [38]A systematic review of Gymnema Sylvestre in obesity and diabetes management. J Sci Food Agric.
                2014
                Mar 30;94(5):834-40. Pothuraju R et al.<br>
                [39]An overview on antidiabetic medicinal plants having insulin mimetic property. Asian Pac J Trop
                Biomed. 2012 Apr;2(4):320-30. Patel DK et
                al.[40]www.diabeteslibrary,org/View.aspx?url=Gymnemasylveste<br>
                [41]Clinical investigation of hypoglycemic effect of seeds of Azadirachta-indica in type-2 (NIDDM)
                diabetes mellitus. Pak J Pharm Sci. 2006 Oct;19(4):322-5. Waheed A. et al.<br>
                [42]Antidiabetic and hypolipidaemic effects of few common plants extract in Type 2 Diabetic patients
                at
                Bengal. Int J Diabetes & Metab (2010) 18:59-65. Balasubramaniam D. et al.<br>
                [43]Hypoglycaemic and hypolipidemic effect of ethanolic extract of seeds of Eugenia jambolana in
                alloxan-induced diabetic rabbits. Journal of Ethnopharmacology. Volume 85, Issues 2-3, April 2003,
                Pages
                201-206. Sharma S.B. et al.<br>
                [44]Preclinical evaluation of the antidiabetic effect of Eugenia jambolana seed powder in
                streptozotcin-diabetic rats. Braz J Med Biol Res, March 2005, Volume 38(3) 463-468. Sridhar S.B. et
                al.<br>
                [45]Anti-diabetic properties of Tinospora cordifolia stem extracts on streptozotocin-induced
                diabetic
                rats. African Journal of Pharmacy and Pharmacology 2009 Vol. 3 No. 5 pp. 171-180. Rajalkshmi. My. et
                al.<br>
                [46]Tinospora cordifolia attentuates oxidative stress and distorted carbohydrate metabolism in
                experimentally induced type 2 diabetes in rats. J Nat Med. 2011 Jul;65(3-4):544-50. Sangeetha MK. et
                al.<br>
                [47]https://www.sciencedirect.com/science/article/abs/pii/S2210803320300300<br>
                [48]https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3579017/<br>
                [49]
                journalrcr.org/article.asp?issn=2588-9273;year=2019;volume=10;issue=1;spage=58;epage=65;aulast=Bigoniya<br>
                [50]Antidiabetic activity of standardized extract of Picrorhiza kurroa in rat model of NIDDM. Drug
                Discov Ther. 2009; 3(3):88-92.Gulam M.H. et al.</p>
        </div>
    </div>
</section>

<style>
.research-sources {
    background: #F0F0F0;
    padding-top: 10px;
}

.research-sources h2 {
    text-align: center;
    font-weight: bold;
}

.research-sources .data-wrap p {
    margin: 0;
    padding-bottom: 0.9375rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.29;
    margin-top: 20px;
}
    @media screen and (max-width:768px) {

    }
</style>