
<section id="faq-section">
  <div class="container">
    <h2>
      <b>Popular Questions</b>
    </h2>

    {% assign faqs = 'When should I take Curalin?:For the best results, we recommend taking CuraLin 30 minutes after meals.
                      |How to determine how much Curalin I should take?:First 2 days, start with 1 capsule with every meal. The next 2 days, start with 1 capsule after every meal. On day 5+, 2 capsules after every meal, which is the full daily intake. Do not succeed more than 6 capsules daily.
                      |Is it normal to see results in less than 3 days?:The average time to see results with Curalin is 5-7 days. But it’s perfectly normal to see results from the very first day, or as much as 14 days.
                      |Can I take Curalin alongside my medications?:Yes! Curalin is considered very safe to use, even alongside medications. But of course we recommend that you speak with your doctor before taking Curalin.
                      |Where is CuraLin made?:Curalin uses ingredients grown and powdered in India. Capsuling and bottling is done by 3rd party labs in the USA or EU.'
                      | split: '|' %}
    <div class="faq">
      {% for faq in faqs %}
        <div class="faq-item">
          <div class="question">{{ faq | split: ":" | first }}</div>
          <div class="answer">
            <div class="answer-content">{{ faq | split: ":" | last }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #faq-section {
    padding: 50px 0;
    background: #E1E8CF;
    box-shadow: 0 0 0 100vmax #e1e8cf;
    clip-path: inset(0-100vmax);
  }

  #faq-section .container h2 {
    margin: unset;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }

  #faq-section .container .faq {
    margin: 1rem auto;
  }

  #faq-section .container .faq .faq-item {
    border-bottom: 1px solid #F5F5F5;
  }

  #faq-section .container .faq .faq-item .question {
    padding: 0.7rem 3rem 0.7rem 0;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
  }

  #faq-section .container .faq .faq-item .question:after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.5s;
  }

  #faq-section .container .faq .faq-item .question.active:after {
    transform: rotate(45deg);
  }

  #faq-section .container .faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;  
  }

  #faq-section .container .faq .faq-item .answer .answer-content {
    padding: 0 1rem 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 18px;
  }

  #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }

  #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
  }

  #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
  }

  #faq-section .container .faq .faq-item .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }

  #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
  }

  #faq-section .swiper-nav {
    color: grey;
    width: 10px;
    top: 150px;
  }

  @media screen and (max-width:768px) {
    #faq-section .container h2 {

      font-size: 24px;
      line-height: 120%;
    }
    #faq-section .container .faq .faq-item .question {
      font-size: 14px;
    }

    #faq-section .swiper-slide {
      overflow: scroll;
    }

    #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
      flex-direction: column;
      max-width: 80%;
    }

    #faq-section .container .faq .faq-item .answer .answer-content {
      font-size: 14px;
    }

    #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
      margin-left: unset;
    }

    #faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
      margin: 0;
    }
  }
</style>

<script>
  const accordionItemHeaders = document.querySelectorAll(".question");

  accordionItemHeaders.forEach(accordionItemHeader => {
    accordionItemHeader.addEventListener("click", event => {

// Uncomment in case you only want to allow for the display of only one collapsed item at a time!

// const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
// if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
// currentlyActiveAccordionItemHeader.classList.toggle("active");
// currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
// }

      accordionItemHeader.classList.toggle("active");
      const accordionItemBody = accordionItemHeader.nextElementSibling;
      if (accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
      } else {
        accordionItemBody.style.maxHeight = 0;
      }
    });
  });

  faqIngredientsMainSliderAllInOne = new Swiper('#faq-section .ingredients-main-slider.swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: false,
    loop: false,
    autoHeight: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '#faq-section .swiper-button-next',
      prevEl: '#faq-section .swiper-button-prev',
      disabledClass: 'disabled'
    }
  });
</script>