<section id="product-catalog-section">
  {% render 'collection-titles' %}

  <div class="container">
    <div class="product-list" id="product-list-section">
      {% for prod in Prods %}
        {% if request.page_type == 'collection' %}
          {% assign product = prod %}
        {% else %}
          {% assign product = all_products[prod] %}
        {% endif %}

        {% if forloop.index == "2" %}
          {% assign isRecommended = true %}
        {% elsif forloop.last %}
          {% assign isLast = true %}
        {% endif %}

        {% render 'product-card', product: product, isRecommended: isRecommended, isLastRender: isLast, isSkipCart: isSkipCart %}
      {% endfor %}
    </div>
  </div>

  {% render 'trust-badges-widget', badgesContent: "free-shipping,money-back,secure-checkout", colors: "#5c5c5c" %}
</section>

<style>
  #product-catalog-section {
    padding: unset;
    display: unset !important;
  }

  #product-catalog-section .product-list {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: unset;
  }

  #product-catalog-section  {
    display: flex;
  }

  #product-catalog-section .product-card .info {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  #product-catalog-section .product-card .info .price {
    padding:  15px 0;
    position: relative;
  }

  #product-catalog-section .product-card h3 a {
    color: inherit;
    transition: color var(--transition);
  }

  #product-catalog-section .supply-days {
    font-size: 16px;
    text-align: center;
    line-height: 0;
    font-weight: 200;
  }

  #product-catalog-section .product-card .info .price {
    padding-top: 14px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  #product-catalog-section .product-card .info .price .rounded.current-price,
  #product-catalog-section .product-card .info .price .original-price {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 45px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #product-catalog-section .product-card .info .price p {
    margin: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: var(--dark);
    white-space: nowrap;
  }

  #product-catalog-section .product-card .info .main-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    transition: color var(--transition),border-color var(--transition),background-color var(--transition);
    width: 100%;
    background: var(--dark-green);
    border: 1px solid var(--dark-green);
  }

  .main-btn:hover {
    background: #25291e !important;
    border-color: #25291e !important;
  }

  #product-catalog-section .main-btn i {
    display: block;
    font-size: 24px;
    padding-right: 10px;
  }
{% comment %}
  #product-catalog-section .icon-cart:before {
    content: "\efe7";
  } {% endcomment %}

  @media screen and (max-width:768px) {
    #product-catalog-section .product-list {
      gap: 10vw;
      flex-direction: column;
    }

    #product-catalog-section .promotion-title {
      font-size: 5vw;
    }

    #product-catalog-section .product-card {
      max-width: 100%;
      padding: 10px;
      border: 1px solid #E8E8B0;
      margin-top: unset;
    }

    #product-catalog-section .product-card h3 {
      font-size: 10vw;
      margin-top: 5vw;
    }

    #product-catalog-section .product-card .info .price {
      padding-top: 0;
    }

    #product-catalog-section .product-card .info .price strike {
      font-size: 18px;
    }

    #product-catalog-section .product-card .info .price .rounded.current-price {
      font-size: 41px;
      padding-left: 1vw;
      padding-right: 1vw;
    }

    #product-catalog-section .product-card .info .price p {
      font-size: 41px;
    }

    #product-catalog-section .product-card .info .main-btn {
      font-size: 4vw;
    }
  }
</style>