
<div class="commitement-for-you">
  <div class="container">

    <div class="commitement-for-you-wrapper">
      <div class="commitment-we-proud">
       You did it!
      </div>
      <div class="sub-title">
        <h3><b>Celebrate your achievement!</b></h3>
        <img class="commit-img-mb" src="{{ 'thirty-day-commit-gift-card.png' | asset_url }}" width="368" height="253" alt="gift-card" loading="lazy">
      </div>
      <div class="commit-sub-wrapper">
      <img class="commit-img" src="{{ 'thirty-day-commit-gift-card.png' | asset_url }}" width="368" height="253" alt="gift-card" loading="lazy">
      <div class="commitement-text">
        When you finish the 30 days, you’ll be entered into a raffle to win a $200 Amazon Gift Card as a bonus! Buy something good for your health!
      </div>
      </div>
    </div>

   <div class="commitment-have-to-do">What do you have to do? </div>
   <div class="commitment-wrapper">

      {% assign commitments = "Commit to and complete the 30 Day Challenge

        |Send us an honest review about your experience! " | split: "|" %}

      <div class="commitments">
        {% for commitment in commitments %}
          <div class="commitment">
            <div class="commitment-icon"><i class="icofont-check"></i></div>
            <div class="commitment-text">{{ commitment | split: ":" | first }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

<style>

  .commitement-for-you {
    background: #fff1e8;
    padding-bottom: 30px;

  }

  .commitement-for-you-wrapper .sub-title {
    display:flex;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: unset;
    padding-bottom: 30px;
  }

  .commitement-for-you-wrapper .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(34px, 5vw, 60px);
    line-height: 35px;
    color: var(--dark-green);
  }

  .commitement-for-you-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .commit-sub-wrapper {
    display: flex;
    max-width: 69%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .commit-sub-wrapper .commit-img {
    max-width: 31%;
    object-fit: contain;
  }

  .sub-title .commit-img-mb {
    display: none;
  }


  .commit-sub-wrapper .commitement-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: clamp(16px, 2vw, 20px);
    color: var(--dark-green);
    line-height: 24px;
  }

  .commitment-we-proud {
    margin-top: 30px;
    background-image: url("{{ 'thirty-day-commit-swoosh.png' | asset_url }}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(32px, 2vw, 40px);
    line-height: 62px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--dark-green);
  }

  .commitment-have-to-do {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    color: var(--dark-green);
    padding: 10px 0 0;
  }


   .commitment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .commitments {
    display: flex;
    padding-bottom: 30px;
    max-width: 79%;
  }

 .commitments .commitment {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0 0;
    font-family: "PP Radio Grotesk";
    font-size: clamp(14px, 2vw, 20px);
    line-height: 20px;
    max-width: 367px;
  }

  .commitments .commitment .commitment-icon {
    background: var(--peach);
    color: white;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: -15px;
  }


   .commitments .commitment .commitment-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: clamp(20px,2vw, 25px);
    line-height: 30px;
    color: var(--dark-green);

  }


  @media screen and (max-width: 768px) {

    .commitments .commitment .commitment-icon {
      margin-top: unset;
    }
    .commitments .commitment {
      max-width: unset;
    }
    .commitement-for-you-wrapper {
      padding-bottom: unset;
      width: 100%;
    }
    .commit-sub-wrapper {
      max-width: unset;
    }



    .commitement-for-you-wrapper .sub-title {
      padding-top: 2vw;
      padding-bottom: unset;
    }

    .commit-sub-wrapper .commit-img {
      display: none;
    }

    .sub-title .commit-img-mb {
      display: inline-block;
      object-fit: contain;
      max-width: 35%;
    }

    .commitement-for-you-wrapper .sub-title h3 {
      text-align: left;
      font-size: clamp(26px, 2vw, 32px);
      line-height: 35px;
    }

    .commitment-we-proud {
      line-height: 54px;
    }

    .commitment-have-to-do {
      text-align: left;
      font-size: 20px;
      line-height: 22px
    }

    .commitment-wrapper {
      justify-content: flex-start;
    }

    .commitments {
      flex-direction: column;
      max-width: unset;
      width: 100%;
    }
     .commitment {
      max-width: unset;
      width: 100%;
    }

     .commitments .commitment .commitment-text {
      max-width: unset;
      line-height: 24px;
    }
  }

  @media screen and (max-width: 425px) {
    .sub-title .commit-img-mb {
      max-width: 44vw;
    }
  }

</style>

<script>
  $(window).scroll(function() {
    $(window).scrollTop() > 1000 ? $('#back-to-top-btn').addClass('show') : $('#back-to-top-btn').removeClass('show');
  });

  $('#back-to-top-btn').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
  });
</script>



