<section class="clinically-tested">
    <div class="tested-ingredients">
        <div class="container">
            <div class="wrap">
                <div class="sub-title">
                    <h2>Clinically studied ingredients Doctor approved formula</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="clinically-proven">
        <img src="{{ 'lp01n-product-clinically-proven-stamp.png' | file_url }}" alt="">
    </div>

    <div class="safe-work">
        <div class="container">
            <div class="wrap">
                <div class="data">
                    <div class="sub-title">
                        <h4>Curalin’s clinical results were published in peer-reviewed medical journals. The studies
                                                                                    scientifically demonstrate Curalin’s efficacy and favorable safety profile.<br>
                            70,000 customers now use Curalin as part of their blood sugar maintenence routines.</h4>
                    </div>
                    <div class="warning-text">
                        <p>Study conducted by Curalife. Individual results may vary.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .clinically-tested {
        padding-bottom: 0;
    }

    .clinically-tested .tested-ingredients {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.clinically-tested .tested-ingredients:before {
    content: '';
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
}

.clinically-tested .tested-ingredients:after {
    content: '';
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    pointer-events: none;
}

.clinically-tested .tested-ingredients .sub-title {
    max-width: 678px;
    margin: auto;
}

.clinically-tested .sub-title {
    text-align: center;
}

.clinically-tested .sub-title h2 {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.37;
    text-align: center;
    margin-bottom: 50px;
}

.clinically-tested .sub-title h4 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #58AA9E;
}

.clinically-tested .clinically-proven {
    display: flex;
    justify-content: center;
    margin-top: -1px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.clinically-tested .clinically-proven:before {
    content: '';
    height: 90px;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("{{ 'lps-clinically-tested-bg.svg' | asset_url }}");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: top center;
}

.clinically-tested .clinically-proven:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: linear-gradient(to bottom, transparent 69%, #7DC9BE 31%);
}

.clinically-tested .safe-work {
    margin-top: -1px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #7DC9BE;
}

.clinically-tested .safe-work:before {
    content: '';
    height: 89px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    z-index: -2;
}

.clinically-tested .safe-work:after {
    content: '';
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: -1;
    pointer-events: none;
}

.clinically-tested .clinically-proven + .safe-work .wrap {
    padding: 0 0 58px 0;
}

.clinically-tested .safe-work .wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 22.3% 0 12.2% 0;
    max-width: 950px;
    margin: auto;
}

.clinically-tested .clinically-proven + .safe-work .sub-title {
    margin: 0 auto;
}

.clinically-tested .clinically-proven + .safe-work .sub-title h4 {
    margin: 0 -15px;
    padding-top: 3.9%;
    text-align: center;
}

.clinically-tested .safe-work .sub-title h2, .safe-work .sub-title h3, .safe-work .sub-title h4, .safe-work .sub-title p {
    color: #ffffff;
    text-align: left;
}

.clinically-tested .safe-work .warning-text {
    padding-top: 50px;
    text-align: start;
}

.clinically-tested .safe-work .warning-text p {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.33;
    color: #ffffff;
    text-align: center;
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    .tested-ingredients .sub-title h2 {
    font-size: 6vw;
    line-height: 1.4;
}

.clinically-proven img {
    max-width: 308px;
}

.clinically-proven + .safe-work .sub-title h4 {
    padding: 18px 17px;
    text-align: left !important;
    font-size: 16px;
    line-height: 1.5;
}

.clinically-tested .safe-work .warning-text {
    padding: 0;
}

.clinically-tested .safe-work .warning-text p {
    text-align: start;
}

.safe-work .data {
    width: 100% !important;
    order: 1;
}

.clinically-tested .clinically-proven + .safe-work .wrap {
    padding: 0 0 20px 0;
}
}
</style>