
 <div  class="sale-banner-easter-collection">
  <div class="container">
  
    <div class="img-wrapper">
      <img src="{{ 'easter-sale-coll.png' | asset_url }}" width="1332" height="207" alt="logo1">
    </div>
    <div class="img-wrapper-mb">
      <img src="{{ 'easter-sale-coll-mb.png' | asset_url }}" width="455" height="185" alt="logo2">
    </div>

  </div>
</div>

<style>
.sale-banner-easter-collection {
  padding: 0;
}
#shopify-section-template--16037229658263__7b4bf5f6-5d3e-48e1-bba9-d4a13b220c1f {
  padding: 0;
}
#shopify-section-template--16037229658263__dcdbd6aa-f1ec-4157-b655-981183575845 {
	padding: 0;
}
 .sale-banner-easter-collection {
  background-color: #F8C6BD;
  background-image: url("{{ 'sticky banner_1.png' | asset_url }}");
  background-size: cover;
  background-position: center;


}
.sale-banner-easter-collection {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    z-index: 20;
    min-height: 80px;
    margin-bottom: 20px;
  }
   .img-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

   .img-wrapper-mb {
    display: none
  }

  @media screen and ( max-width: 768px ) {

  .sale-banner-easter-collection {
    min-height: 60px;

  }

  .sale-banner-easter-collection .container { 
    min-height: 60px;
  }
   .img-wrapper {
      display: none;
    }

     .img-wrapper-mb {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 1vw 0;
    }
  }
</style>




  