{% if request.path contains '/blog/' %}
  {% if shop.name == "CuraLife Global" %}
    <script>window.location = "https://curalife.com/blogs/blog";</script>
  {% else %}
    {% assign next_page_link = 'https://curalife.com/blogs/blog' %}
    {% assign next_page_title = "Blog" %}
  {% endif %}
{% else %}
  {% assign next_page_link = '/' %}
  {% assign next_page_title = "Homepage" %}
{% endif %}

<section class="template-404 text-center">
  <div class="container">
    <img class="h-[250px]" src="{{ '404-main-image.jpg' | asset_url }}" alt="404 image">
    <h1 class="h2 title leading-tight text-black"><span class="font-normal">Oops! Page Not Found,</span><br>But Your Path to Better Health is Still Clear.</h1>
    <div class="links flex items-center gap-8"></div>
    <a href="{{ next_page_link }}"><button>Back to {{ next_page_title }}</button></a>
  </div>
</section>