<section class="customer-reviews">
  <div class="container relative">
    {% render 'title', title: 'These are natural ingredients', title_tag: 'h2', subtitle: ' chosen for how well they work with the body both individually as well as in synergy, and that have been proven in numerous studies well before we set on our path: ', title_color: 'var(--blue)' %}

    <div class="ingredient flex items-center gap-4">
      <img class="w-[30%]" src="{{ 'ingredient-1.png' | asset_url }}" alt="Ingredient 1">
      <div class="info w-[70%]">
        <div class="title">Gymnema Sylvestre</div>
        <div class="description">
          I’ll begin with Gymnema Sylvestre, known as "the sugar destroyer." This herb, native to Africa, India, and Australia, has been used for various ailments for centuries, including blood sugar balance.

          Its unique compounds, especially Gymnemic acid, play a significant role in managing carbohydrate cravings, directly supporting hormonal balance.

          Clinical studies also validate its effectiveness in managing blood sugar, showcasing its ability to influence the body's hormonal responses, especially in terms of insulin release and sugar absorption. 
        </div>
      </div>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "VSL Ingredients",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "VSL Ingredients"
    }
  ]
}
{% endschema %}