{% layout 'theme.aio-lp01' %}

<div class="page-overflow">
    {% section 'lps-aio-lp01-header-summer-sale' %}
    {% section 'lps-aio-lp01-hero-summer-sale' %}
    {% section 'lps-featured-on' %}
    {% section 'lps-video-reviews' %}
    {% section 'lps-instructions' %}
    {% section 'lps-satisfaction-survey' %}
    {% section 'lps-trusted-by-doctors' %}
    {% section 'lps-doctors-testimonials' %}
    {% section 'lps-clinically-tested' %}
    {% section 'lps-ingredients' %}
    {% section 'lps-supported-community' %}
    {% section 'lps-products-catalog' %}
    {% section 'lps-return-policy' %}
    {% section 'lps-badges' %}
    {% section 'lps-faq' %}
    {% section 'lps-contact-us' %}
    {% section 'lps-sources' %}
    
    <div id="floating-cta">
        <img src="{{ 'lps-aio-lp01-floating-cta.png' | asset_url }}" alt="">
    </div>
</div>

<style>
    .real-changes .sub-title {
        border-top: unset !important;
    }

    .featured-section {
        border-bottom: 1px solid #DCD9D9;
    }

    #floating-cta {
    position:fixed;
    right:0;
    bottom:0;
    cursor:pointer;
    width:100%;
    z-index: 10;
    display:none;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#floating-cta img {
    width: 100%;
}
</style>

<script>
    $("#floating-cta").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#product-section").offset().top + 130
    }, 2000);
});

if ($(window).width() < 761) {
    $(window).scroll(function(){ 
            if ($(this).scrollTop() > 800 && $(this).scrollTop() < ($("#product-section").offset().top - 1000)) { 
                $('#floating-cta').fadeIn(); 
            } else { 
                $('#floating-cta').fadeOut(); 
            } 
        });
}
</script>
