{% assign sectionProduct = sections.settings.selected_product | default: product %}

<section class="hero-buy-box bg-light-blue">
  <div class="container">
    <div class="hero-wrapper mbl:flex-col-reverse flex items-center justify-between w-full">
      <div class="content-wrapper">
        <div class="main-titles desktop">
          <h1 class="m-0">Curalin</h1>
          <p class="text-[--blue] text-[28px] mb-1">Your secret to effective, <br>fast weight loss</p>
        </div>
        <p class="text-[16px]">Curaslim's unique formula boosts weight loss and optimizes energy and mood, making it an ideal companion for a vibrant, balanced life.</p>
        <ul class="text-[--blue] text-[22px] font-bold">
          <li class="mb-1">Appetite & Portion Control*</li>
          <li class="mb-1">Metabolism Boost*</li>
          <li class="mb-1">Support maintaining balanced blood glucose levels*</li>
          <li class="mb-1">Mood & Energy Lift*</li>
        </ul>
        <p class="text-[12px] opacity-30 leading-4">Statements made on this website have not been evaluated by the U.S. Food and Drug Administration. These products are not intended to diagnose, treat, cure, or prevent any disease. Information provided by this website or this company is not a substitute for individual medical advice.</p>
      </div>

      <div class="buy-box-wrapper w-3/5 mbl:w-full min-w-[700px] mbl:min-w-0">
        <div class="mobile-titles mobile text-center">
          <p class="h1 m-0">Curalin</p>
          <p class="text-[--blue] text-[28px] mb-1">Your secret to effective, <br>fast weight loss</p>
        </div>

        <div class="buy-box mbl:bg-transparent mbl:pb-0 flex flex-col items-center p-8 bg-white" style="border-radius:500px">
          <div class="buy-box-wrapper-content justify-left mbl:flex-col flex items-center w-full">
            <img class="h-[250px] m-0" src="{{ sectionProduct.featured_image | image_url }}" alt="Curalin" loading="lazy">
            {% render 'product-cta-section-actions', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: sectionProduct, ctaColor: "var(--orange)", title: title, isHighlightSubtitle: true, defaultSelectionIndex: 2, pricePer: pricePer, isHideInfo: isHideInfo %}
          </div>
        </div>

        {% render 'trust-badges-widget', badgesContent: 'free-shipping,money-back,secure-checkout' %}
      </div>
    </div>
  </div>
</section>

<style>
  .hero-buy-box .variant-box .price .calculations {
    flex-direction: column;
    gap: 0;
  }
  .hero-buy-box .product-actions {
    max-width: 300px !important;
  }
  .hero-buy-box .variant-box .price {
    gap: 0 !important;
    flex-direction: column !important;
    align-items: end !important;
  }
  .hero-buy-box .submit-wrap button {
    min-width: 300px !important;
    color: black;
  }
</style>

{% schema %}
{
  "name": "Hero With Buy-Box",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "product",
      "id": "selected_product",
      "label": "Product"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Hero With Buy-Box"
    }
  ]
}
{% endschema %}