{% assign prod = all_products['curaslim'] %}

<section class="hero-buy-box bg-[--light-blue]">
  <div class="container">
    <div class="hero-wrapper flex justify-between w-full">
      <div class="content-wrapper">
        <h1>Curalin</h1>
        <p>Your secret to effective, <br>fast weight loss</p>
      </div>

      <div class="buy-box-wrapper w-3/5">
        <div class="buy-box flex items-center gap-8 p-8 bg-white" style="border-radius:150px">
          <img class="h-[250px]" src="{{ prod.featured_image | image_url }}" alt="Curalin" loading="lazy">
          {% render 'product-cta-section-actions', section_id: section.id, ctaTextType: ctaTextType, isVariantNotice: isVariantNotice, product: prod, ctaColor: "var(--orange)", title: title, isHighlightSubtitle: isHighlightSubtitle, defaultSelectionIndex: defaultSelectionIndex, pricePer: pricePer, isHideInfo: isHideInfo %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero With Buy-Box",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "bg_color_bottom",
      "label": "Background Bottom Color",
      "default": "#DCD9D9"
    },
    {
      "type": "color_background",
      "id": "ticker_background_before",
      "label": "Ticker Background Before",
      "default": "linear-gradient(90deg, #F7F7F7 0%, rgba(255, 255, 255, .76) 49.3%, rgba(255, 255, 255, 0) 100%)"
    },
    {
      "type": "color_background",
      "id": "ticker_background_after",
      "label": "Ticker Background After",
      "default": "linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .76) 49.3%, #F7F7F7 100%)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "As Featured On"
    },
    {
      "type": "checkbox",
      "id": "is_remove_padding_top",
      "label": "Remove Top Padding"
    },
    {
      "type": "checkbox",
      "id": "is_remove_padding_bottom",
      "label": "Remove Bottom Padding"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Featured Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero With Buy-Box"
    }
  ]
}
{% endschema %}