{% assign buyBoxColor = page.metafields.primary_color | default: section.settings.buy_box_color %}
{% assign prodReference = section.settings.product | default: product | default: all_products["curalin-pack"] %}
{% if section.settings.anchor_id %}<div id="{{ section.settings.anchor_id }}"></div>{% endif %}

<script>console.log("product - {{ prodReference.title }}")</script>

{% render 'product-cta',
  ctaTemplate: section.settings.cta_template,
  bgColor: section.settings.bg_color,
  buyBoxColor: buyBoxColor,
  ctaColor: "var(--orange)",
  mainTitle: section.settings.main_title,
  title: section.settings.variants_title,
  ctaText: section.settings.cta_text,
  thumbnailImage: section.settings.thumbnail_image,
  thumbnailImageMobile: section.settings.thumbnail_image_mobile,
  pricePer: section.settings.price_per,
  saveFormat: section.settings.save_format,
  badgeImage: section.settings.badge_image,
  ctaTextType: section.settings.price_format,
  titleTag: section.settings.title_tag,
  isReviews: section.settings.is_reviews,
  isHideThumbs: section.settings.is_hide_thumbs,
  isBuyWithPrime: section.settings.is_buy_with_prime,
  isVariantBoxToggle: section.settings.is_variant_toggle,
  additionalClasses: section.settings.additional_classes,
  buyType: section.settings.buy_type,
  prod: prodReference,
%}

<script>
  window.addEventListener('load', function() {
  var _learnq = window._learnq || [];
  function addedToCart() {
    fetch(`${window.location.origin}/cart.js`)
    .then(res => res.clone().json().then(data => {
      var cart = {
        total_price: data.total_price/100,
        $value: data.total_price/100,
        total_discount: data.total_discount,
        original_total_price: data.original_total_price/100,
        items: data.items
      }
      if (item !== 'undefined') {
        cart = Object.assign(cart, item)
      }
      if (klAjax) {
          _learnq.push(['track', 'Added to Cart', cart]);
          klAjax = false;
        }
    }))
  };
  (function (ns, fetch) {
    ns.fetch = function() {
      const response = fetch.apply(this, arguments);
      response.then(res => {
        if (`${window.location.origin}/cart/add.js`
          .includes(res.url)) {
            addedToCart()
        }
      });
      return response
    }
  }(window, window.fetch));
  var klAjax = true;
  var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
  for (var i = 0; i < atcButtons.length; i++) {
      atcButtons[i].addEventListener("click", function() {
        if (klAjax) {
          _learnq.push(['track', 'Added to Cart', item]);
          klAjax = false;
        }
      })
  }
  });
</script>


{% schema %}
{
    "name": "CTA Section",
    "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "cta_template",
        "label": "CTA Template",
        "options": [
          {
            "value": "basic",
            "label": "Basic"
          },
          {
            "value": "2024",
            "label": "Subscription"
          },
          {
            "value": "2024-new",
            "label": "Subscription New"
          },
          {
            "value": "2024-new-2",
            "label": "Subscription New 2"
          },
          {
            "value": "2024-new-3",
            "label": "Subscription New 3"
          }
        ],
        "default": "2024"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "buy_box_color",
        "label": "Buy Box Main Color",
        "default": "#3A7684"
      },
      {
        "type": "color",
        "id": "cta_color",
        "label": "CTA Color"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "variants_title",
        "label": "Variants Title"
      },
      {
        "type": "richtext",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "image_picker",
        "id": "thumbnail_image",
        "label": "Main Thumbnail Image"
      },
      {
        "type": "image_picker",
        "id": "thumbnail_image_mobile",
        "label": "Main Thumbnail Image on Mobile"
      },
      {
        "type": "image_picker",
        "id": "badge_image",
        "label": "Badge Image"
      },
      {
        "type": "select",
        "id": "buy_type",
        "label": "Buy Type",
        "options": [
          {
            "value": "add_to_cart",
            "label": "Add to Cart"
          },
          {
            "value": "buy_now",
            "label": "Buy Now"
          }
        ],
        "default": "add_to_cart"
      },
      {
        "type": "select",
        "id": "price_per",
        "label": "Price Per",
        "options": [
          {
            "value": "dont_split",
            "label": "Do not Split"
          },
          {
            "value": "month",
            "label": "Month"
          },
          {
            "value": "bottle",
            "label": "Bottle"
          }
        ],
        "default": "dont_split"
      },
      {
        "type": "select",
        "id": "save_format",
        "label": "Save Format",
        "options": [
          {
            "value": "percentage",
            "label": "Percentage"
          },
          {
            "value": "money",
            "label": "Money"
          }
        ],
        "default": "percentage"
      },
      {
        "type": "select",
        "id": "price_format",
        "label": "Price Format",
        "options": [
          {
            "value": "total",
            "label": "Total"
          },
          {
            "value": "save",
            "label": "Save"
          }
        ],
        "default": "total"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          }
        ],
        "default": "h1"
      },
      {
        "type": "number",
        "id": "default_selection_index",
        "label": "Default Selection Index",
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "is_highlight_subtitle",
        "label": "Is Highlight Subtitle"
      },
      {
        "type": "checkbox",
        "id": "is_reverse",
        "label": "Reverse Variants"
      },
      {
        "type": "checkbox",
        "id": "is_reviews",
        "label": "Show Reviews"
      },
      {
        "type": "checkbox",
        "id": "is_reviews_quotes",
        "label": "Show Reviews Quotes"
      },
      {
        "type": "checkbox",
        "id": "is_save_title",
        "label": "Show Save Title"
      },
      {
        "type": "checkbox",
        "id": "is_hide_thumbs",
        "label": "Is Hide Thumbs"
      },
      {
        "type": "checkbox",
        "id": "is_buy_quantity",
        "label": "Quantity Selector"
      },
      {
        "type": "checkbox",
        "id": "is_variant_toggle",
        "label": "Variant Box Toggle"
      },
      {
        "type": "checkbox",
        "id": "is_buy_with_prime",
        "label": "Show Buy with Prime"
      },
      {
        "type": "text",
        "id": "anchor_id",
        "label": "Anchor ID"
      },
      {
        "type": "text",
        "id": "additional_classes",
        "label": "Additional Classes"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_img",
            "label": "Product Image"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "text",
            "id": "vimeo_video_id",
            "label": "Vimeo Video ID"
          },
          {
            "type": "image_picker",
            "id": "video_thumbnail",
            "label": "Video Thumbnail"
          }
        ]
      }
    ],
    "presets": [
    {
        "name": "CTA Section"
    }
  ]
}
{% endschema %}