{% if productType == "variant" %}
  {% assign original_item_cap = prod.metafields.custom.original_item.value.compare_at_price %}
{% else %}
  {% assign original_item_cap = prod.metafields.my_fields.original_item.value.compare_at_price %}
{% endif %}

{% if productType == "variant" %}
  {% assign quantity = prod.metafields.my_fields.pack_bottles_quantity %}
{% else %}
  {% assign quantity = prod.metafields.my_fields.pack_items_quantity %}
{% endif %}

{% assign quantity_by_cents = quantity | times: 100 %}
{% assign item_price = prod.price | times: 100.0 | divided_by: quantity_by_cents %}
<div class="price">
  <p>
    {% if prod.compare_at_price > prod.price %}<strike class="rounded no-letters">{{ original_item_cap | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike>{% endif %}
    <span class="rounded new-price">{{ item_price | money | replace: ".00", "" | replace: "GBP", "" }}</span>
    {% if quantity > 1 %}<span class="per-bottle"> PER<br>BOTTLE</span>{% endif %}
  </p>
</div>

<style>
  .price {
    padding-bottom: unset !important;
  }

  .price p {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .price .new-price {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(41px, 10vw, 47px);
    display: flex;
    align-items: center;
    text-align: center;
  }

  .price .per-bottle {
    font-size: 16px;
    text-align: start;
  }
</style>