<div class="offset-top">
  <div class="container">
    <div class="mini-wrap">
      <div class="refer-friend">   
        <div class="img-wrap">
          <img src="{{ 'Frame_23365.png' | file_url }}" alt="" width="720" height="480" loading="lazy">
        </div>
        <div class="intro-text">
          <div class="sub-title">
            <h2>Introduce a Friend<br> to CuraLin</h2>
            <p>Earn Free bottles of CuraLin as a special thank you for referring your friends.\nYou’ll also get to send them a £25 coupon off their first order!</p>
          </div>
          <div class="btn">
            <a href="/pages/refer-a-friend" class="main-btn">Start Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% render 'newsletter-form' %}


<style>

    @media screen and (max-width: 480px) {
     
    .refer-friend {
      flex-wrap: wrap;
    }

    .refer-friend .img-wrap {
      padding-top: 32px;
    }
    }
  </style>