{% assign isCuralinBundled = false %}
{% for prod in product.metafields.custom.bundle-products.value %}
  {% if prod.handle == 'curalin' %}
    {% assign isCuralinBundled = true %}
  {% endif %}
{% endfor %}

<div id="supplement-page">
  {% render 'product-benefits-section' %}

  {% if product.metafields.custom.bundle-products.value %}
    {% for prod in product.metafields.custom.bundle-products.value %}
      {% if forloop.last %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index, isLastRender: true %}
      {% else %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% render 'product-supplement-pack-info', product: product, isLastRender: true %}
  {% endif %}
</div>

<style>
  @media screen and (max-width: 768px) {
    #supplement-page section .titles {
      flex-direction: column !important;
      align-items: baseline;
      gap: 2vw;
    }

    #supplement-page section h2 {
      white-space: unset;
      text-align: left;
      font-size: 8vw;
    }
  }
</style>