<div id="supplement-page">
	{% render 'product-benefits-section' %}
	{% render 'product-supplement-pack-info', product: product, isLastRender: true %}
</div>

<style>
	@media screen and (max-width: 768px) {
		#supplement-page section .titles {
			flex-direction: column !important;
			align-items: baseline;
			gap: 2vw;
		}

		#supplement-page section h2 {
			white-space: unset;
			text-align: left;
			font-size: 8vw;
		}
	}
</style>
