<section class="supplement-info">
	<div class="container">
		<div class="tabs">
			<div class="tab active">
				Overview
				<i class="fa-light fa-angle-right"></i>
			</div>
			<div class="tab">
				Ingredients
				<i class="fa-light fa-angle-right"></i>
			</div>
			{% comment %} <div class="tab">FAQ <i class="fa-light fa-angle-right"></i></div> {% endcomment %}
		</div>

		<div class="content-wrapper">
			<div class="content overview active">
				<div class="overview-wrapper dsk:w-[60%]">
					<div class="supplement-wrapper mbl:flex-col mbl:gap-2 flex gap-8 pb-8">
						<div class="supplement-info dsk:w-1/2 flex flex-col gap-4">
							<h5 class="title text-[--blue]">Curalin</h5>
							<div class="subtitle text-[--blue] font-bold">Say goodbye to frustration and hello to a healthy, natural way to support healthy glucose levels.</div>
							<div class="description">
								Curalin stands out as a leader in natural blood sugar support, renowned for its effective clinically proven approach to maintaining blood sugar levels within the normal range.*
							</div>
						</div>

						<div class="supplement-benefits dsk:w-1/2">
							<ul>
								<li>Support and Maintain Healthy Blood Glucose Levels*</li>
								<li>Boost Daily Energy and Reduce Fatigue*</li>
								<li>Blending ancient Ayurveda practices with modern science and technology.</li>
								<li>Assist in Achieving Balanced Dietary Goals*</li>
							</ul>
						</div>
					</div>

					<div class="notice pt-4 border-t border-[--blue]">Take on each day with confidence, powered by Curalin’s natural blend designed for those who demand excellence from their supplements.</div>
				</div>
				{% render 'image',
					image: section.settings.overview_image,
					load_global: true,
					lazy: lazyLoad,
					alt: section.settings.overview_image.alt,
					class: 'overview-image dsk:absolute dsk:top-[10px] dsk:right-[-100px] mbl:relative mbl:top-[50px]'
				%}
			</div>

			<div class="content ingredients">
				{% render 'responsive-image', img: section.settings.ingredients_image, img_mobile: section.settings.ingredients_image_mobile, classes: 'mbl:w-full' %}
			</div>

			{% comment %}
				<div class="content faq">
				  {% render 'product-faq-section',
				    titles_color: "var(--blue)",
				    is_ingredients_feature: false,
				    is_allow_one_open: false,
				    data_type: "json",
				    faqItems: product.metafields.custom.faq.value
				  %}
				</div>
			{% endcomment %}
		</div>
	</div>
</section>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const tabs = document.querySelectorAll('.supplement-info .tab');
		const contents = document.querySelectorAll('.supplement-info .content');

		tabs.forEach(function (tab, index) {
			tab.addEventListener('click', function () {
				tabs.forEach(t => t.classList.remove('active'));
				tab.classList.add('active');

				const activeContent = document.querySelector('.supplement-info .content.active');
				if (activeContent) {
					activeContent.style.opacity = 0;
					setTimeout(() => {
						activeContent.classList.remove('active');
						activeContent.style.display = 'none';

						const newContent = contents[index];
						newContent.style.display = 'block';
						setTimeout(() => {
							newContent.style.opacity = 1;
							newContent.classList.add('active');
						}, 10);
					}, 300);
				}
			});
		});
	});
</script>

<style>
	.supplement-info {
		.tabs {
			display: flex;
			gap: 2rem;
			margin-bottom: 2rem;

			.tab {
				transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
				text-align: center;
				padding: 1rem;
				background-color: var(--light-blue);
				width: 250px;
				border-radius: 30px;
				transition: background-color 0.3s ease-in-out;

				&.active,
				&:hover {
					cursor: pointer;
					background-color: var(--blue);
					color: white;
					font-weight: bold;
				}
			}
		}

		.content-wrapper {
			.content {
				transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
				display: none;
				position: relative;

				&.active {
					display: block;
				}

				&.overview {
					.supplement-wrapper {
						.supplement-benefits {
							ul {
								li {
									color: var(--bronze);
									font-weight: bold;

									&:before {
										background: var(--bronze);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.supplement-info {
			.tabs {
				gap: 0.5rem;

				.tab {
					font-size: 4vw;
				}
			}
		}
	}
</style>

{% schema %}
	{
		"name": "Supplement Info",
		"settings": [
			{
				"type": "image_picker",
				"id": "overview_image",
				"label": "Overview Image"
			},
			{
				"type": "image_picker",
				"id": "ingredients_image",
				"label": "Ingredients Image"
			},
			{
				"type": "image_picker",
				"id": "ingredients_image_mobile",
				"label": "Ingredients Image Mobile"
			}
		],
		"presets": [
			{
				"name": "Supplement Info"
			}
		]
	}
{% endschema %}
