<section class="supplement-info overflow-visible">
  <div class="container">
    <div class="titles text-center">
      <h1 class="text-white">Curalin</h1>
      <p>Harness the Power of Natural Blood Sugar Support with Curalin.</p>
    </div>

    <img src="{{ section.settings.overview_image | image_url }}" alt="Curalin" class="mbl:max-w-[75%]">

    <div class="tabs">
      <div class="tab active">Overview <i class="fa-light fa-angle-right"></i></div>
      <div class="tab">Ingredients <i class="fa-light fa-angle-right"></i></div>
    </div>

    <div class="content-wrapper">
      <div class="content overview active">
        <p>Experience the clinically proven power of Curalin for healthy blood sugar and optimal health.</p>

        <ul>
          <li><b>Keep Sugar in Check:</b> Keep your blood sugar healthy with Curalin's support.*</li>
          <li><b>Reduce Cravings for Sugars & Carbs:</b> Curb your sugar and carb cravings supported by Curalin.*</li>
          <li><b>Metabolic Harmony:</b> Boost your body's efficiency for a balanced approach to health and weight management.*</li>
          <li><b>Elevate Energy:</b> Power through your day with sustained, natural energy.*</li>
          <li><b>Feel Good Factor:</b> Feel fresh every day with Curalin’s holistic support.*</li>
        </ul>
      </div>

      <div class="content ingredients">
        {% render 'responsive-image', img: section.settings.ingredients_image, img_mobile: section.settings.ingredients_image_mobile, classes: "mbl:w-full" %}
      </div>
    </div>

    <a href="#shopify-section-template--16767989776535__b35f1c03-cc08-4f40-bdc2-8dae3e82ec8b"><button>Find Curalin Near You</button></a>
  </div>
</section>

<script>
  $(document).ready(function() {
      $('.supplement-info .tab').click(function() {
          var index = $(this).index();
          $('.supplement-info .tab').removeClass('active');
          $(this).addClass('active');

          $('.supplement-info .content.active').fadeOut(300, function() {
              $(this).removeClass('active');

              $('.supplement-info .content').eq(index).fadeIn(300).addClass('active');
          });
      });
  });
</script>

<style>
  .supplement-info {
    background-color: var(--blue);
    color: white;

    a:has(button) {
      display: flex;
      bottom: -80px;
      position: relative;
      z-index: 9999;
      justify-content: center;

      button {
        color: black;
        background: var(--orange);
      }
    }

    .tabs {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;

      .tab {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        text-align: center;
        padding: 1rem;
        background-color: var(--blue);
        color: white;
        width: 250px;
        border-radius: 30px;
        border-color: white;
        border-width: 1px;
        transition: background-color 0.3s ease-in-out;

        &.active,
        &:hover {
          cursor: pointer;
          background-color: var(--light-blue);
          color: var(--blue);
          font-weight: bold;
        }
      }
    }

    .content-wrapper {
      .content {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        display: none;
        position: relative;

        &.active {
          display: block;
        }

        ul {
          li {
            &:before {
              background: var(--orange);
            }

            b {
              color: var(--orange);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .supplement-info {
      .tabs {
        gap: 0.5rem;

        .tab {
          font-size: 4vw;
        }
      }

      a:has(button) {
        bottom: -17vw;
      }
    }
  }
</style>

{% schema %}
  {
      "name": "Supplement Info 2",
      "settings": [
        {
          "type": "image_picker",
          "id": "overview_image",
          "label": "Overview Image"
        },
        {
          "type": "image_picker",
          "id": "ingredients_image",
          "label": "Ingredients Image"
        },
        {
          "type": "image_picker",
          "id": "ingredients_image_mobile",
          "label": "Ingredients Image Mobile"
        }
      ],
      "presets": [
      {
          "name": "Supplement Info 2"
      }
    ]
  }
{% endschema %}