{% assign ingredients = '9_f59b2429-ad14-4224-8253-f97a21a2a52e.png*Swertia Chirata:Swertia Chirata is a beautiful purple flower containing active compounds that promote cellular glucose metabolism, support the release of insulin from the pancreas, and keep a healthy rate of glucose absorption in the digestive system.
|9_4.png*Amla:Also known as Indian gooseberry or Emblica Officinalis, the active property in Amla is Tannoid, which helps support the physiological function of pancreatic cells.
|9_8.png*Turmeric:Also known as Curcuma Longa, Turmeric has been used in Eastern medicinal systems for hundreds of years to help people maintain healthy glucose levels though healthy insulin tolerance.
|9_1.png*Bitter Melon:Also known as Karela or Momordica Charantia, Bitter Melon is traditionally used in Eastern medicinal systems to promote healthy physiological function in pancreatic cells, supports glucose absorption, and the sensitivity of the muscle cells to insulin.
|9_2.png*Cinnamomum Zeylanicum:Cinnamon has many benefits, including supporting healthy glucose absorption & metabolism, promoting healthy insulin release, circulation & sensitivity, and maintaining healthy levels of gluconeogenesis. It also supports healthy weight loss, promotes healthy HbA1c and fasting blood sugar, healthy cholesterol levels, and promotes a healthy nervous system.
|9_6.png*Fenugreek:Also known as Trigonella Foenum Graecum, Fenugreek contains fibers that promotes insulin production, release & sensitivity. Fenugreek also helps support a healthy rate of carbohydrate absorption in the digestive system.
|9_3.png*Picrorhiza Kurroa:The active compounds in Pirorhiza Kurroa act as an anti-oxidant and promotes healthy liver function (protecting it from toxins). This supports healthy glucose tolerance and helps people maintain a healthy weight.
|9_5.png*Syzygium Cumini:Also known as Eugenia Jambolana, the active components in Syzygium Cumini supports a healthy physiological function in the liver, creating a reservoir of glucose macromolecules, thereby helping maintain healthy fasting blood glucose levels.
|9_7.png*Gymnema Sylvestre:Gymnema Sylvestre has many active compounds including Saponin, which is known to help manage cravings for carbohydrates. Metabolically, it promotes healthy insulin release.' | split: '|' %}

<div class="mini-wrap">
  <div class="ingredients-section" id="powerful-ingredients">
    <div class="sub-title">
      <h2>9 powerful natural ingredients<br>combined into one capsule</h2>
    </div>
    
    <div class="ingredients-slider">
      <div class="prev-slide nav-slide"><span class="icon-arrow"></span></div>

      <div class="thumbs-slider">
        <div class="swiper" data-swiper="{'observer': true}">
          <div class="swiper-wrapper">
            {% for ingredient in ingredients %}
            <div class="swiper-slide">
              <div class="ingredient-item">
                <div class="img-wrap">
                  <img src="{{ ingredient | file_url | split: "*" | first }}" width="432" height="378" alt="" loading="lazy">
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <div class="main-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for ingredient in ingredients %}
              <div class="swiper-slide">
                <div class="ingredient-item">
                  <div class="text-wrap">
                    <div class="name">
                      <h4>{{ ingredient | split: "*" | last | split: ":" | first }}</h4>
                    </div>
                    <div class="description">
                      <p>{{ ingredient | split: "*" | last | split: ":" | last }}</p>
                    </div>
                  </div>
                </div>
              </div> 
            {% endfor %}        
          </div>
        </div>
      </div>

      <div class="next-slide nav-slide"><span class="icon-arrow"></span></div>

      <div class="swiper-pagination"></div> 
    </div>
  </div>
</div>

<style>
.nav-wrap {
  bottom: unset;
  position: unset;
  justify-content: start;
  margin-bottom: 20px;
}
</style>

<script>
  ingredientThumbs = new Swiper('.ingredients-slider .thumbs-slider .swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
    watchSlidesVisibility: true,
    grabCursor: false,
    loop: false,
    touchRatio: 0,
    pagination: {
      el: '.pagination',
      type: 'fraction',
      currentClass: 'pagination-current',
      totalClass: 'pagination-total',
      renderFraction: function (currentClass, totalClass) {
        return '<p><span class="' + currentClass + '"></span> of <span class="' + totalClass + '"></span></p>';
      }
    },

  });

  ingredientSlider = new Swiper('.ingredients-slider .main-slider .swiper', {
    slidesPerView: 1,
    spaceBetween: 15,
    watchSlidesVisibility: true,
    loop: false,
    slideToClickedSlide: false,
    thumbs: {swiper: ingredientThumbs},

    navigation: {
      nextEl: '.next-slide',
      prevEl: '.prev-slide',
      disabledClass: 'disabled'
    },
    pagination: 
    {
      el: '.swiper-pagination',
      clickable: 'true',
      type: 'bullets',
    },
  });
</script>

