


  {% if shop.name == "CuraLife Global" %}
   <a class="button-wrapper" href="{{ section.settings.button_link }}"><button class="button-section">{{ section.settings.button-text }}</button></a>
  {% elsif shop.name == "CuraLife" %}
    <a href="{{ section.settings.button_link2 }}"><button class="button-section">{{ section.settings.button-text }}</button></a>
  {% endif %}


<style>
   section button {
    display: none;
  }
 @media screen and ( max-width: 768px) {
    section {
      padding: unset !important;
    }
     section button {
      display: flex;
      justify-content: center;
      width: 100%;
      
    }

    .button-section {
      border: none;
      background:  #404733;
      border-radius: 0;
      color: white;
      font-weight: 400;
      padding: 8px 60px;
      font-size: 24px;
      box-shadow: 0 10px 20px #0000004d;
      transition: all var(--transition);
    }


    .button-section:hover {
      background: #404733;
    }
   
  }
</style>





{% schema %}
{
  "name": "Button1",
  "tag": "section",
  "class": "button-1",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
   
    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text"
    },
    
  
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_link2",
      "label": "Button Link 2"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color"
    }
  ],
  "presets": [
    {
      "name": "Button1"
    }
  ]
}
{% endschema %}
  