<div class="container">
  <h2 class="text-center">{{ section.settings.title }}</h2>

  <div class="collections flex-nowrap md:flex-wrap flex">
    {% for collection in section.settings.collections_list %}
      <div class="collection md:w-1/2 w-1/4 p-1">
        <a href="{{ collection.url }}">
          <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}" loading="lazy">
        </a>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Collections Catalog",
  "tag": "section",
  "class": "collections-catalog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection_list",
      "id": "collections_list",
      "label": "Collections",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "Collection Catalog"
    }
  ]
}
{% endschema %}