{% if shop.name contains 'Global' %}
	{% assign variantID = '48472659788100' %}
{% else %}
	{% assign variantID = '44191878348951' %}
{% endif %}

<section class="fbt-section max-w-[900px] m-auto b2b-hidden">
	<div class="container">
		<h2 class="text-center h4 text-primary mb-8">{{ section.settings.title }}</h2>
		<div class="content-wrapper mbl:flex-col mbl:text-center flex items-center justify-center gap-8">
			<img src="{{ section.settings.image | image_url }}" alt="curalin and curaslim bundle">
			<div class="content">
				<p class="mb-1 font-bold">Accelerate Your Results</p>
				<p>
					The Curalin & Curaslim Power Duo!
					<br>
					Pack includes: Ultimate Glucose Balance & Weight Loss Combo.
				</p>
				<p class="text-primary font-bold text-[22px] mb-4">
					Total price: {{ all_products['curalin-curaslim'].price | money -}}
					<span class="cap line-through ml-1 text-bronze font-normal text-[16px]">{{ all_products['curalin-curaslim'].compare_at_price | money }}</span>
				</p>

				{% render 'buy-buttons', product: all_products['curalin-curaslim'], variant: variantID, product_form_id: product_form_id, section_id: section.id %}
			</div>
		</div>
	</div>
</section>

<style>
	.fbt-section .product-form__submit {
		width: unset;
		min-width: 250px;
		background-color: var(--primary-color);
		color: white;
	}

	@media screen and (max-width: 768px) {
		.fbt-section .product-form__submit {
			margin: auto;
		}
	}
</style>

{% schema %}
	{
		"name": "FBT Section",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Title",
				"default": "Frequently Bought Together"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			}
		],
		"presets": [
			{
				"name": "FBT Section"
			}
		]
	}
{% endschema %}
