<section class="fbt-section max-w-[600px] admin-hidden m-auto">
  <h2 class="text-center">Frequesntly Bought Together</h2>
  <div class="content-wrapper flex justify-center gap-8">
    <img src="{{ all_products['curalin-curaslim'].featured_image | image_url }}" alt="curalin and curaslim bundle">
    <div class="content">
      <p class="font-bold">Accelerate Your Results</p>
      <p>The Curalin & Curaslim Power Duo!<br>Pack includes: Ultimate Glucose Balance & Weight Loss Combo.</p>
      <p class="text-[--blue]">Total price: {{ all_products['curalin-curaslim'].price | money }}</p>
      {% render 'buy-buttons', product: all_products['curalin-curaslim'], variant: variant_id, product_form_id: product_form_id, section_id: section.id %}
    </div>
  </div>
</section>

{% schema %}
  {
      "name": "FBT Section",
      "settings": [],
      "presets": [
      {
        "name": "FBT Section"
      }
    ]
  }
  {% endschema %}