<section class="fbt-section max-w-[600px]">
  <h2>Frequesntly Bought Together</h2>
  <div class="content-wrapper flex">
    <img src="{{ all_products['curalin-curaslim'].image | image_url }}" alt="curalin and curaslim bundle">
    <div class="content">
      <p class="font-bold">Accelerate Your Results</p>
      <p>The Curalin & Curaslim Power Duo!<br>Pack includes: Ultimate Glucose Balance & Weight Loss Combo.</p>
      <p class="text-[--blue]">Total price: {{ all_products['curalin-curaslim'].price | money }}</p>
    </div>
  </div>
</section>

{% schema %}
  {
      "name": "FBT Section",
      "settings": [],
      "presets": [
      {
        "name": "FBT Section"
      }
    ]
  }
  {% endschema %}