<div class="form-page">
  <div class="container">
    <div class="contact-form">
      {% form 'contact' %}
        {{ form.errors | default_errors }}
        <input type="hidden" name="return_to" value="/pages/thank-you?type=contact-us"> 
       <div class="form-fields-wrapper">
        <div class="form-fields">
            <div class="field">
            <label for="first-name" class="full-size form-size">
                <input  id="first-name" maxlength="80" name="contact[first_name]" size="20" type="text" placeholder="First Name" />
              </label>
              </div>
           <div class="field">
            <label for="last-name" class="full-size form-size">
              <input  id="last-name" maxlength="80" name="contact[last_name]" size="20" type="text" placeholder="Last Name" />
            </label>
  
           </div>
           <div class="field">
            <label for="job-title" class="full-size form-size">
              <input  id="job-title" maxlength="80" name="contact[job-title]" size="20" type="text" placeholder="Job Title" />
            </label>
           </div>

           <div class="field">
            <label for="phone" class="full-size form-size">
              <input  id="phone" maxlength="40" name="contact[phone]" size="20" type="tel" placeholder="Phone Number" />
            </label>   
           </div>        
        </div>
        <div class="form-fields">
           <div class="field">
            <label for="email" class="full-size form-size">
              <input  id="email" maxlength="80" name="contact[email]" size="20" type="text" placeholder="Business Email" />
            </label>
           </div>
            <div class="field">
                <label for="email" class="full-size form-size">
                  <input  id="website" maxlength="80" name="contact[website]" size="20" type="text" placeholder="Company Website" />
                </label>
            </div>
            <div class="field">
                <label for="emp_number" class="full-size form-size">
                  <input   id="emp_number" maxlength="80" name="contact[emp_number]" size="20" type="text" placeholder="Number of Employees" />
                </label>
            </div>
           <div class="field">
            <label for="country" class="full-size form-size">
              <input   id="country" maxlength="80" name="contact[country]" size="20" type="text" placeholder="Country" />
            </label>
           </div>
        </div>
       </div>
      
        <div class="submit-form-hubspot">
          <button class="cta-btn" type="submit"  value="{{ 'contact.form.send' | t }}" class="main-btn">Submit</button>
        </div>
      {% endform %}

    </div>
  </div>
  <div class="green-bg"></div>  
</div>

<style>
.form-page {
  margin-bottom: -105px;
}
.contact-form {
    padding-bottom: 30px;
    background: #fff;
}
.green-bg {
    position: relative;
    background: #404733;
    height: 100px;
    bottom: 100px;
    z-index: -1;
}
    .form-fields-wrapper {
        display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 20px;
        }

    .form-fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
      
    }

    .field {
        border: 1px solid, grey;
        border-radius: 2px;
        padding: 10px;
    }

    .submit-form-hubspot {
        display: flex;
        justify-content: center;
    }

    .submit-form-hubspot .cta-btn {
      font-weight: 100;
      background: var(--dark-green);
      text-align: center;
      border: 1px solid  var(--dark-green);
      border-radius: 4px;
      font-size: clamp(20px, 2vw, 18px);
      color: white;
      padding: 10px 30px;
      box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
      transition: unset;
      margin-top: 20px;
    }

    .submit-form .cta-btn:hover {
      background: var(--darker-green);
    }

</style>

{% schema %}
  {
  "name": "Form Fields",
  "class":"contact-fields no-padding",
  "settings": [
  
  ],
  "blocks": [

  ],
  "presets":[
    {
    "name": "Form Fields",
    "category": "Contact"
    }
  ]
  }
{% endschema %}



