<section class="ingredients-section bg-light-blue pb-[50px]">
	<div class="container relative">
		<div class="ingredients swiper overflow-visible">
			<div class="swiper-wrapper">
				{% for ingredient in section.blocks %}
					<div class="ingredient swiper-slide {% unless ingredient.settings.image %}no-image{% endunless %}">
						<div class="ingredient-wrapper overflow-hidden relative flex flex-col bg-white !h-[600px] mbl:!h-[150vw] rounded-xl md:m-auto md:w-[90%]">
							{% if ingredient.settings.image %}
								<img class="absolute bottom-0 w-full" src="{{ ingredient.settings.image | img_url: 'master' }}" alt="{{ ingredient.settings.name }}">
							{% endif %}

							<div class="content p-6">
								<h4 class="title font-italic text-primary w-fit mt-2 mb-4 pb-4 pr-4 font-bold border-b-4 border-[--orange]">{{ ingredient.settings.title }}</h4>
								<div class="description p-0 text-black border-0">{{ ingredient.settings.description }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="swiper-nav swiper-button-prev"></div>
		<div class="swiper-nav swiper-button-next"></div>
	</div>
</section>

<style>
	:root {
		--swiper-navigation-sides-offset: -40px;
		--swiper-nav-size: 50px;
		--swiper-navigation-sides-offset-mobile: 5vw;
		--swiper-nav-size-mobile: 10vw;
	}

	.ingredients-section .ingredient .description p {
		font-size: 18px;
		line-height: 2rem;
	}

	.ingredients-section .swiper-nav::after {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media screen and (max-width: 768px) {
		:root {
			--swiper-navigation-sides-offset: var(--swiper-navigation-sides-offset-mobile);
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		loadSwiper(() => {
			let swiper = initializeSwiper('.ingredients-section .swiper', {
				grabCursor: true,
				slidesPerView: 1,
				loop: true,
				spaceBetween: 30,
				autoplay: { delay: 5000 },
				navigation: {
					nextEl: '.ingredients-section .swiper-button-next',
					prevEl: '.ingredients-section .swiper-button-prev'
				},
				breakpoints: {
					768: { slidesPerView: 1, spaceBetween: 10, autoHeight: true },
					1000: { slidesPerView: 2, spaceBetween: 20 },
					1200: { slidesPerView: 3, spaceBetween: 30 }
				}
			});
		});
	});
</script>

{% schema %}
	{
		"name": "Ingredients",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background Color"
			}
		],
		"blocks": [
			{
				"type": "text",
				"name": "Ingredient",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Customer Image"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Ingredient Title"
					},
					{
						"type": "richtext",
						"id": "description",
						"label": "Description"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Ingredients Section 2024"
			}
		]
	}
{% endschema %}
