
 <div  class="sale-banner-easter-collection">
  <div class="container">
  
    <div class="img-wrapper">
      <img src="{{ section.settings.bg_image2 | image_url }}" width="780" height="142" alt="logo1">
    </div>
    <div class="img-wrapper-mb">
      <img src="{{ section.settings.bg_image2_mb | image_url }}" width="228" height="92" alt="logo2">
    </div>

  </div>
</div>

<style>

 section.sale-banner-easter-collection {
  padding: unset;
}
 .sale-banner-easter-collection {
  background-color: {{ section.settings.bg_color }};
  background-image: url("{{ section.settings.bg_image | image_url }}");
  background-size: cover;
  background-position: center;


}
.sale-banner-easter-collection {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    z-index: 20;
    min-height: 80px;
    margin-bottom: 20px;
  }
   .img-wrapper {
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

   .img-wrapper-mb {
    display: none
  }

  @media screen and ( max-width: 768px ) {

  .sale-banner-easter-collection {
    min-height: 60px;

  }

  .sale-banner-easter-collection .container { 
    min-height: 60px;
  }
   .img-wrapper {
      display: none;
    }

     .img-wrapper-mb {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 1vw 0;
    }
  }
</style>
<style>
  #shopify-section-template--16033779482775__604c4920-3e6b-4979-a975-1f426e0a93c1 {
    padding: 50px 0 0;
  }

  #shopify-section-template--16033780269207__fd78268e-fcf5-4c24-8809-f824654b2397 {
    padding: 50px 0 0;
  }
  #shopify-section-template--16033780269207__fc7850d7-ed21-4011-b424-0143d0b5a02a {
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    #shopify-section-template--16033779482775__604c4920-3e6b-4979-a975-1f426e0a93c1 {
      padding: 50px 0 2vw;
    }
    #shopify-section-template--16033780269207__fd78268e-fcf5-4c24-8809-f824654b2397 {
      padding: 0;
    }
    #shopify-section-template--16033780269207__fc7850d7-ed21-4011-b424-0143d0b5a02a {
      padding: 0;
    }
  }

</style>


{% schema %}
{
  "name": "Header Easter Collection",
  "tag": "section",
  "class": "header-easter-collection",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
   
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image2",
      "label": "Background Image 2"
    },
    {
      "type": "image_picker",
      "id": "bg_image2_mb",
      "label": "Background Image 2 Mobile"
    },
   
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2"
    },
    
  
   
  
    {
      "type": "text",
      "id": "text_1_mb",
      "label": "Text 1 Mobile"
    },
    {
      "type": "text",
      "id": "text_2_mb",
      "label": "Text 2 Mobile"
    },
    
    {
      "type": "text",
      "id": "text_3_mb",
      "label": "Text 3 Mobile"
    }
  ],
  "presets": [
    {
      "name": "Header Easter Collection"
    }
  ]
}
{% endschema %}
  