.product-template-all-in-one {
    background: #F7F7F7;

    .swiper-button-prev, .swiper-button-next {
        color: grey;
        transition: opacity 0.5s;

        &.disabled {
            opacity: 0;
        }

        &::after {
            font-size: 28px;
        }
    }

    section {
        padding: 50px 0;
    }

    .container {
        &.no-padding {
            padding: unset !important;
        }
    }

    h2 {
        font-size: 40px;
        margin: 0;
        margin-bottom: 30px;
    }

    .main-logo {
        position: absolute;
        padding: 20px 30px;
        z-index: 10;
    }

    #back-to-top-btn {
        background-color: #C78263;
        color: white;
        font-size: 30px;
        padding: 10px 20px;
        font-weight: bold;
        height: 50px;
        text-align: center;
        border-radius: 30px;
        position: fixed;
        bottom: 30px;
        left: 100px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        box-shadow: 0px 4.5px 4.5px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        z-index: 99;
        
        &:hover {
            cursor: pointer;
            background-color: #AF5B35;
          }
        
        &:active {
            background-color: #8e4b2b;
          }
        
        &.show {
            opacity: 1;
            visibility: visible;
          }
      }

    .cta-section {
        .product-container {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            .product-thumbnails {
                grid-area: 1 / 1 / 3 / 2; 

                .product-slider {
                    width: unset !important;
                    margin-left: 10%;

                    .main-slider {
                        padding: unset;
                        margin-left: unset;

                        .main-slider-vector-bg {
                            position: absolute;
                            margin-left: 10%;
                        }

                        .swiper-slide {
                            .product-img-aio {
                                &:before {
                                    padding-bottom: 60%;
                                }
    
                                .img-wrap {
                                    padding: unset;
                                    text-align: center;

                                    img {
                                        max-height: 460px;
                                    }
                                }
                            }

                            .product-video {
                                iframe {
                                    height: 400px;
                                    width: 100%;
                                }
                            }
                        }

                        .nav {
                            display: none;
                        }
                    }

                    .thumbs-slider {
                        position: relative;
                        display: flex;
                        margin-top: 30px;
                        width: 95%;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 3em;
                        padding-right: 3em;

                        .swiper-wrapper {
                            .thumbs-img {
                                border-radius: unset;
                                width: 120px;
                                height: 120px;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }

            .product-info {
                padding: 40px 0 10px;
                width: unset;
                max-width: 450px;
                grid-area: 1 / 2 / 2 / 3;

                .sub-title {
                    h1 {
                        font-weight: 600;
                    }
                }

                .quotes {
                    margin-bottom: 10px;
                    font-size: 18px;
                    line-height: 1.7rem;
                    min-height: 50px;

                    .quote {
                        display: none;
                        margin: 5px 0;
                        color: #4c4c4c;
                        font-weight: 300;
                    }
                }

                .rating-stars {
                    font-weight: 300;
                    margin: 5px 0px;

                    img {
                        height: 25px;
                        margin-right: 5px;
                    }
                }
            }

            .product-actions {
                grid-area: 2 / 2 / 3 / 3;
                max-width: 450px;

                .form-wrap {
                    #CTAForm {
                        display: unset;

                        .cta-title {
                            font-size: 18px;
                            margin: 10px 0;
                        }

                        .variant-box { 
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            height: 80px;
                            background: #FFFFFF;
                            border: 1px solid #CBCBCB;
                            box-sizing: border-box;
                            border-radius: 2px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
                            transition: all 0.5s;
                            position: relative;

                            &:hover {
                                border-color: rgb(47, 47, 47);
                                filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));

                                &>.radio-box input[type='radio']:after {
                                    background-color: #a9a9a9;
                                }
                            }
                
                            .radio-box {
                                width: 5%;
                                align-items: center;
                                display: flex;
                                padding: 10px;
                                
                                input[type='radio'] {
                                    position: relative;
                                    left: -3px;
                                    pointer-events: none;

                                    &:before {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        width: 14px;
                                        height: 14px;
                                        left: 1px;
                                        top: 50%;
                                        margin-top: -7px;
                                        border: 1px solid black;
                                        border-radius: 8px;
                                    }
                                      
                                    &:after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        background-color: #01C6B2 !important;
                                        width: 0;
                                        height: 0;
                                        top: 50%;
                                        left: 8px;
                                        margin-top: 0;
                                        border-radius: 4px;
                                        transition: .2s ease-in-out;
                                    }
                                
                                    &:checked:after {
                                        height: 8px;
                                        width: 8px;
                                        margin-top: -4px;
                                        left: 4px;
                                    }
                                }
                            }
                
                            .variant-info {
                                padding: 10px;
                                width: 70%;
                
                                .variant-title {
                                    margin: 0;
                                    font-size: 20px;

                                    b {
                                        font-weight: 600;
                                    }
                                }
                
                                .variant-infos {
                                    p {
                                        font-weight: 200;
                                        display: inline-block;
                                        margin: 0;
                                    }
                                }
                            }
                
                            .price {
                                display: flex;
                                align-items: center;
                                min-width: 15px;
                                margin-right: 40px;
                                padding-bottom: unset;

                                &.centered {
                                    margin-top: 18px;
                                }
                
                                .compared-at-price {
                                    margin-right: 5px !important;
                                    font-size: unset;
                                    
                                    strike {
                                        font-size: 10px !important;
                                    }
                                }
                
                                .real-price {
                                    font-size: 20px;
                                }
                            }
                
                        }

                        .submit-wrap {
                            display: flex;

                            .qty-data {
                                padding-right: unset;
                                width: 20%;
                                min-width: 80px;

                                .qty-control {
                                    background-color: white;
                                    max-width: 200px;
                                    padding: unset;
                                    border-color: #e0af50;
                                    height: 100%;
                                    border-radius: 0;
                                }
                            }

                            .btn {
                                padding-top: unset;
                                width: 100%;

                                .main-btn {
                                    width: 100%;
                                    background-color: #d07c5b;
                                    border-color: #d07c5b;
                                    font-size: 24px;
                                    cursor: pointer;
                                    transition: all 0.5s;
                                    height: 100%;
                                    padding: 15px 20px;
                                    border-radius: 0;

                                    &:hover {
                                        background-color: #AF5B35;
                                        border-color: #AF5B35;

                                        &>.save {
                                            color: white;
                                        }
                                    }

                                    .save {
                                        color: black;
                                        margin-left: 42px;
                                        font-size: 14px;
                                        font-weight: 400;
                                        transition: all 0.3s;
                                        min-width: 40%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .badges-container {
            border-bottom: 1px solid lightgray;
            padding-bottom: 30px;

            .trust-badges {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                opacity: 0.5;
                font-size: 18px;
                
                .trust-badge {
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .how-to-section {
        .container {
            text-align: center;

            h2 {
                text-align: left;
                max-width: 450px;
            }

            img {
                max-width: 1000px;
                margin: auto;
                width: 100%;
                margin-top: -100px;

                &.mobile-version {
                    display: none;
                }
            }
        }
    }

    .reviews-section {
        text-align: center;
        position: relative;

        .white-fade {
            .fade {
                position: absolute;
                z-index: 2;
                width: 30%;
                height: 100%;
                pointer-events: none;
                top: 0;

                &.right-fade {
                    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
                    right: 0;
                }

                &.left-fade {
                    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
                    left: 0;
                }
            }
        }

        .top-bg {
            background-color: #E7F2F1;
            width: 100%;
            height: 50%;
            position: absolute;
            z-index: 0;
            top: 0;
        }

        h2 {
            position: relative;
        }

        .reviews-stars {
            position: relative;
            max-width: 40%;
            margin-top: 10px;
        }

        .slider-nav {
            margin-top: 50px;

            &.next {
                right: 70px;
            }

            &.prev {
                left: 70px;
            }
        }

        .reviews {
            padding: 30px 0;

            .review {
                width: 310px;
                height: 320px;
                background-color: white;
                text-align: center;
                padding: 20px;
                box-shadow: 0px 5.37634px 5.37634px rgb(0 0 0 / 25%);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .review-top {
                    img {
                        height: 40px;
                    }
                }

                .review-bottom {
                    position: relative;
                    bottom: 0;

                    .reviews-stars {
                        width: 100px;
                    }
                }
            }
        }
    }

    .video-reviews-section {
        .container {
            .video-reviews {
                overflow: visible;
                max-width: 70%;

                .swiper-slide {
                    .video-review {
                        display: flex;
                        align-items: center;
    
                        .review-video {
                            width: 40%;
                            margin-left: 10%;
                            height: 500px;
    
                            iframe {
                                width: 100%!important;
                                height: 100%!important;
                            }
                        }
    
                        .review-quote {
                            padding: 50px;
                            width: 50%;
                            font-size: 22px;
                            position: relative;
    
                            img {
                                opacity: 0.1;
                                width: 70px;
                                position: absolute;
                                left: 50px;
                            }

                            .quote-author {
                                font-size: 18px;
                                margin-bottom: 0;

                            }
                        }
                    }
                }
            }
        }
    }

    .ingredients-section {
        background-color: #f0f0f0;

        h2 {
            max-width: 600px;
            font-weight: 400;
        }

        .ingredients-sliders {
            .ingredients-thumbs-slider {
                .ingredients {
                    .ingredient {
                        cursor: pointer;
                        opacity: 0.7;

                        &.swiper-slide-thumb-active {
                            opacity: 1;
                        }

                        img {
                            width: 120px;
                        }
                    }
                }
            }

            .ingredients-main-slider {
                padding: 50px 0;

                .ingredients {
                    .ingredient{
                        display: flex;
                        align-items: center;
                        max-width: 70%;
                        margin: auto;

                        img {
                            margin-left: -10%;
                        }
                        
                        .ingredient-content {
                            margin-left: 50px;

                            .ingredient-title {
                                font-size: 40px;
                                font-size: 30px;
                                font-weight: 500;
                                margin-top: 20px;
                                text-transform: uppercase;
                            }
                            .ingredient-description {
                                font-size: 20px;
                                font-weight: 300;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .badges-section {
        .container {
            .badges {
                display: flex;
                justify-content: center;

                .badge-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 150px;
                    
                    .badge {
                        border-radius: 50%;
                        border: 1px solid black;
                        padding: 10px;

                        img {
                            height: 50px;
                            width: 50px;
                            max-width: 20vw;
                            max-height: 20vw;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    .return-policy-section {
        background-color: #E7F2F1;

        .return-policy {
            display: flex;
            justify-content: center;
            max-width: 800px;
            margin: auto;
            align-items: center;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
                margin-top: 10px;
            }

            .return-policy-content {
                margin-left: 30px;

                .title {
                    font-size: 30px;
                    font-weight: bold;
                    margin-top: 0;
                    margin-bottom: 10px;
                }

                .description {
                    margin: 0;
                    font-size: 16px;
                }
            }
        }
    }

    .free-shipping-section {
        img {
            width: 100%;
        }
    }

    .faq-section {
        .container {
            h2 {
                text-align: start;
            }

            .faq {
                margin: 1rem auto;
    
                .faq-item { 
                    border-bottom: 1px solid lightgrey;
    
                    .question {
                        padding: 0.7rem 3rem 0.7rem 0;
                        line-height: 1.25rem;
                        display: flex;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        font-size: 18px;
    
                        &::after {
                            content: "\002B";
                            font-size: 2rem;
                            position: absolute;
                            right: 1rem;
                        }
    
                        &.active::after {
                            content: "\2212";
                        }
                    }
    
                    .answer {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
    
                        .answer-content {
                            padding: 0 1rem 1rem;
                            line-height: 1.5rem;
                            font-weight: 300;
                        }
    
                        .ingredients-main-slider {
                            padding: 50px 0;
            
                            .ingredients {
                                .ingredient{
                                    display: flex;
                                    align-items: center;
                                    max-width: 70%;
                                    margin: auto;
            
                                    img {
                                        margin-left: -10%;
                                    }
                                    
                                    .ingredient-content {
                                        margin-left: 50px;
            
                                        .ingredient-title {
                                            font-size: 40px;
                                            font-size: 30px;
                                            font-weight: 500;
                                            margin-top: 20px;
                                            text-transform: uppercase;
                                        }
                                        .ingredient-description {
                                            font-size: 20px;
                                            font-weight: 300;
                                            line-height: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-us-section {
        .container {
            h2 {
                text-align: center;
            }

            .contact-options {
                display: flex;
                justify-content: center;
                gap: 100px;
                margin-top: 80px;

                .contact-option {
                    text-align: center;
                    font-size: 18px;

                    .img-wrapper {
                        border-radius: 50%;
                        background-color: #C1DAD8;
                        padding: 20px;
                        width: 100px;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        margin: auto;

                        img {
                            object-fit: contain;
                        }
                    }
                }
            }

            .phone-numbers {
                display: flex;
                flex-direction: column;
                max-width: 340px;
                margin: auto;
                margin-top: 30px;

                .phone-number {
                    display: flex;
                    align-items: center;
                    margin: auto;

                    img {
                        width: 25px;
                    }

                    p {
                        font-size: 18px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1270px) {
    .product-template-all-in-one {
        .container {
            max-width: unset;
            padding: 0 20px;
        }

        .cta-section {
            .product-container {
                .product-actions {
                    .form-wrap {
                        #CTAForm {
                            .variant-box {
                                width: 100%;
                    
                                .variant-info {
                                    padding: 10px;
                                    width: 95%;
                                }
                    
                                .price {
                                    position: absolute;
                                    right: 10px;
                                    top: -10px;
                                    width: unset;
                                    margin-right: unset;
                                }
                            }

                            .submit-wrap {
                                .btn {
                                    .main-btn {
                                        max-width: unset;
                                        display: block;
    
                                        .save {
                                            display: block;
                                            margin-left: unset;
                                            margin-top: 5px;
                                            min-width: unset;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .badges-container {
                padding: 0 0 20px 0 !important;
                width: calc(100% - 40px);

                .trust-badges {
                    margin-top: 20px;
                    gap: 10vw;
    
                    .trust-badge {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        font-size: 1.5vw;
                        max-width: 20%;
                        text-transform: uppercase;
    
                        img {
                            height: 3vw;
                            width: 10vw;
                            object-fit: contain;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .product-template-all-in-one {
        section {
            padding: 8vw 0;
        }

        .container {
            padding: 0 20px !important;

            h2 {
                font-size: 6vw;
                text-align: center;
                max-width: unset;
                margin-bottom: 10px;
            }
        }

        .main-logo {
            padding: 10px 20px;
            width: 150px;
        }

        #back-to-top-btn {
            width: 100%;
            border-radius: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0px -2px 15px rgb(0 0 0 / 25%);
        }

        .cta-section {
            padding-top: 70px;
            padding-bottom: 0;

            .product-container {
                grid-template-columns: repeat(1,100%);
                grid-template-rows: unset;
                padding: 0 20px 20px;

                .product-thumbnails {
                    grid-area: unset;
                    grid-row: 2;

                    .product-slider {
                        margin-left: unset;

                        .main-slider {
                            width: 95%;
                            margin: auto;
                            
                            .main-slider-vector-bg {
                                margin-left: unset;
                                left: 0;
                                top: 10%;
                            }

                            .swiper-wrapper {
                                margin-bottom: 30px;
                                align-items: center;

                                .swiper-slide {
                                    .product-video {
                                        iframe {
                                            height: 45vh;
    
                                            .vp-video-wrapper {
                                                border-radius: 10px;
                                            }
                                        }
                                    }
    
                                    .product-img::before {
                                        padding-bottom: 100%;
                                    }
                                }
                            }

                            .nav {
                                display: block;

                                &.swiper-button-prev {
                                    left: 0;
                                }

                                &.swiper-button-next {
                                    right: 0;
                                }
                            }

                            .swiper-pagination {
                                .swiper-pagination-bullet {
                                    background: #C78263;
                                    opacity: .4;
                                    width: 13px;
                                    height: 13px;

                                    &.swiper-pagination-bullet-active {
                                        background:#C78263;
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .thumbs-slider {
                            display: none;
                        }
                    }
                }

                .product-info {
                    grid-area: unset;
                    grid-row: 1;
                    text-align: center;
                    padding: 0 20px;
                    max-width: unset;
                }

                .product-actions {
                    grid-area: unset;
                    grid-row: 3;

                    .form-wrap {
                        #CTAForm {
                            .submit-wrap {
                                .qty-data {
                                    .qty-control {
                                        border: 1px solid #d07c5b;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .badges-container {
                .trust-badges {
                    gap: unset;
                    justify-content: space-between;
                    
                    .trust-badge {
                        font-size: 3vw;
                        max-width: 30%;
    
                        img {
                            width: 40px;
                            height: 5vw
                        }
                    }
                }
            }
        }

        .how-to-section {
            .container {
                img {
                    margin-top: unset;
                    display: none;

                    &.mobile-version {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        .reviews-section {
            .white-fade {
                display: none;
            }

            .slider-nav {
                display: none;
            }

            .reviews {
                .review {
                    width: 70%;
                    height: 70vw;

                    .review-top {
                        img {
                            height: 6vw;
                        }

                        .review-content {
                            font-size: 4vw;
                        }
                    }
                }
            }
        }

        .video-reviews-section {
            background-color: #f0f0f0;

            .container {
                .video-reviews {
                    max-width: unset;
                    margin-top: 30px;

                    .swiper-slide {
                        .video-review {
                            flex-direction: column;
                            max-width: 80%;
                            margin: auto;
                            text-align: center;

                            .review-video {
                                width: unset;
                                margin-left: unset;
                                height: 300px;
                                margin-bottom: 10px;
                            }

                            .review-quote {
                                padding: unset;
                                width: 100%;
                                font-size: 16px;

                                img {
                                    width: 40px;
                                    left: -10px;
                                    top: 0px;
                                }

                                .quote-author {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .ingredients-section {
            background-color: unset;

            .ingredients-sliders {
                .ingredients-main-slider {
                    padding: 0;

                    .ingredients {
                        .ingredient {
                            flex-direction: column;
                            max-width: 80%;

                            img {
                                width: 50vw;
                            }

                            .ingredient-content {
                                margin-left: unset;

                                .ingredient-title {
                                    margin: 0;
                                    font-weight: 600;
                                }

                                .ingredient-description {
                                    margin: 10px 0;
                                }
                            }
                        }
                    }

                    .swiper-nav {
                        top: 100px;
                    }
                }
            }
        }

        .badges-section {
            .container {
                .badges {
                    flex-wrap: wrap;
                    gap: 5%;

                    .badge-wrapper {
                        width: 30%;
                        padding: 2vw;
                        min-width: unset;
                        text-align: center;

                        .badge {
                            img {
                                height: 10vw;
                                width: 10vw;
                            }
                        }
                    }
                }
            }
        }

        .return-policy-section {
            .return-policy {
                img {
                    width: 23vw;
                }

                .return-policy-content {
                    margin-left: 6vw;

                    .title {
                        font-size: 24px;
                    }
                }
            }
        }

        .free-shipping-section {
            img {
                height: 9vw;
                object-fit: cover;
                object-position: left;
            }
        }

        .faq-section {
            .container {
                .faq {
                    .faq-item {
                        .question {
                            font-size: 14px;
                        }
    
                        .answer {
                            .ingredients-main-slider {
                                padding: 0;
            
                                .ingredients {
                                    .ingredient {
                                        flex-direction: column;
                                        max-width: 80%;
            
                                        .ingredient-content {
                                            margin-left: unset;
            
                                            .ingredient-title {
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
            
                                .swiper-nav {
                                    top: 120px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .contact-us-section {
            .container {
                .contact-options {
                    gap: 10vw;
                    margin-top: 40px;

                    .contact-option {
                        .img-wrapper {
                            width: 20vw;
                            height: 20vw;
                            padding: 15px;
                        }
                    }
                }

                .phone-numbers {
                    .phone-number {
                        a {
                            p {
                                font-size: 4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .cta-section {
        .variant-infos {
            font-size: 13px;
        }
    }
}