<style>
  @view-transition {
    navigation: auto;
  }

  :root {
    --transition: .3s ease-in-out;
    --main-font: 'PP Radio Grotesk', 'DM Sans', sans-serif;
    --sub-font: 'DM Sans', sans-serif;
    --container-width: 1200px;

    --swiper-navigation-size: 20px !important;
    --swiper-scrollbar-size: 8px;
    --swiper-scrollbar-drag-bg-color: var(--curaslim-bg);
    --swiper-scrollbar-bg-color: var(--primary);
    --swiper-theme-color: var(--primary) !important;
    --swiper-scrollbar-bottom: 0 !important;

    --white: #ffffff;
    --black: #121212;
    --dark-blue: #325f69;
    --blue: #3A7684;
    --curalin: #3A7684;
    --curaslim: #0F7CBF;
    --curaslim-bg: #B3E1FD;
    --light-blue: #EBF1F3;
    --dark-beige: #ffe4d0;
    --beige: #FFF8F3;
    --dark: #222222;
    --dark-grey: #838383;
    --grey: #C4C4C4;
    --darker-green: #2d3224;
    --dark-green: #404733;
    --green: #4B643D;
    --dark-turquoise: #5D8F8F;
    --light-turquoise: #F9FFFF;
    --light-green: #9EB069;
    --lighter-green: #E1E8CF;
    --vomit: #E8E8B0;
    --light-vomit: #FAFAEF;
    --dark-purple: #897389;
    --purple: #D6C7D6;
    --light-purple: #FCF9FC;
    --dark-brown: #a86129;
    --brown: #C0956B;
    --light-brown: #F0D4A6;
    --lighter-brown: #FFFAF5;
    --dark-orange: #FFB22D;
    --orange: #FFCB5E;
    --red: #ED073E;
    --light-red: #ffe8e8;
    --bronze: #D96A49;
    --dark-peach: #CC6F4F;
    --peach: #F59E80;
    --light-peach: #f6cdbf;
    --lighter-peach: #FFF6F8;
    --light-pink: #FFF1E8;
  }

  * {
    box-sizing: border-box;
  }

  [inert] {
    opacity: 0.3;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "DM Sans", sans-serif;
    font-display: swap;
    line-height: 1.2;
    font-size: 18px;
    accent-color: var(--primary);
  }

  main {
    overflow: hidden;
  }

  .container {
    position: relative;
    max-width: var(--container-width) !important;
    margin: 0 auto;
    padding: 0 15px;
  }

  section {
    padding: 50px 0;
    overflow: hidden;
    position: relative;
  }

  section.no-padding {
    padding: unset;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "PP Radio Grotesk", sans-serif;
    font-weight: bold;
    line-height: 1.2 !important;
  }

  .swiper-nav {
    background-color: white;
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    box-shadow: 0 3px 0px #4b717e;
  }

  .swiper-nav:after {
    font-size: 16px !important;
    font-weight: bold;
    color: var(--black);
  }

  @media (max-width: 768px) {
    body {
      font-size: 5vw;
    }

    section {
      padding: 10vw 0;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.2;
    }

    h1 {
      font-size: 10vw;
    }

    h2 {
      font-size: 8vw;
    }

    h3 {
      font-size: 7vw;
    }

    section button {
      font-size: 5vw;
      width: 90vw;
      min-width: -webkit-fill-available;
      max-width: -webkit-fill-available;
      padding: 3vw;
    }
  }
</style>