<section class="hero-section p-4">
  <div class="rellax bg" data-rellax-speed="-5"></div>

  <div class="container flex flex-col justify-between h-full text-center">
    <div class="circle" data-rellax-speed="2" data-aos="zoom-in" data-aos-duration="3000"></div>

    <div class="top-bar items flex justify-between mb-12">
      <div class="left flex items-center gap-4">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalife-logo-white.png?v=1678034399" alt="Curaslim 2024 Logo">

        <div class="reviews flex items-center gap-2">
          <div class="stars">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[--orange] mr-1"></i>{% endfor %}</div>
          <div class="text-start text-xs text-white mbl:w-[10%]">45,852 verified<br>reviews</div>
        </div>
      </div>

      <div class="right desktop">
        <Button class="text-black bg-white" src="#cta">Buy Now</Button>
      </div>
    </div>

    <div class="content">
      <h1 data-aos="zoom-in">
        <strong>Lose Weight Fast</strong>
        <img class="inline" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/hero-icons.png?v=1723968818" alt="Curaslim 2024 Hero Image 1">
        <em class="italic">
          <span class="text-[--orange] !font-thin">
            With Curaslim's
          </span><br>
          powerful Triple - Action Formula!
        </em>
      </h1>

      <a href="#cta" data-aos="flip-left" data-aos-delay="700" class="relative inline-flex items-center justify-start inline-block px-12 py-4 overflow-hidden font-medium transition-all bg-[--orange] rounded-full hover:bg-white group">
        <span class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-full"></span>
        <span class="group-hover:black relative w-full text-left transition-colors duration-200 ease-in-out">Buy Now</span>
      </a>
    </div>

    <div class="images">
      <img class="review floating" data-aos="fade-up" data-aos-delay="200" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img class="badge" data-aos="fade-up" data-aos-delay="300" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877668.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img class="bottles" data-aos="zoom-in" data-aos-delay="50" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img class="badges" data-aos="zoom-out-up" data-aos-delay="400" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877453.png?v=1723474133" alt="Curaslim 2024 Hero Image 2">
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>

<script>
  var rellax = new Rellax('.rellax', {
    easing: 'ease',
    duration: 600
  });
</script>

<style>
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .top-bar {
      button {
        padding: 0.8rem 2rem;
        min-width: unset;
        font-size: 16px;
      }
    }

    @media (width <= 768px) {
      height: 100vh;
    }

    h1 {
      color: white !important;
    }
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
    z-index: -1;
  }

  .circle {
    background: rgba(255, 255, 255, 0.05);
    width: 80%;
    height: 120%;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    margin-top: -70px;
    left: 0;
    right: 0;

    @media (width <= 768px) {
      width: 140%;
      left: -20%;
    }
  }

  .images {
    position: relative;
    min-height: 500px;

    @media (width <= 768px) {
      min-height: 105vw;
    }
  }

  .images img {
    position: absolute;
    left: 0;
    right: 0;

    &.review {
      right: 740px;
      top: 40px;

      @media (width <= 768px) {
        top: 3vw;
      }
    }

    &.badge {
      top: 100px;
      left: 700px;

      @media (width <= 768px) {
        left: 55vw;
        bottom: 20vw;
      }
    }

    &.bottles {
      top: 50px;
      left: 70px;

      @media (width <= 768px) {
        top: 45vw;
        left: 5%;
      }
    }

    &.badges {
      bottom: 20px;
    }
  }

  .floating {
    animation: floating 3s ease-in-out infinite;
    animation-delay: 2s;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const floatingImage = document.querySelector('.floating');

    // Listen for the AOS event that triggers when the element is scrolled into view
    floatingImage.addEventListener('aos:in', function() {
        // Start the floating animation after the fade-up animation
        floatingImage.style.animationPlayState = 'running';
    });
  });
</script>

{% schema %}
  {
    "name": "Curaslim Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Curaslim Hero Section"
      }
    ]
  }
{% endschema %}
