<section class="hero-section p-4">
  <div class="rellax bg" data-rellax-speed="-5"></div>

  <div class="container text-center mb-auto">
    <div class="circle" data-rellax-speed="2" data-aos="zoom-in" data-aos-duration="3000"></div>

    <div class="top-bar flex justify-between items mb-12">
      <div class="left flex gap-4 items-center">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalife-logo-white.png?v=1678034399" alt="Curaslim 2024 Logo">

        <div class="reviews flex gap-2 items-center">
          <div class="stars">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[--orange] mr-1"></i>{% endfor %}</div>
          <div class="text-xs text-white text-start">45,852 verified<br>reviews</div>
        </div>
      </div>

      <div class="right">
        <Button class="bg-white text-black" src="#">Buy Now</Button>
      </div>
    </div>

    <div class="content">
      <h1 data-aos="zoom-in"><strong>Lose Weight Fast</strong> <em class="italic font-thin"><span class="text-[--orange]">With Curaslim's</span><br>powerful Triple - Action Formula!</em></h1>

      <a href="#" data-aos="flip-left" data-aos-delay="700" class="relative inline-flex items-center justify-start inline-block px-12 py-4 overflow-hidden font-medium transition-all bg-[--orange] rounded-full hover:bg-white group">
        <span class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-full"></span>
        <span class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:black">Buy Now</span>
      </a>
    </div>

    <div class="images">
      <img class="review" data-aos="fade-up" data-aos-delay="200" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img class="badge" data-aos="fade-up" data-aos-delay="300" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877668.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img class="bottles" data-aos="zoom-in" data-aos-delay="50" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img class="badges" data-aos="zoom-out-up" data-aos-delay="500" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877453.png?v=1723474133" alt="Curaslim 2024 Hero Image 2">
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>

<script>
  var rellax = new Rellax('.rellax', {
    easing: 'ease',
    duration: 600
  });
</script>

<style>
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      color: white !important;
    }
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
    z-index: -1;
  }

  .circle {
    background: rgba(255, 255, 255, 0.05);
    width: 80%;
    height: 120%;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    margin-top: -70px;
    left: 0;
    right: 0;
  }

  .images {
    position: relative;
    min-height: 500px;
  }

  .images img {
    position: absolute;
    left: 0;
    right: 0;

    &.review {
      right: 740px;
      top: 40px;
    }

    &.badge {
      top: 100px;
      left: 700px;
    }

    &.bottles {
      top: 50px;
      left: 70px;

    }

    &.badges {
      bottom: 20px;
    }
  }
</style>

{% schema %}
  {
    "name": "Curaslim Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Curaslim Hero Section"
      }
    ]
  }
{% endschema %}
