<section class="hero-section mbl:px-0 p-4">
  <div class="rellax bg" data-rellax-speed="-5"></div>

  <div class="main-container container flex flex-col justify-between h-full text-center">
    <div class="circle" data-rellax-speed="2" data-aos="zoom-in" data-aos-duration="3000"></div>

    <div id="top-bar" class="top-bar items mbl:m-0 mb-12">
      <div class="container flex justify-between p-0">
        <div class="left mbl:gap-2 flex items-center gap-4">
          <img class="max-w-[40%] mx-0" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalife-logo-white.svg?v=1723980306" alt="Curaslim 2024 Logo">

          <div class="reviews mbl:flex-col mbl:gap-0 flex items-center gap-2">
            <div class="stars flex gap-1 mbl:w-full mbl:text-[3vw]">{% for star in (1..5) %}<img src="{{ "star.svg" | asset_url }}" alt="review star">{% endfor %}</div>
            <div class="text-start text-xs mbl:text-[3vw] text-white">3,000 verified <br class="desktop">reviews</div>
          </div>
        </div>

        <div class="right min-w-[30%]">
          <a href="#cta"><Button class="font-bold text-black bg-white" style="padding:unset;width:120px;height:40px;font-size:15px">Buy Now</Button></a>
        </div>
      </div>
    </div>

    <div class="content mt-8 mb-auto">
      <h1 class="mb-8" data-aos="zoom-in">
        <strong class="!not-italic">Lose Weight Fast</strong>
        <img class="inline" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/hero-icons.png?v=1723968818" srcset="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/hero-icons-2x.png?v=1724596881 2x" alt="Curaslim 2024 Hero Image 1">
        <em class="!italic"><span class="text-[--orange] !font-thin !italic">With Curaslim's</span><br>Powerful Triple - Action Formula!</em>
      </h1>

      <a href="#cta" data-aos="flip-left" data-aos-delay="700" class="px-12 py-4 font-bold bg-[--dark-orange] rounded-full" style="padding:unset;width:160px;height:52px;display:block;margin:auto;align-content:center;">Buy Now</a>
    </div>

    <div class="images">
      <img class="review" data-aos="fade-up" data-aos-delay="200" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448.png?v=1723474133" srcset="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448-2x.png?v=1724657092 2x" alt="Curaslim Review">

      <div class="badge" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="inner-circle">
          <div class="badge-text text-[14px]">Lose<br><strong class="text-[16px]">10%-15%</strong></div>
        </div>

        <div id="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
              <defs>
                  <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
              </defs>
            <circle cx="150" cy="100" r="75" fill="none"/>
              <g>
                  <use xlink:href="#circlePath" fill="none"/>
                  <text fill="#ffffff">
                      <textPath xlink:href="#circlePath">of your body weight · of your body weight · of your body weight · </textPath>
                  </text>
              </g>
          </svg>
        </div>
      </div>
      <img class="bottles" data-aos="zoom-in" data-aos-delay="50" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740.png?v=1723474133" srcset="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740-2x.png?v=1724656998 2x" alt="Curaslim 2024 Hero Image 1">
      {% comment %} <img class="badges" data-aos="zoom-out-up" data-aos-delay="300" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877453.png?v=1723474133" alt="Curaslim 2024 Hero Image 2"> {% endcomment %}
    </div>

    <div class="badges opacity-80 py-3" data-aos="zoom-out-up" data-aos-delay="300" data-aos-offset="-200">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/3.svg?v=1724237244" alt="Curaslim 2024 Trust Badges">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/1.svg?v=1724237244" alt="Curaslim 2024 Trust Badges">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/4.svg?v=1724237245" alt="Curaslim 2024 Trust Badges">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/5.svg?v=1724237244" alt="Curaslim 2024 Trust Badges">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/2.svg?v=1724237245" alt="Curaslim 2024 Trust Badges">
    </div>
  </div>
</section>

{% comment %} <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script> {% endcomment %}
<script>
  // var rellax = new Rellax('.rellax', {easing: 'ease', duration: 600});

  window.addEventListener('scroll', function() {
    var topBar = document.getElementById('top-bar');
    var heroSection = document.querySelector('.hero-section');
    var heroBottom = heroSection.offsetTop + heroSection.offsetHeight;

    if (window.scrollY > heroBottom) {
      topBar.classList.add('floating');
    } else {
      topBar.classList.remove('floating');
    }
  });
</script>

<style>
  .badge {
    background: #6649ad40;
    color: white;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: 90px;
    left: 850px;
    position: absolute;

    @media (width <= 768px) {
      left: 62vw;
      top: -5vw;
      width: 34vw;
      height: 34vw;
      margin-top: unset;
      margin-left: unset;
    }

    .inner-circle {
      width: 80px;
      height: 80px;
      top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: auto;
      background: #A665AB;
      border-radius: 50%;

      @media (width <= 768px) {
        top: 5vw;
        width: 24vw;
        height: 24vw;
      }
    }

    #circle {
      text {
        font-size: 13px;
        color: white;
      }

      svg {
        position: absolute;
        left: -70px;
        top: -70px;

        -webkit-animation-name: rotate;
        -moz-animation-name: rotate;
        -ms-animation-name: rotate;
        -o-animation-name: rotate;
        animation-name: rotate;
        -webkit-animation-duration: 10s;
        -moz-animation-duration: 10s;
        ms-animation-duration: 10s;
        -o-animation-duration: 10s;
        animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;

        @media (width <= 768px) {
          left: -18vw;
          top: -18vw;
          width: 70vw;
          height: 70vw;
        }
      }
    }
  }

  @-webkit-keyframes rotate {
      from { -webkit-transform: rotate(360deg); }
      to { -webkit-transform: rotate(0); }
  }
  @-moz-keyframes rotate {
      from { -moz-transform: rotate(360deg); }
      to { -moz-transform: rotate(0); }
  }
  @-ms-keyframes rotate {
      from { -ms-transform: rotate(360deg); }
      to { -ms-transform: rotate(0); }
  }
  @-o-keyframes rotate {
      from { -o-transform: rotate(360deg); }
      to { -o-transform: rotate(0); }
  }
  @keyframes rotate {
      from { transform: rotate(360deg); }
      to { transform: rotate(0); }
  }

  body {
    color: var(--black) !important;

    p {
      line-height: 1.3 !important;
    }

    section {
      padding: 80px 0;

      &.button-section {
        padding: 50px 0;
      }

      button {
        @media (width <= 768px) {
          min-width: 200px;
          width: unset;
        }
      }

      .swiper {
        .swiper-nav {
          background: #ECF2F2;
          box-shadow: none;

          &:hover {
            background: #cfd8d8;
          }

          &::after {
            color: var(--black);
          }

          &.swiper-button-prev::after {
            content: "←";
          }

          &.swiper-button-next::after {
            content: "→";
          }
        }
      }
    }
  }

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .main-container {
      @media (width <= 768px) {
        min-height: 210vw;
      }

      .top-bar {
        transition: all 0.3s ease-in-out;
        z-index: 1000;

        &.floating {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          background: rgb(34,98,138);
          background: linear-gradient(0deg, rgb(15 114 176) 0%, rgba(15, 124, 191, 1) 100%);
          padding: 10px 20px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        button {
          padding: 0.8rem 2rem;
          font-size: 16px;
          min-width: 120px;

          @media (width <= 768px) {
            padding: 0.8rem 1rem;
            font-size: 4vw;
            width: unset;
          }
        }
      }
    }

    @media (width <= 768px) {
      min-height: 100vh;
    }

    h1 {
      color: white !important;

      @media screen and (max-width: 768px) {
        font-size: 9.9vw;
      }
    }
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
    z-index: -1;
  }

  .circle {
    background: rgba(255, 255, 255, 0.05);
    width: 80%;
    height: 120%;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    margin-top: -70px;
    left: 0;
    right: 0;

    @media (width <= 768px) {
      width: 140%;
      left: -20%;
    }
  }

  .images {
    position: relative;
    min-height: 400px;

    @media (width <= 768px) {
      min-height: 105vw;
    }
  }

  .images img {
    position: absolute;
    left: 0;
    right: 0;

    &.review {
      left: 60px;
      bottom: 180px;
      margin: 0;

      @media (width <= 768px) {
        bottom: 5vw;
        left: unset;
        width: 100%;
      }
    }

    &.bottles {
      bottom: 0;
      left: 75px;

      @media (width <= 768px) {
        bottom: 57vw;
        left: 4vw;
      }
    }
  }

  .badges {
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

    img {
      width: 53px;
      margin: 0;
    }
  }
</style>

{% schema %}
  {
    "name": "Curaslim Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Curaslim Hero Section"
      }
    ]
  }
{% endschema %}
